{{!
    Template data format:
        events
            name
            start_date
            start_time
        specials
            stub
            points
        places
            name
            address
        news
            title
            source
}}

<section id="eventsHot" class="hot-feed">
    <header>
        <h3 class="section-title">Upcoming Events</h3>
    </header>
    <ul>
    {{#events}}
        <li class="item">
            <div class="item-thumb-container">
                <img class="item-thumb" alt="{% block feed_item_image_alt %}{% endblock %}" src="{% block feed_item_image_url %}{% endblock %}" />
            </div>
            <article class="item-content-container">
            <p>{{name}}</p>
            <p>{{start_date}} - {{start_time}}</p>
            </article>
        </li>
    {{/events}}
    </ul>
</section>

<section id="specialsHot" class="hot-feed">
    <header>
        <h3 class="section-title">Specials</h3>
    </header>
    <ul>
    {{#specials}}
        <li class="item">
            <p>{{stub}}</p>
            <p>{{points}}</p>
        </li>
    {{/specials}}
    </ul>
</section>

<section id="placesHot" class="hot-feed">
    <header>
        <h3 class="section-title">Hot Spots</h3>
    </header>
    <ul>
    {{#places}}
        <li class="item">
            <p>{{name}}</p>
            <p>{{address}}</p>
        </li>
    {{/places}}
    </ul>
</section>

<section id="newsHot" class="hot-feed">
    <header>
        <h3 class="section-title">Recent News</h3>
    </header>
    <ul>
    {{#news}}
        <li class="item">
            <p>{{title}}</p>
            <p>{{source}}</p>
        </li>
    {{/news}}
    </ul>
</section>

<div>
{{#chatter}}
{{/chatter}}
</div>

<div>
{{#jobs}}
{{/jobs}}
</div>