{{!
    Template data format:
        events
            name
            start_date
            start_time
        specials
            stub
            points
        places
            name
            address
        news
            title
            source
}}

<!-- *** EVENTS *** -->

<section id="eventsHot" class="hot-feed">
    <header>
        <h3 class="section-title">Upcoming Events</h3>
    </header>
    <ul>
    {{#events}}
        <li class="item">
            <div class="item-thumb-container">
                <img class="item-thumb" alt="{{name}}" src="{{image_url}}" />
            </div>
            <article class="item-content-container">
                <h4 class="item-title">{{name}}</h4>
                <div class="item-desc">
                    <time>{{start_date}} {{start_time}} - {{end_time}}</time>
                </div>
            </article>
        </li>
    {{/events}}
    </ul>
</section>

<!-- *** SPECIALS *** -->

<section id="specialsHot" class="hot-feed">
    <header>
        <h3 class="section-title">Specials</h3>
    </header>
    <ul>
    {{#specials}}
        <li class="item">
            <div class="item-point-value">
                <span class="points">
                    +{{points}}
                </span>
            </div>
            <article class="item-content-container">
                <h4 class="item-title">{{stub}}</h4>
            </article>
        </li>
    {{/specials}}
    </ul>
</section>

<!-- *** PLACES *** -->

<section id="placesHot" class="hot-feed">
    <header>
        <h3 class="section-title">Hot Spots</h3>
    </header>
    <ul>
        {{#places}}
            <li class="item">
                <a href="#" id="place-item-{{id}}">
                    <div class="item-thumb-container">
                        <img class="item-thumb" alt="{{name}}" src="http://www.nasm.si.edu/images/collections/media/thumbnails/DefaultThumbnail.gif" />
                    </div>
                    <article class="item-content-container">
                        <h4 class="item-title">{{name}}</h4>
                        <div class="item-desc">
                            <p>{{address}}</p>
                            <ul class="item-list">
                            {{#tags}}
                                <li>{{name}}</li>
                            {{/tags}}
                            </ul>
                        </div>
                    </article>
                </a>
            </li>
        {{/places}}
    </ul>
</section>

<!-- *** NEWS *** -->

<section id="newsHot" class="hot-feed">
    <header>
        <h3 class="section-title">Recent News</h3>
    </header>
    <ul>
    {{#news}}
        <li class="item">
            <h4 class="item-title">{{title}}</h4>
            <p>{{source}}</p>
        </li>
    {{/news}}
    </ul>
</section>

<div>
{{#chatter}}
{{/chatter}}
</div>

<div>
{{#jobs}}
{{/jobs}}
</div>