{% comment %}
HTML to be shown in place of text box.

Compatible VMs: PlaceFeedItem

Template variables:
    place:    subset of Place model (see PlaceFeedItem ViewModel)
{% endcomment %}

<img class="spinner" src='{{STATIC_URL}}img/ajax-loader.gif' style="display:none" />

<div class="item-thumb">
	<img class="thumbnail" width="50" height="50" alt="{{place.name}}" src="{{place.image_url}}" />
</div>

<section class="item-content">
	<h4 class="item-title">{{ place.name }}</h4>
	<ul class="item-details">	
		<li class="address">{{place.location.address}}</li>
		{% if place.description %}
			<li class="description meta">{{ place.description|truncatewords:15 }}</li>
		{% endif %}	
  	</ul>
</section>

