<!doctype html>

<head>
	<title>Scenable Business Account
			{% if user.is_authenticated %}
				{% if current_org %}
					| {{current_org.name}}
				{% endif %}
			{% endif %}
	</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="{{STATIC_URL}}/img/favicon.png">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-1.8.18.custom.css">

	<link rel="stylesheet" href="{{STATIC_URL}}css/admin_style.css?v=1">

	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="/static/css/ie7.css">
	<![endif]-->

	<!--  Fonts -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/fonts/Komika-Title-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/testing/Droid-Serif-fontfacekit/stylesheet.css">

	<!-- Include jQuery with fallback to local copy -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.1.js"><\/script>')</script>
	
	<script src="{{STATIC_URL}}js/libs/modernizr-custom.js"></script>

</head>

<body>
	<div class="wrap site">
		
		<header id="site-header">
			<div class="wrap">
				<h1 id="site-title"><a href="{% url onlyinpgh.orgadmin.views.page_home %}">Scenable Business Account</a></h1>

				{% if user.is_authenticated %}
					{% if current_org %}
						<h2 id="tagline">Currently managing: {{ current_org.name }}</h2>
					{% else %}
						<h2 id="tagline">You are not currently managing any organizations.</h2>
					{% endif %}
				{% else %}
					<!-- Bad hack to preserve the formatting #user formatting. Sorry. -->
					<h2>&nbsp;</h2>
				{% endif %}


				<div id="user">
					{% if user.is_authenticated %}
						{{ user.username }} | <a href="{% url onlyinpgh.orgadmin.views.page_logout %}">Logout</a>
					{% else %}
						<a href="{% url onlyinpgh.orgadmin.views.page_signup %}">Sign Up</a> |
						<a href="{% url onlyinpgh.orgadmin.views.page_login %}">Log In</a>
					{% endif %}
				</div> <!-- #user -->

			</div> <!-- .wrap -->
		</header>

		<div id="site-content">
		    {{content}}
		</div>

	</div> <!-- .wrap.site -->

	<footer id="site-footer">
		<p id="colophon"><a href="http://scenable.com/blog">Scenable</a> is brought to you by Onlyinpgh L.L.C. Drop us a line at <a href="mailto:contact@scenable.com?Subject=Contact%20from%20Business%20Admin">contact@scenable.com</a>.</p>
	</footer>

	<!-- Scenable Scripts -->
	<!-- <script type="text/javascript" src="{{STATIC_URL}}js/libs/jquery.scrollTo.js"></script> -->
	<script src="{{STATIC_URL}}js/ui/jquery.ui.core.js"></script>

	<!-- for Autocomplete -->
	<script src="{{STATIC_URL}}js/ui/jquery.ui.widget.js"></script>
	<script src="{{STATIC_URL}}js/ui/jquery.ui.position.js"></script>
	<script src="{{STATIC_URL}}js/ui/jquery.ui.autocomplete.js"></script>
	<script src="{{STATIC_URL}}js/ui/jquery.ui.autocomplete.html.js"></script>
	<script src="{{STATIC_URL}}js/ui/jquery.ui.dialog.js"></script>


	<!-- jQuery UI and Timepicker plugin-->
	<script src="{{STATIC_URL}}js/libs/jquery-ui/jquery-ui-1.8.18.custom.min.js"></script>
	<script src="{{STATIC_URL}}js/libs/jquery-ui/jquery-ui-timepicker-addon.js"></script>
	
	<script src="{{STATIC_URL}}js/admin_script.js"></script>

</body>
</html>