{% comment %}
Template to render a particular event as a item in an orgadmin list.

Context variables:
	event:			Event ViewModel
{% endcomment %}

<div class="item-thumb">
	<img class="thumbnail" alt="{{event.name}}" src="{{event.image_url}}" />
</div>

<section class="item-content">
	<h4 class="item-title">
		{{ event.name }}
	</h4>

	<div class="item-actions">
		<a href="{% url onlyinpgh.orgadmin.views.page_edit_event event.id %}" title="Edit this event"><img class="edit-item" src="/static/img/box-edit.png" alt="Edit event"/></a>
		<a href="{% url onlyinpgh.orgadmin.views.page_delete_event event.id %}" title="Delete Event"><img class="delete-item" src="/static/img/cancel.png" alt="Delete Event" /></a>
	</div>
	
	<ul class="item-details meta">	
		<li class="address">{{event.dtstart}} - {{event.dtend}}</li>
		<li>{{event.location.address}}</li>
		<li class="description">{{ event.description|truncatewords:20|urlizetrunc:20 }}</li>
  	</ul>

	{% include "tags/tag_list.html" with tags=event.tags %}

</section>