<h2>Editing your event...</h2>

<form method="post" action="">

	{% csrf_token %}
	
	<div class="field-container inner">
		<div class="field-label">
			{{ form.name.label_tag }}
		</div>
		<div class="field">
			{{ form.name }}
		</div>
	</div> <!-- name -->

	<div class="field-container first">
		<div class="field-label">
			{{ form.place.label_tag }}			
		</div>
		<div class="field">
			{{ form.place }}
			{% for err in form.place.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> <!-- place -->

	<div class="field-container inner">
		<div class="field-label">
			{{ form.dtstart.label_tag }}
		</div>
		<div class="field">
			{{ form.dtstart }}
			{% for err in dtstart.points.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> <!-- start date -->

	<div class="field-container inner">
		<div class="field-label">
			{{ form.dtend.label_tag }}
		</div>
		<div class="field">
			{{ form.dtend }}
			{% for err in form.dtend.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> <!-- end date -->
	
	<div class="field-container first">
		<div class="field-label">
			{{ form.allday.label_tag }}
		</div>
		<div class="field">
			{{ form.allday }}
		</div>
	</div> <!-- is it all day? -->

	<div class="field-container inner">
		<div class="field-label">
			{{ form.image_url.label_tag }}
		</div>
		<div class="field">
			{{ form.image_url }}
		</div>
	</div> <!-- image url -->

	<div class="field-container first">
		<div class="field-label">
			{{ form.description.label_tag }}
		</div>
		<div class="field">
			{{ form.description }}
		</div>
	</div> <!-- description -->

	<div class="field-container inner">
		<div class="field-label">
			{{ form.url.label_tag }}
		</div>
		<div class="field">
			{{ form.url }}
			<p class="tip">A link to more event info, FaceBook pages or other.
		</div>
	</div> <!-- event url -->

	<input type="submit" class="submit-item" value="Save Changes" />
	<a href="/orgadmin/events/list" class="back">&larr; Back</a>

{% comment %}
form fields:
    name
    description
    dtstart
    dtend
    allday (checkbox - just checkbox is good for now. we'll need some jQuery later that hides dtstart/dtend if this is checked)
    image_url
    url
    place (select box)
    (no tags for now - waiting on django-autocomplete)
{% endcomment %}
</form>