{% comment %}
Org admin place editing form.

Context variables:
    form: SimpleEventForm object
    newplace_form: SimplePlaceForm object
        name
        address
        postcode
        town
        state
    initial_selected: string for initial place text value if one exists (this is a temporary hack)
    tag_names: another hack for the Tags autocomplete
{% endcomment %}
{% load thumbnail %}

<h2>Editing your event...</h2>

<form enctype="multipart/form-data" method="post" action="">

	{% csrf_token %}
	
	<div class="field-container">
		<div class="field-label">
			{{ form.name.label_tag }}
		</div>
		<div class="field">
			{{ form.name }}
            {% for err in form.name.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> <!-- name -->

	<div class="field-container">
		<div class="field-label">
			{{ form.place.label_tag }}			
		</div>
		<div class="field">
            <input id="id_place-text">
            <a id="place-clear" href="#" style="display:none"><img src="{{STATIC_URL}}img/icon_x.gif"></a>
            <div id="id_place-display" style="display:none">{{initial_selected}}</div>
            {{form.place}}
		</div>
        <div class="field" id="event-place-tip">
            <p class="tip">Type the name of your event's location.</p>
            {% for err in form.place.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
	</div> <!-- place -->

	<div class="field-container last">
		<div class="field-label">
			<label for="id_{{form.dtstart.html_name}}">Date</label>
		</div>
		<div class="double">
            <div class="field">
                <input id="id_dtstart" type="text" class="datetimepicker-start" value="{{ form.dtstart.value|date:"m/d/Y h:i A" }}" name="dtstart" />
                <p class="tip">Start Date</p>
                {% for err in form.dtstart.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field last">
                <input id="id_dtend" type="text" class="datetimepicker-end" value="{{ form.dtend.value|date:"m/d/Y h:i A"  }}" name="dtend" />
                <p class="tip">End Date</p>
    			{% for err in form.dtend.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
		</div>
	</div> <!-- end date -->
	
<!-- 	<div class="field-container first">
		<div class="field-label">
			{{ form.allday.label_tag }}
		</div>
		<div class="field">
			{{ form.allday }}
            {% for err in form.allday.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> --> <!-- is it all day? -->
 
	<div class="field-container">
		<div class="field-label">
			{{ form.image.label_tag }}
		</div>
		<div class="field">
			{{ form.image }}
			{% for err in form.image.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> <!-- image url -->

	<div class="field-container">
		<div class="field-label">
			{{ form.description.label_tag }}
		</div>
		<div class="field">
			{{ form.description }}
            {% for err in form.description.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
		</div>
	</div> <!-- description -->

    <div class="field-container">
        <div class="field-label">
            <label for="id_{{ form.tags.html_name }}">Tags</label>
        </div>
        <div class="field">
            {{ form.tags }}
            <p class="tip">Add keywords or search terms like 'music, concert, bluegrass'. Separate with commas.</p>
            {% for err in form.tags.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>

    </div>

	<div class="field-container">
		<div class="field-label">
            <label for="id_{{ form.url.html_name }}">Website</label>
		</div>
		<div class="field">
			{{ form.url }}
			<p class="tip">A link to more event info - like a Facebook or Eventbrite page.</p>
			{% for err in form.url.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}	
		</div>
	</div> <!-- event url -->

    <nav class="prev-next">
	   <input type="submit" value="Save Changes" class="next" />
	   <a href="{% url orgadmin-listevents %}" class="back" title="Cancel">Cancel</a>
    </nav>
</form>

<div id="newplace-dialog-form" style="display:none">
    <p class="tip">Please enter details for the place at which your event will occur.</p>
    <p class="tip">If all of these fields don't apply, that's fine! Just enter as much information as you've got.</p>
    <form id="newplace-form" action="{% url orgadmin-addplace %}" method="POST">
    {% csrf_token %}

        <div class="field-container">
            <label for="id_{{ newplace_form.name.html_name }}">Place Name</label>
            {{newplace_form.name}}
            {% for err in newplace_form.name.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>

        <div class="field-container">
            <label for="id_{{newplace_form.address.html_name}}">Street Address</label>
            {{newplace_form.address}}
            {% for err in newplace_form.address.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>

        <div class="field-container">
            <label for="id_{{newplace_form.town.html_name}}">City</label>
            {{newplace_form.town}}
            {% for err in newplace_form.town.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>

        <div class="field-container">
            <label for="id_{{newplace_form.postcode.html_name}}">Zipcode</label>
            {{newplace_form.postcode}}
            {% for err in newplace_form.postcode.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>

        <div class="field-container" style="display: none">
            <label for="id_{{newplace_form.state.html_name}}">State</label>
            {{newplace_form.state}}
            {% for err in newplace_form.state.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>        
    </form>
    <img class='spinner' src='{{STATIC_URL}}img/ajax-loader.gif' style="display:none">
</div>

<script type="text/javascript" src="{{STATIC_URL}}js/orgadmin/tags.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/orgadmin/eventedit.js"></script>
<script type="text/javascript">
$(function(){
    var tagNames = [
        {% for name in tag_names %}
            "{{name|escapejs}}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
    scenable.activateTagAC('#id_{{form.tags.name}}', tagNames);
    {# TODO: remove initial selected autocomplete hack #}
    {% if initial_selected %}
    scenable.onACSelect( {
        'item': {
            label: '',
            value: '{{form.place.value}}',
            selectedDisplay: '{{initial_selected|escapejs}}'
        }
    });
    {% endif %}
});
</script>
