<div class="content-container">	

	<header class="content-header">
		<h2>Manage your account:</h2>
	</header>
	<nav class="home-nav">
		<ul>
			
			<li>
				<a href="{% url orgadmin.views.page_list_places %}" class="top">
					<img src="/static/img/home_place.png" />
					<p>Places</p>
				</a>
			</li>
			
			<li>
				<a href="{% url orgadmin.views.page_list_specials %}" class="top">
					<img src="/static/img/home_special.png" />
					<p>Specials</p>
				</a>
			</li>
			
			<li>
				<a href="{% url orgadmin.views.page_list_events %}" class="bottom">
					<img src="/static/img/home_events.png" />
					<p>Events</p>
				</a>
			</li>
			

			<!-- <li>
				<a href="/places/" class="bottom disabled">
					<img src="/static/img/disabled_home.png" />
					<p>See your Page</p>
				</a>
			</li> -->
			

		</ul>
	</nav>
</div>
