<div id="notifications">
	<p>Your trial is about to expire...click here to renew for $10!</p>
</div>

<nav id="home-nav">
	<ul>
		<li>
			<div class="menu-icon">
				<a href="{% url onlyinpgh.orgadmin.views.page_list_places %}">
					<img src="/static/img/home_place.png" />
					<p>Places</p>
				</a>
			</div>
			<!-- <div class="menu-description">
				<p>Scenable has an extensive record of most storefronts and buildings in Oakland. Click here to claim your location or create a new one in case we missed anything.</p>
			</div> -->
		</li>

		<li>
			<div class="menu-icon">
				<a href="{% url onlyinpgh.orgadmin.views.page_list_specials %}">
					<img src="/static/img/home_special.png" />
					<p>Specials</p>
				</a>
			</div>
		
			<!-- <div class="menu-description">
				<p>Have a special or coupon you'd like to make available on Scenable? Specials can be purchased by users of the app and then redeemed at your location. Payment processing is done through PayPal, and you must have a PayPal account in order to receive funds. Don't have one? Click here to make a <a href="https://www.paypal.com/webapps/mpp/product-selection" title="Sign up for PayPal">free Standard PayPal account</a>.</p>
			</div> -->
		</li>

		<li>
			<div class="menu-icon">
				<a href="{% url onlyinpgh.orgadmin.views.page_list_events %}">
					<img src="/static/img/home_events.png" />
					<p>Events</p>
				</a>
			</div>
			<div class="menu-description">
				<!-- <p>Do you have events you'd like to get the word out about in Oakland? Click here to add or edit your events on Scenable! If your Facebook page is already linked up, we'll already have them listed for you.</p> -->
			</div>
		</li>

	</ul>
</nav>
