{% comment %}
    template varaibles:
        number: number from 1-7
        field_days: name of Django field variable to print
        field_hours: name of Django field variable to print
        omit_plus
{% endcomment %}
  
    <div class="field-container hour-day-container inner" style="display:{%if field_days.value or field_hours.value or number = 1%}inherit{%else%}none{%endif%}">
        <div class="field-label">
            <label>Hours</label>
        </div>
        <div class="double">
            <p class="tip">Add a set of hours for your place. The first field is four hours, the second for days. To add another set, click the '+' to the right.</p>
            <div class="field">
                {{ field_days }}
                <p class="tip">Days e.g. Mon-Fri or Sun.</p>
                {% for err in field_days.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ field_hours }}
                <p class="tip">Hours e.g. 9am-5pm or Closed</p>
                {% for err in field_hours.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
        </div> <!-- .double -->
         {% if not omit_plus %}
            <a href="#" class="add-hour-row-btn">+</a>
        {% endif %}
    </div>
