{% comment %}
form fields:
    username
    password
{% endcomment %}

<img id="header-logo" src="{{STATIC_URL}}img/scenable-cloud-pgh-sky.png">

<!-- <h2>Are you a business in Oakland?</h2> -->
<hgroup class="welcome-text">
	<h2>Are you a local business or organization in Oakland?</h2>
	<h3> Sign up or login to start getting the word out on Scenable!</h3>
</hgroup>

<form method="post" action="{{ form_action }}">
	{% csrf_token %}
	<div class="field-container">
		<div class="field-label">
			<label for="{{ form.username.html_name }}">Email or Username</label>
		</div>
		<div class="field login">
			{{ form.username }}
		</div>
	</div> 

	<div class="field-container">
		<div class="field-label">
			{{ form.password.label_tag }}
		</div>
		<div class="field login">
			{{ form.password }}
			<p class="tip"><a href="#">Forgot your password?</a></p>
			{% if form.non_field_errors %}
				{{ form.non_field_errors }}
			{% endif %}
		</div>
	</div>
	

	<nav class="prev-next">
		<a href="{% url orgadmin-signup %}" title="Sign Up" class="back">Sign Up</a>
		<input type="submit" value="Login" class="submit-item next" />
	</nav>

	<input type="hidden" name="next" value="{{ next }}" />
</form>