{% extends "base.html" %}
{% comment %}
Base template for business admin pages.

Root context is an ManagePageContext object with the following variables:
	page_title: string
	current_org: Organization
{% endcomment %}
{% load compressed %}
{% block head-title %}
<title>
{{page_title}}
</title>
{% endblock %}

{% block head-stylesheets %}
<link rel="stylesheet" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.18.custom.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/admin_style.css?v=1">
<link rel="stylesheet" href="{{STATIC_URL}}css/fonts/Komika-Title-fontfacekit/stylesheet.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
{% endblock %}

{% block content %}
<div class="wrap">
	
	<header id="site-header">
		<div class="wrap">
			<h1 id="site-title"><a href="{% url onlyinpgh.orgadmin.views.page_home %}">Scenable Business Account</a></h1>

			{% if user.is_authenticated %}
				{% if current_org %}
					<h2 id="tagline">Currently managing: {{ current_org.name }}</h2>
				{% else %}
					<h2 id="tagline">You are not currently managing any organizations. <a href="{% url orgadmin-linkorg %}">Click to add one.</a></h2>
				{% endif %}
			{% else %}
				<!-- Bad hack to preserve the formatting #user formatting. Sorry. -->
				<h2>&nbsp;</h2>
			{% endif %}


			<div id="user">
				{% if user.is_authenticated %}
					{{ user.username }} | <a href="{% url onlyinpgh.orgadmin.views.page_logout %}">Logout</a>
				{% else %}
					<a href="{% url onlyinpgh.orgadmin.views.page_signup %}">Sign Up</a> |
					<a href="{% url onlyinpgh.orgadmin.views.page_login %}">Log In</a>
				{% endif %}
			</div> <!-- #user -->

		</div> <!-- .wrap -->
	</header>

	<div id="site-content">
    {% block main-content %}{% endblock %}
	</div>

	<footer id="site-footer">
		<div class="notifications" id="beta-notification"><p><strong>Something not working? Comments? Questions?</strong></p>
		<p>Please let us know at <a href="mailto:contact@scenable.com?Subject=Contact%20from%20Business%20Admin">contact@scenable.com</a>. The Scenable Business Management Panel is currently in beta and we need your help to track down any problems.</p></div>
	</footer>
</div> <!-- .wrap -->

{% endblock %}

{% block foot %}
<!-- jQuery from CDN with fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<!-- jQuery UI and Timepicker plugin-->
{% compressed_js 'jquery_ui' %}

<!-- Scenable Scripts: inline for now -->
<script type="text/javascript">
// Copied from script.js - highlight current menu item based on URL
var loc = location.pathname;
var menu_item = $('#page-nav').find('a[href$="'+loc+'"]');

if(menu_item.attr('href') == loc) {
    menu_item.addClass('current-page');
}
</script>

{% block additional-scripts %}{% endblock %}
{% endblock %}