{% extends "orgadmin/manage_page.html" %}
{% comment %}
Context variables (ManagePageContext)
    C:
        form: PlaceClaimForm (from orgadmin.forms)
{% endcomment %}

{% block main-content %}
{% with form=C.form %}
<h2>Add a location...</h2>
<form method="POST" action="{% url orgadmin-claimplace %}">
    {% csrf_token %}

    <div class="field-container" id="place-claim">
        <p class="form-help">Scenable has a record of most storefronts and buildings in Oakland. Claim your location or create a new one in case we missed anything.</p>
        {{ form.place.errors }}
        <div class="field-label">
            <label for="id_{{ form.place.html_name }}">Name</label>
        </div>
        <div class="field">
            <input id="id_place-text">
            <input type="hidden" name="{{ form.place.html_name }}" id="id_place">            
            <p class="tip">Start typing the name of your location and we'll make suggestions as you type.</p> 
            {% for err in form.place.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
            <img class='spinner' src='{{STATIC_URL}}img/ajax-loader.gif' style="display:none">
            <div class='submit-error'></div>
        </div>
        <a class="back" href="{% url orgadmin-listplaces %}">Back</a>
    </div>

    <div id="confirm-box" style="display:none">
        <p>Great! We've already got your place on record. If this is correct, choose Claim. Otherwise click the "X" and choose again.</p>
        <a id="place-clear" href="#"><img src="{{STATIC_URL}}img/icons/icon_x.gif" /></a>
        <div id="confirm-content" class="item"></div>
        
        <nav class="pre-next">
            <button type="submit" disabled="disabled" class="next">Claim</button>
            <a class="back" href="{% url orgadmin-claimplace %}">Back</a>
        </nav>
    </div>
</form>
{% endwith %} {# end form alias #}
{% endblock %}

{% block additional-scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/orgadmin/claimplace.js"></script>
{% endblock %}
