{% comment %}
Template to render a particular place as an item in an orgadmin list.

Compatible ViewModels: places.viewmodels.PlaceFeedItem

Context variables:
	place:			Place object
{% endcomment %}

{% load thumbnail %}
<div class="item-thumb">
	<a href="{% url orgadmin-editplace place.id %}" title="Edit Place">
		{% thumbnail place.image "130x130" crop="center" as im %}
		<img class="thumbnail" alt="{{place.name|truncatewords:10}}" src="{{im.url}}" />
		{% empty %}
		<img class="thumbnail" alt="{{place.name|truncatewords:10}}" src="{{STATIC_URL}}img/default-place.png" />
		{% endthumbnail %}
	</a>
</div>

<section class="item-content">
	<h4 class="item-title in-feed">
		<a href="{% url orgadmin-editplace place.id %}" title="Edit Place">
			{{place.name|truncatewords:10}}
		</a>
	</h4>
	<ul class="item-details meta">	
		<li class="address">{{place.location.address}}</li>
		{% if place.phone %}
			<li>{{place.phone}}</li>
		{% endif %}
		{% if place.hours %}
			<li>{{place.hours}}</li>
		{% endif %}
		{% if place.description %}
			<li class="description">{{ place.description|truncatewords:20|urlizetrunc:20 }}</li>
		{% endif %}
  	</ul>

	{% include "tags/tag_list.html" with tags=place.tags %}

</section>
	
<div class="item-actions">
	<a href="#" title="View listing (coming soon)"><img src="{{STATIC_URL}}img/icons/browser.png" alt="view"/></a>
	<a href="{% url orgadmin-editplace place.id %}" title="Edit place"><img class="item-action" src="{{STATIC_URL}}img/icons/pencil.png" alt="edit" /></a>
	<a href="{% url orgadmin-delplace place.id %}" class="delete-item" title="Unclaim place"><img class="item-action" src="{{STATIC_URL}}img/icons/icon_x.gif" alt="delete" /></a>
</div>