
<h2>Add a place...</h2>
    
<form method="POST" action="{% url orgadmin-claimplace %}">
    {% csrf_token %}

    <div class="field-container" id="place-claim">
        <p class="form-help">Scenable has a record of most storefronts and buildings in Oakland. Click here to claim your location or create a new one in case we missed anything.</p>

        {{ form.place.errors }}
        <div class="field-label">
            {{ form.place.label_tag }}
        </div>
        <div class="field">
            <input id="id_place-text">
            <input type="hidden" name="{{ form.place.html_name }}" id="id_place">            
            {% for err in form.place.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
        <a class="back" href="{% url orgadmin-listplaces %}">Back</a>
    </div>

    <div id="confirm-box" style="display:none">
        <p>Great! We've already got your place on record. If this is correct, choose Claim. Otherwise click the "X" and choose again.</p>
        <a id="place-clear" href="#"><img src="{{STATIC_URL}}img/icon_x.gif" /></a>
        <div id="confirm-content" class="item"></div>
        
        <nav class="pre-next">
            <button type="submit" disabled="disabled" class="next">Claim</button>
            <a class="back" href="{% url orgadmin-claimplace %}">Back</a>
        </nav>
    </div>
</form>


<script type="text/javascript" src="{{STATIC_URL}}js/orgadmin/claimplace.js"></script>
