{% comment %}
Template to render a particular place as an item in an orgadmin list.

Compatible ViewModels: places.viewmodels.PlaceFeedItem

Context variables:
	place:			Place object
{% endcomment %}

<div class="item-thumb">
	<img class="item-thumb" alt="{{place.name}}" src="{{place.image_url}}" />
</div>

<section class="item-content">
	<h4 class="item-title">
		<a href="{% url places-item-detail pid=place.id %}">{{ place.name }}</a>
	</h4>
	<a class="edit-link" href="{% url orgadmin.views.page_edit_place place.id %}" title="Edit this place"><img src="/static/img/pencil.png" alt="Edit this place"></a>
	
	<ul class="item-details meta">	
		<li class="address">{{place.location.address}}</li>
		<li>{{place.phone}}</li>
		<li>{{place.hours}}</li>
		<li class="description">{{ place.description|truncatewords:20|urlizetrunc:20 }}</li>
  	</ul>

	{% include "tags/tag_list.html" with tags=place.tags %}

</section>
