{% comment %}
Context variables:
- items: PlaceFeedItem objects
{% endcomment %}
{% load vmrender from commontags %}

{% include "orgadmin/page_nav.html" %}

<a href="{% url orgadmin-claimplace %}" class="add-item" title="Add a Place">+ Add a place</a>

{% if items %}

	<ul>
		{% for item in items %}
			<li class="item">
	    		{% vmrender item 'orgadmin/place_item.html' %}
	    	</li>
	    {% endfor %}
    </ul>

{% else %}

    <section class="no-items">
    	<img src="/static/img/home_place.png" alt="Store front" />
    	<p>We don't have any locations for you yet. Scenable has an extensive record of most storefronts and buildings in Oakland. Click <a href="{% url orgadmin-claimplace %}">here</a> to claim your location or create a new one in case we missed anything.
    </section>

{% endif %}


<script type="text/javascript">
$(function(){
    $('.delete-item').on('click', function(event) {
        return confirm('Are you sure you want to unclaim this place?');
    });
});
</script>