<h2>Add a place...</h2>

<form method="post" action="{% url onlyinpgh.orgadmin.views.page_claim_place %}">
{% csrf_token %}
	<div class="field-container inner">
        {{ form.place.errors }}
		<div class="field-label">
			{{ form.place.label_tag }}
		</div>
		<div class="field">
			{{ form.place }}
			<p class="tip">or <a href="{% url orgadmin-addplace %}">Create a new place</a></p>	
		</div>
	</div>
    <input type="submit" class="submit-item" value="Claim" />
    <a href="{% url onlyinpgh.orgadmin.views.page_list_places %}" class="back" title="Back to places">&larr; Back</button>
</form>


