<h2>Editing your place...</h2>

<form enctype="multipart/form-data" method="post" action="">

{% csrf_token %}

    <div class="field-container">
        <div class="field-label">
            {{ form.name.label_tag }}
        </div>
        <div class="field">
            {{ form.name }}
            {% for err in form.name.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            {{ form.location.label_tag }}
        </div>
        <div class="field">
            {{ form.location }}
            {% for err in form.location.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container last">
        <div class="field-label">
            {{ form.phone.label_tag }}
        </div>
        <div class="field">
            {{ form.phone }}
            {% for err in form.phone.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            <label for="id_{{ form.hr_days_1.html_name }}">Hours</label>
        </div>
        <p class="tip" id="hours-tip">Add a set of hours for your place. The first field is four hours, the second for days. To add another set, click the '+' to the right.</p>
        <div class="double hour-day-container">
            <div class="field">
                <p class="tip">Days e.g. Mon-Fri or Sun.</p>
                {{ form.hr_hours_1 }}
                {% for err in form.hr_hours_1.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                <p class="tip">Hours e.g. 9am-5pm or Closed</p>
                {{ form.hr_days_1 }}
                {% for err in form.hr_days_1.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            {% if not form.hr_hours_2.value %}
                <a href="#" class="add-hour-row-btn">+</a>
            {% endif %}
        </div>

        <div class="double hour-day-container" {%if form.hr_hours_2 or form.hr_days_2%}style="display:none"{%endif%}>
            <div class="field">
                {{ form.hr_hours_2 }}
                {% for err in form.hr_hours_2.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ form.hr_days_2 }}
                {% for err in form.hr_days_2.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            {% if not form.hr_hours_3.value %}
                <a href="#" class="add-hour-row-btn">+</a>
            {% endif %}
        </div>

        <div class="double hour-day-container" {%if form.hr_hours_3 or form.hr_days_3%}style="display:none"{%endif%}>
            <div class="field">
                {{ form.hr_hours_3 }}
                {% for err in form.hr_hours_3.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ form.hr_days_3 }}
                {% for err in form.hr_days_3.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            {% if not form.hr_hours_4.value %}
                <a href="#" class="add-hour-row-btn">+</a>
            {% endif %}
        </div>


        <div class="double hour-day-container" {%if form.hr_hours_4 or form.hr_days_4%}style="display:none"{%endif%}>
            <div class="field">
                {{ form.hr_hours_4 }}
                {% for err in form.hr_hours_4.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ form.hr_days_4 }}
                {% for err in form.hr_days_4.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            {% if not form.hr_hours_5.value %}
                <a href="#" class="add-hour-row-btn">+</a>
            {% endif %}
        </div>

        <div class="double hour-day-container" {%if form.hr_hours_5 or form.hr_days_5%}style="display:none"{%endif%}>
            <div class="field">
                {{ form.hr_hours_5 }}
                {% for err in form.hr_hours_5.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ form.hr_days_5 }}
                {% for err in form.hr_days_5.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            {% if not form.hr_hours_6.value %}
                <a href="#" class="add-hour-row-btn">+</a>
            {% endif %}
        </div>


        <div class="double hour-day-container" {%if form.hr_hours_6 or form.hr_days_6%}style="display:none"{%endif%}>
            <div class="field">
                {{ form.hr_hours_6 }}
                {% for err in form.hr_hours_6.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ form.hr_days_6 }}
                {% for err in form.hr_days_6.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            {% if not form.hr_hours_7.value %}
                <a href="#" class="add-hour-row-btn">+</a>
            {% endif %}
        </div>


        <div class="double hour-day-container" {%if form.hr_hours_7 or form.hr_days_7%}style="display:none"{%endif%}>
            <div class="field">
                {{ form.hr_hours_7 }}
                {% for err in form.hr_hours_7.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {{ form.hr_days_7 }}
                {% for err in form.hr_days_7.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            {{ form.parking.label_tag }}
        </div>
        <div class="field" id="parking">
            {{ form.parking }}
            {% for err in form.parking.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container last">
        <div class="field-label">
            {{ form.url.label_tag }}
        </div>
        <div class="field">
            {{ form.url }}
            {% for err in form.url.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            {{ form.image.label_tag }}
        </div>
        <div class="field">
            {{ form.image }}
            {% for err in form.image.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container last">
        <div class="field-label">
            {{ form.description.label_tag }}
        </div>
        <div class="field">
            {{ form.description }}
            {% for err in form.description.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            <label for="id_{{ form.tags.html_name }}">Tags</label>
        </div>
        <div class="field tag-input">
            {{ form.tags }}
            <p class="tip">Enter some terms describing your place such as 'bar, food, casual'.</p>
            {% for err in form.tags.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            <label for="id_{{ form.fb_id.html_name }}">Facebook</label>
        </div>
        <div class="field">
            <div class="social-input">
                {{ form.fb_id }}
                <img src="/static/img/facebook.png" alt="Facebook icon" />
            </div>
            {% for err in form.fb_id.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
            <p class="tip social">Enter your Facebook ID. Not sure how to find it? Go to your Facebook page and copy and paste the number or username as seen <a href="/static/img/fb-id-instructions.png" title="Find your Facebook ID">here</a>.</p>
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            <label for="id_{{ form.twitter_username.html_name }}">Twitter</label>
        </div>
        <div class="field">
            <div class="social-input">
                {{ form.twitter_username }}
                <img src="/static/img/twitter.png" alt="Facebook icon" />
            </div>
            {% for err in form.twitter_username.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
            <p class="tip social">Without the @ symbol, what is your Twitter name?</p>
        </div>
    </div>

    <nav class="prev-next">
        <input type="submit" value="Save Changes" class="next" />
        <a href="{% url page_list_places %}" class="back" title="Cancel">Cancel</a>
    </nav>
</form>

<script type="text/javascript" src="{{STATIC_URL}}js/orgadmin/tags.js"></script>
<script type="text/javascript">
// Prerequesites: jQuery, jQuery UI autocomplete
$(function() {
    // add plus button functionality
    $(".hour-day-container").on('click', '.add-hour-row-btn', function(event){
            $(this).hide() // hides the + button
               .parent().next('.hour-day-container').show(); // shows the next input
            return false;
    });

    var tagNames = [
        {% for name in tag_names %}
            "{{name|escapejs}}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
    scenable.activateTagAC('#id_{{form.tags.name}}', tagNames);
    {# TODO: remove initial selected autocomplete hack #}
    {% if initial_selected %}
    scenable.onACSelect( {
        'item': {
            label: '',
            value: '{{form.place.value}}',
            selectedDisplay: '{{initial_selected|escapejs}}'
        }
    });
    {% endif %}
});
</script>