{% comment %}
Template to render a particular place as an item in an orgadmin list.

Compatible ViewModels: places.viewmodels.PlaceFeedItem

Context variables:
	place:			Place object
{% endcomment %}

{% load thumbnail %}
<div class="item-thumb">
	{% thumbnail place.image "130x130" as im %}
	<img class="thumbnail" alt="{{place.name}}" src="{{im.url}}" />
	{% empty %}
	<img class="thumbnail" alt="{{place.name}}" src="/media/img/p/default-place.png" />
	{% endthumbnail %}
</div>

<section class="item-content">
	<h4 class="item-title">
		<a href="{% url onlyinpgh.orgadmin.views.page_edit_place place.id %}" title="Edit Place" class="link-block">
			{{ place.name }}
		</a>
	</h4>
	<ul class="item-details meta">	
		<li class="address">{{place.location.address}}</li>
		{% if place.phone %}
			<li>{{place.phone}}</li>
		{% endif %}
		{% if place.hours %}
			<li>{{place.hours}}</li>
		{% endif %}
		{% if place.description %}
			<li class="description">{{ place.description|truncatewords:20|urlizetrunc:20 }}</li>
		{% endif %}
  	</ul>

	{% include "tags/tag_list.html" with tags=place.tags %}

</section>
	
<div class="item-actions">
	<img class="edit-item" src="/static/img/box-edit.png" alt="Edit Place" />
	<a href="{% url onlyinpgh.orgadmin.views.page_remove_place place.id %}" title="Delete Place"><img class="delete-item" src="/static/img/cancel.png" alt="Delete Place" /></a>
</div>
