<h2>Edting your place...</h2>

<form method="post" action="">

{% csrf_token %}

    <div class="field-container inner">
        <div class="field-label">
            {{ form.name.label_tag }}
        </div>
        <div class="field">
            {{ form.name }}
            {% for err in form.name.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.location.label_tag }}
        </div>
        <div class="field">
            {{ form.location }}
            {% for err in form.location.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            {{ form.phone.label_tag }}
        </div>
        <div class="field">
            {{ form.phone }}
            {% for err in form.phone.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.hours.label_tag }}
        </div>
        <div class="field">
            {{ form.hours }}
            <p class="tip">Like Mon-Fri 10:30am-5pm, Sat 12pm-3pm, Closed Sun</p> 
            {% for err in form.hours.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.parking.label_tag }}
        </div>
        <div class="field">
            {{ form.parking }}
            {% for err in form.parking.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            {{ form.url.label_tag }}
        </div>
        <div class="field">
            {{ form.url }}
            {% for err in form.url.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.image_url.label_tag }}
        </div>
        <div class="field">
            {{ form.image_url }}
            {% for err in form.image_url.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            {{ form.description.label_tag }}
        </div>
        <div class="field">
            {{ form.description }}
            {% for err in form.description.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.fb_id.label_tag }}
        </div>
        <div class="field">
            <div class="social-input">
                {{ form.fb_id }}
                <img src="/static/img/facebook.png" alt="Facebook icon" />
                {% for err in form.fb_id.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.twitter_username.label_tag }}
        </div>
        <div class="field">
            <div class="social-input">
                {{ form.twitter_username }}
                <img src="/static/img/twitter.png" alt="Facebook icon" />
                {% for err in form.twitter_username.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
        </div>
    </div>

    <input type="submit" value="Save Changes" class="submit-item" />
    <a href="{% url onlyinpgh.orgadmin.views.page_list_places %}" class="back" title="Back to places">&larr; Back</a>

{% comment %}
form fields:
    name
    location (text field: will just be address)
    image_url
    description
    hours (just a small textarea for now)
    parking (just a text field now: will be comma separated list)
    phone
    url
    fb_id
    twitter_username
    (no tags for now - waiting on django-autocomplete)
{% endcomment %}
</form>