
<h2>Create Place</h2>

<form enctype="multipart/form-data" method="post" action="">

{% csrf_token %}

    <div class="field-container inner">
        <div class="field-label">
            {{ form.name.label_tag }}
        </div>
        <div class="field">
            {{ form.name }}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.location.label_tag }}
        </div>
        <div class="field">
            {{ form.location }}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            {{ form.phone.label_tag }}
        </div>
        <div class="field">
            {{ form.phone }}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.hours.label_tag }}
        </div>
        <div class="field">
            {{ form.hours }}
            <p class="tip">Like Mon-Fri 10:30am-5pm, Sat 12pm-3pm, Closed Sun</p> 
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.parking.label_tag }}
        </div>
        <div class="field">
            {{ form.parking }}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            {{ form.url.label_tag }}
        </div>
        <div class="field">
            {{ form.url }}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.image.label_tag }}
        </div>
        <div class="field">
            {{ form.image }}
        </div>
    </div>

    <div class="field-container first">
        <div class="field-label">
            {{ form.description.label_tag }}
        </div>
        <div class="field">
            {{ form.description }}
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.fb_id.label_tag }}
        </div>
        <div class="field">
            <div class="social-input">
                {{ form.fb_id }}
                <img src="{{STATIC_URL}}img/icons/facebook.png" alt="Facebook icon" />
            </div>
        </div>
    </div>

    <div class="field-container inner">
        <div class="field-label">
            {{ form.twitter_username.label_tag }}
        </div>
        <div class="field">
            <div class="social-input">
                {{ form.twitter_username }}
                <img src="{{STATIC_URL}}img/icons/twitter.png" alt="Twitter icon" />
            </div>
        </div>
    </div>

    <nav class="prev-next">
        <input type="submit" value="Create Place" class="next" />
        <button class="back">Cancel</button>
    </nav>

    {% comment %}
    form fields:
        name
        location (text field: will just be address)
        image_url
        description
        hours (just a small textarea for now)
        parking (just a text field now: will be comma separated list)
        phone
        url
        fb_id
        twitter_username
        (no tags for now - waiting on django-autocomplete)
    {% endcomment %}
</form>