<header class="content-header">
	<h2>Register</h2>
</header>

<form action="{% url onlyinpgh.orgadmin.views.page_signup %}" method="POST" >
	{% csrf_token %}
	
	{{ form.orgname.errors }}
		
	<div class="field-container first">
		{# Note that this field is actually rendered as an email field. #}
		{{ form.username.errors }}
		<div class="field-label">
			{{ form.username.label_tag }}
		</div>
		<div class="field">
			{{ form.username }}
		</div>
	</div> <!-- .field-container -->

	<div class="field-container inner">
		{{ form.password1.errors }}
		<div class="field-label">
			{{ form.password1.label_tag }}
		</div>
		<div class="field">
			{{ form.password1 }}
		</div>
	</div> <!-- .field-container -->

	<div class="field-container inner">
		{{ form.password2.errors }}
		<div class="field-label">
			{{ form.password2.label_tag }}
		</div>
		<div class="field">
			{{ form.password2 }}
		</div>
	</div> <!-- .field-container -->

	<input type="submit" class="submit-item" value"Submit" />

</form>