<img id="header-logo" src="{{STATIC_URL}}img/scenable-cloud-pgh-sky.png">

<!-- <hgroup class="welcome-text"> -->
	<h2>Register for a Scenable Business Account...</h2>
<!-- </hgroup> -->

<form action="{% url orgadmin-signup %}" method="POST" >
	{% csrf_token %}
	
	<div class="field-container">
		<div class="field-label">
			{{ registration_form.username.label_tag }}
		</div>
		<div class="field">
			{{ registration_form.username }}
			{{ registration_form.username.errors }}
		</div>
	</div> <!-- .field-container -->

	<div class="field-container last">
		<div class="field-label">
			{{ registration_form.email.label_tag }}
		</div>
		<div class="field">
			{{ registration_form.email }}
			{{ registration_form.email.errors }}
		</div>
	</div> <!-- .field-container -->

	<div class="field-container">
		<div class="field-label">
			{{ registration_form.password1.label_tag }}
		</div>
		<div class="field">
			{{ registration_form.password1 }}
			{{ registration_form.password1.errors }}
		</div>
	</div> <!-- .field-container -->

	<div class="field-container last">
		<div class="field-label">
			<label for="id_{{registration_form.password2.html_name}}">Confirm Password</label>
		</div>
		<div class="field">
			{{ registration_form.password2 }}
			{{ registration_form.password2.errors }}
		</div>
	</div> <!-- .field-container -->

	<div class="field-container">
		<div class="field-label">
			{{ org_form.name.label_tag }}
		</div>
		<div class="field">
			{{ org_form.name }}
			{{ org_form.name.errors }}
		</div>
	</div> <!-- .field-container -->

	<nav class="prev-next">
		<a href="{% url orgadmin-login %}" title="Cancel" class="back">Cancel</a>
		<input type="submit" value="Sign Up" class="next"  />
	</nav>

</form>