{% comment %}
Template to render a particular Special as an item in an orgadmin list.

Compatible ViewModel: specials.viewmodels.SpecialFeedItem

Context variables:
	special:			Special ViewModel
{% endcomment %}

<div class="item-thumb">
	<div class="points">+{{ special.points }}</div>
</div>

<section class="item-content">

	<h4 class="item-title">
		{{special.title}}
	</h4>
	<a class="edit-link" href="{% url onlyinpgh.orgadmin.views.page_edit_special special.id %}"><img src="/static/img/pencil.png" alt="Edit this place"></a>

	<ul class="item-details">
		<li>at {{special.place.name}}</li>
	</ul>

	<ul class="tag-list">
		<li>coolest</li>
		<li>lovely</li>
		<li>happy</li>
		<li>fantastic</li>
	</ul>
</section>