{% comment %}
    form: SimpleSpecialForm
    tag_names: Temporary list of all tag names
{% endcomment %}

<h2>Editing your special...</h2>

<form method="post" action="">

    {% csrf_token %}

    <div class="field-container">
        <div class="field-label">
            {{ form.title.label_tag }}
        </div>
        <div class="field">
            {{ form.title }}
            <p class="tip">What is your special? 140 characters max.
            {% for err in form.title.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container">
        <div class="field-label">
            {{ form.place.label_tag }}
        </div>
        <div class="field">
            {{ form.place }}
            {% for err in form.place.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

<!--     <div class="field-container first">
        <div class="field-label">
            {{ form.points.label_tag }}
        </div>
        <div class="field">
            {{ form.points }}
            {% for err in form.points.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div> -->

        <div class="field-container">
            <div class="field-label">
                {{ form.dstart.label_tag }}
            </div>
            <div class="field">
                {# manually describe field, easiest way to use date filter #}
                <input id="id_dstart" type="text" class="datepicker-start" value="{{ form.dstart.value|date:"m/d/Y"  }}" name="dstart" />
                <p class="tip">Special begins</p>
                {% for err in form.dstart.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
        </div>

    <div class="field-container last">
        <div class="field-label">
            {{ form.dexpires.label_tag }}
        </div>
        <div class="double">
            <div class="field">
                {# manually describe field, easiest way to use date filter #}
                <input id="id_dexpires" type="text" class="datepicker-end" value="{{ form.dexpires.value|date:"m/d/Y"  }}" name="dexpires" />
                <p class="tip">Special ends</p>
                {% for err in form.dexpires.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
            <div class="field">
                {# manually describe field, easiest way to use date filter #}
                <input id="id_dstart" type="checkbox" class="datepicker-start" value="Never" name="dstart" />
                <p class="tip"> Or check here if special never expires.</p>
                {% for err in form.dstart.errors %}
                    <p class="tip error">{{ err }}</p><br />
                {% endfor %}
            </div>
        </div>
    </div>

<!--     <div class="field-container inner">
        <div class="field-label">
            {{ form.total_available.label_tag }}
        </div>
        <div class="field">
            {{ form.total_available }}
            {% for err in form.total_available.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div> -->

    <div class="field-container">
        <div class="field-label">
            {{ form.description.label_tag }}
        </div>
        <div class="field">
            {{ form.description }}
            {% for err in form.description.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <div class="field-container tags">
        <div class="field-label">
            {{ form.tags.label_tag }}
        </div>
        <div class="field">
            {{ form.tags }}
            <p class="tip">Add some terms describing your special - like 'restaurant' or 'theater'.
            {% for err in form.tags.errors %}
                <p class="tip error">{{ err }}</p><br />
            {% endfor %}
        </div>
    </div>

    <nav class="prev-next">
        <input type="submit" class="next" value="Submit" />
        <a href="{% url onlyinpgh.orgadmin.views.page_list_specials %}" title="Cancel" class="back">Cancel</a>
    </nav>

    {% comment %}
    form fields:
        title
        description
        points
        place (select box)
        dtexpires

        (the rest of the fields are all optional: don't know if you want to just hide them or denote that they're optional. your choice)
        
        dtstart
        total_available
        total_sold
        (no tags for now - waiting on django-autocomplete)
    {% endcomment %}

</form>

<script type="text/javascript">
$(function(){
    /*** TAG AUTO COMPLETE ***/
    var tagNames = [
        {% for name in tag_names %}
            "{{name|escapejs}}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
    function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }

    $('#id_{{form.tags.name}}')
        .on( "keydown", function( event ) {
            if((event.keyCode === $.ui.keyCode.TAB ||
                event.keyCode === $.ui.keyCode.ENTER) && 
                $(this).data("autocomplete").menu.active ) {
                    event.preventDefault();
                }
        })
        .autocomplete({
            minLength: 1,
            delay: 0,
            autoFocus: true,
            html: true,
            source: function( request, response ) {
                var term = extractLast( request.term );
                if(term.replace(/\s/g,'').length === 0) {
                    response([]);
                    return false;
                }
                var re = $.ui.autocomplete.escapeRegex(term);
                var matcher = new RegExp( "^" + re, "i" );
                var matches = $.grep( tagNames, function(item,index){
                    return matcher.test(item);
                }).slice(0,4);
                response( $.map( matches, function(item) {
                    return {
                        value: item,
                        label: item.replace(matcher, '<b>'+term+'</b>')
                    }
                }) );
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
            }
        });
});
</script>