{% comment %}
Template to render a particular Special as an item in an orgadmin list.

Compatible ViewModel: specials.viewmodels.SpecialFeedItem

Context variables:
	special:			SpecialFeedItem ViewModel
{% endcomment %}

<div class="item-thumb">
	<div class="points">+{{special.points}}</div>
	<p class="tip">Total sold: {{special.total_sold}}</p>
</div>

<section class="item-content">

	<h4 class="item-title">
		<a href="{% url onlyinpgh.orgadmin.views.page_edit_special special.id %}" title="Edit Special">{{special.title|truncatewords:10}}</a>
	</h4>

	<ul class="item-details">
		<li>at {{special.place.name|truncatewords:10}}</li>
		{% if special.dexpires %}
			<li>Expires {{special.dexpires}}</li>
		{% endif %}
	</ul>

	{% include "tags/tag_list.html" with tags=special.tags %}
</section>

<div class="item-actions">
	<a href="{% url onlyinpgh.orgadmin.views.page_edit_special special.id %}" title="See special page"><img class="edit-item" src="/static/img/browser.png" alt="See special page"/></a>
	<a href="{% url onlyinpgh.orgadmin.views.page_delete_special special.id %}" title="Delete Special"><img class="delete-item" src="/static/img/icon_x.gif" alt="Delete Special" /></a>
</div>