{% extends "organizations/manage/edit_base.html" %}

{% block active_section %}Events{% endblock %}

{% block form_contents %}

<header class="content-header">
	<h2>Editing your Event</h2> <!-- Fill with event name OR adding event -->
</header>

<form>	

	<fieldset id="field-1">
		<!-- <div class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></div> -->
		<label>Name</label>
		<div class="inputs">
			<input type="text" placeholder="Event name" />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Starts</label>
		<div class="inputs">
			<input type="text" placeholder="Event starts" /><!-- Datepicker -->
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Ends</label>
		<div class="inputs">
			<input type="text" placeholder="Event ends" /><!-- Datepicker -->
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Location</label>
		<div class="inputs">
			<input type="text" placeholder="Cool St." />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Description</label>
		<!-- Limit to 150 characters or something -->
		<div class="inputs">
			<textarea placeholder="Coolest special EVER! Get mad pizzas and beers tonight ONLY!!"></textarea>
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Tags</label>
		<div class="inputs">
			<input type="text" placeholder="try 'birthday'" />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>On the web</label>
		<div class="inputs">
			<!-- Placeholder icons -->
			<input class="social-input" type="text" placeholder="Facebook page" />
			<div class="signup-social-icon">
				<img src="http://www.sportswearnet.com/gif/layout/icons/facebook_icon30x30.jpg" />
			</div>
			<input class="social-input" type="text" placeholder="Twitter username" />
			<div class="signup-social-icon">
				<img src="http://www.littleleague.org/Assets/images/icons/twitter-icon-sm.png" />
			</div>
		</div>
	</field>

</form>

{% endblock %}