{% extends "organizations/manage/scheduled_item.html" %}

{% block item_id %}event-catapult{% endblock item_id %}

{% block scheduled_item_thumb %}
	<img class="item-thumb" alt="" src="http://i.imgur.com/5WPlE.jpg" />
{% endblock %}

{% block scheduled_item_title %}
	Working at Catapult
{% endblock %}

{% block scheduled_item_details %}
	<li><time class="datetime">Dec. 13 5pm-9pm</time></li>
	<li class="place-name">Hosted by: Place Name</li>
	<li class="address">123 Sally Dr. Pittsburgh</li>
{% endblock %}

{% block scheduled_item_tags %}
	<li><a>fancy</a></li>
	<li><a>food</a></li>
	<li><a>gourmet</a></li>
	<li><a>cookie</a></li>
{% endblock %}

{% block scheduled_item_footer %}
	
{% endblock %}