### Django gitignore (from https://github.com/github/gitignore/blob/master/Django.gitignore)

*.log
*.pot
*.pyc

### var directory contents
/var/index/*
/var/log/*
/var/run/elasticsearch/*
/var/run/celery/*
/var/celerybeat-schedule

### local settings/configuration
/scenable/settings/local.py
/etc/supervisord/celeryd.conf
/etc/supervisord/celerybeat.conf
/etc/supervisord/elasticsearch.conf

### misc
*~
*#
.DS_Store
