### Django gitignore (from https://github.com/github/gitignore/blob/master/Django.gitignore)

*.log
*.pot
*.pyc

### var directory contents
/var/index/*
/var/log/*
/var/run/elasticsearch/*
/var/run/celery/*

/scenable/settings/local.py

### misc
*~
*#
.DS_Store
