Django==1.4
South>=0.7.3
Whoosh>=2.3.2
django-extensions>=0.7.1
django-pipeline>=1.2.6
django-tastypie>=0.9.11
icalendar>=3.0.1b2
python-dateutil==1.5    # Versions >1.5 require Python 3
pytz>=2012c
sorl-thumbnail>=11.12

### Pakcages straight from VCS (ones not on PyPI, beta versions, etc.)
-e git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack

### Packages require gcc (can be flaky on OS X)
PIL>=1.1.7
pygraphviz>=1.0
# Only need one of these DB APIs
#MySQL-python>=1.2.3
psycopg2>=2.4.5