{% extends "page.html" %}

{% block content_id %}chatterPage{% endblock %}

{% block content %}
	<nav class="sub-nav">
      <ul>
      	<li><a href="/chatter" rel="external">All</a></li>
        <li><a href="/chatter/questions" rel="external">Question</a></li>
		<li><a href="/chatter/pics">Pics</a></li>
		<li><a href="/chatter/discuss" rel="external">Discuss</a></li>
		<li id="expandPostForm">+</li>
      </ul>
    </nav>	
	<section id="post-form">
   		<form class="post-form">
		    <input id="post-title" type="text" placeholder="Post Title" />
			<br />
			<textarea id="post-content" placeholder="Post Content"></textarea>
			</textarea>
		</form>
	</section>

	{% include "chatter/chatter_feed.html" %}

{% endblock %}