{% extends "single.html" %}

{% block single_id %}chatterSingle{% endblock %}

{% block single_item_title %}{{ posts.title }}{% endblock %}

{% block single_item_header_content %}
	<p>by {{ posts.author }}, {{ posts.dt|timesince }} ago</p>
{% endblock %}

{% block single_item_content %}
	{% if posts.image_url %}
		<img class="post-content-image" src="{{ posts.image_url }}" />
	{% endif %}
	<aside class="voting">
		<div class="upvote"></div>
		<div class="downvote"></div>
	</aside>
	{{ posts.content }}
{% endblock %}

{% block single_item_image_url %}
	
	{% if posts.image_url %}
		{{ posts.image_url }}
	{% else %}
		{% if posts.post_type == 'conversation' %}
			http://www.ncvo-vol.org.uk/sites/default/files/UploadedFiles/speech_icon.jpg
		{% endif %}
		{% if posts.post_type == 'question' %}
			http://catalyst.harvard.edu/images/footer/question_mark.png
		{% endif %}	
		{% if posts.post_type == 'photo' %}
			http://www.nasm.si.edu/images/collections/media/thumbnails/DefaultThumbnail.gif
		{% endif %}	
	{% endif %}

{% endblock %}

{% block single_item_related %}

	{% if posts.comment_set.all %}
	    <ul class="comments">
	    {% for comment in posts.comment_set.all %}
	        <li class="comment-content">
	            <header>
	                <img class="user-avatar" src="{{ comment.commenter.avatar }}">
	                <a href="" class="meta">{{ comment.commenter.name }}</a>, 
	                <time>{{ comment.dt|timesince }}</time> ago
	            </header>
	            <p>{{ comment.content }}</p>
	        </li>
	    {% endfor %}
	    </ul>
	{% endif %}

{% endblock %}