{% extends "page.html" %}

{% comment %}
- items: list of chatter Post model instances
{% endcomment %}

{% block main-content %}
<h1 class="page-title">Chatter</h1>
<form class="post-form simple-form">
    <input type="text" />
    <input type="submit" value="Post" />
</form>
<ul class="feed chatter">
{% for item in items %}
    <li>
    	<div class="post-content">
    		{{item.content}}
    	</div>
    	<div class="post-meta">
    		
	    		{% if item.author.get_profile.avatar_url %}
		    	<img src="{{item.author.get_profile.avatar_url}}" alt="{{item.author.get_profile.display_or_username}}'s avatar">
		    	{% else %}
		    	<img src="{{STATIC_URL}}img/default-place.png" alt="{{item.author.get_profile.display_or_username}}'s avatar">
		    	{% endif %}
	    	
    		<p class="meta">posted {{item.dtcreated|timesince}} ago by <a href="#">{{item.author.get_profile.display_or_username}}</a>
    	</div>
    </li>
{% endfor %}
</ul>
{% endblock %}