{% extends "page.html" %}

{% comment %}
- items: list of chatter Post model instances
- form : PostForm object (from chatter.forms)
{% endcomment %}

{% block main-content %}
<article class="page-content no-map" id="chatter-page">
    <header class="page-header">
        <div class="page-title-container">
            <h1 class="ribbon-title">Chatter</h1>
        </div>
        <div class="page-header-content">
            <p>What do you have to say about Oakland? Find an interesting link? See something crazy on the street?</p>
        </div>
    </header>
    <form class="post-form simple-form" method="POST" action="{% url chatter-feed %}">
        {% csrf_token %}
        {{ form.content }}
        <input type="submit" value="Post" />
        <p class="tip">Say something about Oakland. 140 characters max.</p>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    </form>
    <ul class="feed chatter">
    {% for item in items %}
        <li class="post">
            {% include "chatter/feed_item.html" %}
        </li>
    {% endfor %}
    </ul>
</article>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_chatter.html" %}
{% endblock %}