{{!
Template for a single places feed item.

Expects the following view data:
	place:			object
		id:				number
		name:			string
		image_url:		string
		location:		object (optional)
			address:		text (optional)
			latitutde:		number (optional)
			longitude:		number (optional)
	is_favorite:	boolean (optional)
	tag_list:		object
		tags:			array of objects:
			id:				number
			name:			string

}}

<h3>
	<a href="#places/{{place.id}}">{{ place.name }}</a>
	{{#is_favorite}}
	<span class="favorite-star">*</span>
	{{/is_favorite}}
</h3>
<img src="{{place.image_url}}"/>
<p>{{place.location.address}}</p>

{{!TODO: move to partial}}
<div class="tag-list">
	<ul>
	{{#place.tags}}
		<li>{{name}}</li>
	{{/place.tags}}
	</ul>
</div>
