<!doctype html>
<head>
	<title>Oakland Scene</title>

	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/obidscan_style.css?v=1">
	<link rel="stylesheet" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Komika-Title-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Droid-Serif-fontfacekit/stylesheet.css">

</head>
<body>

<div class="wrap">
	<img src="/static/img/oakland-coming-soon-light.png" />
	<h1>A Pittsburgh neighborhood in the palm of your hand.</h1>
	<hr />
	<a href="http://scenable.com/blog/the-oakland-scene/" id="more-link" title="Read about the Oakland Scene">See more...</a>
</div>
</body>
</html>