{% extends "base.html" %}

{% block content %}
<p>Hello, bitches.</p>
<br/><br/>
<aside><small>
<p>Granddad: <em>What did you call me?</em></p>
<p>Riley: <em>No, no, I mean "Bitches" like you gonna have so many bitches that's what niggas is gonna call you. No disrespect.</em></p>
<p>Huey: <em>No disrespect? You just called your grandfather "Bitches"!</em></p>
<p>Riley: <em>Yeah, but I don't mean bitches in a disrespectful way. I mean it as a general word for women. </em></p>
</small></aside>
{% endblock %}