/* MIXINS ---------- */
/* ROOT --------- */
body {
  background: url(img/paper/stormy_sky.jpg);
  font-family: "Helvetica";
  padding: 3em 0;
}
section, article {
  *zoom: 1;
}
section:before,
article:before,
section:after,
article:after {
  content: "";
  display: table;
}
section:after, article:after {
  clear: both;
}
img {
  height: auto;
  max-width: 100%;
}
/* TYPOGRAPHY ------------ */
h1 {
  color: #fff;
  text-shadow: 0.07em 0.07em 0 #2C525D;
  margin-top: 0;
}
h2 {
  background: #69B9CF;
  font-size: 1.5em;
  text-align: center;
}
p {
  color: #222;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
.tip {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 2%;
}
.description {
  text-indent: 2em;
}
.add-item-link, .edit-link {
  font-size: 1em;
  font-style: italic;
  cursor: pointer;
}
.add-item-form {
  display: none;
}
#showPopularTags {
  color: #955247;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
/* FORMS & INPUTS --------------- */
form {
  *zoom: 1;
}
form:before, form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
label {
  color: #2C525D;
  display: inline;
  float: left;
  width: 21.25%;
  margin: 0 1.0416666666666665%;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 0.07em 0.07em 0 #fff;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  top: 0.5em;
}
textarea {
  height: 6em;
}
input[type="text"], textarea {
  border: 1px #ccc solid;
  -webkit-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  -moz-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  box-shadow: 0.05em 0.05em 0.1em #ffffff;
  display: inline;
  float: left;
  width: 93.75%;
  margin: 0 1.0416666666666665%;
  font-size: 1em;
  margin-bottom: 0.5em;
  outline: none;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus, textarea:focus {
  /*border-color: #2C525D;*/

  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
.inputs {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  float: right;
}
.checkbox-label {
  text-transform: none;
  clear: both;
}
.form-container {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 2em 0;
  border-bottom: 2px solid #ccc;
}
.social-input {
  width: 75% !important;
}
.social-icon {
  margin-top: 0.25em;
  width: 15%;
  float: right;
}
/* IMAGES ------------ */
.thumbnail {
  max-width: 150px;
}
.uploaded-image {
  display: block;
  max-width: 50%;
  margin: 1em auto 2em;
}
/* NAVIGATION ------------ */
.prev-next {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *zoom: 1;
  margin-top: 1em;
}
.prev-next:before, .prev-next:after {
  content: "";
  display: table;
}
.prev-next:after {
  clear: both;
}
.next, .back, .submit-item {
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0.07em 0.07em 0.1em #888888;
  -moz-box-shadow: 0.07em 0.07em 0.1em #888888;
  box-shadow: 0.07em 0.07em 0.1em #888888;
  background: #2C525D;
  color: #fff;
  text-decoration: none;
}
.next:hover, .back:hover, .submit-item:hover {
  background-color: #1b333a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b333a), to(#2c525d));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #1b333a, #2c525d);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #1b333a, #2c525d);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #1b333a, #2c525d);
  /* IE10 */

  background-image: -o-linear-gradient(top, #1b333a, #2c525d);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #1b333a, #2c525d);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
.next:active, .back:active, .submit-item:active {
  position: relative;
  top: 1px;
  left: 1px;
  background: #1B333A;
  -webkit-box-shadow: 0 0 0 #222222;
  -moz-box-shadow: 0 0 0 #222222;
  box-shadow: 0 0 0 #222222;
}
.next {
  float: right;
}
.back {
  float: left;
}
.after-signup ul {
  *zoom: 1;
  padding-left: 0;
}
.after-signup ul:before, .after-signup ul:after {
  content: "";
  display: table;
}
.after-signup ul:after {
  clear: both;
}
.after-signup li {
  /*.gradient(#3DA2BE, #2C525D);*/

  background: url(img/paper/fern.jpg);
  -webkit-box-shadow: 0.1em 0.1em 0.1em #888888;
  -moz-box-shadow: 0.1em 0.1em 0.1em #888888;
  box-shadow: 0.1em 0.1em 0.1em #888888;
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  font-size: 1.3em;
  height: 10em;
  list-style-type: none;
  margin: 1.04167%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.submit-item {
  float: right;
}
/* MAIN ------------- */
#wrapper {
  -webkit-box-shadow: 0.07em 0.07em 0.5em #000000;
  -moz-box-shadow: 0.07em 0.07em 0.5em #000000;
  box-shadow: 0.07em 0.07em 0.5em #000000;
  background: #E6E9E2;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2% 4%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#site-footer {
  clear: both;
}
/* COMPLEMENTARY --------- */
.progress {
  width: 6em;
  margin: auto;
}
.progress span {
  margin: 0 0.2em;
}
/* UTILITY ----------- */
.last {
  border: none;
}
