<!doctype html>
<head>
	<title>Oakland Scene</title>

	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Require gives us module-like functionality for JS -->
	<script data-main="/static/js/main" src="/static/js/require-jquery.js"></script>

	<!-- Scripts -->
	<script src="/static/js/script.js"></script>
	<script src="/static/js/mylibs/helper.js"></script>
	<script src="/static/js/libs/modernizr-custom.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/obidscan_style.css?v=1">
	<link rel="stylesheet" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">

</head>
<body>

<div class="wrap">
	<img src="/static/img/obid_logo_med.png" />
	<p>Pittsburgh's neighborhoods and communities in the palm of your hand.</p>
	<a href="#" id="download"><button>Get the App</button></a>
</div>
</body>
</html>