{% extends "page.html" %}

{% comment %}
Template for main now section

Context variables:
    [items]: list of NowFeedItem instances
        model: string representing model type for this item (e.g. 'Place')
        instance: a PlaceData, EventData, or SpecialData instance
    [news_articles]: list of Article instances
    [chatter_posts]: list of Post instances
{% endfor %}

{% endcomment %}


{% block main-content %}
<article class="page-main no-map" id="now-page">
    <h1 class="page-title">Welcome to the Oakland Scene!</h1>
    
</article>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_now.html" %}
{% endblock %}
