{% extends "page.html" %}

{% block main-content %}
<h1 class="page-title">About Oakland</h1>

<section class="static-section">
	
	<p>Discover Oakland, Pittsburgh’s most ethnically diverse and lively neighborhood. Prestigious universities and museums, world class hospitals, grand architecture, quaint coffee shops, international cuisine and specialty shops create the hustle and bustle found in Oakland. If you are planning a picnic in the park, an evening of gripping drama or if you are searching for that Picasso masterpiece, Oakland has it all!</p>

	<p>Oakland is where Dr. Jonas Salk developed the polio vaccine, Dr. Thomas Starzl performed the first liver transplant, Andy Warhol spent his childhood days, where a man known as “Mr. Rogers” instilled lessons of self-confidence and compassion into generations of young television viewers and where the music of America’s great composer Stephen Foster is preserved. Here, you will find plenty of stimulation for intellectual pursuits at cultural institutions such as the Carnegie Museum of Art and Natural History, Phipps Conservatory and Botanical Gardens, Soldiers and Sailors National Military Museum and the Miller Gallery of Carnegie Mellon University to name a few.</p>

	<p>Who can describe the appeal of Oakland better than a resident who came as a student of an adjacent university and chose to stay? “Oakland is the literal heart of the city. I loved going to school here. I feel the city’s pulse racing through the community. There is rhythm. There is diversity. It’s a really exciting place. It is a place of opportunity to grow and flourish personally and professionally, to live where you work, to open a niche business, and to be part of the wave that is reinventing Pittsburgh. Oakland is the place to be.</p>

	<p>Setting out to discover Oakland leads one on a trip through one of Pittsburgh’s most diverse and lively neighborhoods. Prestigious universities and museums, world class hospitals, grand architecture, quaint coffee shops, international cuisine and specialty shops all create the hustle and bustle found in Oakland.</p>

	<p>Oakland is less than 4 miles from Downtown Pittsburgh central business district. Get there by car or bus. Oakland’s major business corridors are Forbes Avenue and Fifth Avenue, which are one-way. Connecting streets include Craig Street, Bigelow Boulevard, and The Boulevard of the Allies. Also accessible via the Birmingham Bridge from Fifth Avenue. Oakland has metered on-street parking, and parking garages and parking lots are available throughout the neighborhood.</p>

</div>
</section>
{% endblock %}


{% block sidebar %}
{% include "sidebar/sidebar_static_pages.html" %}
{% endblock %}