{% extends "page.html" %}

{% block main-content %}
<h1 class="page-title">About Oakland</h1>

<section class="">
<p class="tip">From the one and only Wikipedia...</p>
<p>Oakland is the academic, cultural, and healthcare center of Pittsburgh and is Pennsylvania's third largest "Downtown". Only Center City Philadelphia and Downtown Pittsburgh can claim more economic and social activity than Oakland. The neighborhood is urban and diverse and is home to several universities, museums, and hospitals, as well as an abundance of shopping, restaurants, and students. Oakland is home to the Schenley Farms National Historic District which encompasses two city designated historic districts: the mostly residential Schenley Farms Historic District and the predominantly institutional Oakland Civic Center Historic District. The Pittsburgh Fire Bureau has Fire Station No. 14 on McKee Place and Fire Station No. 10 on Allequippa Street in Oakland.</p>


</section>
{% endblock %}


{% block sidebar %}
{% include "sidebar/sidebar_static_pages.html" %}
{% endblock %}