<div class="content-container">

	<header class="content-header">
		<h2>Editing your Special</h2>
	</header>

	<form action="" method="POST">

		<div class="form-container first">
		
			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Title</label>
				<div class="inputs">
					<input type="text" placeholder="Special name" />
					<!-- <p class="tip">Limit 140 chars.</p> -->
				</div>
			</fieldset>

			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Location</label>
				<div class="inputs">
					<input type="text" placeholder="Where is this special?" />
				</div>
			</fieldset>
		</div>

		<div class="form-container">

			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Starts</label>
				<div class="inputs">
					<input type="text" placeholder="date special begins" />
				</div>
			</fieldset>

			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Expires</label>
				<div class="inputs">
					<input type="text" placeholder="date special expires" />
				</div>
			</fieldset>
		</div>

		<div class="form-container">

			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Price</label>
				<div class="inputs">
					<input type="text" placeholder="$1,000,000" />
					<!-- <div class="points tip">+100,000</div> -->
				</div>
			</fieldset>
			
			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Number Available</label>
				<div class="inputs">
					<input type="text" placeholder="10" />
					<div class="check-container">
						<input type="checkbox" name="not-limited" /><label class="checkbox-label">Not limited</label>
					</div>
				</div>
			</fieldset>
		</div>

		<!-- <fieldset>
			<a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a>
			<label>Image</label>
			<div class="inputs">
				<input type="text" placeholder="Image Upload field here" />
				<img class="uploaded-image" src="http://m4.licdn.com/mpr/mpr/shrink_100_100/p/2/000/105/2e2/1425158.jpg">
				<input type="text" placeholder="Image Upload field here" />
			</div>
		</fieldset> -->
		<div class="form-container last">

			<fieldset>
				<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
				<label>Tags</label>
				<div class="inputs">
				<input type="text" placeholder="try 'birthday'" />
					<p class="tip">Enter tags separated by commas like: birthday, party, cake, casual</p>
				</div>
			</fieldset>
		</div>
	</form>
</div>