{% extends "manage_base.html" %}

{% block content %}

	<div class="content-container admin" id="specials">
		<section class="scheduled-items">
			<header class="feed-header">
				<h2 class="feed-title">Current Specials</h2>
				<a class="add-item-link" href="edit/special">Add Special...</a><!-- Goes to edit event template with empty inputs -->
			</header>
			<ul class="feed">	
				<!-- For each scheduled event, include this  -->
				{% include "specials/manage/scheduled_special.html" %}
				{% include "specials/manage/scheduled_special.html" %}
				{% include "specials/manage/scheduled_special.html" %}
			</ul>
		</section>
		<section class="add-item">
				
		</section>
	</div>	<!-- .content-container -->
	
{% endblock %}
