{% extends "admin/admin_base.html" %}


<!doctype html>

<head>

	<title>Register for a Scenable Business Account</title>
	<link rel="stylesheet" href="style.css">

</head>

<body>
	<div id="wrapper">

		<header id="site-header">
			<h1>Hey, thanks!</h1>
		</header>

		<div id="site-content">
			
			<header>
				<h2>Beef it up...</h2>					
			</header>
			<nav class="after-signup">
				<ul>
					<!-- To profile page with expanded events section in edit mode -->
					<a href="profile/profile_basics.html"><li>See your Page</li></a>
					<!-- To profile page with expanded specials section in edit mode -->
					<a href="profile/profile_basics.html"><li>Edit info</li></a>
					<!-- To profile page with expanded 'your info' section in edit mode -->
					<a href="profile/profile_specials.html"><li>Manage Specials</li></a>
					<!-- To single business page as seen by other users -->
					<a href="profile/profile_events.html"><li>Manage Events</li></a>
				</ul>
			</nav>
			
		</div> <!-- #site-content -->

		<footer id="site-footer">
			<!-- <div class="prev-next">
				<a href="index.html" class="back">&larr; Back</a>
				<a href="signup_screen2.html" class="next">Next &rarr;</a>				
			</div> -->
			<div class="progress">
				<span id="step1">&#9830;</span>
				<span id="step2">&#9830;</span>
				<span id="step3">&#9830;</span>
				<span id="step4">&#9830;</span>
			</div>
		</footer>

	</div> <!-- #wrapper -->

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.js"><\/script>')</script>

	<script src="js/script.js"></script>

</body>
</html>
