{% extends "admin/admin_base.html" %}

{% block page_title %}
	notlaura's Business Admin
{% endblock page_title %}

{% block page_header %}
	notlaura
{% endblock page_header %}

{% block content_header %}
	What do you want to do?
{% endblock content_header %}

{% block content_body %}
	<nav class="admin-home">
		<ul>
			<!-- To profile page with expanded events section in edit mode -->
			<li id="adminViewProfile">
				<img src="/static/img/icons/black/anchor.png" />
				<a href="profile_basics">See your Page</a>
			</li>
			<!-- To profile page with expanded specials section in edit mode -->
			<li id="adminEditProfile">
				<img src="/static/img/icons/black/box-edit.png" />
				<a href="profile_basics">Edit info</a>
			</li>
			<!-- To profile page with expanded 'your info' section in edit mode -->
			<li id="adminSpecials">
				<img src="/static/img/icons/black/tag-special.png" />
				<a href="profile_specials">Manage Specials</a>
			</li>
			<!-- To single business page as seen by other users -->
			<li id="adminEvents">
				<img src="/static/img/icons/black/calendar-alt.png" />
				<a href="profile_events">Manage Events</a>
			</li>
		</ul>
	</nav>
{% endblock content_body %}