<div class="form-container first">
	<form>
		<label class="input-label">Business Name</label>
		<div class="inputs">
			<input type="text" placeholder="Your Business Name" />
		</div>
	</form>
</div> <!-- .form-container -->

<div class="form-container">
	<form>
		<label>Address</label>
		<div class="inputs">
			<input type="text" placeholder="Address" />
			<input type="text" placeholder="Apt or Suite #" />
			<p class="tip">Just the essentials, we know you're in Pittsburgh :)</p>
		</div>
	</form>
</div> <!-- .form-container -->

<div class="form-container last">
	<form>
		<label>Phone</label>
		<div class="inputs">
			<input type="text" placeholder="(412)...what else?" />
		</div>
	</form>
	<form class="last">	
		<label>Website</label>
		<div class="inputs">
			<input type="text" placeholder="http://coolrestaurant.com" />
		</div>
	</form>
</div> <!-- .form-container -->

<div class="prev-next">
	<a href="#panelTwo" name="panel-two" class="next shift-panel">Next &rarr;</a>
</div>

{% include 'admin/progress.html' %}