<div class="form-container first">
	<form>
		<label class="input-label">Username</label>
		<div class="inputs">
			<input type="text" placeholder="interesting username" />
		</div>
	</form>
	<form>
		<label class="input-label">Email</label>
		<div class="inputs">
			<input type="text" placeholder="awesome@sweet.com" />
		</div>
	</form>
</div> <!-- .form-container -->

<div class="form-container last">
	<form>
		<label class="input-label">Password</label>
		<div class="inputs">
			<input type="text" placeholder="Excellent password" />
		</div>
	</form>
	<form>
		<label class="input-label">Confirm Password</label>
		<div class="inputs">
			<input type="text" placeholder="Excellent password confirmed" />
		</div>
	</form>
</div> <!-- .form-container -->