
<div class="form-container">
	<form>
		<label>Upload Image</label>
		<div class="inputs">
			[Image upload form goes here]
		</div>
		<img class="uploaded-image" src="http://www.cellspace.org/new/sites/default/files/CELLspaceEvent.jpg">
	</form>
</div>
<div class="form-container last">
	<form>
		<!-- Selected tags will appear in designated div. User's will be able to remove them by clicking an 'x' in the corner of tag bubble. -->
		<label>Tags</label>
		<div class="inputs">
			<input type="text" placeholder="try 'latte'" /> <!-- Autocomplete -->
		</div>
		<div class="inputs">
			<p>Suggested:</p> <!-- Click one and it moves to current tags div -->
			<ul>
				<li>Restaurant</li>
				<li>Outdoors</li>
				<li>Awesome</li>
				<li>Retail</li>
			</ul>
		</div>
	</form>
</div>

<a href="#item2" class="back panel">&larr; Back</a>
<a href="#item4" class="next panel">Next &rarr;</a>				

<span id="step1">&#9830;</span>
<span id="step2">&#9830;</span>
<span id="step3">&#9830;</span>
<span id="step4">&#9830;</span>			

