{% extends "admin/signup_page.html" %}			

{% block content_header %}
	Fun stuff
{% endblock content_header %}

{% block content_body %}
	<div class="form-container">
		<form>
			<label>Upload Image</label>
			<div class="inputs">
				[Image upload form goes here]
			</div>
			<img class="uploaded-image" src="http://www.cellspace.org/new/sites/default/files/CELLspaceEvent.jpg">
		</form>
	</div>
	<div class="form-container last">
		<form>
			<!-- Selected tags will appear in designated div. User's will be able to remove them by clicking an 'x' in the corner of tag bubble. -->
			<label>Tags</label>
			<div class="inputs">
				<input type="text" placeholder="try 'latte'" /> <!-- Autocomplete -->
			</div>
			<div class="inputs">
				<p>Suggested:</p> <!-- Click one and it moves to current tags div -->
				<ul>
					<li>Restaurant</li>
					<li>Outdoors</li>
					<li>Awesome</li>
					<li>Retail</li>
				</ul>
			</div>
		</form>
	</div>
{% endblock content_body %}
			
{% block prev_next %}
	<a href="signup2" class="back">&larr; Back</a>
	<a href="signup4" class="next">Next &rarr;</a>				
{% endblock prev_next %}

{% block progress %}
	<span id="step1">&#9830;</span>
	<span id="step2">&#9830;</span>
	<span id="step3">&#9830;</span>
	<span id="step4">&#9830;</span>			
{% endblock progress %}		
