<!doctype html>

<head>

	<title>Scenable | Manage bus_name</title>
	<link rel="stylesheet" href="/static/css/admin_style.css">

</head>

<body>

	<header id="site-header">
		<h1 id="site-title"><a href="/bus_admin/home">Register a Scenable Business Account</a></h1>
	</header>

	<div id="site-content">
		{% block content %}{% endblock %}
	</div>

	<footer id="site-footer">
		<p id="colophon">What up, #page-footer!</p>
	</footer>

	<div id="footer-image"></div>

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.1.js"><\/script>')</script>
	<script type="text/javascript" src="/static/js/libs/jquery.scrollTo.js"></script>
	<script src="/static/js/admin_script.js"></script>	

	<!-- jQuery UI Autocomplete 
	<script src="/static/js/libs/jquery-ui/jquery.ui.autocomplete.min.js"></script>
	<script src="/static/js/libs/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="/static/js/libs/jquery-ui/jquery.ui.position.min.js"></script>
	<script src="/static/js/libs/jquery-ui/jquery.ui.position.min.js"></script>
	<script src="/static/js/libs/jquery-ui/jquery.ui.widget.min.js"></script>
-->
</body>
</html>