<header class="content-header">
	<h2>Claim your Business</h2>
</header>

<form action="{% url onlyinpgh.organizations.views.place_claim %}" method="POST">
{% csrf_token %}
<div class="field-container">
	<fieldset>
		<input type="hidden" name="{{ form.email.html_name }}" value="{{ form.email.value }}"/>
		<input type="hidden" name="{{ form.password1.html_name }}" value="{{ form.password1.value }}"/>
		{{ form.business.errors }}
		<div class="ui-widget">
			<label class="input-label">{{ form.business.label }}</label>
			<div class="inputs">
				<input name="{{ form.business.html_name }}" id="{{ form.business.id_for_label }}" value="" />
			</div>
		</div>

		<script type="text/javascript">
			$(function() {
				$("#{{ form.business.id_for_label }}").autocomplete({
					source: function(request,response) {
						$.ajax({
							url: '/places/lookup/all',
							data: {'q':request.term, 'limit':10},
							success: function(data) {
								data = $.map( data, function( item ) {
									return item.name;
								});
								console.log('response');
								response(data);
							}
						});
					},

					open: function() {
						$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
					},
					close: function() {
						$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
					}
				});
			});
		</script>
	</fieldset>
</div> <!-- .field-container -->

<button type="submit" class="submit-item">Submit</submit>

</form>