{% extends "manage_base.html" %}

{% block content %}

	<div class="content-container" id="home">
		
		<nav class="home-nav">
			<ul>
				<!-- To profile page with expanded events section in edit mode -->
				<li>
					<a href="/places/" class="top">
						<img src="/static/img_using/anchor.png" />
						See your Page
					</a>
				</li>
				<!-- To profile page with expanded specials section in edit mode -->
				<li>
					<a href="edit/place" class="top">
						<img src="/static/img_using/box-edit.png" />
						Edit info
					</a>
				</li>
				<!-- To profile page with expanded 'your info' section in edit mode -->
				<li>
					<a href="specials" class="bottom">
						<img src="/static/img_using/tag-special.png" />
						Manage Specials
					</a>
				</li>
				<!-- To single business page as seen by other users -->
				<li>
					<a href="events" class="bottom">
						<img src="/static/img_using/calendar-alt.png" />
						Manage Events
					</a>
				</li>
			</ul>
		</nav>
	</div>

{% endblock %}