<div class="content-container" id="home">	
	<nav class="home-nav">
		<ul>
			
			<li>
				<a href="edit/place" class="top">
					<img src="/static/img_using/home_place.png" />
					<p>Edit info</p>
				</a>
			</li>
			
			<li>
				<a href="specials" class="top">
					<img src="/static/img_using/home_special.png" />
					<p>Manage Specials</p>
				</a>
			</li>
			
			
			<li>
				<a href="/places/" class="bottom disabled">
					<img src="/static/img_using/disabled_home.png" />
					<p>See your Page</p>
				</a>
			</li>
			
			<li>
				<a href="events" class="bottom">
					<img src="/static/img_using/home_events.png" />
					<p>Manage Events</p>
				</a>
			</li>
			

		</ul>
	</nav>
</div>
