
<li class="item" id="item-1">
	<div class="item-thumb-container">
		{% block scheduled_item_thumb %}{% endblock %}
	</div>
	<section class="item-content">
		<h4 class="item-title">
			<a href="">
				{% block scheduled_item_title %}
		    	{% endblock %}
		   	</a>
		</h4>
		<div class="item-actions">
			<a href="edit/event"><img class="edit-item" src="/static/img_using/box-edit.png" /></a>
			<a href="edit/special"><img class="delete-item" src="/static/img_using/cancel.png" /></a>
		</div>
		<ul class="item-details">
			{% block scheduled_item_details %}{% endblock %}
		</ul>
		<ul class="tag-list">
			{% block scheduled_item_tags %}{% endblock %}
		</ul>
		<!-- tags here -->
	</section>
</li>

