<form action="" method="POST" >
	{% csrf_token %}
	<div class="field-container first">
		<fieldset>
			{{ form.email.errors }}
			<label class="input-label">{{ form.email.label }}</label>
			<div class="inputs">
				<input type="text" name="{{ form.email.html_name }}" placeholder="awesome@sweet.com" value="{{ form.email.value }}"/>
			</div>
		</fieldset>
	
		<fieldset>
			{{ form.password1.errors }}
			<label class="input-label">{{ form.password1.label }}</label>
			<div class="inputs">
				<input type="text" name="{{ form.password1.html_name }}" placeholder="Excellent password" />
			</div>
		</fieldset>

		<fieldset>
			{{ form.password2.errors }}
			<label class="input-label">{{ form.password2.label }}</label>
			<div class="inputs">
				<input type="text" name="{{ form.password2.html_name }}" placeholder="Excellent password confirmed" />
			</div>
		</fieldset>
	</div> <!-- .field-container -->

	<button type="submit" class="submit-item">Submit</submit>

</form>
