/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #4b7699;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4b7699;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* Responsive Images + alt text style */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  color: #999;
  font-style: italic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* 1 ROOT ---------- */
body {
  background: #e1e1e1 url("/static/img/logos/oakland-bkgd-450.png") fixed bottom right no-repeat;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden;
  height: 100%;
}
/* TYPOGRAPHY -------- */
h1 {
  font-family: 'BloklettersViltstift', 'Lucida Grande', Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
}
h2 {
  font-size: 1.2em;
  padding-bottom: 0.1em;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
}
p {
  color: #222;
  font-size: 0.9em;
  margin: 0.1em 0;
}
ul li {
  font-size: 0.9em;
}
a {
  color: #b83939;
}
a:hover {
  color: #999;
}
a:active {
  color: #2c525d;
}
blockquote {
  background: url('/static/img/icons/quote.png') no-repeat top left;
  padding-left: 2.5em;
  font-family: 'DroidSerifItalic', Gerogia;
  font-size: 1.3em;
  margin: 2em 0;
}
.meta {
  font-size: 0.9em;
}
.description {
  margin-top: 0.3em;
  font-style: italic;
  font-size: 0.9em;
}
.points {
  font-family: 'KomikaTitleRegular', Impact, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 #ded57f;
}
/* HEADINGS --------- */
#site-title {
  margin-top: 20px;
  padding: 0 0 15px 15px;
  text-align: center;
}
#site-title a {
  color: #fff;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:active {
  text-shadow: 0 0.03em 0.05em #000;
}
#site-title a:visited {
  color: #fff;
}
.page-title {
  border-bottom: 1px solid #e1e1e1;
  margin: 1em 0 0.5em 0;
  padding: 0 0 0.5em 0.5em;
  font-size: 1.5em;
}
.single-title {
  border-bottom: 1px #ccc solid;
  color: #333;
  font-size: 1.2em;
  margin: 0.3em 0;
  padding: 0 0 0.3em 0.3em;
  text-shadow: 0.03em 0.03em 0.03em #e1e1e1;
}
.detail-section-title {
  border-bottom: 1px #999 solid;
  padding: 0 0 0.2em;
  margin: 0 0 1em;
}
.ribbon-title {
  font-family: 'BloklettersViltstift', 'Lucida Grande', Helvetica, sans-serif;
  font-weight: normal;
  color: #fff;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.6em 0.5em 0.5em;
  text-shadow: 0.05em 0.05em 0.1em #222;
}
.map-title-container {
  color: #fff;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #6baa55;
  -webkit-box-shadow: 0.1em 0.1em 0.2em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.2em #444444;
  box-shadow: 0.1em 0.1em 0.2em #444444;
  position: absolute;
  top: -20px;
  left: -15px;
  padding: 0 1em 0 0.5em;
  z-index: 200;
}
#sidebar-title {
  -webkit-box-shadow: 0.1em 0.1em 0.2em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.2em #444444;
  box-shadow: 0.1em 0.1em 0.2em #444444;
  font-size: 1em;
  letter-spacing: 1px;
  background: #6baa55;
  padding-left: 3em;
  position: relative;
  right: 2em;
  width: 96%;
}
.widget-title {
  border-bottom: 1px solid #e1e1e1;
  font-family: 'DroidSerifItalic', 'Gerogia', serif;
  margin: 0.5em 0;
  text-shadow: 0.01em 0.01em 0.03em #999;
}
.detail-title {
  margin-bottom: 0.2em;
  font-weight: bold;
  display: block;
}
/* FORMS & INPUTS --------------- */
::-webkit-input-placeholder {
  color: #AAAAAA;
}
:-moz-placeholder {
  color: #AAAAAA;
}
form {
  margin: 0 auto 1em;
  *zoom: 1;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
label {
  font-size: 0.9em;
  font-weight: bold;
  display: block;
  line-height: 1.2em;
  text-align: right;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px solid #999;
  font-size: 1em;
  width: 93%;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.35em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
button,
input[type="submit"],
.btn {
  border: none;
  -webkit-box-shadow: 0 0 0.05em #8fd36f;
  -moz-box-shadow: 0 0 0.05em #8fd36f;
  box-shadow: 0 0 0.05em #8fd36f;
  color: #fff !important;
  font-size: 0.9em;
  background-color: #6baa55;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6baa55), to(#238b49));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #6baa55, #238b49);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #6baa55, #238b49);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #6baa55, #238b49);
  /* IE10 */

  background-image: -o-linear-gradient(top, #6baa55, #238b49);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #6baa55, #238b49);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  letter-spacing: 0.05em;
  padding: 0.5em;
  position: relative;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
button:hover,
input[type="submit"]:hover,
.btn:hover {
  background: #238b49;
}
button:active,
input[type="submit"]:active,
.btn:active {
  background: #00782d;
  top: 1px;
  left: 1px;
}
button#redeem-button,
input[type="submit"]#redeem-button,
.btn#redeem-button {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  padding: 5%;
}
.choice-container {
  padding-left: 1em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.choice-container:before,
.choice-container:after {
  content: "";
  display: table;
}
.choice-container:after {
  clear: both;
}
.choice-container input {
  float: left;
  margin-top: 0.1em;
}
.choice-container label {
  padding: 0 0 0.5em 0.5em;
  font-weight: bold;
  font-size: 0.8em;
  float: left;
}
.choice-container.other {
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.choice-container.other input[type="text"] {
  display: block;
  width: 70%;
}
fieldset > ul {
  *zoom: 1;
}
fieldset > ul:before,
fieldset > ul:after {
  content: "";
  display: table;
}
fieldset > ul:after {
  clear: both;
}
fieldset > .tip {
  margin-bottom: 2em;
}
legend {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0.5em;
}
.simple-form input[type="text"],
.simple-form input[type="search"] {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.simple-form input[type="submit"] {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.site-search-container {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
.field-container {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-right: 2em;
  margin-bottom: 2em;
  position: relative;
}
.field-container:before,
.field-container:after {
  content: "";
  display: table;
}
.field-container:after {
  clear: both;
}
.field-container.last {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}
.field-label {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.field {
  float: right;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Manage Account */
.grouped-field-row {
  padding-right: 2%;
}
.grouped-field-row > div {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grouped-field-row > div:first-child {
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grouped-field-row > div:last-child {
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grouped-field-row > div select {
  width: 94%;
  margin-left: 6%;
}
.social-input {
  *zoom: 1;
}
.social-input:before,
.social-input:after {
  content: "";
  display: table;
}
.social-input:after {
  clear: both;
}
.social-input img {
  float: left;
  width: 8.75%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 30px;
}
.social-input input {
  float: left;
  width: 87.08333333333333%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tip,
.errorlist {
  color: #555;
  font-size: 0.9em;
  display: block;
  margin-left: 2%;
}
.tip.desc,
.errorlist.desc {
  margin-top: 2%;
}
.tip.public,
.errorlist.public {
  margin-top: 0.3em;
  *zoom: 1;
}
.tip.public:before,
.errorlist.public:before,
.tip.public:after,
.errorlist.public:after {
  content: "";
  display: table;
}
.tip.public:after,
.errorlist.public:after {
  clear: both;
}
.tip.public label,
.errorlist.public label {
  float: left;
  margin-left: 0.5em;
  text-transform: none;
}
.tip.public input[type="checkbox"],
.errorlist.public input[type="checkbox"] {
  float: left;
}
.tip label,
.errorlist label {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.8em;
  text-transform: none;
}
.errorlist {
  color: #C34327;
  font-style: italic;
  float: left;
  margin-top: 0.5em;
}
.ajax-action-container a {
  display: block;
  color: #444;
  font-size: 0.8em;
  margin-top: 0.5em;
  padding: 0.1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
.ajax-action-container a:hover {
  color: #b83939;
}
.ajax-action-container a:active {
  color: #2c525d;
}
.ajax-action-container .status {
  font-size: 1.3em;
  line-height: 0.2em;
  margin-right: 0.2em;
}
.ajax-action-container .remove .status {
  color: #444;
}
.ajax-action-container .add .status {
  color: #4b7699;
}
#sidebar-feedback label {
  text-align: left;
}
#sidebar-feedback .field-label {
  text-align: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.5em 0 0.5em 0.1em;
}
#sidebar-feedback .field {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar-feedback textarea {
  font-size: 0.9em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
#sidebar-feedback textarea {
  height: 6em;
}
#sidebar-feedback input[type="submit"] {
  float: right;
  margin-top: 0.5em;
}
#account-privacy input[type="checkbox"] {
  float: right;
  margin-right: 0.5em;
}
#account-privacy label {
  text-align: center;
  display: inline;
}
#account-privacy label span {
  font-size: 0.9em;
  float: right;
  margin-right: 30%;
}
#account-privacy label img {
  display: block;
  margin: auto auto 1em;
  width: 60px;
}
#login-page form,
#signup-page form {
  padding: 6%;
}
/* HEADER ------------- */
#logo {
  float: left;
  width: 16.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 0.3em;
}
#select-sect {
  display: none;
}
#scene-nav {
  background: #444;
  background-color: #777777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #777777, #444444);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #777777, #444444);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #777777, #444444);
  /* IE10 */

  background-image: -o-linear-gradient(top, #777777, #444444);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #777777, #444444);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0em 0.1em 0.2em #000000;
  -moz-box-shadow: 0em 0.1em 0.2em #000000;
  box-shadow: 0em 0.1em 0.2em #000000;
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 5.5em;
  max-width: 1140px;
  min-width: 810px;
  z-index: 999;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
}
#scene-nav .main-menu {
  *zoom: 1;
  float: left;
  width: 46.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#scene-nav .main-menu:before,
#scene-nav .main-menu:after {
  content: "";
  display: table;
}
#scene-nav .main-menu:after {
  clear: both;
}
#scene-nav .main-menu li a {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-in;
  font-size: 0.85em;
  height: 5em;
  margin-top: 1em;
  position: relative;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#scene-nav .main-menu li a.current-page {
  background-color: #8fd36f;
}
#scene-nav .main-menu li a.current-page:hover {
  background-color: #8fd36f;
}
#scene-nav .main-menu li a .container {
  position: absolute;
  left: 50%;
  bottom: 0.3em;
}
#scene-nav .main-menu li a .container .menu-item {
  position: relative;
  left: -50%;
}
#scene-nav .main-menu li a:hover {
  background-color: #ded57f;
}
#scene-nav .main-menu li a:active {
  background-color: #6baa55;
}
#utility {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0;
}
#utility #debug-user {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1em;
  text-align: right;
  color: #e1e1e1;
}
#utility #debug-user a {
  color: #ded57f;
}
#utility #debug-user a:hover {
  color: #8fd36f;
}
/* 4 CONTENT ---------- */
.wrap {
  *zoom: 1;
  margin: 0 auto;
  max-width: 1140px;
  min-width: 810px;
  position: relative;
  height: 100%;
}
.wrap:before,
.wrap:after {
  content: "";
  display: table;
}
.wrap:after {
  clear: both;
}
#site-content {
  background: #ffffff;
  -webkit-box-shadow: 0.1em 0.1em 0.3em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.3em #444444;
  box-shadow: 0.1em 0.1em 0.3em #444444;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0.7em 1.5em 0.5em;
  position: relative;
  /*-webkit-border-radius: 0 0 0.5em 0.5em; 
   -moz-border-radius: 0 0 0.5em 0.5em; 
        border-radius: 0 0 0.5em 0.5em;*/

  top: 5.5em;
  z-index: 1;
}
#site-footer {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  font-size: 0.9em;
  bottom: 10px;
  left: 0;
  padding: 0.5em 0;
  text-align: center;
  border-top: 1px #e1e1e1 solid;
}
/* SIDEBAR ---------- */
#site-sidebar {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: url("/static/img/textures/white-trans.png");
  -webkit-box-shadow: 0.1em 0.1em 0.3em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.3em #444444;
  box-shadow: 0.1em 0.1em 0.3em #444444;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 5em;
  right: 0;
  z-index: 0;
  padding: 1em 0 1em 1.5em;
}
#site-sidebar img {
  width: 100%;
  height: auto;
}
#site-sidebar #get-in-touch img {
  width: auto;
}
.widget {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  margin: 0;
}
.widget p,
.widget ul li {
  margin-bottom: 1em;
}
.widget ul {
  margin-left: 1em;
}
.widget ul li {
  list-style-type: disc;
  padding: 0.4em;
}
/* FEED/ITEMS ---------- */
.item {
  *zoom: 1;
  list-style-type: none;
  margin: 1% 0;
  padding: 2% 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.item:before,
.item:after {
  content: "";
  display: table;
}
.item:after {
  clear: both;
}
.item:last-child {
  border-bottom: none;
}
.item-title {
  margin: 0;
  line-height: 1.2em;
}
.item-title a {
  text-shadow: 0 0 0.01em #999;
  color: #000;
}
.item-title a:hover {
  color: #b83939;
}
.item-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.item-actions img {
  cursor: pointer;
}
.feed .item .item-thumb,
.infowindow .item-thumb {
  float: left;
  width: 20.833333333333336%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  border: 1px solid #444;
}
.item-content {
  float: left;
  width: 75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2%;
  position: relative;
  overflow: hidden;
}
.item-details {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.item-details:before,
.item-details:after {
  content: "";
  display: table;
}
.item-details:after {
  clear: both;
}
.thumbnail {
  width: 100%;
  height: auto;
}
.item-type {
  *zoom: 1;
  padding: 0.5em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #333333;
  -moz-box-shadow: 0.1em 0.1em 0.1em #333333;
  box-shadow: 0.1em 0.1em 0.1em #333333;
}
.item-type:before,
.item-type:after {
  content: "";
  display: table;
}
.item-type:after {
  clear: both;
}
.item-type.type-place {
  background: #ded57f;
}
.item-type.type-event {
  background: #8fd36f;
}
.item-type.type-special {
  background: #a9c6e8;
}
/* PAGE --------- */
.page-content {
  padding: 0 0.5em 6em;
  *zoom: 1;
}
.page-content:before,
.page-content:after {
  content: "";
  display: table;
}
.page-content:after {
  clear: both;
}
.page-content .item {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-in;
  height: 90px;
  overflow: hidden;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-content .item:hover {
  background: #e9e9e9;
  cursor: pointer;
}
.page-content .item:active {
  background: #d9d9d9;
}
.page-content .feed {
  *zoom: 1;
  margin-top: 1em;
}
.page-content .feed:before,
.page-content .feed:after {
  content: "";
  display: table;
}
.page-content .feed:after {
  clear: both;
}
.page-content .feed.events .item {
  height: 110px;
}
.page-content .description {
  display: none;
}
.social-container {
  margin: 0.5em 0 0 0.5em;
}
/* 10 NAVIGATION ---------- */
.detail-nav {
  float: left;
  margin-top: 2.5em;
  width: 12%;
}
.detail-nav ul li a {
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
  display: block;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 0.9em;
  -webkit-border-radius: 0.5em 0 0 0.5em;
  -moz-border-radius: 0.5em 0 0 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0.5em 0;
  padding: 0.6em 0.6em 0.6em 0.4em;
}
.detail-nav ul li a.current-page {
  background: #444;
  color: #fff;
  border: none;
}
.detail-nav ul li a.current-page:hover {
  background-color: #444;
}
.detail-nav ul li a:hover {
  background: #999;
}
.detail-nav ul li a:active {
  background: #666;
}
.page-nav-container {
  *zoom: 1;
  border-bottom: 1px #e8e8e8 solid;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0;
  padding-bottom: 1em;
}
.page-nav-container:before,
.page-nav-container:after {
  content: "";
  display: table;
}
.page-nav-container:after {
  clear: both;
}
.page-nav-container .simple-form {
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0;
}
.page-nav-container .simple-form input[type="submit"] {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-nav-container .simple-form input[type="search"] {
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-nav-container .prev-next {
  float: right;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-nav-container .prev-next .previous,
.page-nav-container .prev-next .next {
  font-size: 2em;
  line-height: 1.5em;
  float: left;
  width: 18.75%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-nav-container .prev-next .previous {
  text-align: right;
}
.page-nav-container .prev-next .next {
  text-align: left;
}
.page-nav-container .page-num {
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.page-nav-container .page-num span {
  font-size: 1.1em;
}
.page-nav-container .page-num p {
  font-size: 0.8em;
}
/* SINGLE ---------- */
.single-container {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3% 3% 6em;
  *zoom: 1;
}
.single-container:before,
.single-container:after {
  content: "";
  display: table;
}
.single-container:after {
  clear: both;
}
.single-container .item-details {
  font-size: 1em;
}
.single-container .item-details .map {
  height: 80%;
}
.single-thumb-container {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.single-thumb-container .thumbnail {
  border: 1px solid #444;
}
.single-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 3% 0;
  padding: 0 2%;
}
.single-content .description {
  font-style: normal;
}
.single-content .map-container {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin: 0 0 1em 1em;
}
.single-header {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #e1e1e1 solid;
  padding-bottom: 1.5em;
}
.single-header .item-content {
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.single-header ul {
  padding-left: 0.5em;
}
/* DETAILED SINGLE --------- */
.detailed-single .single-header {
  border: none;
}
.detailed-single .single-content {
  margin-top: 0.5em;
  padding: 0;
}
.detail-section {
  display: none;
  min-height: 230px;
  width: 88%;
  float: left;
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f9f9;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2% 4% 4%;
}
.detail-section .map {
  height: 85%;
}
.detail-section#placeDetail,
.detail-section#profile {
  display: block;
}
.detail-section .section-header {
  *zoom: 1;
}
.detail-section .section-header:before,
.detail-section .section-header:after {
  content: "";
  display: table;
}
.detail-section .section-header:after {
  clear: both;
}
.detail-section#placeDetail .item-details {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.detail-section#placeDetail .item-details > li {
  margin-bottom: 0.5em;
}
.detail-section#placeDetail .item-details > li ul {
  margin-left: 1.5em;
  list-style-type: circle;
}
.detail-section .map-container {
  margin: 0 0 1em 1em;
}
/* 11 TAGS ---------- */
.tag-list {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.85em;
  margin: 1% 0 0;
}
.tag-list:before,
.tag-list:after {
  content: "";
  display: table;
}
.tag-list:after {
  clear: both;
}
.tag-list li {
  color: #888;
  float: left;
  margin: 0.1em 0.2em;
  padding: 0.1em 0.2em;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tag-list li:first-child {
  margin-left: 0;
}
.tag-list li a {
  color: #888;
}
.tag-list li a:hover {
  background: #bbb;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tag-list li a:hover a {
  color: #fff;
}
.tag-list li a:active {
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#aaaaaa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #999999, #aaaaaa);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #999999, #aaaaaa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #999999, #aaaaaa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #999999, #aaaaaa);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #999999, #aaaaaa);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  position: relative;
  top: 1px;
  left: 1px;
}
/* TEMPLATE SPECIFICS --------- */
/* Chatter */
#chatter-page .page-header,
#news-page .page-header {
  margin-top: 2em;
}
#chatter-page .page-title-container,
#news-page .page-title-container {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#chatter-page .page-title,
#news-page .page-title {
  margin: 0.3em 0 0;
  font-size: 2em;
  padding-bottom: 0;
}
#chatter-page .page-header-content,
#news-page .page-header-content {
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.5em;
}
#chatter-page .page-header-content .tip,
#news-page .page-header-content .tip {
  font-size: 0.8em;
}
/* Now */
#now-page .page-title {
  font-size: 1.1em;
}
#now-page .page-title #now {
  font-size: 2em;
  text-shadow: 0.05em 0.05em 0.03em #999;
}
#now-page .page-header-content {
  text-align: center;
}
#now-page .short {
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#now-page .short:before,
#now-page .short:after {
  content: "";
  display: table;
}
#now-page .short:after {
  clear: both;
}
#now-page .short:hover .item-content {
  background: #f9f9f9;
}
#now-page .short:active {
  background: #ccc;
}
#now-page .short .item-thumb {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  position: relative;
}
#now-page .short .item-content {
  width: 100%;
  margin: 0;
  padding: 0.5em;
  color: #000 !important;
  text-align: left;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#now-page .short .item-type {
  position: absolute;
  top: -4px;
  right: -4px;
  z-index: 999;
}
#now-page .chatter .feed {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#now-page .item-title a {
  font-size: 1em;
}
#now-page .feed {
  margin: 0;
}
/* Events */
/* Specials */
#grabbitButton {
  padding: 0.5em;
  font-size: 1.5em !important;
}
#special-single .item-thumb {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.7em;
  background: #a9c6e8;
}
#special-single button {
  -webkit-box-shadow: 1px 1px 2px #111111;
  -moz-box-shadow: 1px 1px 2px #111111;
  box-shadow: 1px 1px 2px #111111;
  margin-top: 1em;
  text-align: center;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#special-single button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#specials-page .item-thumb div {
  padding: 0.7em 0.5em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #70a3be;
}
#specials-page .item-thumb div:active {
  top: 0;
  left: 0;
}
#specials-page .item-thumb div img {
  width: 70%;
}
#specials-page .item-thumb {
  border: none;
}
#specials-page .focused {
  background: rgba(169, 198, 232, 0.5);
}
.specials .thumbnail {
  border: none;
}
#events-page .focused {
  background: rgba(143, 211, 111, 0.5);
}
#places-page .focused {
  background: rgba(222, 213, 127, 0.5);
}
.news .item {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  cursor: default;
  border-bottom: 1px solid #e1e1e1;
}
.news .item:hover {
  background: none;
}
.news .item:last-child {
  border: none;
}
.news .item-details {
  font-size: 1em;
}
.news .source {
  color: #000;
}
.news .source:hover {
  color: #b83939;
}
.news .blurb {
  font-style: italic;
  margin-top: 0.5em;
}
/* News */
.news .item {
  cursor: text !important;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.news .item-thumb {
  max-height: 130px;
}
/* Places */
/* Chatter */
#chatter-page .feed,
#chatter-page form {
  padding: 0 10%;
}
.post {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 0.7em;
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #f9f9f9, #e9e9e9);
  /* IE10 */

  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  margin-top: 0.5em;
}
.post > div {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post > div.post-content {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}
.post .avatar-container {
  float: left;
  width: 6.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post img {
  float: left;
  margin-right: 0.5em;
  height: 20px;
  width: 20px;
}
.post .tip {
  font-size: 0.8em;
}
/* Profile */
.no-items {
  padding: 2em 1em 1em;
  font-size: 0.9em;
}
.no-items img {
  float: left;
  margin-right: 2em;
}
.no-items h3 {
  margin: 0;
}
/* Search */
#search-results-page .item {
  cursor: default;
}
.results-type {
  margin-bottom: 1em;
}
.results-type h3 {
  margin-top: 1em;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
}
.results-type li a {
  color: #000;
}
.result {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 0.5em;
}
.see-more-thumbs {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-in;
  *zoom: 1;
}
.see-more-thumbs:before,
.see-more-thumbs:after {
  content: "";
  display: table;
}
.see-more-thumbs:after {
  clear: both;
}
.see-more-thumbs > div {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.see-more-thumbs img {
  float: left;
  width: 50px;
  margin: 0.1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.see-more-thumbs .see-more {
  display: block;
  font-size: 1em;
  float: right;
  width: auto;
  padding: 20px 0 0 0.5em;
}
.none-found {
  margin: 1em 0;
  font-size: 1.3em;
  text-align: center;
}
/* FOOTER ---------- */
#colophon {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#about-nav {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#about-nav ul {
  *zoom: 1;
}
#about-nav ul:before,
#about-nav ul:after {
  content: "";
  display: table;
}
#about-nav ul:after {
  clear: both;
}
#about-nav ul li {
  display: inline;
}
#about-nav ul li .sep {
  color: #999;
  margin: 0 0.5em;
}
/* MAP --------- */
.map-container {
  height: 200px;
}
.map {
  width: 100%;
  height: 100%;
  border: 1px solid #888;
}
.page-content .map-container {
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2em 0 0;
  height: 300px;
  overflow: visible;
}
.directions {
  margin: 0.5em 0;
}
.directions a {
  background: url("/static/img/icons/map-marker-small.png") no-repeat top left;
  color: #444;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 0.5em 0.5em 1.4em;
}
.directions a:hover {
  color: #b83939;
}
.infowindow {
  font-size: 0.8em;
}
.no-map .page-header {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0;
  *zoom: 1;
  border-bottom: 1px solid #e1e1e1;
}
.no-map .page-header:before,
.no-map .page-header:after {
  content: "";
  display: table;
}
.no-map .page-header:after {
  clear: both;
}
.no-map .page-title-container {
  float: left;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-map .page-title {
  border: none;
}
.no-map .page-header-content {
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#map-unavailable {
  background: #cccccc url('/static/img/map-unavailable.png') no-repeat center;
}
/* STATIC PAGES ------------ */
.static-section {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 2em 0 0;
  *zoom: 1;
  font-size: 0.9em;
}
.static-section:before,
.static-section:after {
  content: "";
  display: table;
}
.static-section:after {
  clear: both;
}
.static-section p {
  margin-bottom: 1em;
}
.static-section h2 {
  margin-top: 0;
}
.static-section h3,
.static-section h4 {
  margin: 0;
}
.static-section h3 {
  font-size: 1.3em;
  font-family: 'DroidSerifRegular';
}
.static-section .job-title {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.static-section hgroup {
  margin-bottom: 1em;
}
#team img {
  float: right;
  width: 40%;
  margin: 0 0 1em 1em;
}
#team .static-section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #e1e1e1;
}
#team .static-section:last-child {
  border: none;
}
#about-oakland img,
#scenable-mission img {
  float: right;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 1em 1em 1em;
}
#about-oakland .tip,
#scenable-mission .tip {
  font-style: italic;
  color: #999;
  margin-left: 0;
}
/* jQuery UI --------- */
.grabbit-modal,
.feedback-modal {
  display: none;
}
.grabbit-modal .row-container,
.feedback-modal .row-container {
  margin: 1.5em 0;
}
.grabbit-modal button,
.feedback-modal button {
  width: 45%;
}
.grabbit-modal button:first-child,
.feedback-modal button:first-child {
  margin-right: 5%;
}
.grabbit-modal button:last-child,
.feedback-modal button:last-child {
  margin-left: 5%;
}
.grabbit-modal h5,
.feedback-modal h5 {
  color: #444;
  font-size: 1em;
  font-style: italic;
  margin: 0 0 1em 0;
}
.grabbit-modal textarea,
.feedback-modal textarea {
  height: 150px;
  margin: 1em 0;
}
.ui-dialog {
  background: #fff;
  border: 5px #ded57f solid;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2%;
}
.ui-dialog form {
  margin-top: 0.3em;
}
.ui-dialog label {
  font-size: 0.8em;
  text-transform: none;
}
.ui-dialog input[type="text"] {
  margin-top: 0.3em;
  padding: 0.2em;
  font-size: 0.9em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-dialog .field-container {
  padding-right: 0;
  margin-bottom: 0.5em;
}
.ui-dialog .ui-widget-header {
  background: none;
  border: none;
}
.ui-dialog .ui-widget-content {
  border: none;
  background: none;
}
.ui-dialog .ui-dialog-buttonset {
  *zoom: 1;
}
.ui-dialog .ui-dialog-buttonset:before,
.ui-dialog .ui-dialog-buttonset:after {
  content: "";
  display: table;
}
.ui-dialog .ui-dialog-buttonset:after {
  clear: both;
}
.ui-dialog .tip {
  margin: 0.5em 0;
}
.ui-widget-overlay {
  background: #aaaaaa url('/static/img/textures/white-trans.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .30;
  filter: alpha(opacity=30);
}
.ui-dialog-title {
  border-bottom: 1px #6baa55 solid;
  font-family: 'BloklettersViltstift', 'Lucida Grande', Helvetica, sans-serif;
  font-weight: normal;
  color: #444;
  font-weight: normal;
  font-size: 1em;
  display: block;
  margin: 0 1em 1em 0;
}
.ui-dialog-titlebar-close:hover {
  border: none;
}
.ui-icon-closethick {
  top: 1.5em;
  right: 1.5em;
  height: 1em;
  width: 1em;
  position: absolute;
  text-indent: -9999px;
}
.ui-icon-closethick:hover {
  background-color: #a9c6e8;
}
.ui-dialog-buttonset button {
  margin: 0 3%;
}
/* UTILITY ---------- */
.row-container {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  *zoom: 1;
}
.row-container:before,
.row-container:after {
  content: "";
  display: table;
}
.row-container:after {
  clear: both;
}
.row-container.last {
  margin-top: 1em;
}
.has-special {
  float: right;
  color: red;
  font-style: italic;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left,
.prev {
  float: left;
}
.right,
.next {
  float: right;
}
.third {
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
f.half {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
f.half .item {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
}
.loader {
  display: block;
  margin: 0.5em auto 0;
}
.notification {
  width: 88%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px #ded57f solid;
  margin: 0 6% 2em;
  padding: 3%;
  background: rgba(222, 213, 127, 0.3);
}
.notification h3 {
  font-weight: bold;
  margin-bottom: 1em;
}
.notification img {
  float: left;
  margin-right: 1em;
}
/* ICONS ----------- */
/* 	Stylesheet to define le icons 
*/
/* 	TODO: 
		Sprite sheet
		Background positioning will be added 
*/
/* To be made into sprite sheet */
a {
  /* Single place nav */

  /*	&#placeAtAGlance {
		.icon(photo-magnify);
	}

	&#placeEvents {
		.icon(calendar-alt);
	}

	&#placeSpecials {
		.icon(tag-special);
	}
*/

  /* #scene-nav */

  /*&#siteJobs {
		.icon(suitcase);
	}*/

}
a#siteHot {
  background: #ffffff url('/static/img/main-menu/city.png') no-repeat center 9px;
}
a#sitePlaces {
  background: #ffffff url('/static/img/main-menu/store-front.png') no-repeat center 9px;
}
a#siteEvents {
  background: #ffffff url('/static/img/main-menu/calendar-alt.png') no-repeat center 9px;
}
a#siteSpecials {
  background: #ffffff url('/static/img/main-menu/tag-special.png') no-repeat center 9px;
}
a#siteChatter {
  background: #ffffff url('/static/img/main-menu/speech-bubble.png') no-repeat center 9px;
}
a#siteNews {
  background: #ffffff url('/static/img/main-menu/newspaper.png') no-repeat center 9px;
}
/* Actions */
/*******************************/
/* 18 MEDIA QUERIES ---------- */
/*******************************/
@media screen and (max-width: 1140px) {
  body {
    background-image: url("/static/img/logos/oakland-bkgd-325.png");
  }
  #scene-nav {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media screen and (max-width: 1082px) {
  
}
@media screen and (max-width: 992px) {
  #logo {
    padding-top: 1em;
  }
  .detail-nav {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1em;
  }
  .detail-nav ul {
    *zoom: 1;
  }
  .detail-nav ul:before,
  .detail-nav ul:after {
    content: "";
    display: table;
  }
  .detail-nav ul:after {
    clear: both;
  }
  .detail-nav ul li a {
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.5em 0.5em 0 0;
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    top: 1px;
    text-shadow: 0.05em 0.05em 0em #fff;
    text-align: center;
    font-weight: bold;
    float: left;
  }
  .detail-nav ul li a.current-page {
    border-bottom: none;
    border-right: 1px #ccc solid;
  }
  .detail-nav#profile-nav ul li a {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .detail-section {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .detail-section-title {
    display: none;
  }
  .single-title {
    font-size: 1.5em;
  }
  .single-container {
    padding-left: 0;
    padding-right: 0;
  }
}
/*@media screen and (max-width: 800px){

  .logout, .bar {
    display: none;
  }

  body {
   background-image: none;
  }

  #site-content.single {
    margin-top: 0;
  }

  #utility {
    .row();
    a {
      color: @yellow;
    }
  }

  #site-content {
    .row();
    padding: 0;
    top: 7.5em;
  }

  .feed {
    margin: 0;
    clear: both;
  }

  #site-sidebar {
    display: none;
  }

  #site-content {
    .no-b-shadow;
  }

  #scene-nav {
    top: 2em;
    .main-menu {
      .column_r(9);
    }
  }

  #logo {
    .column(3);
    img {
      //height: 100%;
    }
  }

  .feed {
    .item-details {
      font-size: 0.9em;
    }

    .item-title {
      //font-size: 1.2em;
    }
  }
  
  .field-label, label {
    .row();
    text-align: left;
    margin: 0 0.5em 0.5em;
  }

  .field {
    .row();
  }

  .field-container {
    margin: 1em 0;
  }

  #utility {
    position: absolute;
    bottom: 5.1em;
    background: #444;
    padding: 0.5em;
    border-bottom: 1px solid #888;
    color: #fff;
    .site-search-container {
      .column_r(5);
    }
    .simple-form {
      .row();

      input[type="search"] {
        padding: 0.1em;
        margin: 0;
        .row();
      }

      input[type="submit"] {
        display: none;
      }
    }

    #debug-user {
      .column(7);
      margin: 0;
      text-align: left;
    }
  }

  .item {
    .row();

    &:hover {
      background: #fff;
    }
  }

  .hot-section-title {
    margin: 0;
    .rounded(0);
  }

  .page-content {
    padding-left: 0;
    padding-right: 0;
  }

}


@media screen and (max-width: 720px) {
  #logo img {
    height: auto;
  }

}

// Styles for higher res phones
@media screen and (max-width: 600px) {


  .page-content {
    .feed {
      .item {
        //border-bottom: 1px solid #e1e1e1;
        height: auto;
        .row();
        
        &:last-child {
          border: none;
        }

        .description, .host {
          display: block;
        }
      }
    }
  }

  .single-container {
    padding: 0;
    border: none;
    background: url("/static/img/textures/white-tex.png");
  }

  .single-header {
    padding: 1em 1em 0 1em;
    border: none;
  }

  .single-title {
    line-height: 1;
    font-size: 1.3em;
  }

  .page-header {
    display: none;
  }

  #utility {
    bottom: 4.1em;
  }

  .btn-primary {
    padding: 0.3em;
  }

  .single-content {
    .map-container {  
      height: 100px;
      .row();
      overflow: hidden;
      margin-bottom: 1em;
    }
  }

  .single-content.places {
    .row();
  }

  .main-menu { 
    display: none; 
  }

  #select-sect {
    display: inline-block;
    .column_r(5);
    margin: 1.5em 0.5em 2em;
  }

  .detail-section {
    .row();
    padding: 0.3em;
    //background: none;
    
    .map-container {
      margin: 1em 0;
    }

    .section-title {
      display: none;
    }

    &#placeDetail {
      padding: 0 1em 1em;
      .item-details {
        .row();

        ul {
          li {
            margin: 0;
          }
        }
      }
    }

    .map-container {
      height: 100px;
    }
  }

  #scene-nav {
    border: none;
  }

  .item-title {
    //line-height: 1.2em;
    font-size: 1em;
    a {
      
      //font-family: 'DroidSerifItalic', Georgia, serif;
      
      }
    }

  #logo {
    padding-top: 0.7em;
    .column_nm(5);
    margin-left: 0.5em;

    img {
      width: auto;
      height: 80%;
    }
  }

  .filter {
    display: none;
  }

  #site-content {
    //background: none;
    top: 6.5em;
    padding: 0;
  } 

  .map-container.hot {
    height: 150px;
    overflow: hidden;
  }

  #scene-nav {
    height: 4.5em;
  }
}

// Styles for phones
@media only screen and (max-width: 480px) {

  .single-title {
    font-size: 1em;
    text-shadow: none;
  }

  .item-details, .item-title {
    font-size: 0.9em;
  }

  .page-content .map-container {
    height: 200px;
  }

}

@media only screen and (max-width: 320px) {

    .page-content .map-container {
      height: 150px;
    }

}
*/
