/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* Responsive Images + alt text style */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  color: #999;
  font-style: italic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* 1 ROOT ---------- */
body {
  background: #e1e1e1 url("/static/img/logos/oakland-bkgd-450.png") fixed bottom right no-repeat;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden;
}
/* TYPOGRAPHY -------- */
h1 {
  font-weight: normal;
}
h2 {
  font-size: 1.2em;
  padding-bottom: 0.1em;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
}
p {
  color: #222;
  margin: 0.1em 0;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
a {
  color: #b83939;
}
a:hover {
  color: #238b49;
}
a:active {
  color: #2c525d;
}
a:visited {
  color: #4b7699;
}
.meta {
  font-size: 0.9em;
}
.description {
  margin-top: 0.3em;
  font-style: italic;
  font-size: 0.9em;
}
.host {
  color: #b83939 !important;
  font-weight: bold;
}
.host:hover {
  color: #238b49 !important;
}
.points {
  font-family: 'KomikaTitleRegular', Impact, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 #ded57f;
}
/* HEADINGS --------- */
#site-title {
  margin-top: 20px;
  padding: 0 0 15px 15px;
  text-align: center;
}
#site-title a {
  color: #fff;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:active {
  text-shadow: 0 0.03em 0.05em #000;
}
#site-title a:visited {
  color: #fff;
}
.hot-section-title {
  color: #000;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f9f9f9));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* IE10 */

  background-image: -o-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #f1f1f1, #f9f9f9);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  margin: 0 0 1em;
  padding: 0.5em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0.1em 0.1em 0.04em #fff;
}
.feed-title,
.single-title,
.page-title {
  color: #333;
  font-family: 'BloklettersViltstift', 'Lucida Grande', Helvetica, sans-serif;
  text-shadow: 0.03em 0.03em 0.03em #e1e1e1;
  margin: 0;
}
.page-title {
  border-bottom: 1px #ccc solid;
  font-size: 1.5em;
  margin: 1em 0.5em 2em;
  padding-bottom: 0.5em;
}
.single-title {
  font-size: 1.5em;
  margin-top: 0.3em;
  padding-left: 0.3em;
}
.detail-section-title {
  border-bottom: 1px #999 solid;
  padding: 0 0 0.2em;
  margin: 0 0 1em;
}
.sidebar-title {
  font-family: 'BloklettersViltstift', 'Lucida Grande', Helvetica, sans-serif;
  -webkit-box-shadow: 0.05em 0.05em 0.1em #444444;
  -moz-box-shadow: 0.05em 0.05em 0.1em #444444;
  box-shadow: 0.05em 0.05em 0.1em #444444;
  color: #fff;
  font-weight: normal;
  background-color: #8fd36f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8fd36f), to(#6baa55));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #8fd36f, #6baa55);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #8fd36f, #6baa55);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #8fd36f, #6baa55);
  /* IE10 */

  background-image: -o-linear-gradient(top, #8fd36f, #6baa55);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #8fd36f, #6baa55);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  padding: 0.6em 0.5em 0.5em 2.5em;
  position: relative;
  right: 1.7em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0.05em 0.05em 0.1em #222;
  width: 96%;
}
.widget-title {
  border-bottom: 1px solid #e1e1e1;
  font-family: 'DroidSerifItalic', 'Gerogia', serif;
  margin: 0.5em 0;
  text-shadow: 0.01em 0.01em 0.03em #999;
}
/* FORMS & INPUTS --------------- */
::-webkit-input-placeholder {
  color: #AAAAAA;
}
:-moz-placeholder {
  color: #AAAAAA;
}
form {
  margin: 0 auto 1em;
  max-width: 600px;
  *zoom: 1;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
label {
  font-size: 0.9em;
  display: block;
  line-height: 1.2em;
  text-align: right;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px solid #999;
  font-size: 1em;
  width: 93%;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.35em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
button,
input[type="submit"],
.btn {
  border: none;
  -webkit-box-shadow: 0 0 0.05em #000000;
  -moz-box-shadow: 0 0 0.05em #000000;
  box-shadow: 0 0 0.05em #000000;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #6baa55;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6baa55), to(#238b49));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #6baa55, #238b49);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #6baa55, #238b49);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #6baa55, #238b49);
  /* IE10 */

  background-image: -o-linear-gradient(top, #6baa55, #238b49);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #6baa55, #238b49);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  padding: 0.5em;
  position: relative;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 0 0.03em #000;
}
button:hover,
input[type="submit"]:hover,
.btn:hover {
  background: #238b49;
}
button:active,
input[type="submit"]:active,
.btn:active {
  background: #00782d;
  top: 1px;
  left: 1px;
}
button#redeem-button,
input[type="submit"]#redeem-button,
.btn#redeem-button {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  padding: 5%;
}
.choice-container {
  padding-left: 1em;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.choice-container label {
  padding: 0 0 0.5em 0.5em;
  font-weight: bold;
  font-size: 0.8em;
}
.choice-container.other {
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.choice-container.other input[type="text"] {
  display: block;
  width: 70%;
}
fieldset > ul {
  *zoom: 1;
}
fieldset > ul:before,
fieldset > ul:after {
  content: "";
  display: table;
}
fieldset > ul:after {
  clear: both;
}
legend {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1em;
  padding: 0.5em;
}
.simple-form input[type="text"],
.simple-form input[type="search"] {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.simple-form input[type="submit"] {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.site-search-container {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
.field-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-right: 2em;
  margin-bottom: 2em;
  position: relative;
}
.field-container:before,
.field-container:after {
  content: "";
  display: table;
}
.field-container:after {
  clear: both;
}
.field-container.last {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}
.field-label {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.field {
  float: right;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Manage Account */
.grouped-field-row {
  padding-right: 2%;
}
.grouped-field-row > div {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grouped-field-row > div:first-child {
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grouped-field-row > div:last-child {
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-input {
  *zoom: 1;
}
.social-input:before,
.social-input:after {
  content: "";
  display: table;
}
.social-input:after {
  clear: both;
}
.social-input img {
  float: left;
  width: 8.75%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 30px;
}
.social-input input {
  float: left;
  width: 87.08333333333333%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tip,
.errorlist {
  color: #555;
  font-size: 0.8em;
  display: block;
  margin-left: 2%;
}
.tip.desc,
.errorlist.desc {
  margin-top: 2%;
}
.tip.public,
.errorlist.public {
  margin-top: 0.3em;
  *zoom: 1;
}
.tip.public:before,
.errorlist.public:before,
.tip.public:after,
.errorlist.public:after {
  content: "";
  display: table;
}
.tip.public:after,
.errorlist.public:after {
  clear: both;
}
.tip.public label,
.errorlist.public label {
  float: left;
  margin-left: 0.5em;
  text-transform: none;
}
.tip.public input[type="checkbox"],
.errorlist.public input[type="checkbox"] {
  float: left;
}
.tip label,
.errorlist label {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.8em;
  text-transform: none;
}
.errorlist {
  color: #C34327;
  font-style: italic;
  float: left;
  margin-top: 0.5em;
}
.fav-container a {
  display: block;
  color: #444;
  font-size: 0.8em;
  margin-top: 0.5em;
  padding: 0.1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
.fav-container a:hover {
  color: #6baa55;
}
.fav-container a:active {
  color: #2c525d;
}
.fav-container .status {
  font-size: 1.2em;
  margin-right: 0.2em;
}
.fav-container .remove .status {
  color: #444;
}
.fav-container .add .status {
  color: #4b7699;
}
#sidebar-feedback .field-label {
  text-align: left;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.5em 0 0.5em 0.1em;
}
#sidebar-feedback .field {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar-feedback textarea {
  font-size: 0.9em;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
#sidebar-feedback textarea {
  height: 6em;
}
#sidebar-feedback input[type="submit"] {
  float: right;
  margin-top: 0.5em;
}
/* HEADER ------------- */
#logo {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  max-width: 150px;
  min-width: 100px;
}
#select-sect {
  display: none;
}
#scene-nav {
  background: #444;
  background-color: #777777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #777777, #444444);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #777777, #444444);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #777777, #444444);
  /* IE10 */

  background-image: -o-linear-gradient(top, #777777, #444444);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #777777, #444444);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0em 0.1em 0.2em #000000;
  -moz-box-shadow: 0em 0.1em 0.2em #000000;
  box-shadow: 0em 0.1em 0.2em #000000;
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 5.5em;
  max-width: 1140px;
  z-index: 999;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
}
#scene-nav .main-menu {
  *zoom: 1;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#scene-nav .main-menu:before,
#scene-nav .main-menu:after {
  content: "";
  display: table;
}
#scene-nav .main-menu:after {
  clear: both;
}
#scene-nav .main-menu li a {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 0.75em;
  height: 5em;
  margin-top: 1em;
  position: relative;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  behavior: url("/static//PIE.htc");
}
#scene-nav .main-menu li a.current-page {
  background-color: #8fd36f;
}
#scene-nav .main-menu li a.current-page:hover {
  background-color: #8fd36f;
}
#scene-nav .main-menu li a .container {
  position: absolute;
  left: 50%;
  bottom: 0.3em;
}
#scene-nav .main-menu li a .container .menu-item {
  position: relative;
  left: -50%;
}
#scene-nav .main-menu li a:hover {
  background-color: #ccc;
}
#scene-nav .main-menu li a:active {
  background-color: #6baa55;
}
#utility {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0;
}
#utility #debug-user {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1em;
  text-align: right;
  color: #e1e1e1;
}
#utility #debug-user a {
  color: #ded57f;
}
#utility #debug-user a:hover {
  color: #8fd36f;
}
/* 4 CONTENT ---------- */
.wrap {
  *zoom: 1;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}
.wrap:before,
.wrap:after {
  content: "";
  display: table;
}
.wrap:after {
  clear: both;
}
#site-content {
  background: #ffffff;
  -webkit-box-shadow: 0.1em 0.1em 0.3em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.3em #444444;
  box-shadow: 0.1em 0.1em 0.3em #444444;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1.5em;
  position: relative;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: 5.5em;
  z-index: 1;
}
#site-footer {
  margin: 8em 2em 1em;
}
/* SIDEBAR ---------- */
#site-sidebar {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: url("/static/img/textures/white-trans.png");
  -webkit-box-shadow: 0.1em 0.1em 0.3em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.3em #444444;
  box-shadow: 0.1em 0.1em 0.3em #444444;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 5em;
  right: 0;
  z-index: 0;
  padding: 1em 0 1em 1.5em;
}
#site-sidebar img {
  width: 100%;
  height: auto;
}
#site-sidebar #get-in-touch img {
  width: auto;
}
.widget {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  margin: 0;
}
.widget p,
.widget ul li {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.widget ul {
  margin-left: 1em;
}
.widget ul li {
  list-style-type: disc;
  padding: 0.4em;
}
/* FEED/ITEMS ---------- */
.feed-header {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  border-bottom: 1px solid #e1e1e1;
  margin: 1em 0;
  padding: 1% 2%;
}
.feed-header:before,
.feed-header:after {
  content: "";
  display: table;
}
.feed-header:after {
  clear: both;
}
.feed-header input[type="text"] {
  float: right;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-header .feed-title {
  float: left;
  font-size: 1.8em;
}
.feed-header .filter {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-header .filter input[type="search"] {
  float: left;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-header .filter input[type="submit"] {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-content {
  padding: 0 1em 1em;
}
.feed-content .item {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-content .map-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 300px;
  overflow: hidden;
}
.feed-content .feed {
  *zoom: 1;
}
.feed-content .feed:before,
.feed-content .feed:after {
  content: "";
  display: table;
}
.feed-content .feed:after {
  clear: both;
}
.item {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  list-style-type: none;
  margin: 1% 0;
  padding: 2% 1% 3%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f9f9;
  position: relative;
}
.item:before,
.item:after {
  content: "";
  display: table;
}
.item:after {
  clear: both;
}
.item:last-child {
  border-bottom: none;
}
.item a {
  color: #000;
}
.item-title {
  margin: 0;
}
.item-title a {
  text-shadow: 0 0 0.01em #999;
  font-size: 1em;
}
.item-title a:hover {
  color: #b83939;
}
.item-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.item-actions img {
  cursor: pointer;
}
.feed .item-thumb {
  float: left;
  width: 20.833333333333336%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  border: 1px solid #444;
}
.item-content {
  float: left;
  width: 75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2%;
  position: relative;
  overflow: hidden;
}
.item-details {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.item-details:before,
.item-details:after {
  content: "";
  display: table;
}
.item-details:after {
  clear: both;
}
.thumbnail {
  width: 100%;
  height: auto;
}
.social-container {
  margin: 0.5em 0 0 0.5em;
}
/* 10 NAVIGATION ---------- */
.detail-nav {
  float: left;
  margin-top: 2.5em;
  width: 12%;
}
.detail-nav ul li a {
  background: #444;
  color: #fff;
  cursor: pointer;
  display: block;
  -webkit-border-radius: 0.5em 0 0 0.5em;
  -moz-border-radius: 0.5em 0 0 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0.5em 0;
  padding: 0.6em 0.6em 0.6em 0.4em;
}
.detail-nav ul li a.current-page {
  background-color: #f9f9f9;
  color: #000;
  font-weight: bold;
  border: 1px solid #ccc;
  border-right: none;
}
.detail-nav ul li a.current-page:hover {
  background-color: #f9f9f9;
}
.detail-nav ul li a:hover {
  background: #8fd36f;
}
.detail-nav ul li a:active {
  background: #ded57f;
}
/*#date-nav-left, #date-nav-right {
  background: url("../img_store/date-nav.png");
  height: 19px;
  width: 19px;
}

#date-nav-left {
  float: left;
}

#date-nav-right {
  background-position: -17px -17px;
  float: right;
}*/
/* SINGLE ---------- */
.single-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
  *zoom: 1;
}
.single-container:before,
.single-container:after {
  content: "";
  display: table;
}
.single-container:after {
  clear: both;
}
.single-thumb-container {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.single-thumb-container .thumbnail {
  border: 1px solid #444;
}
.single-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 3% 0;
  padding: 0 2%;
}
.single-content .description {
  font-style: normal;
}
.single-content .map-container {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin: 0 0 1em 1em;
}
.single-header {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #e1e1e1 solid;
  padding-bottom: 1.5em;
  /*
  .thumbnail {
    height: 170px;
    width: 170px;
  }*/

}
.single-header .item-content {
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.single-header ul {
  padding-left: 0.5em;
}
/* DETAILED SINGLE --------- */
.detailed-single .single-header {
  border: none;
}
.detailed-single .single-content {
  margin-top: 0.5em;
  padding: 0;
}
.detail-section {
  display: none;
  width: 88%;
  float: left;
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f9f9;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2% 4% 4%;
}
.detail-section#placeDetail,
.detail-section#profile {
  display: block;
}
.detail-section .section-header {
  *zoom: 1;
}
.detail-section .section-header:before,
.detail-section .section-header:after {
  content: "";
  display: table;
}
.detail-section .section-header:after {
  clear: both;
}
.detail-section#placeDetail .item-details {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.3em;
}
.detail-section#placeDetail .item-details li {
  margin-bottom: 0.5em;
}
.detail-section .map-container {
  margin: 0 0 0 1em;
}
/* 11 TAGS ---------- */
.tag-list {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.8em;
  margin: 1% 0 0;
}
.tag-list:before,
.tag-list:after {
  content: "";
  display: table;
}
.tag-list:after {
  clear: both;
}
.tag-list li {
  color: #888;
  float: left;
  margin: 0.1em 0.2em;
  padding: 0.1em 0.2em;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tag-list li:first-child {
  margin-left: 0;
}
.tag-list li a {
  color: #888;
}
.tag-list li:hover {
  background: #bbb;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tag-list li:hover a {
  color: #fff;
}
.tag-list li:active {
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#aaaaaa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #999999, #aaaaaa);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #999999, #aaaaaa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #999999, #aaaaaa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #999999, #aaaaaa);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #999999, #aaaaaa);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  position: relative;
  top: 1px;
  left: 1px;
}
/* TEMPLATE SPECIFICS --------- */
/* Hot */
.hot {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot .feed {
  margin-left: 0;
  margin-right: 0;
}
.hot.news {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot.events,
.hot.chatter {
  float: right;
}
.hot.events .item-details {
  font-size: 0.9em;
}
.hot.map-container {
  float: left;
  height: 300px;
}
.hot .item-title a {
  font-size: 1em;
}
/* Specials */
.specials .item-thumb,
#special-single .item-thumb {
  border: none;
}
.btn-primary {
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
}
.btn-primary img {
  display: block;
  margin: 0.5em auto;
  width: 90%;
}
#special-single .btn-primary {
  -webkit-box-shadow: 1px 1px 2px #111111;
  -moz-box-shadow: 1px 1px 2px #111111;
  box-shadow: 1px 1px 2px #111111;
}
#special-single .btn-primary:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.feed.specials {
  /* Need to consolidate this after we know the links for grabbit buttons */

}
.feed.specials .btn-primary {
  padding: 0.1em;
  background: #ded57f;
}
.feed.specials .btn-primary:active {
  top: 0;
  left: 0;
}
.feed.specials .btn-primary img {
  width: 70%;
}
/*.specials {

  .btn-primary {
    .gradient(#999, #777);
    &:hover {
      .gradient(#888, #666);
    }

    &:active {
      background: #555;
    }
  }
}
*/
/* News */
.feed.news .item-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Places */
/* Chatter */
.post-form {
  /*input[type="submit"] {
    .column(2);
    background: @mgreen;
    color: #fff;
    font-weight: bold;
    .b-shadow(0.1em, 0.1em, 0.3em, #000);
  }*/

}
.post-form input[type="text"] {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.chatter {
  padding: 0 0.5em;
}
.chatter li {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px #8fd36f solid;
  padding: 0.7em;
  margin-top: 0.5em;
  font-size: 0.9em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #000000;
  -moz-box-shadow: 0.1em 0.1em 0.1em #000000;
  box-shadow: 0.1em 0.1em 0.1em #000000;
}
.chatter li img {
  float: left;
  margin-right: 1em;
}
.chatter li .meta {
  color: #999;
  font-size: 0.8em;
  padding-top: 0.3em;
}
/* UTILITY ---------- */
.map-container {
  height: 200px;
  border: 1px solid #888;
}
.row-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  *zoom: 1;
}
.row-container:before,
.row-container:after {
  content: "";
  display: table;
}
.row-container:after {
  clear: both;
}
.row-container.last {
  margin-top: 1em;
}
.has-special {
  float: right;
  color: red;
  font-style: italic;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left,
.back {
  float: left;
}
.right,
.next {
  float: right;
}
.third {
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* FOOTER ---------- */
#colophon {
  float: left;
  width: 96.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 1%;
  text-align: right;
}
#colophon a {
  color: #2c525d;
  font-weight: bold;
}
#colophon a:hover {
  color: #b83939;
}
/* ICONS ----------- */
/* 	Stylesheet to define le icons 
*/
/* 	TODO: 
		Sprite sheet
		Background positioning will be added 
*/
/* To be made into sprite sheet */
a {
  /* Single place nav */

  /*	&#placeAtAGlance {
		.icon(photo-magnify);
	}

	&#placeEvents {
		.icon(calendar-alt);
	}

	&#placeSpecials {
		.icon(tag-special);
	}
*/

  /* #scene-nav */

  /*&#siteJobs {
		.icon(suitcase);
	}*/

}
a#siteHot {
  background: #ffffff url('/static/img/main-menu/city.png') no-repeat center 9px;
}
a#sitePlaces {
  background: #ffffff url('/static/img/main-menu/store-front.png') no-repeat center 9px;
}
a#siteEvents {
  background: #ffffff url('/static/img/main-menu/calendar-alt.png') no-repeat center 9px;
}
a#siteSpecials {
  background: #ffffff url('/static/img/main-menu/tag-special.png') no-repeat center 9px;
}
a#siteChatter {
  background: #ffffff url('/static/img/main-menu/speech-bubble.png') no-repeat center 9px;
}
a#siteNews {
  background: #ffffff url('/static/img/main-menu/newspaper.png') no-repeat center 9px;
}
/* Actions */
/* MEDIA QUERIES --------- */
/*******************************//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
/* 18 MEDIA QUERIES ---------- *//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
@media screen and (max-width: 1140px) {
  body {
    background-image: url("/static/img/logos/oakland-bkgd-325.png");
  }
  #scene-nav {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media screen and (max-width: 1082px) {
  
}
@media screen and (max-width: 992px) {
  #logo {
    padding-top: 1em;
  }
  #logo {
    float: left;
    width: 14.583333333333334%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo img {
    width: 100%;
  }
  .detail-nav {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1em;
  }
  .detail-nav ul {
    *zoom: 1;
  }
  .detail-nav ul:before,
  .detail-nav ul:after {
    content: "";
    display: table;
  }
  .detail-nav ul:after {
    clear: both;
  }
  .detail-nav ul li a {
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.5em 0.5em 0 0;
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    top: 1px;
    text-shadow: 0.05em 0.05em 0em #fff;
    text-align: center;
    font-weight: bold;
    float: left;
  }
  .detail-nav ul li a.current-page {
    border-bottom: none;
    border-right: 1px #ccc solid;
  }
  .detail-nav#profile-nav ul li a {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .detail-section {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .detail-section-title {
    display: none;
  }
  .single-title {
    font-size: 1.5em;
  }
  .field-label,
  #birth-year-label label {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    margin: 0 0.5em 0.5em;
  }
  .field,
  #gender,
  #birth-year {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #gender {
    margin-bottom: 1em;
  }
  .field-container {
    margin: 1em 0;
  }
  .hot {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hot.events,
  .hot.chatter {
    float: right;
  }
  .hot.map-container {
    height: 200px;
  }
  .map-container.feed-page,
  .map-container.hot {
    height: 200px;
  }
  .item-title a {
    font-size: 1em;
  }
}
@media screen and (max-width: 864px) {
  .feed.places .description,
  .feed.events .description {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .logout,
  .bar {
    display: none;
  }
  body {
    background-image: none;
  }
  #site-content.single {
    margin-top: 0;
  }
  #utility {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #utility a {
    color: #ded57f;
  }
  #site-content {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    top: 7.5em;
  }
  .feed {
    margin: 0 0;
    clear: both;
  }
  .feed-header {
    padding-top: 0.7em;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #site-sidebar {
    display: none;
  }
  #site-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #scene-nav {
    top: 2em;
  }
  #scene-nav .main-menu {
    float: right;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-details {
    font-size: 0.9em;
  }
  .item-title {
    font-size: 1.2em;
  }
  #utility {
    position: absolute;
    bottom: 5.1em;
    background: #444;
    padding: 0.5em;
    border-bottom: 1px solid #888;
    color: #fff;
  }
  #utility .site-search-container {
    float: right;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #utility .simple-form {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #utility .simple-form input[type="search"] {
    padding: 0.1em;
    margin: 0;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #utility .simple-form input[type="submit"] {
    display: none;
  }
  #utility #debug-user {
    float: left;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
  }
  .item {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px #6baa55 solid;
    border-bottom: 0;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #444444;
    -moz-box-shadow: 0.1em 0.1em 0.1em #444444;
    box-shadow: 0.1em 0.1em 0.1em #444444;
    margin: 0;
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ffffff));
    /* Saf4+, Chrome */
  
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
  
    background-image: -moz-linear-gradient(top, #f9f9f9, #ffffff);
    /* FF3.6 */
  
    background-image: -ms-linear-gradient(top, #f9f9f9, #ffffff);
    /* IE10 */
  
    background-image: -o-linear-gradient(top, #f9f9f9, #ffffff);
    /* Opera 11.10+ */
  
    background-image: linear-gradient(top, #f9f9f9, #ffffff);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */
  
  }
  .item:last-child {
    border-bottom: 4px #6baa55 solid;
  }
  .item:hover {
    background: #fff;
  }
  .hot-section-title {
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .feed-content {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  #logo img {
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .single-container {
    padding: 0;
    border: none;
    background: url("/static/img/textures/white-tex.png");
  }
  .single-header {
    padding: 1em 1em 0 1em;
    border: none;
  }
  .single-title {
    line-height: 1;
    font-size: 1.3em;
  }
  .feed-header {
    display: none;
  }
  #utility {
    bottom: 4.1em;
  }
  .btn-primary {
    padding: 0.3em;
  }
  .single-content .map-container {
    height: 100px;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1em;
  }
  .single-content.places {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-menu {
    display: none;
  }
  #select-sect {
    display: inline-block;
    float: right;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.5em 0.5em 2em;
  }
  .detail-section {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.3em;
  }
  .detail-section .map-container {
    margin: 1em 0;
  }
  .detail-section .section-title {
    display: none;
  }
  .detail-section#placeDetail {
    padding: 0 1em 1em;
  }
  .detail-section#placeDetail .item-details {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .detail-section#placeDetail .item-details ul li {
    margin: 0;
  }
  .detail-section .map-container {
    height: 100px;
  }
  #scene-nav {
    border: none;
  }
  .item-title {
    font-size: 1em;
  }
  #logo {
    padding-top: 0.7em;
    float: left;
    width: 39.58333333333333%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.5em;
  }
  #logo img {
    width: auto;
    height: 80%;
  }
  .filter {
    display: none;
  }
  #site-content {
    background: none;
    top: 6.5em;
    padding: 0;
  }
  .map-container.hot {
    height: 150px;
    overflow: hidden;
  }
  #scene-nav {
    height: 4.5em;
  }
}
@media only screen and (max-width: 480px) {
  .single-title {
    font-size: 1em;
    text-shadow: none;
  }
  .item-details,
  .item-title {
    font-size: 0.9em;
  }
  .feed-content .map-container {
    height: 200px;
  }
}
@media only screen and (max-width: 320px) {
  .feed-content .map-container {
    height: 150px;
  }
}
