@import "../LESS/helpers";
@import "../LESS/normalize";

/* 1 ROOT ---------- */

body {
  background: #e1e1e1 url("@{static_url}img/logos/oakland-bkgd-450.png")
              fixed 
              bottom right 
              no-repeat;
  .lucida();
  overflow-x: hidden;
}

/* TYPOGRAPHY -------- */

h1 {
  font-weight: normal;
  .blok();
  margin: 0;
}

h2 {
  font-size: 1.2em;
  //font-weight: normal;
  padding-bottom: 0.1em;  
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
}

p {
  color: #222;
  font-size: 0.9em;
  margin: 0.1em 0;
}

ul li {
  font-size: 0.9em;
}

a {
  color: @red;

  &:hover {
    color: #999;
  }

  &:active {
    color: @teal;
  }
}

blockquote {
  background: url('@{static_url}img/icons/quote.png') no-repeat top left;
  padding-left: 2.5em;
  font-family: 'DroidSerifItalic', Gerogia;
  font-size: 1.3em;
  margin: 2em 0;
}

.meta {
  font-size: 0.9em;
}

.description {
  margin-top: 0.3em;
  font-style: italic;
  font-size: 0.9em;
}

.host {
    display: none;

    a {
      font-weight: bold;
    }
}

.points {
  font-family: 'KomikaTitleRegular', Impact, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 @yellow;
}

/* HEADINGS --------- */

#site-title {
  margin-top: 20px;
  padding: 0 0 15px 15px;
  text-align: center;
  
  a {
    color: #fff;
  
    &:hover {
      color: #fff;
        text-shadow: 0.05em 0.05em 0 #222;
    }

    &:active {
      text-shadow: 0 0.03em 0.05em #000;
    }
 
    &:visited {
      color: #fff;
    }
  }
}

.now-section-title {
  color: #000;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  .gradient(#f1f1f1, #f9f9f9);
  margin: 0 0 1em;
  padding: 0.5em;
  .rounded(0.3em);
  text-shadow: 0.1em 0.1em 0.04em #fff;
}

.page-title {
  font-size: 1.5em;
  margin: 0;
  padding-left: 0.5em;
}

.single-title {
  border-bottom: 1px #ccc solid;
  color: #333;
  font-size: 1.2em;
  margin: 0.3em 0;
  padding: 0 0 0.3em 0.3em;
  text-shadow: 0.03em 0.03em 0.03em #e1e1e1;
}

.detail-section-title {
  border-bottom: 1px #999 solid;
  padding: 0 0 0.2em;
  margin: 0 0 1em;
}

.sidebar-title, .page-title-container {
  .blok();
  .b-shadow(0.05em, 0.05em, 0.1em, #444);
  color: #fff;
  font-weight: normal;
  .gradient(@lgreen, @mgreen);
  .rounded(0.2em);
  text-shadow: 0.05em 0.05em 0.1em #222;
}

.sidebar-title {
  padding: 0.6em 0.5em 0.5em 2.5em;
  position: relative;
  right: 1.7em;
  width: 96%;
}

.widget-title {
  border-bottom: 1px solid #e1e1e1;
  font-family: 'DroidSerifItalic', 'Gerogia', serif;
  margin: 0.5em 0;
  text-shadow: 0.01em 0.01em 0.03em #999;
}

/* FORMS & INPUTS --------------- */

::-webkit-input-placeholder {
   color: #AAAAAA;
}

:-moz-placeholder {
   color: #AAAAAA;
}

form {
  margin: 0 auto 1em;
  .clearfix;
}

label {
  font-size: 0.9em;
  display: block;
  line-height: 1.2em;
  text-align: right;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea {
  border: 1px solid #999;
  font-size: 1em;
  width: 93%;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.35em;
  .rounded(0.3em);
  
  &:focus {
    background: #fff;
    .b-shadow(0, 0, 0.2em, #2C525D);
  }
}

button, input[type="submit"], .btn {
  border: none;
  .b-shadow(0, 0, 0.05em, #000);
  color: #fff !important;
  font-size: 0.9em;
  font-weight: bold;
  .gradient(@mgreen, @dgreen);
  padding: 0.5em;
  position: relative;
  .rounded(0.5em);
  text-shadow: 0 0 0.03em #000;

  &:hover {
    background: @dgreen;
  }

  &:active {
    background: @ddgreen;
    top: 1px;
    left: 1px;
  }

  &#redeem-button {
    .column(12);
    font-size: 2em;
    padding: 5%;
  }

}

.choice-container {
  padding-left: 1em;
  .row();
  .clearfix;

  input {
    float: left;
    margin-top: 0.1em;
  }

  label {
    padding: 0 0 0.5em 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    float: left;
  }

  &.other {
    margin-top: 0.5em;
    padding-left: 0.5em;
    input[type="text"] {
      display: block;
      width: 70%;
    }
  }
}

fieldset {
  &>ul {
    .clearfix();
  }

  &>.tip {
    margin-bottom: 2em;
  }
}

legend {
  .column_nm(12);
  font-weight: bold;
  //.gradient(@lblue, #f9f9f9);
  font-size: 1.2em;
  margin: 0;
  padding: 0.5em;
}

.simple-form {
  input[type="text"], input[type="search"] {
    .column(10);
  }
  input[type="submit"] {
    .column(2);
  }
}

.site-search-container {
  .column(12);
  margin-top: 1em;
}

.field-container {
  .row();
  .clearfix();
  padding-right: 2em;
  margin-bottom: 2em;
  position: relative;
  
  &.last {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2em;
  }
}

.field-label {
  .column(3);
  text-align: right;
}

.field {
  .column_r(9);
}

/* Manage Account */
.grouped-field-row {
  padding-right: 2%;
  &>div {  
    .column(3); 
    &:first-child {
      .column(4.5);   
    }
    &:last-child {
      .column(4.5);
    }
    select {
      width: 94%;
      margin-left: 6%;

    }
  }
}

.social-input {
  .clearfix();
  img {
    .column(1.3);
    max-width: 30px;
  }
  input {
    .column(10.7);
  }
}

.tip, .errorlist {
  color: #555;
  font-size: 0.8em;
  display: block;

  &.desc {
    margin-top: 2%;
  }

  &.public {
    margin-top: 0.3em;
    .clearfix;

    label {
      float: left;
      margin-left: 0.5em;
      text-transform: none;
    }

    input[type="checkbox"] {
      float: left;
    }
  }

  label {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.8em;
    text-transform: none;
  }

  margin-left: 2%;
}

.errorlist {
  color: #C34327;
  font-style: italic;
  float: left;
  margin-top: 0.5em;
}

.fav-container {

  a {
    display: block;
    color: #444;
    //background: #f9f9f9;
    //border: 1px solid #ccc;
    font-size: 0.8em;
    margin-top: 0.5em;
    padding: 0.1em;
    .rounded(0.4em);
    text-align: center;
  
    &:hover {
      color: @red;
      //border: 1px solid #999;
    }

    &:active {
      color: @teal;
    }
  }

  .status {
    font-size: 1.9em;
    margin-right: 0.2em;
  }

  .remove .status {
    color: #444;
  }

  .add .status {
    color: @dblue;
  }
}

#sidebar-feedback {

  label {
    text-align: left;
  }

  .field-label {
    text-align: left;
    .row();
    margin: 1.5em 0 0.5em 0.1em;
  }

  .field {
    .row();
  }

  textarea {
    font-size: 0.9em;
    .row();
    background: #fff;
  }

  textarea {
    height: 6em;
  }

  input[type="submit"] {
    float: right;
    margin-top: 0.5em;
  }
}

/* HEADER ------------- */

#logo {
  .column(2);
  height: 100%;
  max-width: 150px;
  min-width: 100px;
}

#select-sect {
  display: none;
}

#scene-nav {
  background: #444;
  .gradient(#777, #444);
  .b-shadow(0em, 0.1em, 0.2em, #000);
  .fixed();
  height: 5.5em;
  max-width: 1140px;
  z-index: 999;
  -webkit-border-radius: 0 0 0.5em 0.5em; 
   -moz-border-radius: 0 0 0.5em 0.5em; 
        border-radius: 0 0 0.5em 0.5em;

  .main-menu {
    .clearfix;
    .column(6);
    
    li { 
      a {
        .column(2);
        color: #000;
        .ease-out(background-color);
        font-size: 0.85em;
        height: 5em;
        margin-top: 1em;
        position: relative;
        .rounded(0.2em);
        
        &.current-page {
          background-color: @lgreen;

          &:hover {
            background-color: @lgreen;
          }
        }

        .container {
          position: absolute; 
          left: 50%;  
          bottom: 0.3em;

          .menu-item {
            position: relative; left: -50%;
          }
        }

        &:hover {
          background-color: @yellow;
        }
  
        &:active {
          background-color: @mgreen;
        }
      }
    }
  } 
}

#utility {
  .column_r(4);
  padding: 0.5em 0;

  #debug-user {
    .column_nm(12);
    padding-right: 1em;
    text-align: right;
    color: #e1e1e1;
    a {
      color: @yellow;

      &:hover {
        color: @lgreen;
      }
    }
  }
}

/* 4 CONTENT ---------- */

.wrap {
  .clearfix;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

#site-content {
  background: fade(#fff, 100%);
  .b-shadow(0.1em, 0.1em, 0.3em, #444);
  .column(8);
  margin-bottom: 3em;
  padding: 1em 1.5em;
  position: relative;
  .rounded(0.5em);
  top: 5.5em;
  z-index: 1;
}

#site-footer {
  background: url("@{static_url}img/textures/white-trans.png");
  .row();
  margin-top: 11.5em;
  padding: 0.5em;
  font-size: 0.9em;
  .clearfix();
  text-align: center;
}

/* SIDEBAR ---------- */

#site-sidebar {
  .rounded(0.5em);
  background: url("@{static_url}img/textures/white-trans.png");
  .b-shadow(0.1em, 0.1em, 0.3em, #444);
  .column(4.5);
  position: absolute;
  top: 5em;
  right: 0;
  z-index: 0;
  padding: 1em 0 1em 1.5em;

  img {
    width: 100%;
    height: auto;
  }

  #get-in-touch {
    img {
      width: auto;
    }
  }
}

.widget {
  .row();
  //background: #fff;
  padding: 0.5em 1.5em;
  margin: 0;

  p, ul li {
    
    margin-bottom: 1em;
  }

  ul {
    margin-left: 1em;
    li {
      list-style-type: disc;
      padding: 0.4em;
    }
  }
}

/* FEED/ITEMS ---------- */


.item {
  .clearfix();
  list-style-type: none;
  margin: 1% 0;
  padding: 2% 1%;
  .border-box();
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.item-title {
  margin: 0;
  line-height: 1.2em;
  a {
    text-shadow: 0 0 0.01em #999;
    color: #000;
    &:hover {
      color: @red;
    }
  }
}

.item-actions {
  position: absolute;
  //display: none;
  top: 0;
  right: 0;
  img {
    cursor: pointer;
  }
}

.feed .item, .infowindow {
  
    .item-thumb {
      .column(2.75);
      overflow: hidden;
      text-align: center;
      border: 1px solid #444;
    
  }
}

.item-content {
  .column_nm(9.25);
  margin-left: 2%;
  position: relative;
  overflow: hidden;
}

.item-details {
  .row();
  .clearfix;
}

.thumbnail {
  width: 100%;
  height: auto;
  //min-height: 130px;
}

/* PAGE --------- */

.page-title {
  font-size: 1.2;
  border-bottom: 1px solid #e1e1e1;
  margin: 1em 0;
  padding-bottom: 0.5em;
  
}

.page-content {
  padding: 0 1em 1em;

  .item {
    .column(6);
    .ease-out(background-color);
    height: 90px;
    //margin-bottom: 0.5em;
    overflow: hidden;
    .rounded(0.3em);
    &:hover {
      background: #e9e9e9;
      cursor: pointer;
    }
  }

  .feed {
    .clearfix();
    margin-top: 1em;

  }

  .description {
    display: none;
  }

}

.social-container {
  margin: 0.5em 0 0 0.5em;
}

/* 10 NAVIGATION ---------- */

.detail-nav {
  float: left;
  margin-top: 2.5em;
  width: 12%;

  ul li a {
    background: #444;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    -webkit-border-radius: 0.5em 0 0 0.5em; 
     -moz-border-radius: 0.5em 0 0 0.5em; 
          border-radius: 0.5em 0 0 0.5em; 

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    margin: 0.5em 0;
    padding: 0.6em 0.6em 0.6em 0.4em;
    text-shadow: 0 0 0.01em #f9f9f9;

    &.current-page {
      background-color: #f9f9f9;
      color: #000;
      font-weight: bold;
      border: 1px solid #ccc;
      border-right: none;

      &:hover {
        background-color: #f9f9f9;
      }
    }

    &.disabled {
      background: #e8e8e8;
      color: #ccc;
      cursor: text;
      text-shadow: 0 0 0.01em #f9f9f9;
      &:hover {
        background: #e8e8e8;
      }
    }

    &:hover {
      background: @dgreen;
    }

    &:active {
      background: @mgreen;
    }
  }
}

/* Prev next arrow styles, no layout */
.prev-next {
  .blok();
  a {
    height: 30px;
  }

  .next {
    .icon('arrow-right');

    &:hover {
      .icon('arrow-right-over');
    }
  }

  .prev {
    .icon('arrow-left');

    &:hover {
      .icon('arrow-left-over');
    }
  }
}

.page-nav-container {
  .clearfix();
  border-bottom: 1px #e8e8e8 solid;
  .row();
  margin: 1em 0;

  .simple-form {
    .column(6);
    input[type="submit"] {
      .column(3);   
    }
    input[type="search"] {
      .column(9);
    }
  }

  .prev-next {
    .column_r(3);
    margin-top: 0.3em;
    &>div, &>a {
      .column(4)
    }

    .page-num {
      font-size: 1.5em;
      text-align: center;
      line-height: 1.7em;
    }

  }

}

/* SINGLE ---------- */

.single-container {
  .row();
  padding: 3%;
  .clearfix();
  .item-details {
    font-size: 1em;
  }
}

.single-thumb-container {
  .column(3);

  .thumbnail {
    border: 1px solid #444;
  }
}

.single-content {
  .column(12);
  margin: 3% 0;
  padding: 0 2%;

  .description {
    font-style: normal;
  }

  .map-container {
    .column_nm(6);
    float: right;
    margin: 0 0 1em 1em;
  }
  
}

.single-header {
  .column(12);
  border-bottom: 1px #e1e1e1 solid;
  padding-bottom: 1.5em;

  .item-content {
    .column(9);
  }

  ul {
    padding-left: 0.5em;
  }
}

/* DETAILED SINGLE --------- */
// Detailed = single page with relevant 
// places/events/specials paneled menu
// Currently just single place and profile pages


.detailed-single {
  .single-header {
    border: none;
    //padding-bottom: 0;

  }
  .single-content {
    margin-top: 0.5em;
    padding: 0;
  }
}

.detail-section {
  display: none;
  min-height: 230px;
  width: 88%;
  float: left;
  border: 1px solid #ccc;
  .border-box();
  background: #f9f9f9;
  .rounded(0.5em);
  padding: 2% 4% 4%;

  &#placeDetail, &#profile {
    display: block;
  }

  .section-header {
    .clearfix;
  }

  &#placeDetail .item-details {
    .column_nm(6);
    margin-bottom: 1em;
    &>li {
      margin-bottom: 0.5em;
      ul {
        margin-left: 1.5em;
        list-style-type: circle;
      }
    }
    .detail-title {
      margin-bottom: 0.2em;
      font-weight: bold;
      display: block;
    }
  }

  .map-container {
    margin: 0 0 1em 1em;
  }
}

/* 11 TAGS ---------- */

.tag-list {
  .row();
  .clearfix;
  font-size: 0.85em;
  margin: 1% 0 0;

  li {

    &:first-child {
      margin-left: 0;
    }

    color: #888;
    float: left;
    margin: 0.1em 0.2em;
    padding: 0.1em 0.2em;
    text-decoration: none;
    .border-box;   

    a {
      color: #888; 
      &:hover {
        background: #bbb;
        .rounded(0.3em);  

        a {
          color: #fff;
        }
      }

      &:active {
        .gradient(#999, #aaa);
        position: relative;
        top: 1px;
        left: 1px;
      }
    }

  }
}


/* TEMPLATE SPECIFICS --------- */

/* Now */

#now-page {
  .random {
    //.column(6);
  }

/*  .map-container {
    float: left;
    height: 300px;
  }
*/
  .short {
    .column(4);
    height: auto;

    .item-type {
      width: 100%;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }

    .item-thumb {
      .column(12);
      position: relative;
    }

    .item-content {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0.5em;
      //position: absolute;
      background: url("@{static_url}img/textures/white-trans.png");
      color: #000 !important;
      text-align: left;
      //display: none;
    }

  }

  .feed {
    margin-left: 0;
    margin-right: 0;
  }

  .news {
    .row();
  }

  .events, .chatter {    
    float: right;
  }

  .item-title a {
    font-size: 1em;
  }
}

/* Events */


/* Specials */


#special-single {
  .item-thumb {
    .border-box();
    .rounded(0.5em);
    padding : 0.7em;
    background: @lblue;
  }

  button {
    .b-shadow(1px, 1px, 2px, #111);
    margin-top: 1em;
    text-align: center;
    .row();
    &:active {
      .no-b-shadow();
    }
  }
}

#specials-page {
  .btn-primary {
    padding: 0.1em;
    .no-b-shadow();
    background: @mblue;

    &:active {
      top: 0;
      left: 0;
    }

    img {
      width:70%;
    }
  }

  .item-thumb {
    border: none;
  }

  .focused {
    background: fade(@lblue, 50%);
  }
}

.specials .thumbnail {
  border: none;
}

#events-page {
  .focused {
    background: fade(@lgreen, 50%);
  }
}

#places-page {
  .focused {
    background: fade(@yellow, 50%);
  }
}

#news-page, #now-page .news {
  .item {
    .row();
    height: auto;
    cursor: default;
    border-bottom: 1px solid #e1e1e1;
    &:hover {
      background: none;
    }

    &:last-child {
      border: none;
    }
  }

  .item-details {
    font-size: 1em;

    a {
      font-weight: bold;
    }
  }

  .source {
    color: #000;

    &:hover {
      color: @red;
    }
  }

  .blurb {
    font-style: italic;
    margin-top: 0.5em;
    &>a {
      font-style: normal;
    }
  }

}

/* Places */


/* Chatter */

.post-form {

}

.chatter {
  padding: 0 0.5em;

  li {
    .column(6);
    background: #fff;
    border: 1px @lgreen solid;
    padding: 0.7em;
    margin-top: 0.5em;
    .b-shadow(0.1em, 0.1em, 0.1em, #000);

    &>div {
      .row();
      .clearfix();
      &.post-content {
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
      }
    }

    .avatar-container {
      .column(1);
    }

    img {
      float: left;
      margin-right: 0.5em;
      height: 25px;
      width: 25px;
    }

    p {
      color: #666;
      font-size: 0.8em;
      display: inline;
    }
  }
}

/* Profile */

.no-items {
  padding: 2em 1em 1em;
  font-size: 0.9em;

  img {
    float: left;
    margin-right: 2em;
  }

  h3 {
    margin: 0;
  }
}

/* FOOTER ---------- */

#colophon {
  .row();
}

#about-nav {
  .row();
  ul {
    .clearfix();
     li {
      display: inline;
       .sep {
        color: #999;
        margin: 0 0.5em;
       }
    }
  }
}

/* MAP --------- */

.map-container {
  height: 200px;
}

.map {
  width: 100%;
  height: 100%;
  border: 1px solid #888;
}

.page-content {

  .map-title-container {
    //background: url("@{static_url}img/textures/white-trans.png");
    background: #fff;
    .b-shadow(0.1em, 0.1em, 0.1em, #999);
    /*-webkit-border-radius: 0 0 0.5em 0.5em; 
     -moz-border-radius: 0 0 0.5em 0.5em; 
          border-radius: 0 0 0.5em 0.5em; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;*/
    .rounded(0.3em);
    border: 1px solid #444;
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 1em 1.3em 0.5em;
    z-index: 200;
  }

  .map-container {
    position: relative;
    .row();
    margin: 2em 0 0;
    height: 300px;
    overflow: visible;
  }

}
.directions-btn-container {
  .row();
  margin-top: 1em;
}

.infowindow {
    font-size: 0.8em;
}

#map-unavailable {
  background: #e1e1e1 url('@{static_url}img/default-place.png') no-repeat center;
}

/* STATIC PAGES ------------ */
.static-section {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 2em;
  .row();
  margin: 2em 0;
  .clearfix();
   font-size: 0.9em;

  p {
    margin-bottom: 1em;
  }

  h3, h4 {
    margin: 0;
  }

  h3 {
    font-size: 1.3em;
    font-family: 'DroidSerifRegular';
  }

  .job-title {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  hgroup {
    margin-bottom: 1em;
  }

  &>div {
    .column(8);

  }
}

#team {
  img {
    .column(4);
  }
}

#about-oakland {
  img {
    .column_r(6);
    margin: 1em 1em 1em 1em;
  }

  .tip {
    font-style: italic;
    color: #999;
    margin-left: 0;
  }
}

/* jQuery UI --------- */

.grabbit-modal, .feedback-modal {
  display: none;

  .row-container {
    margin: 1.5em 0;
  }

  button {
    width: 45%;
    &:first-child {
      margin-right: 5%;
    }
    &:last-child {
      margin-left: 5%;
    }  
  }

  h5 {
    color: #444;
    font-size: 1em;
    font-style: italic;
    margin: 0 0 1em 0;
  }

  textarea {
    margin: 1em 0;
  }
}

.ui-dialog {
  background: #fff;
  border: 5px @yellow solid;
  .rounded(0.6em);
  padding: 2%;

  form {
    margin-top: 0.3em;
  }

  label {
    font-size: 0.8em;
    text-transform: none;
  }

  input[type="text"] {
    margin-top: 0.3em;
    padding: 0.2em;
    font-size: 0.9em;
    .rounded(0.3em);
  }

  .field-container {
    padding-right: 0;
    margin-bottom: 0.5em;
  }

  .ui-widget-header {
    background: none;
    border: none;
  }

  .ui-widget-content {
    border: none;
    background: none;
  }

  .ui-dialog-buttonset {
    .clearfix();
  }

  .tip {
    margin: 0.5em 0;
  }
}

.ui-widget-overlay { 
  background: #aaaaaa url('@{static_url}img/textures/white-trans.png'); 
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  opacity: .30;
  filter:Alpha(Opacity=30); 
}

.ui-dialog-title {
  border-bottom: 1px @mgreen solid;
  .blok();
  color: #444;
  font-weight: normal;
  font-size: 1em;
  display: block;
  margin: 0 1em 1em 0;
}

.ui-dialog-titlebar-close:hover {
  border: none;
}

.ui-icon-closethick {
  top: 1.5em;
  right: 1.5em;
  height: 1em;
  width: 1em;
  position: absolute;
  text-indent: -9999px;

  &:hover {
    background-color: @lblue;
  }
}

.ui-dialog-buttonset {
  button {
    margin: 0 3%;
  }
}

/* UTILITY ---------- */

.row-container {
  .row();
  margin-bottom: 1em;
  .clearfix;

  &.last {
    margin-top: 1em;
  }
}

.has-special {
  float: right;
  color: red;
  font-style: italic;
  .rounded(5px);
}

.left, .prev {
  float: left;
}

.right, .next {
  float: right;
}

.third {
  .column(4);
}

/* ICONS ----------- */

@import "../LESS/icons";

/* MEDIA QUERIES --------- */

@import "../LESS/media-queries";