/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* Responsive Images + alt text style */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  color: #999;
  font-style: italic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* 1 ROOT ---------- */
body {
  background: #e1e1e1 url("/static/img/Oakland_bkgd_630.png") fixed bottom right no-repeat;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
}
/* TYPOGRAPHY -------- */
h1 {
  font-weight: normal;
}
h2 {
  font-size: 1.2em;
  padding-bottom: 0.1em;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
}
h4 {
  font-weight: bold;
}
p {
  color: #222;
  margin: 0.1em 0;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
a {
  color: #4b7699;
}
a:hover {
  color: #8fd36f;
}
a:active {
  color: #2c525d;
}
a:visited {
  color: #4b7699;
}
.meta {
  font-size: 0.9em;
}
.description {
  margin-top: 0.3em;
  font-color: #888;
  font-style: italic;
  font-size: 0.9em;
}
.host {
  color: #b83939 !important;
  font-weight: bold;
}
.host:hover {
  color: #238b49 !important;
}
.points {
  font-family: 'KomikaTitleRegular', Gill Sans, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 #ded57f;
}
/* HEADINGS --------- */
#site-title {
  margin-top: 20px;
  padding: 0 0 15px 15px;
  text-align: center;
}
#site-title a {
  color: #fff;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:active {
  text-shadow: 0 0.03em 0.05em #000;
}
#site-title a:visited {
  color: #fff;
}
.section-title {
  color: #000;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f9f9f9));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* IE10 */

  background-image: -o-linear-gradient(top, #f1f1f1, #f9f9f9);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #f1f1f1, #f9f9f9);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  margin: 0 0 1em;
  padding: 0.5em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0.1em 0.1em 0.04em #fff;
}
.feed-title,
.single-title {
  color: #000;
  font-weight: bold;
  text-shadow: 0.03em 0.03em 0.03em #999;
  margin: 0;
}
.single-title {
  font-size: 1.5em;
  border-bottom: 1px #ccc solid;
  margin: 0 0 2%;
  padding: 0 0.3em 0.1em;
}
.sidebar-title {
  background-color: #8fd36f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8fd36f), to(#6baa55));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #8fd36f, #6baa55);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #8fd36f, #6baa55);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #8fd36f, #6baa55);
  /* IE10 */

  background-image: -o-linear-gradient(top, #8fd36f, #6baa55);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #8fd36f, #6baa55);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  color: #fff;
  text-shadow: 0.1em 0.1em 0.1em #444;
  width: 96%;
  padding: 0.5em 1.5em;
  position: relative;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  right: 1em;
}
.widget-title {
  margin: 0.5em 0;
  border-bottom: 1px solid #e1e1e1;
  font-style: italic;
}
/* FORMS & INPUTS --------------- */
::-webkit-input-placeholder {
  color: #AAAAAA;
}
:-moz-placeholder {
  color: #AAAAAA;
}
form {
  margin: 1em auto;
  max-width: 600px;
  *zoom: 1;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px solid #999;
  font-size: 1em;
  width: 93%;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.35em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
button,
input[type="submit"],
.next,
.back {
  border: 0.1em #e1e1e1 solid;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#e1e1e1));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* IE10 */

  background-image: -o-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #aaaaaa, #e1e1e1);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  border: 1px #999;
  padding: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
}
button:active,
input[type="submit"]:active,
.next:active,
.back:active {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 1px;
  left: 1px;
}
.field-container {
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}
.field-container.last,
.field-container.inner {
  border: none;
}
.field-container.first {
  padding-top: 0 !important;
}
.field-container.inner {
  padding: 0;
}
.field-label {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.1em;
  text-align: right;
}
.field {
  float: right;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tip,
.error {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
  display: block;
  margin-left: 2%;
}
.tip.desc,
.error.desc {
  margin-top: 2%;
}
.error {
  color: #C34327;
  float: left;
}
.btn-primary {
  border: none;
  -webkit-box-shadow: 0.02em 0.02em 0.02em #999999;
  -moz-box-shadow: 0.02em 0.02em 0.02em #999999;
  box-shadow: 0.02em 0.02em 0.02em #999999;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #6baa55;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6baa55), to(#238b49));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #6baa55, #238b49);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #6baa55, #238b49);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #6baa55, #238b49);
  /* IE10 */

  background-image: -o-linear-gradient(top, #6baa55, #238b49);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #6baa55, #238b49);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  margin-top: 0.5em;
  padding: 0.5em;
  position: relative;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 0 0.05em #000;
}
.btn-primary:hover {
  background: #238b49;
}
.btn-primary:active {
  background: #00782d;
  top: 1px;
  left: 1px;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.btn-primary#redeemButton {
  background-color: #00b945;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b945), to(#238b49));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #00b945, #238b49);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #00b945, #238b49);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #00b945, #238b49);
  /* IE10 */

  background-image: -o-linear-gradient(top, #00b945, #238b49);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #00b945, #238b49);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  padding: 5%;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #999999;
  -moz-box-shadow: 0.1em 0.1em 0.1em #999999;
  box-shadow: 0.1em 0.1em 0.1em #999999;
}
.btn-primary#redeemButton:active {
  top: 1px;
  left: 1px;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.favbutton {
  display: block;
  font-size: 0.9em;
  /*

  img {
    .column(3); 
  }*/

}
#sidebar-feedback .field-label {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  font-size: 0.8em;
  font-weight: bold;
  color: #444;
  margin: 1em 0.5em 0;
}
#sidebar-feedback .field {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar-feedback input[type=text],
#sidebar-feedback textarea {
  font-size: 0.9em;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
#sidebar-feedback textarea {
  height: 6em;
}
#sidebar-feedback input[type="submit"] {
  float: right;
  margin-top: 0.5em;
}
/* HEADER ------------- */
#logo {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  max-width: 150px;
  min-width: 100px;
}
#scene-nav {
  background: #444;
  background-color: #777777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #777777, #444444);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #777777, #444444);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #777777, #444444);
  /* IE10 */

  background-image: -o-linear-gradient(top, #777777, #444444);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #777777, #444444);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0.1em 0.1em 0.1em #777777;
  -moz-box-shadow: 0.1em 0.1em 0.1em #777777;
  box-shadow: 0.1em 0.1em 0.1em #777777;
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 5.5em;
  max-width: 1140px;
  z-index: 999;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
}
#scene-nav #select-nav {
  display: none;
}
#scene-nav .main-menu {
  *zoom: 1;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#scene-nav .main-menu:before,
#scene-nav .main-menu:after {
  content: "";
  display: table;
}
#scene-nav .main-menu:after {
  clear: both;
}
#scene-nav .main-menu li a {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 0.75em;
  height: 5em;
  margin-top: 1em;
  position: relative;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  behavior: url("/static//PIE.htc");
}
#scene-nav .main-menu li a.current-page {
  background-color: #8fd36f;
}
#scene-nav .main-menu li a .container {
  position: absolute;
  left: 50%;
  bottom: 0.3em;
}
#scene-nav .main-menu li a .container .menu-item {
  position: relative;
  left: -50%;
}
#scene-nav .main-menu li a:hover {
  background-color: #ccc;
}
#scene-nav .main-menu li a:active {
  background-color: #ded57f;
}
#utility {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0;
}
#utility #debug-user {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1em;
  text-align: right;
  color: #e1e1e1;
}
#utility #debug-user a {
  color: #ded57f;
}
#utility #debug-user a:hover {
  color: #8fd36f;
}
#utility input {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3em;
  margin: 0.5em 0 0;
}
/* 4 CONTENT ---------- */
.wrap {
  *zoom: 1;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}
.wrap:before,
.wrap:after {
  content: "";
  display: table;
}
.wrap:after {
  clear: both;
}
#site-content {
  background: #ffffff;
  -webkit-box-shadow: 0.1em 0.1em 0.3em #444444;
  -moz-box-shadow: 0.1em 0.1em 0.3em #444444;
  box-shadow: 0.1em 0.1em 0.3em #444444;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  top: 5em;
  z-index: 1;
}
/* SIDEBAR ---------- */
#site-sidebar {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0.9);
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 7em;
  right: 0;
  z-index: 0;
  padding: 1em 1em 1em 2em;
}
.widget {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  margin: 0;
}
.widget p,
.widget ul li {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.widget ul {
  margin-left: 1em;
}
.widget ul li {
  list-style-type: disc;
  padding: 0.4em;
}
/* FEED ---------- */
.feed-header {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1em;
  padding: 1% 2%;
}
.feed-header:before,
.feed-header:after {
  content: "";
  display: table;
}
.feed-header:after {
  clear: both;
}
.feed-header input[type="text"] {
  float: right;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-header .feed-title {
  float: left;
  font-size: 1.8em;
}
.feed-header .filter {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.5em;
}
.feed-header .filter input[type="search"] {
  float: left;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-header .filter input[type="submit"] {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-content {
  padding: 0 1em 1em;
}
.feed-content .map-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 300px;
  overflow: hidden;
}
.feed-content .feed {
  *zoom: 1;
}
.feed-content .feed:before,
.feed-content .feed:after {
  content: "";
  display: table;
}
.feed-content .feed:after {
  clear: both;
}
.item {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  list-style-type: none;
  margin: 1% 0;
  padding: 2% 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  position: relative;
}
.item:before,
.item:after {
  content: "";
  display: table;
}
.item:after {
  clear: both;
}
.item a {
  color: #000;
}
.item-title {
  margin: 0;
}
.item-title a {
  text-shadow: 0 0 0.01em #999;
  font-size: 1.1em;
}
.item-title a:hover {
  color: #b83939;
}
.item-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.item-actions img {
  cursor: pointer;
}
.feed .item-thumb {
  float: left;
  width: 20.833333333333336%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  border: 1px solid #444;
}
.item-content {
  float: left;
  width: 75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2%;
  position: relative;
  overflow: hidden;
}
.item-details {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.item-details:before,
.item-details:after {
  content: "";
  display: table;
}
.item-details:after {
  clear: both;
}
.thumbnail {
  width: 100%;
  height: auto;
}
/* 10 NAVIGATION ---------- */
.related-nav {
  width: 12%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.related-nav li a {
  display: block;
  -webkit-border-radius: 0.5em 0 0 0.5em;
  -moz-border-radius: 0.5em 0 0 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #444;
  color: #fff;
  margin: 0.3em 0;
  padding: 0.3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.related-nav li a.current-page {
  background-color: #ded57f;
}
/*#date-nav-left, #date-nav-right {
  background: url("../img_store/date-nav.png");
  height: 19px;
  width: 19px;
}

#date-nav-left {
  float: left;
}

#date-nav-right {
  background-position: -17px -17px;
  float: right;
}*/
/* SINGLE ---------- */
.single-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
  *zoom: 1;
}
.single-container:before,
.single-container:after {
  content: "";
  display: table;
}
.single-container:after {
  clear: both;
}
.single-thumb-container {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.single-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 3% 0;
  padding: 0 2%;
}
.single-content .description {
  font-style: normal;
}
.single-content .map-container {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin: 0 0 1em 1em;
}
.single-header {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #e1e1e1 solid;
  padding-bottom: 1.5em;
  /*
  .thumbnail {
    height: 170px;
    width: 170px;
  }*/

}
.single-header .item-content {
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.single-header ul {
  padding-left: 0.5em;
}
/* RELATED --------- */
.related-section {
  display: none;
  width: 88%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f9f9;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2% 4% 4%;
}
.related-section#placeInfo,
.related-section.profile {
  display: block;
}
.related-section .section-header {
  *zoom: 1;
}
.related-section .section-header:before,
.related-section .section-header:after {
  content: "";
  display: table;
}
.related-section .section-header:after {
  clear: both;
}
.related-section .section-title {
  border-bottom: 1px #999 solid;
  padding: 0 0 0.2em;
  margin: 0 0 1em;
}
.related-section#placeInfo .item-details {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.3em;
}
.related-section#placeInfo .item-details li {
  margin-bottom: 0.5em;
}
.related-section .map-container {
  margin: 0 0 0 1em;
}
/* 11 TAGS ---------- */
.tag-list {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.8em;
  margin: 1% 0 0;
}
.tag-list:before,
.tag-list:after {
  content: "";
  display: table;
}
.tag-list:after {
  clear: both;
}
.tag-list li {
  color: #888;
  float: left;
  margin: 0.1em 0.4em;
  padding: 0.1em 0.2em;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tag-list li a {
  color: #888;
}
.tag-list li:hover {
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#999999));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #aaaaaa, #999999);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #aaaaaa, #999999);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #aaaaaa, #999999);
  /* IE10 */

  background-image: -o-linear-gradient(top, #aaaaaa, #999999);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #aaaaaa, #999999);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tag-list li:hover a {
  color: #fff;
}
.tag-list li:active {
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#aaaaaa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #999999, #aaaaaa);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #999999, #aaaaaa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #999999, #aaaaaa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #999999, #aaaaaa);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #999999, #aaaaaa);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  position: relative;
  top: 1px;
  left: 1px;
}
/* TEMPLATE SPECIFICS --------- */
/* Hot */
.hot {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot .feed {
  margin-left: 0;
  margin-right: 0;
}
.hot.news {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot.events,
.hot.chatter {
  float: right;
}
.hot.events .item-details {
  font-size: 0.9em;
}
.hot.map-container {
  float: left;
  height: 300px;
}
.hot .item-title a {
  font-size: 1em;
}
/* Specials */
.specials .item-title {
  margin-top: 0.4em;
}
.specials .item-thumb {
  border: none;
}
/* News */
.feed.news .item-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Places */
#place-single .single-header {
  border: none;
}
#place-single .single-content {
  margin-top: 0.5em;
  padding: 0;
}
/* Chatter */
.post-form input[type="text"] {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post-form input[type="submit"] {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #6baa55;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0.1em 0.1em 0.3em #000000;
  -moz-box-shadow: 0.1em 0.1em 0.3em #000000;
  box-shadow: 0.1em 0.1em 0.3em #000000;
}
.chatter {
  padding: 0 0.5em;
}
.chatter li {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px #8fd36f solid;
  padding: 0.7em;
  margin-top: 0.5em;
  font-size: 0.9em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #000000;
  -moz-box-shadow: 0.1em 0.1em 0.1em #000000;
  box-shadow: 0.1em 0.1em 0.1em #000000;
}
.chatter li img {
  float: left;
  margin-right: 1em;
}
.chatter li .meta {
  color: #999;
  font-size: 0.8em;
  padding-top: 0.3em;
}
/* UTILITY ---------- */
.map-container {
  background: url("http://www.scottadito.com/images/googleMap.jpg");
  height: 200px;
  border: 1px solid #888;
}
.row-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  *zoom: 1;
}
.row-container:before,
.row-container:after {
  content: "";
  display: table;
}
.row-container:after {
  clear: both;
}
.row-container.last {
  margin-top: 1em;
}
.has-special {
  float: right;
  color: red;
  font-style: italic;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* FOOTER ---------- */
#colophon {
  float: left;
  width: 96.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 1%;
  text-align: right;
}
#colophon a {
  color: #2c525d;
  font-weight: bold;
}
#colophon a:hover {
  color: #b83939;
}
/* ICONS ----------- */
/* 	Stylesheet to define le icons 
*/
/* 	TODO: 
		Sprite sheet
		Background positioning will be added 
*/
/* To be made into sprite sheet */
a {
  /* Single place nav */

  /*	&#placeAtAGlance {
		.icon(photo-magnify);
	}

	&#placeEvents {
		.icon(calendar-alt);
	}

	&#placeSpecials {
		.icon(tag-special);
	}
*/

  /* #scene-nav */

  /*&#siteJobs {
		.icon(suitcase);
	}*/

}
a#siteHot {
  background: #ffffff url('/static/img/menu_icons/city.png') no-repeat center 9px;
}
a#sitePlaces {
  background: #ffffff url('/static/img/menu_icons/store-front.png') no-repeat center 9px;
}
a#siteEvents {
  background: #ffffff url('/static/img/menu_icons/calendar-alt.png') no-repeat center 9px;
}
a#siteSpecials {
  background: #ffffff url('/static/img/menu_icons/tag-special.png') no-repeat center 9px;
}
a#siteChatter {
  background: #ffffff url('/static/img/menu_icons/speech-bubble.png') no-repeat center 9px;
}
a#siteNews {
  background: #ffffff url('/static/img/menu_icons/newspaper.png') no-repeat center 9px;
}
/* Actions */
/* MEDIA QUERIES --------- */
/*******************************//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
/* 18 MEDIA QUERIES ---------- *//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
@media screen and (max-width: 1140px) {
  body {
    background-image: url("/static/img/Oakland_bkgd_450.png");
  }
  #scene-nav {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media screen and (max-width: 1082px) {
  /*
    .item-thumb {
      height: 120px;
      //width: 100px;
    }*/
}
@media screen and (max-width: 992px) {
  /*.item-thumb {
      height: 110px;
      //width: 100px;
    }*/
  #logo {
    padding-top: 1em;
  }
  #logo {
    float: left;
    width: 14.583333333333334%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo img {
    width: 100%;
  }
  .related-nav {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px #888 solid;
  }
  .related-nav ul {
    *zoom: 1;
  }
  .related-nav ul:before,
  .related-nav ul:after {
    content: "";
    display: table;
  }
  .related-nav ul:after {
    clear: both;
  }
  .related-nav ul li a {
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.5em 0.5em 0 0;
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #000;
    text-shadow: 0.05em 0.05em 0em #fff;
    background: #6baa55;
    text-align: center;
    font-weight: bold;
    float: left;
  }
  .related-nav#profile-nav ul li a {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .related-section {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .single-title {
    font-size: 1.5em;
  }
  .hot {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hot.events,
  .hot.chatter {
    float: right;
    /*.item-thumb {
         height: 110px;
        }*/
  
  }
  .hot.map-container {
    height: 200px;
  }
  .map-container.feed-page,
  .map-container.hot {
    height: 200px;
  }
  .item-title a {
    font-size: 1em;
  }
}
@media screen and (max-width: 864px) {
  /*.item-thumb {
      height: 90px;
      //width: 80px;
    }*/.feed.places .description,
  .feed.events .description {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  /*.item-thumb {
      height: 130px;
      //width: 100px;
    }*/
  .logout,
  .bar {
    display: none;
  }
  body {
    background-image: none;
  }
  #site-content.single {
    margin-top: 0;
  }
  #utility {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #utility a {
    color: #ded57f;
  }
  #site-content {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    top: 7.5em;
  }
  .feed {
    margin: 0 0;
    clear: both;
  }
  .feed-header {
    padding-top: 0.7em;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #site-sidebar {
    display: none;
  }
  #site-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #scene-nav {
    top: 2em;
  }
  #scene-nav .main-menu {
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo img {
    height: 100%;
  }
  .item-details {
    font-size: 0.9em;
  }
  #utility {
    position: absolute;
    bottom: 5.1em;
    background: #444;
    padding: 0.5em;
    border-bottom: 1px solid #888;
    color: #fff;
  }
  #utility #site-search {
    float: right;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #utility #site-search input {
    padding: 0.1em;
    margin: 0;
  }
  #utility #debug-user {
    float: left;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
  }
  .feed {
    padding: 0.5em;
  }
  .item {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #8fd36f solid;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #444444;
    -moz-box-shadow: 0.1em 0.1em 0.1em #444444;
    box-shadow: 0.1em 0.1em 0.1em #444444;
    margin: 0.5em 0;
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ffffff));
    /* Saf4+, Chrome */
  
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
  
    background-image: -moz-linear-gradient(top, #f9f9f9, #ffffff);
    /* FF3.6 */
  
    background-image: -ms-linear-gradient(top, #f9f9f9, #ffffff);
    /* IE10 */
  
    background-image: -o-linear-gradient(top, #f9f9f9, #ffffff);
    /* Opera 11.10+ */
  
    background-image: linear-gradient(top, #f9f9f9, #ffffff);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */
  
  }
  .item:hover {
    background: #fff;
  }
  .section-title {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .feed-content {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  #logo img {
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  /*.item-thumb {
      height: 100px;
      //width: 100px;
    }*/
  .single-container {
    padding: 0;
    border: none;
    background: url("/static/img/textures/white-tex.png");
  }
  .single-header {
    padding: 1em 1em 0 1em;
    border: none;
  }
  .single-title {
    line-height: 1;
    font-size: 1.3em;
  }
  .feed-header {
    display: none;
  }
  #utility {
    bottom: 4.1em;
  }
  .btn-primary {
    padding: 0.3em;
  }
  .single-content .map-container {
    height: 100px;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1em;
  }
  .single-content.places {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-menu {
    display: none;
  }
  .related-section {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.3em;
  }
  .related-section .map-container {
    margin: 1em 0;
  }
  .related-section .section-title {
    display: none;
  }
  .related-section#placeInfo {
    padding: 0 1em 1em;
  }
  .related-section#placeInfo .item-details {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .related-section#placeInfo .item-details ul li {
    margin: 0;
  }
  .related-section .map-container {
    height: 100px;
  }
  #scene-nav {
    border: none;
  }
  #scene-nav #select-nav {
    display: inline-block;
    float: right;
    width: 52.083333333333336%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.5em 1em 0;
  }
  .item-title a {
    font-size: 1em;
  }
  #logo {
    padding-top: 0.7em;
    float: left;
    width: 39.58333333333333%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.5em;
  }
  #logo img {
    width: auto;
    height: 80%;
  }
  .filter {
    display: none;
  }
  #site-content {
    background: none;
    top: 6.5em;
    padding: 0;
  }
  .map-container.hot {
    height: 150px;
    overflow: hidden;
  }
  #scene-nav {
    height: 4.5em;
  }
}
@media only screen and (max-width: 480px) {
  .single-title {
    font-size: 1em;
    text-shadow: none;
  }
  /*.item-thumb, .related-item-thumb {
      height: 80px;
    }*/
  .item-details,
  .item-title {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 320px) {
  /*.related-item-thumb, .item-thumb {
      height: 60px;
    }*/
  /*.related-item-thumb {
      .column(3.5);
    }*/
  /*
    .related-item-content {
      .column(8.5);
    }  */
}
