<div id="mask">
	<form>

		<article id="panelOne" class="panel">
			<div class="content-container signup"> 
				{% include 'places/manage/create_place1.html' %}
			</div>
		</article>

		<article id="panelTwo" class="panel">
			<div class="content-container signup"> 
				{% include 'places/manage/create_place2.html' %}
			</div>
		</article>
		
		<!-- <article id="panelThree" class="panel signup">
			<div class="content-container">
				{% include 'places/manage/create_place3.html' %}
			</div>
		</article> -->
		
		<article id="panelFour" class="panel">
			<div class="content-container signup">
				{% include 'places/manage/create_place4.html' %}
			</div>
		</article>

	</form>
</div>
