
<div class="field-container first last">
	<fieldset>
		<label>Upload Image</label>
		<div class="inputs">
			[Image upload field goes here]
		</div>
		<img class="uploaded-image" src="http://www.cellspace.org/new/sites/default/files/CELLspaceEvent.jpg">
	</fieldset>
</div>

<div class="prev-next">
	<a href="#panelTwo" name="panel-two" class="back shift-panel">&larr; Back</a>
	<a href="#panelFour" name="panel-four" class="next shift-panel">Next &rarr;</a>		
</div>		

{% include 'places/manage/progress.html' %}

