
<div class="field-container first">
	<fieldset>
		<label>Hours</label>
		<div class="inputs" id="hours">
			<fieldset class="hours-set">
				<div class="container">
					<input type="text" placeholder="9am-5:30pm" />
					<p class="tip">Times</p>
				</div>
				<div class="container last">
					<input type="text" placeholder="Mon-Sun" />
					<p class="tip">Days</p>
				</div>
			</fieldset>
			<div id="addHours">+</div> <!-- Click function: duplicate fieldset.hours-set the above field -->
		</div>
	</fieldset>

	<fieldset>
		<label>Parking</label>
		<div class="inputs" id="parking">
			<!-- <select multiple="multiple">
				<option>Street</option>
				<option>Garage</option>
				<option>Lot</option>
				<option>Valet</option>
				<option>Good Luck!</option>
			</select> -->
			<!-- <fieldset> -->
				<div class="check-container">
					<input type="checkbox" name="street" value="Street" />
					<label class="checkbox-label">Street</label>
				</div>
				<div class="check-container">
					<input type="checkbox" name="garage" value="Garage" />
					<label class="checkbox-label">Garage</label>
				</div>
			<!-- </fieldset>
			<fielset> -->
				<div class="check-container">
					<input type="checkbox" name="lot" value="Lot" />
					<label class="checkbox-label">Parking Lot</label>
				</div>
				<div class="check-container">
					<input type="checkbox" name="good-luck" value="Good Luck" />
					<label class="checkbox-label">Good Luck</label>
				</div>
			<!-- </fielset> -->
		</div> <!-- .inputs -->
	</fieldset>
</div>

<div class="field-container">
	<fieldset>	
		<label>What you love</label>
		<div class="inputs">
			<textarea placeholder="My business is really cool. If you come here you will be rewarded with good karma, chocolate, and other misc goodies. Thanks for your time."></textarea>
			<p class="tip desc">What you do, why you love it, why Oakland needs it</p>
		</div>
	</fieldset>
</div>

<div class="field-container last">
	<fieldset>	
		<label>Why you love it</label>
		<div class="inputs">
			<textarea placeholder="My business is really cool. If you come here you will be rewarded with good karma, chocolate, and other misc goodies. Thanks for your time."></textarea>
			<p class="tip desc">What you do, why you love it, why Oakland needs it</p>
		</div>
	</fieldset>
</div>

<div class="prev-next">
	<a href="#panelOne" name="panel-one" class="back shift-panel">&larr; Back</a>
	<a href="#panelFour" name="panel-four" class="next shift-panel">Next &rarr;</a> <!-- Skipping to #panelFour b/c three is inactive for now -->
</div>

 {% include 'places/manage/progress.html' %}