{% extends "organizations/manage/edit_base.html" %}

{% block form_contents %}

<header class="content-header">
	<h2>Editing your Place Page</h2>
	<p class="tip">Click each item to edit.</p>
</header>

<form>
	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Name</label>
		<div class="inputs">
			<input type="text" placeholder="Place name" />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Address</label>
		<div class="inputs">
			<input type="text" placeholder="Address" />
			<input type="text" placeholder="Apt or Suite #" />
			<p class="tip">Just the essentials, we know you're in Pittsburgh :)</p>
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Phone</label>
		<div class="inputs">
			<input type="text" placeholder="(412)...what else?" />
		</div>
	</fieldset>
	<fieldset class="last">	
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Website</label>
		<div class="inputs">
			<input type="text" placeholder="http://coolrestaurant.com" />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Hours</label>
		<div class="inputs">
			<input type="text" placeholder="9am-5:30pm Mon-Sun" />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Parking</label>
		<div class="inputs">
			<div class="check-container">
				<input type="checkbox" name="street" value="Street" />
				<label class="checkbox-label">Street</label>
			</div>
			<div class="check-container">
				<input type="checkbox" name="garage" value="Garage" />
				<label class="checkbox-label">Garage</label>
			</div>
			<div class="check-container">
				<input type="checkbox" name="lot" value="Lot" />
				<label class="checkbox-label">Parking Lot</label>
			</div>
			<div class="check-container">
				<input type="checkbox" name="good-luck" value="Good Luck" />
				<label class="checkbox-label">Good Luck</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>What you love</label>
		<div class="inputs">
			<textarea placeholder="What do you love about your business in Oakland?"></textarea>
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Why you love it</label>
			<textarea placeholder="Why do you love having a business in Oakland?"></textarea>
		</div>
	</fieldset>

<!-- 
	<fieldset>
		<a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a>
		<label>Upload an Image</label>
		<div class="inputs">
			<input type="text" placeholder="Image uploader" />
			<p class="tip">Leave blank to use your profile picture.</p>
			<img class="uploaded-image" src="https://a248.e.akamai.net/assets.github.com/images/modules/about_page/parallax_octocat.png">
		</div>
	</fieldset> -->

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>Tags</label>
		<div class="inputs">
			<input type="text" placeholder="try 'birthday'" />
		</div>
	</fieldset>

	<fieldset>
		<!-- <a class="edit-link"><img src="/static/img_using/pencil.png" alt="Edit" /></a> -->
		<label>On the web</label>
		<div class="inputs">
			<!-- Placeholder icons -->
			<input class="social-input" type="text" placeholder="Facebook page" />
			<div class="signup-social-icon">
				<img src="http://www.sportswearnet.com/gif/layout/icons/facebook_icon30x30.jpg" />
			</div>
			<input class="social-input" type="text" placeholder="Twitter username" />
			<div class="signup-social-icon">
				<img src="http://www.littleleague.org/Assets/images/icons/twitter-icon-sm.png" />
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}		
