{% extends "page.html" %}

{% comment %}
Page-based template for the Events feed

Context variables:
    page: a Django Paginator Page with EventData instances as objects
    items_json: JSON string of serialized EventData instances corresponding to the items in page.object_list
    query: filter query text
    form: filter form
{% endcomment %}

{% block main-content %}

<article class="page-main" id="events-page">
    
    <div class="map-container">
        <div class="map-title-container">
            <h1 class="ribbon-title">Events</h1>
        </div>
        <div class="map" id="mainEventFeedMap"></div>
    </div>

    <div class="page-nav-container">
        <form class="simple-form" method="get" action="{% url events-feed %}">
            <input type="search" placeholder="Search Events" name="{{form.q.html_name}}" value="{{query}}"/>
            <input type="submit" value="Search" />
        </form>
        <nav class="prev-next" id="events-feed-nav">
            <div class="previous">
            {% if page.has_previous %}<a href="{% url events-feed %}?page={{page.previous_page_number}}{%if query%}&q={{query}}{%endif%}">&larr;</a>{% else %}&nbsp;{% endif %}</div>
            <div class="page-num">
                <p>Page</p>
                {{page.number}} / {{page.paginator.num_pages}}</div>
            <div class="next">
                {% if page.has_next %}<a href="{% url events-feed %}?page={{page.next_page_number}}{%if query%}&q={{query}}{%endif%}">&rarr;</a>{% else %}&nbsp;{% endif %}
            </div>
        </nav>
    </div> <!-- .page-nav-container -->
    {% if not page.object_list %}
        <div class="none-found">No results found.</div>
    {% else %}

    <section class="notification">
        <h3>New Feature!</h3>
        <div>
            <p>In Scenable's early stage, our data sources are limited. We'd like <em>you</em>, the users, to help us out and keep the site content thorough and accurate. Add an event and we'll have it up on the site in the next day or so.</p>
        </div>
        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGY2U2lweVBDTjZ3ZmNtZTd2SnBNZWc6MQ#gid=0" target="blank"class="btn">Add an event!</a>
    </section> <!-- .notification -->

    <ul class="feed events" id="mainEventFeed">

    </ul> <!-- .feed#mainEventFeed -->
    {% endif %}
</article> <!-- .page-main -->
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_events_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    // need to overwrite default geolocation accessor
    var EventItem = scenable.mapFeed.Item.extend({
        getLatLng: function() {
            var loc = this.attributes.place && this.attributes.place.location;
            if(loc &&
               loc.latitude !== null && !_.isUndefined(loc.latitude) &&
               loc.longitude !== null && !_.isUndefined(loc.longitude)) {
                return new google.maps.LatLng(loc.latitude, loc.longitude);
            }
            else {
                return null;
            }
        }
    });

    var EventItems = scenable.mapFeed.ItemFeed.extend({model:EventItem});

    var EventView = scenable.mapFeed.ItemView.extend({
        className: 'item',
        template: window.TPL.eventItem,
        iwTemplate: window.TPL.eventInfoWindow,
        markerOptions: function(evModel) { 
            var icon = '/static/img/markers/event-marker.png';
            if(evModel.attributes && !_.isUndefined(evModel.attributes.icon_day)) {
                icon = '/static/img/markers/events/day_'+evModel.attributes.icon_day+'.png';
            }
            console.log('using icon: ' + icon);
            return {
                icon: icon,
                shadow: '/static/img/markers/marker-shadow.png'
            };
        }
    });
    var EventFeed = scenable.mapFeed.FeedView.extend({SubViewClass:EventView});

    var Items = new EventItems;
    var Feed = new EventFeed({
        model: Items,
        el: document.getElementById('mainEventFeed'),
        mapDOMElement: document.getElementById('mainEventFeedMap'),
        // scenable.map.mapFactory handles most defaults
        mapOptions: {   
            center: new google.maps.LatLng(40.44417, -79.94583)
        }
    });

    var bootstrapData = {{items_json|default:"[]"}};
    Items.reset(bootstrapData);
});
</script>
{% endblock %}