{% comment %}
Inner template for nav panel

Context variables:
    current_panel: string
{% endcomment %}

{% with p=current_panel %}

<ul>
    <li><a href="{% url account-manage %}" {% if p == 'account' %}class="current-page"{% endif %}>Account</a></li>
    <li><a href="{% url account-places %}" {% if p == 'places' %}class="current-page"{% endif %}>Places</a></li>
    <li><a href="{% url account-events %}" {% if p == 'events' %}class="current-page"{% endif %}>Events</a></li>
    <li><a href="{% url account-specials %}" {% if p == 'specials' %}class="current-page"{% endif %}>Specials</a></li>
</ul>

{% endwith %}