{% extends "page.html" %}
{% comment %}
Main outer template for user profile page

Context variables:
    public_user:    User object in question
    current_panel:  string
    account_forms:  collection of forms (available when current_panel is 'account')
    feed_items: collection of feed items (available when current_panel is a feed)
{% endcomment %}

{% block main-content %}
<div class="single-container detailed-single">
    {% include "accounts/public_profile.html" %}
    <nav id="profile-nav" class="detail-nav">
        {% include "accounts/nav_tabs.html" %}
    </nav>
    <section class="detail-section" id="profile">
        {% if current_panel == 'account' %}
        {% include "accounts/manage_account.html" %}
        {% endif %}
        
        {% if current_panel == 'places' %}
        {% include "accounts/places.html" with items=feed_items %}
        {% endif %}

        {% if current_panel == 'events' %}
        {% include "accounts/events.html" with items=feed_items %}
        {% endif %}

        {% if current_panel == 'specials' %}
        {% include "accounts/specials.html" with items=feed_items %}
        {% endif %}
    </section>
</div>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_profile.html" %}
{% endblock %}