{% comment %}
Inner template to render a list of places the user has favorited

Context variables:
    [feed_items]:  list of PlaceData instances
{% endcomment %}

<h2 class="detail-section-title">Favorite Places</h2>
{% if feed_items %}
	<ul class="feed my-feed places">
    	{% for item in feed_items %}
        	<li class="item">{% include "places/feed_item.html" with place=item %}</li>
    	{% endfor %}
	</ul>
{% else %}
	<section class="no-items">
    	<img src="{{STATIC_URL}}img/manage-place.png" alt="Store front" />
        {% if public_user == user %}
    	<p>Looks like you haven't favorited any places yet. Take a look through the Places page, click one you like and choose 'Favorite' under the places thumbnail picture. As Scenable develops, Scene Cred will be awarded based on your activity at favorited places.</p> 
        {% else %}
        <p>Looks like {{user.get_profile.display_or_username}} hasn't favorited any places yet.</p>
        {% endif %}
    </section>
{% endif %}
