{% comment %}
Template for user's public profile.

Context variables:
    profile: PublicProfile context instance
{% endcomment %}

{% load thumbnail %}
<header class="single-header">
    <div class="single-thumb-container">
        {% thumbnail profile.avatar_url "130x130" crop="center" as im %}
        <img class="thumbnail" alt="{{profile.display_name}}'s avatar" src="{{im.url}}" />
        {% empty %}
        <img class="thumbnail" alt="{{place.name|truncatewords:10}}" src="{{STATIC_URL}}img/default-avatar.png" />
        {% endthumbnail %}
    </div>
    <section class="item-content">
        <h1 class="single-title">{{ profile.display_name }}</h1>
        <ul class="item-details">
            <li>{{ profile.username }}</li>
            <li>{#{{ profile.points }}#}Scene Cred - <em>Coming soon!</em></li>
            {#<li>{{ profile.neighborhood }}</li>#}
        </ul>
        <div class="social-container">
            {% if profile.fb_id %}
            <a href="http://www.facebook.com/{{ profile.fb_id }}"><img src="/static/img/icons/facebook.png" class="social-icon" alt="Facebook icon" /></a>
            {% endif %}
            {% if profile.twitter_username %}
            <a href="http://twitter.com/{{ profile.twitter_username }}"><img src="/static/img/icons/twitter.png" class="social-icon" alt="Twitter icon" /></a>
            {% endif %}        
        </div>
    </section>
</header>