{% extends "sidebar_base.html" %}

{% block sidebar_main %}
<p>You can change profile information, review your privacy settings, and see your favorited events, places, and specials.</p>
{% endblock %}

{% block sidebar_survey %}
<p>Would you like to publish your activity on Scenable to Facebook and Twitter?</p>
<div class="choice-container">
	<input type="radio" /><label>Definitely!</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>No thanks</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>Don't care</label>
</div>

{% include "survey_questions.html" %}
{% endblock %}