{% comment %}
Template to render a particular event as a feed item.

Compatible ViewModels: places.viewmodels.EventFeedItem

Context variables:
	event:	subset of Event model (see EventFeedItem ViewModel)

TODO: only show month/day for events ending on a different day
{% endcomment %}


<div class="item-thumb">
	<a href="{% url event-detail event.id %}">
		<img class="thumbnail" alt="{{event.name}}" src="{{event.image_url}}" />
	</a>
</div>

<section class="item-content">
	<a href="{% url event-detail event.id %}">
		<h4 class="item-title">{{ event.name }}</h4>

		<ul class="item-details">	
			<li class="address">{{event.place.location.address}}</li>
			<li class="datetime">{{event.dtstart|date:"N j, f a"}} - {{event.dtend|date:"N j, f a"}}</li>
			<li class="description">{{event.description|truncatewords:35|urlizetrunc:20}}</li>
	  	</ul>
	</a>
	{% include "tags/tag_list.html" with tags=event.tags %}
</section>