{% comment %}
Template to render a particular event as a feed item.

Context variables:
	event: EventData instance

TODO: only show month/day for events ending on a different day
{% endcomment %}
{% load thumbnail %}

<div class="item-thumb">
    {% thumbnail event.image "130x130" crop="center" as im %}
    <img class="thumbnail" alt="{{event.name}}" src="{{im.url}}"/>
	{% empty %}
	<img class="thumbnail" alt="{{event.name}}" src="/static/img/default-event.png" />
	{% endthumbnail %}
</div>

<section class="item-content">
	
	<h4 class="item-title"><a href="{% url event-detail event.id %}">{{ event.name|truncatewords:7 }}</a></h4>	

	<ul class="item-details">
		<li class="datetime">{{event.dtstart|date:"N j, fa"}} - {{event.dtend|date:"fa"}}</li>
		{% if event.place %}
 			<li>at <a class="host" href="{% url place-detail event.place.id %}">{{event.place.name}}</a></li>
		{% else %}
			<li>at {{event.place_primitive}}</li>
		{% endif %}

	</ul>
	{% include "tags/tag_list.html" with tags=event.tags %}
	
</section>
