{% comment %}
Template to render a collection of rendered feed items, along with
a frame to be used as the main page content.

Context variables:
    [items]:  list of EventFeedItem VMs
{% endcomment %}
{% load vmrender from commontags %}

<header class="feed-header">
	<h1 class="feed-title">Events</h1>
	<form class="filter">
		<input type="search" placeholder="Filter Events" />
		<input type="submit" value="filter" />
	</form>
</header>

<article class="feed-content">
	<div class="map-container">
	</div>
	<ul class="feed events">
	{% for item in items %}
	    <li class="item"> 
	    {% vmrender item "events/feed_item.html" %}
	    </li>
	{% endfor %}
	</ul>
</article> <!-- .feed-content -->