{% extends "page.html" %}

{% comment %}
Page-based template for the Events feed

Context variables:
    C:  
        [items]: List of EventContext instances
        prev_p: page number of previous page (if available)
        next_p: page number of next page (if available)
{% endcomment %}

{% block main-content %}
<header class="feed-header">
	<h1 class="feed-title">Events</h1>
	<form class="filter">
		<input type="search" placeholder="Filter Events" />
		<input type="submit" value="Filter" />
	</form>
</header>

<article class="feed-content">
    <div class="map-container"></div>
    {% if C.prev_p %}<a href="{% url events-feed %}?p={{C.prev_p}}">Previous</a> | {% endif %}
    {% if C.next_p %}<a href="{% url events-feed %}?p={{C.next_p}}">Next</a>{% endif %}

    <ul class="feed events">
    {% for item in C.items %}
        <li class="item">
        {% include "events/feed_item.html" with C=item %}
        </li>
    {% endfor %}
    </ul>

    {% if C.prev_p %}<a href="{% url events-feed %}?p={{C.prev_p}}">Previous</a> | {% endif %}
    {% if C.next_p %}<a href="{% url events-feed %}?p={{C.next_p}}">Next</a>{% endif %}
</article> <!-- .feed-content -->
{% endblock %}

{% block sidebar %}
{% include "events/sidebar_events_feed.html" %}
{% endblock %}