{% extends "page.html" %}

{% comment %}
Page-based template for the Events feed

Context variables:
    [items]: List of EventData instances
    items_json: JSON string of EventFeedResources corresponding to [items]
    prev_p: page number of previous page (if available)
    next_p: page number of next page (if available)
{% endcomment %}

{% block main-content %}
<header class="feed-header">
	<h1 class="feed-title">Events</h1>
	<form class="filter">
		<input type="search" placeholder="Filter Events" />
		<input type="submit" value="Filter" />
	</form>
</header>

<article class="feed-content">
    <div class="map-container" id="mainEventFeedMap"></div>
    {% if prev_p %}<a href="{% url events-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
    {% if next_p %}<a href="{% url events-feed %}?p={{next_p}}">Next</a>{% endif %}

    <ul class="feed events" id="mainEventFeed">
    {% comment %}
    Old code where server writes feed. Being replaced with bootstrapped-Backbone below
    # {% for item in items %}
    #    <li class="item">
    #    {% include "events/feed_item.html" with event=item %}
    #    </li>
    #{% endfor %}
    {% endcomment %}
    </ul>

    {% if prev_p %}<a href="{% url events-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
    {% if next_p %}<a href="{% url events-feed %}?p={{next_p}}">Next</a>{% endif %}
</article> <!-- .feed-content -->
{% endblock %}

{% block sidebar %}
{% include "events/sidebar_events_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    // need to overwrite default geolocation accessor
    var EventItem = scenable.mapFeed.Item.extend({
        getLatLng: function() {
            var loc = this.attributes.place.location;
            if(loc &&
               loc.latitude !== null && !_.isUndefined(loc.latitude) &&
               loc.longitude !== null && !_.isUndefined(loc.longitude)) {
                return new google.maps.LatLng(loc.latitude, loc.longitude);
            }
            else {
                return null;
            }
        }
    });

    var EventItems = scenable.mapFeed.ItemFeed.extend({model:EventItem});

    var EventView = scenable.mapFeed.ItemView.extend({
        template: window.TPL.eventItem,
        iwTemplate: window.TPL.eventInfoWindow,
        markerOptions: {
            icon: '/static/img/markers/event-marker.png',
            shadow: '/static/img/markers/marker-shadow.png'
        }
    });
    var EventFeed = scenable.mapFeed.FeedView.extend({SubViewClass:EventView});

    var Items = new EventItems;
    var Feed = new EventFeed({
        model: Items,
        el: document.getElementById('mainEventFeed'),
        mapDOMElement: document.getElementById('mainEventFeedMap'),
        // scenable.map.mapFactory handles most defaults
        mapOptions: {   
            center: new google.maps.LatLng(40.44417, -79.94583),
        }
    });

    var bootstrapData = {{items_json|default:"[]"}};
    Items.reset(bootstrapData);
});
</script>
{% endblock %}