{% extends "page.html" %}

{% comment %}
Page-based template for the Events feed

Context variables:
    [items]: List of EventData instances
    items_json: JSON string of EventFeedResources corresponding to [items]
    prev_p: page number of previous page (if available)
    next_p: page number of next page (if available)
{% endcomment %}

{% block main-content %}

<article class="page-content" id="events-page">
    <div class="map-container">
        <div class="map-title-container">
            <h1>Events</h1>
        </div>
        <div class="map" id="mainEventFeedMap"></div>
    </div>

    <div class="page-nav-container">
        <form class="simple-form">
            <input type="search" placeholder="Filter Events" />
            <input type="submit" value="Filter" />
        </form>
        <nav class="prev-next" id="places-feed-nav">
            {% if prev_p %}<a href="{% url events-feed %}?p={{prev_p}}" class="prev"><!-- <img src="{{STATIC_URL}}img/icons/arrow-left.png"alt="Previous" /> --></a>{% endif %}
            <div class="page-num">3</div>
            <!-- Insert current page here (i.e. 2/10) -->
            {% if next_p %}<a href="{% url events-feed %}?p={{next_p}}" class="next"><!-- <img src="{{STATIC_URL}}img/icons/arrow-right.png" alt="Next" /> --></a>{% endif %}
        </nav>
    </div>

    <ul class="feed" id="mainEventFeed">

    </ul> <!-- .feed#mainEventFeed -->

</article> <!-- .page-content -->
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_events_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    // need to overwrite default geolocation accessor
    var EventItem = scenable.mapFeed.Item.extend({
        getLatLng: function() {
            var loc = this.attributes.place.location;
            if(loc &&
               loc.latitude !== null && !_.isUndefined(loc.latitude) &&
               loc.longitude !== null && !_.isUndefined(loc.longitude)) {
                return new google.maps.LatLng(loc.latitude, loc.longitude);
            }
            else {
                return null;
            }
        }
    });

    var EventItems = scenable.mapFeed.ItemFeed.extend({model:EventItem});

    var EventView = scenable.mapFeed.ItemView.extend({
        className: 'item',
        template: window.TPL.eventItem,
        iwTemplate: window.TPL.eventInfoWindow,
        markerOptions: {
            icon: '/static/img/markers/event-marker.png',
            shadow: '/static/img/markers/marker-shadow.png'
        }
    });
    var EventFeed = scenable.mapFeed.FeedView.extend({SubViewClass:EventView});

    var Items = new EventItems;
    var Feed = new EventFeed({
        model: Items,
        el: document.getElementById('mainEventFeed'),
        mapDOMElement: document.getElementById('mainEventFeedMap'),
        // scenable.map.mapFactory handles most defaults
        mapOptions: {   
            center: new google.maps.LatLng(40.44417, -79.94583),
        }
    });

    var bootstrapData = {{items_json|default:"[]"}};
    Items.reset(bootstrapData);
});
</script>
{% endblock %}