<section class="widget">

    <h3 class="widget-title">About Single Events</h3>
    <p>Now you're looking at a Single Event Page, which gives you more information about an particular event in Oakland.</p>

    <p>At the top you'll see a map showing where the event is happening. Look next to and below it for more info.</p>

	<p>Plan on going to the event? Add it to your favorites by clicking the icon under the map.</p>

</section>
<section class="widget">
	<h3 class="widget-title">About Scene Cred</h3>
	
	<p><b>BONUS:</b> Get Scene Cred for favoriting an event!</p>
	
	<p>To see how much Scene Cred you have, look at the top right corner next to your user name. The the more active you are in your Scene the more Scene Cred you have and the more perks you'll get as Scenable develops.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Don't Forget...</h3>
	<p>Want to search the entire Oakland Scene for something? Use the search box in the top right corner of the page.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<p>What do you think? We want to hear your feedback on this page and on the site in general!</p>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>What do you like about this page?</label>
		</div>
		<div class="field">
			<textarea placeholder="Morgan Freeman"></textarea>
		</div>
		<div class="field-label">
			<label>What don't you like?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<div class="field-label">
			<label>Other thoughts?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>
