{% extends "sidebar_base.html" %}

{% block sidebar_main %}
<!-- <section class="widget">
    <h3 class="widget-title">Hey!</h3>
</section> -->
{% endblock %}

{% block sidebar_survey %}
<p>If you are 21+, what kind of beer do you like?</p>
<div class="choice-container">
	<input type="radio" /><label>Miller Lite or equivalent</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>Wheat beers like Magic Hat No.9</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>IPA</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>Lager</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>The hoppiest I can find.</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>None, beer is gross.</label>
</div>
{% endblock %}
