{% extends "sidebar_base.html" %}

{% block sidebar_main %}
<section class="widget">

    <h3 class="widget-title">About Single Events</h3>
    <p>Now you're looking at a Single Event Page, which gives you more information about an particular event in Oakland.</p>

    <p>At the top you'll see a map showing where the event is happening. Look next to and below it for more info.</p>

	<p>Plan on going to the event? Add it to your favorites by clicking the icon under the map.</p>

</section>
<section class="widget">
	<h3 class="widget-title">About Scene Cred</h3>
	
	<p><b>BONUS:</b> Get Scene Cred for favoriting an event!</p>
	
	<p>To see how much Scene Cred you have, look at the top right corner next to your user name. The the more active you are in your Scene the more Scene Cred you have and the more perks you'll get as Scenable develops.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Don't Forget...</h3>
	<p>Want to search the entire Oakland Scene for something? Use the search box in the top right corner of the page.</p>
</section>
{% endblock %}

{% block sidebar_survey %}
<p>If you are 21+, what kind of beer do you like?</p>
<div class="choice-container">
	<input type="radio" /><label>Miller Lite or equivalent</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>Wheat beers like Magic Hat No.9</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>IPA</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>Lager</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>The hoppiest I can find.</label>
</div>
<div class="choice-container">
	<input type="radio" /><label>None, beer is gross.</label>
</div>
{% endblock %}
