{% extends "sidebar_base.html" %}

{% block sidebar_main %}


{% endblock %}

{% block sidebar_survey %}

<p class="question">Do you find a map useful for event searching?</p>
<div class="choice-container">
	<input type="checkbox" /><label>Yes</label>
</div>
<div class="choice-container">
	<input type="checkbox" /><label>No</label>
</div>

<p class="question">If no, what would you rather see?</p>
<div class="choice-container">
	<input type="checkbox" /><label>A calendar</label>
</div>
<div class="choice-container">
	<input type="checkbox" /><label>Nothing, just a list</label>
</div>
<div class="choice-container other">
	<label>Something else:</label>
	<input type="text" />
</div>

{% endblock %}