{% comment %}
Inner template for a single event detail.

Context variables:
    event: EventData instance
{% endcomment %}
{% load thumbnail %}

<header class="single-header">
    <div class="single-thumb-container">
        <div class="item-thumb">
            {% thumbnail event.image "130x130" crop="center" as im %}
            <img alt="{{event.name}}" class="thumbnail" src="{{im.url}}" />
            {% empty %}
            <img src="/static/img/default-event.png" class="thumbnail" alt="{{event.name}}" />
            {% endthumbnail %}
        </div> <!-- .item-thumb -->
        <div class="ajax-action-container" id="attendingButton">
            <div class="state-on" {% if not event.is_attending %}style="display:none"{% endif %}>
                <a href="#" class="favbutton remove" title="Remove from Calendar"><span class="status">&#215;</span>Remove from Calendar</a>
            </div>
            <div class="state-off" {% if event.is_attending %}style="display:none"{% endif %}>
                <a href="#" class="favbutton add" title="Add to Calendar"><span class="status">&#9733;</span>Add to Calendar</a>
            </div>
            <div class="state-pending" style="display:none">
                 <img src="{{STATIC_URL}}img/ajax-loader.gif" class="loader" />
            </div>
        </div>
    </div> <!-- .single-thumb-container -->

    <section class="item-content">
        <h1 class="single-title">{{event.name}}</h1>
        <ul class="item-details">
            <li class="datetime">{{event.dtstart}} - {{event.dtend}}</li>
            {% if event.place %}
                <li>at <a class="host" href="{{event.place.get_absolute_url}}">{{event.place.name}}</a></li>
                <!-- <li class="address">{{event.place.location.address}}</li> -->
            {% elif event.place_primitive %}
                <li>at {{event.place_primitive}}</li>
            {% endif %}
            {% if event.place.location.address %}
                <li>{{event.place.location.address}}</li>
            {% endif %}
            {% if event.url %}
                <li><a href="{{ event.url }}" target="blank">On the Web</a></li>
            {% endif %}
        </ul>
        
        {% include "tags/tag_list.html" with tags=event.tags %}
    </section> <!-- .item-content -->
</header> <!-- .single-header -->

<div class="single-content">
    {% if event.place.location.is_geocoded %}
    <div class="map-container">
        <div class="map" id="mainEventMap"></div>
    </div>
    {% if event.place.location.directions_link %}
    <div class="directions">
        <a href="{{event.place.location.directions_link}}" target="blank" title="Directions to {{event.place.name}}">Get Directions</a>
    </div>
    {% endif %}
    {% endif %}
    
    {% if event.description %}
    <p class="description">{{event.description|urlizetrunc:20|linebreaksbr}}</p>
    {% else %}
    <p class="description">We don't have any description for this event.</p>
    <p class="description"><strong>Coming soon - </strong> would you like to add some?</p>
    {% endif %}

</div> <!-- .single-content -->