{% comment %}
Inner template for a single event detail.

Context variables:
    event: EventData instance
{% endcomment %}
{% load thumbnail %}

<header class="single-header">
    <div class="single-thumb-container">
        <div class="item-thumb">
            {% thumbnail event.image "130x130" crop="center" as im %}
            <img alt="{{event.name}}" class="thumbnail" src="{{im.url}}" />
            {% empty %}
            <img src="/static/img/default-event.png" class="thumbnail" alt="{{event.name}}" />
            {% endthumbnail %}
        </div> <!-- .item-thumb -->
        <div class="fav-container">
            {% if is_favorite %}
                <a href="?action=unfav" class="favbutton remove" title="Unfavorite"><span class="status">&#215;</span> Remove Favorite</a>
            {% else %}
                <a href="?action=fav" class="favbutton add" title="Add Favorite"><span class="status">&#9733;</span>Add Favorite</a>
            {% endif %}
        </div> 
    </div> <!-- .single-thumb-container -->

    <section class="item-content">
        <h1 class="single-title">{{event.name}}</h1>
        <ul class="item-details">
            <li class="datetime">{{event.dtstart}} - {{event.dtend}}</li>
            {% if event.place %}
                <li>at <a class="host" href="{% url place-detail pid=event.place.id %}">{{event.place.name}}</a></li>
                <!-- <li class="address">{{event.place.location.address}}</li> -->
            {% else %}
                <li>at {{event.place_primitive}}</li>
            {% endif %}
            {% if event.url %}
                <li><a href="{{ event.url }}" target="blank">On the Web</a></li>
            {% endif %}
        </ul>
        
        {% include "tags/tag_list.html" with tags=event.tags %}
    </section> <!-- .item-content -->
</header> <!-- .single-header -->

<div class="single-content">
    {% if location.is_geocoded %}
    <div class="map-container" id="mainEventMap"></div>
    {% endif %}
    <p class="description">{{event.description|linebreaksbr}}</p>
</div> <!-- .single-content -->