<div class="infowindow">
	<div class="item-thumb">
		<a href="{{permalink}}" title="See Event Page">
		{{#if thumb_small}}
	    	<img class="thumbnail" alt="Thumbnail" src="{{thumb_small}}" />
		{{else}}
			<img class="thumbnail" alt="Thumbnail" src="/static/img/default-place.png" />
		{{/if}}
		</a>
	</div>

	<section class="item-content">
		<h4 class="item-title"><a href="{{permalink}}" title="See Event page">{{name}}</a></h4>
		<ul class="item-details">
			<li>{{dtstart_str}} - {{dtend_str}}</li>
			{{#if place}}
	 			<li class="host">at <a href="{{permalink}}">{{name}}</a></li>	
			{{else}}
				<li class="host">at {{place_primitive}}</li>
			{{/if}}
		</ul>
		{{#if tags}}
		<ul class="tag-list">
	  		{{#each tags}}
	  			<li>{{this.name}}</li>
	  		{{/each}}
	  	</ul>
	  	{{/if}}
	</section>
</div>