<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Oakland Scene</title>
 
    <meta name="viewport" content="width=device-width">

    <!-- Webfonts -->
    <link rel="stylesheet" type="text/css" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css?v=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/errors.css">
</head>

<body>
	<div class="wrap">
		<h1>The private beta is over!</h1>
		<img class="funny" src="/static/img/nolan.gif" />
		<p>The public site will be up next week! Stay tuned.</p>
		<img src="/static/img/logos/oakland-site-grey.png" />
	</div>
</body>

</html>