{% comment %}
Template to render items related to a place

Context variables:
    place: PlaceData instance
    related_feeds:
        events_feed:
            [EventFeedItem VMs]
        specials_feed:  
            [SpecialFeedItem VMs]

{% endcomment %}
{% load external_url from commontags %}
<nav class="detail-nav">
    <ul>
        <li><a id="placeDetail" class="current-page">About</a></li>
        {% if related_feeds.events_feed %}
            <li><a id="placeEvents">Events</a></li>
        {% endif %}
        {% if related_feeds.specials_feed %}
            <li><a id="placeSpecials">Specials</a></li>
        {% endif %}
    </ul>
</nav>

<section class="detail-section" id="placeDetail">

    <h2 class="detail-section-title">About - <em>{{place.name}}</em></h2>

    {% if place.location.is_geocoded %}
    <div class="map-container">
        <div class="map" id="mainPlaceMap"></div>
    </div>
    {% else %}
    <div class="map-container">
        <div class="map" id="map-unavailable"></div>
    </div>
    {% endif %}
    <ul class="item-details">
        {% if place.hours %}
            <li><p class="detail-title">Hours:</p>
                <ul>
                {# This is ugly and unintuitive. But works for now. #}
                {% for tuples in place.hours %}
                    <li>{{tuples.0}}: {{tuples.1}}</li>
                {% endfor %}        
                </ul>
            </li>
        {% endif %}

        {# parking is disabled temporarily #}
        {% if place.parking %}
            {# This is ugly and unintuitive. But works for now. #}
            <li><p class="detail-title">Parking: </p> 
                <ul>
            {% for option in place.parking %}
                    <li>{{option}}</li>
            {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if place.phone %}
            <li><p class="detail-title">Phone: </p>{{ place.phone }}</li>
        {% endif %}

        {% if place.url %}
            <li><a href="{{ place.url|external_url}}" class="detail-title" title="{{place.name}}'s Website" target="blank">Website</a></li>
        {% endif %}

    </ul>

    {% if place.description %}
    <p class="description">{{place.description|linebreaksbr}}</p>
    {% else %}
    <p class="description">We don't have much information on this place.</p>
    <p class="description"><strong>Coming soon - </strong> would you like to add some?</p>
    {% endif %}
    {% if place.location.directions_link %}
    <div class="directions-btn-container">
        <a href="{{place.location.directions_link}}" target="blank" title="Directions to {{place.name}}">Get Directions</a>
    </div>
    {% endif %}

</section>

<section class="detail-section" id="placeEvents">
    <h2 class="detail-section-title">Events - <em>{{place.name}}</em></h2>
    <ul class="feed">
    {% for item in related_feeds.events_feed %}
        <li class="item">
            {% include 'events/short_feed_item.html' with event=item %}
        </li>
    {% endfor %}
    </ul>
</section>

<section class="detail-section specials" id="placeSpecials">
    <h2 class="detail-section-title">Specials - <em>{{place.name}}</em></h2>
    <ul class="feed">
    {% for item in related_feeds.specials_feed %}
        <li class="item">
            {% include 'specials/short_feed_item.html' with special=item %}
        </li>
    {% endfor %}
    </ul>
</section>
