{% comment %}
Template to render a particular place as a feed item.

Compatible ViewModels: places.viewmodels.PlaceFeedItem

Context variables:
	place:			Place object (includes image_url)
	is_favorite:	boolean (optional)
	tag_list:		data from a TagList ViewModel
{% endcomment %}

{% load self_render from rendering_tags %}

<h3>
	<a href="{% url places-item-detail pid=place.id %}">{{ place.name }}</a>
	{% if is_favorite %}
	<span class="favorite-star">*</span>
	{% endif %}
</h3>
<img src="{{place.image_url}}"/>
<p>{{place.location.address}}</p>

<div class="tag-list">
{% include "tags/tag-list.html" with tags=tag_list.tags %}
</div>
