{% comment %}
Template to render a particular place as a feed item.

Context variables:
	place:			Place object (includes image_url)
	is_favorite:	boolean (optional)
{% endcomment %}

<li class="item">
	<div class="item-thumb-container">
		<img class="item-thumb" alt="{{item.name}}" src="{{place.image_url}}" />
	</div>
	<section class="item-content">
		<h4 class="item-title">
			<a href="{% url places-item-detail pid=place.id %}">{{ place.name }}</a>
		</h4>
		<div class="item-desc">
			<p>{{place.location.address}}</p>		
		</div>
	</section>
</li>