{% comment %}
Inner template for a single place detail.

Context variables:
    place: PlaceData instance
{% endcomment %}
{% load thumbnail %}

<header class="single-header">
    <div class="single-thumb-container">
        <div class="item-thumb">
            {% thumbnail place.image "130x130" crop="center" as im %}
            <img class="thumbnail" alt="{{event.name}}" src="{{im.url}}" />
            {% empty %}
            <img class="thumbnail" alt="{{event.name}}" src="/static/img/default-event.png" />
            {% endthumbnail %}
        </div>
        <div class="ajax-action-container" id="favoriteButton">
            <div class="state-on" {% if not place.is_favorite %}style="display:none"{% endif %}>
                <a href="#" class="favbutton remove" title="Remove Favorite"><span class="status">&#215;</span>Remove Favorite</a>
            </div>
            <div class="state-off" {% if place.is_favorite %}style="display:none"{% endif %}>
                <a href="#" class="favbutton add" title="Add Favorite"><span class="status">&#9733;</span>Add Favorite</a>
            </div>
            <div class="state-pending" style:"display:none"></div>
        </div>
    </div> <!-- .item-thumb -->

    <section class="item-content">
        <h1 class="single-title">{{ place.name }}</h1>
        <ul class="item-details">   
            <li class="address">{{place.location.address}}</li>
        </ul>
        {% include "tags/tag_list.html" with tags=place.tags %}
        <div class="social-container">
            {% if place.fb_id %}
            <a href="http://www.facebook.com/{{ place.fb_id }}" target="blank" title="Twitter"><img src="/static/img/icons/facebook.png" class="social-icon" alt="Facebook icon" /></a>
            {% endif %}
            {% if place.twitter_username %}
            <a href="http://twitter.com/{{ place.twitter_username }}" target="blank" alt="Facebook"><img src="/static/img/icons/twitter.png" class="social-icon" alt="Twitter icon" /></a>
            {% endif %}        
        </div>
    </section> <!-- .item-content -->
</header> <!-- .single-header -->