{% comment %}
Template to render a collection of rendered feed items, along with
a frame to be used as the main page content.

Context variables:
    [items]:  list of PlaceFeedItem VMs
{% endcomment %}
{% load vmrender from commontags %}

<header class="feed-header">
	<h1 class="feed-title">Places</h1>
	<form class="filter" >
		<input type="search" placeholder="Filter Places" />
		<input type="submit" value="filter" />
	</form>
</header>

<article class="feed-content">
	<div class="map-container">	
	</div>

	{% if prev_p %}<a href="{% url places-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
	{% if next_p %}<a href="{% url places-feed %}?p={{next_p}}">Next</a>{% endif %}

	<ul class="feed places">
	{% for item in items %}
	    <li class="item">
	    {% vmrender item "places/feed_item.html" %}
	    </li>
	{% endfor %}
	</ul>

	{% if prev_p %}<a href="{% url places-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
	{% if next_p %}<a href="{% url places-feed %}?p={{next_p}}">Next</a>{% endif %}
</article> <!-- .feed-content -->