{% comment %}
Template to render a collection of rendered feed items, along with
a frame to be used as the main page content.

Context variables:
    [items]:  list of PlaceFeedItem VMs
{% endcomment %}
{% load vmrender from commontags %}

<header class="feed-header">
	<h2 class="feed-title">Places</h2>
	<form class="filter" >
		<input type="search" placeholder="Filter Places" />
		<input type="submit" value="filter" />
	</form>
</header>

<div class="map-container feed-page">
	
</div>

{% if prev_p %}<a href="{% url places-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
{% if next_p %}<a href="{% url places-feed %}?p={{next_p}}">Next</a>{% endif %}

<ul class="feed places">
{% for item in items %}
    <li class="item">
    {% vmrender item "places/feed_item.html" %}
    </li>
{% endfor %}
</ul>

{% if prev_p %}<a href="{% url places-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
{% if next_p %}<a href="{% url places-feed %}?p={{next_p}}">Next</a>{% endif %}