{% extends "page.html" %}

{% comment %}
Page-based template for the Places feed

Context variables:
In main content:
    C:  
        [items]: List of PlaceContext instances
        prev_p: page number of previous page (if available)
        next_p: page number of next page (if available)
In footer:
    C:
        items_json: JSON string of corresponding places
{% endcomment %}

{% block main-content %}
<header class="feed-header">
    <h1 class="feed-title">Places</h1>
    <form class="filter" >
        <input type="search" placeholder="Filter Places" />
        <input type="submit" value="Filter" />
    </form>
</header>

<article class="feed-content">
    <div class="map-container" id="mainPlaceFeedMap"></div>
    {% if C.prev_p %}<a href="{% url places-feed %}?p={{C.prev_p}}">Previous</a> | {% endif %}
    {% if C.next_p %}<a href="{% url places-feed %}?p={{C.next_p}}">Next</a>{% endif %}

    <ul class="feed places" id="mainPlaceFeed">
    {% for item in C.items %}
        <li class="item {%if item.place.location.is_geocoded%}hasMarker{%endif%}">
        {% include "places/feed_item.html" with C=item %}
        </li>
    {% endfor %}
    </ul>

    {% if C.prev_p %}<a href="{% url places-feed %}?p={{C.prev_p}}">Previous</a> | {% endif %}
    {% if C.next_p %}<a href="{% url places-feed %}?p={{C.next_p}}">Next</a>{% endif %}
</article> <!-- .feed-content -->
{% endblock %}

{% block sidebar %}
{% include "places/sidebar_place_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    var theMap = new window.Scenable.feed.Map(document.getElementById('mainPlaceFeedMap'), 40.44417, -79.94583);
    _.each({{C.items_json|safe|default:"[]"}}, function(place){
        if( place.location && place.location.latitude && place.location.longitude) {
            theMap.addItem(
                place.location.latitude, 
                place.location.longitude, 
                '/static/img/markers/place-marker.png', 
                window.TPL.placeInfoWindow(place));
        }
    });
    window.Scenable.feed.linkFeedToMap($('#mainPlaceFeed').children('.hasMarker'),theMap);
});
</script>
{% endblock %}