{% extends "page.html" %}

{% comment %}
Page-based template for the Places feed

Context variables:
    place: PlaceData instance
    related_feeds: PlaceRelatedFeeds instance
        
{% endcomment %}
{% load thumbnail %}

{% block main-content %}
<div class="single-container detailed-single" id="place-single">
    {% include "places/header.html" %}
	<article class="single-content">
	    {% include "places/details.html" %}
	</article>
</div>
{% endblock %}

{% block sidebar %}
{% include "places/sidebar_place_single.html" %}
{% endblock %}


{% comment %}
Saving old favoriting Javascript for future use:
<script type="text/javascript">
    require(['jquery','helpers/place_actions'],function($,place_actions) {
        // handle the add/remove favorite button
        $(".favbutton").click( function(event) {
            var link = $(this);     // save the link element that fired the event
            $('.favbutton').html('<p class="changing-fav-spinner">spinner</p>');
            // depending on the button class, either attempt adding or 
            // removing favorite state of place
            var changingFavorite;
            if (link.hasClass('add')) {
                changingFavorite = place_actions.addFavorite({{place.id}});
                changingFavorite.done( function(msg) {
                    link.removeClass('add')
                        .addClass('remove');
                });
            }
            else if (link.hasClass('remove')) {
                changingFavorite = place_actions.removeFavorite({{place.id}});
                changingFavorite.done( function(msg) {
                    link.removeClass('remove')
                        .addClass('add');
                        // alert('Oops! ' + msg);   // TODO: do something better
                });
            }

            // in case neither add/remove action was taken, skip the rest
            // (would only happen if the DOM class is messed up)
            if(changingFavorite) {
                // TODO: add spinner
                // fail/always actions are the same despite the promise type
                changingFavorite.fail( function(msg) {
                    $('.item-thumb').append('<div id="favoriteError" class="error">Oops! ' + msg + '</div>'); // Will want to customize the 'not authenticated' msg to include link to login/signup

                    // Maybe this isn't needed - without, error duplicated everytime favorited 
                    $('#favoriteError').delay(2000).fadeOut(300);   // TODO: do something better
                });
                changingFavorite.always( function() {
                    $('.changing-fav-spinner').fadeOut(100);
                });             
            }

            event.preventDefault();
        });
    });
</script>
{% endcomment %}