{% extends "page.html" %}

{% comment %}
Page-based template for the Places feed

Context variables:
    [items]: List of PlaceContext instances
    items_json: JSON string of PlaceFeedResources corresponding to [items]
    prev_p: page number of previous page (if available)
    next_p: page number of next page (if available)        
{% endcomment %}

{% block main-content %}

<article class="page-content" id="places-page">
    <div class="map-container">
        <div class="map-title-container">
            <h1>Places</h1>
        </div>
        <div class="map" id="mainPlaceFeedMap"></div>
    </div>
    
    <div class="page-nav-container">
        <form class="simple-form">
            <input type="search" placeholder="Filter Places" />
            <input type="submit" value="Filter" />
        </form>
        <nav class="prev-next" id="places-feed-nav">
            {% if prev_p %}<a href="{% url places-feed %}?p={{prev_p}}" class="prev"><!-- <img src="{{STATIC_URL}}img/icons/arrow-left.png"alt="Previous" /> --></a>{% endif %}
            <div class="page-num">3</div>
            <!-- Insert current page here (i.e. 2/10) -->
            {% if next_p %}<a href="{% url places-feed %}?p={{next_p}}" class="next"><!-- <img src="{{STATIC_URL}}img/icons/arrow-right.png" alt="Next" /> --></a>{% endif %}
        </nav>
    </div>
    
    <ul class="feed places" id="mainPlaceFeed">
        {# will be inserted via Backbone bootstrapping below #}
        {% comment %}
        Old code where server writes feed. Being replaced with bootstrapped-Backbone below
        # {% for item in items %}
        #    <li class="item {%if item.place.location.is_geocoded%}hasMarker{%endif%}">
        #    {% include "places/feed_item.html" with place=item %}
        #    </li>
        # {% endfor %}
        {% endcomment %}
    </ul> <!-- .feed#mainPlaceFeed -->
    
</article> <!-- .page-content -->
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_place_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    // model extensions not strictly necessary: defaults will do for Places
    var PlaceItem = scenable.mapFeed.Item.extend();
    var PlaceItems = scenable.mapFeed.ItemFeed.extend({model:PlaceItem});

    var PlaceView = scenable.mapFeed.ItemView.extend({
        className: 'item',
        template: window.TPL.placeItem,
        iwTemplate: window.TPL.placeInfoWindow,
        markerOptions: {
            icon: '/static/img/markers/place-marker.png',
            shadow: '/static/img/markers/marker-shadow.png'
        }
    });
    var PlaceFeed = scenable.mapFeed.FeedView.extend({SubViewClass:PlaceView});

    var Items = new PlaceItems;
    var Feed = new PlaceFeed({
        model: Items,
        el: document.getElementById('mainPlaceFeed'),
        mapDOMElement: document.getElementById('mainPlaceFeedMap'),
        // scenable.map.mapFactory handles most defaults
        mapOptions: {   
            center: new google.maps.LatLng(40.44417, -79.94583),
        }
    });

    var bootstrapData = {{items_json|default:"[]"}};
    Items.reset(bootstrapData);
    window._Items = Items;
});
</script>
{% endblock %}