{% extends "base.html" %}

{% block main_body %}
<div id="wrapper" class="single">

	<article id="placesSingle" class="single-item">

		<header class="single-item-header">
			<div class="item-thumb-container">
				<img class="item-thumb" height="50" width="50" alt="{{ place.name }}" src="{{ place.image_url }}" />
			</div>

			<div class="item-content-container">
				<h2 class="item-title">
				  	<em>Place:</em> {{ place.name }}
				</h2>
			</div>
		</header>

		<ul class="single-item-details">
			{% if place.location.address %}
				<li>{{ place.location.address }}</li>
			{% endif %}

			{% if place.hours %}
		 		<li>{{ place.hours }}</li>
		 	{% endif %}

		 	{% if place.phone %}
		  		<li>Phone: {{ place.phone }}</li>
			{% endif %}

			<li>Parking: Street</li>
		</ul>
		<ul class="item-list">
			{% for tagitem in place.tags %}
				<li>{{ tagitem.tag.name }}</li>
			{% endfor %}
		</ul>
		{% if place.description %}
			<section class="single-item-desc">
		  		<p>{{ place.description|linebreaksbr|truncatewords:50|urlizetrunc:20 }}</p>
		  	</section>
	  	{% endif %}

{% endblock %}
