{% extends "base.html" %}

{% comment %}
Outer template that prints a single place detail page. 

Context variables:
    place:      relevant PlaceView object
    special:    highlighted Offer object (optional)
{% endcomment %}

{% block content %}
<div id="wrapper" class="single">

	<article id="placesSingle" class="single-item">

		<header class="single-item-header">
			<div class="item-thumb-container">
				<img class="item-thumb" height="50" width="50" alt="{{ place.name }}" src="{{ place.image_url }}" />
			</div>

			<div class="item-content-container">
				<h2 class="item-title">
				  	<em>Place:</em> {{ place.name }}
				</h2>
			</div>
		</header>

		<ul class="single-item-details">
			{% if place.location.address %}
				<li>{{ place.location.address }}</li>
			{% endif %}

			{% if place.hours %}
		 		<li>{{ place.hours }}</li>
		 	{% endif %}

		 	{% if place.phone %}
		  		<li>Phone: {{ place.phone }}</li>
			{% endif %}

			<li>Parking: Street</li>
		</ul>

		{% include "tags/tag-list.html" with tags=place.tags %}

		{# uses place and special context variables #}
		{% include "places/place_actions.html" %}

		{% if place.description %}
			<section class="single-item-desc">
		  		<p>{{ place.description|linebreaksbr|truncatewords:50|urlizetrunc:20 }}</p>
		  	</section>
	  	{% endif %}

{% endblock %}
