{% load thumbnail %}

<div class="item-thumb">
    <a href="{% url place-detail place.id %}">
        {% thumbnail place.image "200x200" crop="center" as im %}
        <img class="thumbnail" alt="{{place.name}}" src="{{im.url}}" />
        <div class="item-type type-place">
            <img src="{{STATIC_URL}}img/main-menu/store-front.png" alt="Store front" />
        </div>
        {% empty %}
        <img class="thumbnail" alt="{{place.name}}" src="{{STATIC_URL}}img/default-place.png" />
        {% endthumbnail %}
    </a>
</div>

<section class="item-content">
    <h4 class="item-title">{{ place.name|truncatechars:50 }}</h4>
    <ul class="item-details">   
        <li>{{place.location.address}}</li>
    </ul>
    {% include "tags/tag_list.html" with tags=place.tags %}
</section>