{% load thumbnail %}

<div class="item-thumb">
    <a href="{% url place-detail place.id %}">
        {% thumbnail place.image "130x130" crop="center" as im %}
        <img class="thumbnail" alt="{{place.name}}" src="{{im.url}}" />
        <img class="item-type" src="{{STATIC_URL}}img/default-place-trans.png" alt="" />
        {% empty %}
        <img class="thumbnail" alt="{{place.name}}" src="{{STATIC_URL}}img/default-place.png" />
        {% endthumbnail %}
    </a>
</div>

<section class="item-content">
    <h4 class="item-title">{{ place.name|truncatewords:7 }}</h4>
    <ul class="item-details">   
        <li>{{place.location.address}}</li>
    </ul>
    {% include "tags/tag_list.html" with tags=place.tags %}
</section>