<section class="widget">

    <h3 class="widget-title">About Places</h3>
    <p>Here we have the Places page which gives you a listing of all the businesses, organizations and places in Oakland.</p>

    <p>At the top you'll see a map showing where all the Places currently on the page are located. To see additional places, simply hit the "see more" button at the bottom of the page.</p>

	<p>For more information about any particular place, click on its map marker or on one of the places listed.</p>

</section>
<section class="widget">
	<h3 class="widget-title">Don't Forget...</h3>
	
	<p>You can always filter the results on the Place page by using the filter box above the map.</p>

	<p>Want to search the entire Oakland Scene for something? Use the search box in the top right corner of the page.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<p>What do you think? We want to hear your feedback on this page and on the site in general!</p>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>What do you like about this page?</label>
		</div>
		<div class="field">
			<textarea placeholder="Morgan Freeman"></textarea>
		</div>
		<div class="field-label">
			<label>What don't you like?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<div class="field-label">
			<label>Other thoughts?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>
<section class="widget">
</section>

