{% comment %}
Inner template that renders details about a single place.

Corresponding ViewModel: places.viewmodels.PlaceDetail 

Context variables:
    place:      		Place object with extra fields (e.g. url, hours)
    is_favorite:		boolean (optional)
    tag_list:			a TagList RenderableViewModel
    featured_special: 	Offer object (optional)
    directions_link:	Google Maps link (optional)
{% endcomment %}

{% load self_render from viewmodel_tags %}

<div id="wrapper" class="single">

	<article id="placesSingle" class="single-item">

		<header class="single-item-header">
			<div class="item-thumb-container">
				<img class="item-thumb" height="50" width="50" alt="{{ place.name }}" src="{{ place.image_url }}" />
			</div>

			<div class="item-content-container">
				<h2 class="item-title">
				  	<em>Place:</em> {{ place.name }}
				</h2>
			</div>
		</header>

		<ul class="single-item-details">
			{% if place.location.address %}
				<li>
				{{ place.location.address }}
				{% if directions_link %}
					<a href="{{directions_link}}">(directions)</a>
				{% endif %}
				</li>
			{% endif %}

			{% if place.url %}
				<li><a href="{{ place.url }}">{{ place.url }}</a></li>
			{% endif %}

			{% if place.hours %}
		 		<li>{{ place.hours }}</li>
		 	{% endif %}

		 	{% if place.phone %}
		  		<li>Phone: {{ place.phone }}</li>
			{% endif %}

			<li>Parking: Street</li>
		</ul>

		{% self_render tag_list %}

		<p class="favorite-p">
		{% if is_favorite %}
			<a href="?action=removefav" class="favbutton remove">Remove from Favorites</a>
		{% else %}
			<a href="?action=addfav" class="favbutton add">Add to Favorites</a>
		{% endif %}
		</p>

		{% if place.description %}
			<section class="single-item-desc">
		  		<p>{{ place.description|linebreaksbr|truncatewords:50|urlizetrunc:20 }}</p>
		  	</section>
	  	{% endif %}

	  	{% if featured_special %}
	  		<div class="featured_special">
	  			{{featured_special.description}}
	  			<a href="{% url offers-item-detail featured_special.id %}">Grab it!</a>
	  		</div>
	  	{% endif %}

	  	<a href="#">Report a problem</a> |
	  	<a href="#">Post to chatter</a>
</div>

<script type="text/javascript">
	require(['jquery','helpers/place_actions'],function($,place_actions) {
		// handle the add/remove favorite button
		$(".favbutton").click( function(event) {
			var link = $(this);		// save the link element that fired the event

			// depending on the button class, either attempt adding or 
			// removing favorite state of place
			var changingFavorite;
			if (link.hasClass('add')) {
				changingFavorite = place_actions.addFavorite({{place.id}});
				changingFavorite.done( function(msg) {
					link.text('Remove from Favorites')
						.removeClass('add')
						.addClass('remove');
				});
			}
			else if (link.hasClass('remove')) {
				changingFavorite = place_actions.removeFavorite({{place.id}});
				changingFavorite.done( function(msg) {
					link.text('Add to Favorites')
						.removeClass('remove')
						.addClass('add');
				});
			}

			// in case neither add/remove action was taken, skip the rest
			// (would only happen if the DOM class is messed up)
			if(changingFavorite) {
				// TODO: add spinner
				// fail/always actions are the same despite the promise type
				changingFavorite.fail( function(msg) {
					alert('Failure: ' + msg);	// TODO: do something better
				});
				changingFavorite.always( function() {
					// TODO: remove spinner
				});				
			}

			event.preventDefault();
		});
	});
</script>