{% comment %}
Template to render a particular Special as a feed item.

Compatible ViewModel: specials.viewmodels.SpecialFeedItem

Context variables:
	special:	subset of Special model (see SpecialFeedItem ViewModel)
{% endcomment %}


<div class="item-thumb">
	<div class="points">+{{special.points}}</div>
	<button class="btn btn-primary">Grab It!</button>
</div>

<section class="item-content">
	<a href="{% url special-detail special.id %}">
		<h4 class="item-title">{{special.title}}</h4>
		<ul class="item-details">
			<li>at {{special.place.name}}</li>
			{% if special.dtexpires %}
				<li><time class="datetime meta">Expires {{special.dtexpires}}</time></li>
			{% endif %}
			{% if special.description %}
				<li class="description meta">{{ special.description|truncatewords:20|urlizetrunc:20 }}</li>
			{% endif %}	

		</ul>
	</a>
	{% include "tags/tag_list.html" with tags=special.tags %}
	
</section>
