{% comment %}
Template to render a particular special as a feed item.

Context variables:
	special: SpecialData instance
{% endcomment %}

<div class="item-thumb">
	<div class="btn btn-primary"><a href="{% url special-detail special.id %}" title="See Special"><img src="{{STATIC_URL}}img/icons/special-thumb.png" /></a></div>
</div>

<section class="item-content">
	<h4 class="item-title"><a href="{% url special-detail special.id %}">{{special.title|truncatewords:7}}</a></h4>
	<ul class="item-details">
		<li>at <a class="host" href="{% url place-detail pid=special.place.id %}">{{special.place.name}}</a></li>
		{% if special.dtexpires %}
			<li><time class="datetime meta">Expires {{special.dtexpires}}</time></li>
		{% endif %}
		{% if special.description %}
			<li class="description meta">{{ special.description|truncatewords:20|urlizetrunc:20 }}</li>
		{% endif %}	
	</ul>
	
	{% include "tags/tag_list.html" with tags=special.tags %}
	
</special>