{% comment %}
Template to render a collection of rendered feed items, along with
a frame to be used as the main page content.

Context variables:
    [items]:  list of SpecialFeedItem VMs
{% endcomment %}
{% load vmrender from vmtags %}

<header class="feed-header">
	<h2 class="feed-title">Specials</h2>
	<form class="filter">
		<input type="search" placeholder="Filter Specials" />
		<input type="submit" value="filter" />
	</form>
</header>

<ul class="feed specials">
{% for item in items %}
    <li class="item">
    {% vmrender item "specials/feed_item.html" %}
    </li>
{% endfor %}
</ul>
