{% extends "page.html" %}

{% comment %}
Page-based template for the Specials feed

Context variables:
    [items]: List of SpecialContext instances
    items_json: JSON string of SpecialFeedResources corresponding to [items]
    prev_p: page number of previous page (if available)
    next_p: page number of next page (if available)
{% endcomment %}

{% block main-content %}
<header class="page-header">
	<h1 class="page-title">Specials</h1>
	<form class="filter">
		<input type="search" placeholder="Filter Specials" />
		<input type="submit" value="Filter" />
	</form>
</header>

<article class="page-content" id="specials-page">
    <div class="map-container" id="mainSpecialFeedMap"></div>
    {% if prev_p %}<a href="{% url specials-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
    {% if next_p %}<a href="{% url specials-feed %}?p={{next_p}}">Next</a>{% endif %}

    <ul class="feed specials" id="mainSpecialFeed">
        {# will be inserted via Backbone bootstrapping below #}
        {% comment %}
        Old code where server writes feed. Being replaced with bootstrapped-Backbone below
        #{% for item in items %}
        #    <li class="item">
        #    {% include "specials/feed_item.html" with special=item %}
        #    </li>
        # {% endfor %}
        {% endcomment %}
    </ul>

    {% if prev_p %}<a href="{% url specials-feed %}?p={{prev_p}}">Previous</a> | {% endif %}
    {% if next_p %}<a href="{% url specials-feed %}?p={{next_p}}">Next</a>{% endif %}
</article> <!-- .feed-content -->
{% endblock %}

{% block sidebar %}
{% include "specials/sidebar_specials_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    // need to overwrite default geolocation accessor
    var SpecialItem = scenable.mapFeed.Item.extend({
        getLatLng: function() {
            var loc = this.attributes.place.location;
            if(loc &&
               loc.latitude !== null && !_.isUndefined(loc.latitude) &&
               loc.longitude !== null && !_.isUndefined(loc.longitude)) {
                return new google.maps.LatLng(loc.latitude, loc.longitude);
            }
            else {
                return null;
            }
        }
    });

    var SpecialItems = scenable.mapFeed.ItemFeed.extend({model:SpecialItem});

    var SpecialView = scenable.mapFeed.ItemView.extend({
        className: 'item',
        template: window.TPL.specialItem,
        iwTemplate: window.TPL.specialInfoWindow,
        markerOptions: {
            icon: '/static/img/markers/special-marker.png',
            shadow: '/static/img/markers/marker-shadow.png'
        }
    });
    var SpecialFeed = scenable.mapFeed.FeedView.extend({SubViewClass:SpecialView});

    var Items = new SpecialItems;
    var Feed = new SpecialFeed({
        model: Items,
        el: document.getElementById('mainSpecialFeed'),
        mapDOMElement: document.getElementById('mainSpecialFeedMap'),
        // scenable.map.mapFactory handles most defaults
        mapOptions: {   
            center: new google.maps.LatLng(40.44417, -79.94583),
        }
    });

    var bootstrapData = {{items_json|default:"[]"}};
    Items.reset(bootstrapData);
});
</script>
{% endblock %}