{% extends "page.html" %}

{% comment %}
Page-based template for the Specials feed

Context variables:
    special: SpecialData instance
{% endcomment %}

{% block main-content %}
<div class="single-container" id="special-single">
    {% include "specials/single.html" %}
    <!-- Coupon redemption modale -->
    <div class="grabbit-modal" title="{{special.title}}">
        <h5>Thanks!</h5>
        <p>Show your coupon at {{special.place.name}} to redeem the offer. Bring a printed copy or show it on your phone.</p>
        <div class="row-container">
            <button class="left">Email it</button><button class="right">Print it</button>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_specials_single.html" %}
{% endblock %}

{% block foot-inlines %}

{% if special.place.location.latitude and special.place.location.longitude %}
<script type="text/javascript">
$(function(){
    var pos = new google.maps.LatLng({{special.place.location.latitude|default:"NaN"}},{{special.place.location.longitude|default:"NaN"}});
    // id comes from an element drawn in places/details.html
    var map = scenable.map.mapFactory('single',
            document.getElementById('mainSpecialMap'),
            {center: pos});
    new google.maps.Marker({
        position: pos,
        map: map
    });

});
</script>
{% endif %}
{% endblock %}
