{% comment %}
Template to render a particular event as a related feed item on a single special page.

Context variables:
    special: SpecialData instance
{% endcomment %}
{% load thumbnail %}
<div class="item-thumb">
    <a href="{% url special-detail special.id %}">
        {% thumbnail special.place.image "200x200" crop="center" as im %}
        <img class="thumbnail" alt="{{special.place.name}}" src="{{im.url}}" />
        <div class="item-type type-special">
            <img src="{{STATIC_URL}}img/main-menu/tag-special.png" alt="Special icon" />
        </div>
        {% empty %}
        <img class="thumbnail" alt="{{special.place.name}}" src="{{STATIC_URL}}img/default-special.png" />
        {% endthumbnail %}
    </a>
</div>
<section class="item-content">
	<h4 class="item-title"><a href="{% url special-detail special.id %}" title="See this special">{{special.title|truncatewords:7}}</a></h4>
</section>
