<section class="widget">

    <h3 class="widget-title">About Specials</h3>
    <p>Say hello to the Specials page which gives you a listing of all the fantastic specials offered by businesses in Oakland.</p>

	<p>Check the map at the top to see where all the specials currently on the page are located. To see additional specials, simply hit the "see more" button at the bottom of the page.</p>

	<p>To grab a special or to get more information about it, click on its map marker or on one of those listed.</p>

</section>

<section class="widget">
    <h3 class="widget-title">About Scene Cred</h3>
    
	<p>Every time you purchase a special, you'll receive Scene Cred equal to the amount of the purchase. To see how much Scene Cred you have, look at the top right corner next to your user name. The more Scene Cred you have, the more active you are in your Scene.</p>

</section>
<section class="widget">
	<h3 class="widget-title">Don't Forget...</h3>
	<p>You can always filter the results on the Specials page by using the filter box above the map.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<p>What do you think? We want to hear your feedback on this page and on the site in general!</p>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>What do you like about this page?</label>
		</div>
		<div class="field">
			<textarea placeholder="Morgan Freeman"></textarea>
		</div>
		<div class="field-label">
			<label>What don't you like?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<div class="field-label">
			<label>Other thoughts?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>

