{% comment %}
Inner template for a single special detail.

Context variables:
	special: SpecialData instance

TODO #1: If there is a limited number available, show how many are left (3/10 available).

TODO #2: Only show expiration date if there is one.
{% endcomment %}

<div class="single-container specials" id="special-single">
	<header class="single-header">

		<div class="single-thumb-container">
			<div class="item-thumb">
				<img class="thumbnail" src="{{STATIC_URL}}img/icons/special-thumb-single.png" />
			</div>
		</div> <!-- .single-thumb-container -->

		<section class="item-content">
			<h1 class="single-title">{{special.title}}</h1>
			<ul class="item-details">
				<li>at <a class="host" href="{{special.place.get_absolute_url}}">{{special.place.name}}</a></li>
				{% if special.dtexpires %}
					<li><time class="datetime meta">Good thru {{special.dtexpires}}</time></li>
				{% endif %}
				{% if special.total_available %}
					<li>{{special.total_available}} Available</li>
				{% endif %}
			</ul>
			{% include "tags/tag_list.html" with tags=special.tags %}
		</section>

	</header>

	<div class="single-content">
		
		<div class="map-container">
			{% if special.place.location.is_geocoded %}
			<div class="map" id="mainSpecialMap"></div>
			{% endif %}
			<button class="btn-primary" id="openGrabbitModal">Grab It!</button>
		</div>
		
		{% if special.description %}
		<p class="description">{{special.description}}</p>
		{% else %}
		<p class="description">We don't have a description for this special.</p>
		{% endif %}
		{% if special.place.location.directions_link %}
	    <div class="directions">
	        <a href="{{place.location.directions_link}}" target="blank" title="Directions to {{place.name}}">Get Directions</a>
	    </div>
	    {% endif %}
	</div>
</div>