{% comment %}
Inner template for a single special detail.

Compatible contexts: SpecialContext

TODO #1: If there is a limited number available, show how many are left (3/10 available).

TODO #2: Only show expiration date if there is one.

{% endcomment %}
{% with special=C.special %}
<div class="single-container" id="special-single">
	<header class="single-header">

		<div class="single-thumb-container">
			<div class="item-thumb">
				<!-- <div class="points">+{{special.points}}</div> -->
				<div class="btn btn-primary"><img src="{{STATIC_URL}}img/icons/special-thumb-single.png" />Grab It!</div>
			</div>
			<!-- <div class="fav-container">
				<button class="btn btn-primary">Grab It!</button>
			</div> -->
		</div> <!-- .single-thumb-container -->

			<section class="item-content">
				<h1 class="single-title">{{special.title}}</h1>

				<ul class="item-details">
					<li>at <a class="host" href="{% url place-detail pid=special.place.id %}">{{special.place.name}}</a></li>
					{% if special.dtexpires %}
						<li><time class="datetime meta">Good thru {{special.dtexpires}}</time></li>
					{% endif %}
					{% if special.total_available %}
						<li>{{special.total_available}} Available</li>
					{% endif %}

				</ul>

				{% include "tags/tag_list.html" with tags=special.tags %}

			
		</section>

	</header>

	<div class="single-content">
		<div class="map-container">
			<!-- Map background is here for the time being -->
		</div>
		<p class="description">{{special.description}}</p>
	</div>
</div>
{% endwith %}