@import url("@{static_url}css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css");
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* Responsive Images + alt text style */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  color: #999;
  font-style: italic;
  height: auto;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* 	Stylesheet to define le icons 
*/
/* 	TODO: 
		Sprite sheet
		Background positioning will be added 
*/
/* To be made into sprite sheet */
a {
  /* Single place nav */

  /*	&#placeAtAGlance {
		.icon(photo-magnify);
	}

	&#placeEvents {
		.icon(calendar-alt);
	}

	&#placeSpecials {
		.icon(tag-special);
	}
*/

  /* #scene-nav */

  /*&#siteJobs {
		.icon(suitcase);
	}*/

}
a#siteHot {
  background: #ffffff url('/static/img/menu_icons/city.png') no-repeat center 9px;
}
a#sitePlaces {
  background: #ffffff url('/static/img/menu_icons/store-front.png') no-repeat center 9px;
}
a#siteEvents {
  background: #ffffff url('/static/img/menu_icons/calendar-alt.png') no-repeat center 9px;
}
a#siteSpecials {
  background: #ffffff url('/static/img/menu_icons/tag-special.png') no-repeat center 9px;
}
a#siteChatter {
  background: #ffffff url('/static/img/menu_icons/speech-bubble.png') no-repeat center 9px;
}
a#siteNews {
  background: #ffffff url('/static/img/menu_icons/newspaper.png') no-repeat center 9px;
}
/* Actions */
/* Will move this to template when that happens */
/*@import url(@{static_url}css/fonts/arvo-fontfacekit/stylesheet.css);
@import url(@{static_url}css/fonts/nunito-fontfacekit/stylesheet.css);*/
/* ROOT --------- */
body {
  background: url("/static/img/textures/sky-head-tex.png");
  *zoom: 1;
  font-weight: normal;
  height: 100%;
  margin: 0 auto 1em auto;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* 2 TYPOGRAPHY ---------- */
h1 {
  font-family: 'BloklettersBalpen';
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}
h2 {
  color: #2c525d;
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 1em;
  padding-bottom: 0.1em;
  text-shadow: 0.07em 0.07em 0 #ffffff;
}
a {
  color: #b83939;
}
a:hover {
  color: #ded57f;
}
a:active {
  color: #2c525d;
}
a:visited {
  color: #b83939;
}
p {
  color: #222;
  margin: 0.1em 0;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
/* TYPE ELEMENTS --------- */
.meta {
  font-size: 0.9em;
}
.description {
  margin-top: 0.3em;
  font-color: #888;
  font-style: italic;
  font-size: 0.9em;
}
#colophon {
  text-align: right;
}
#colophon a {
  color: #2c525d;
  font-weight: bold;
}
#colophon a:hover {
  color: #b83939;
}
/* HEADINGS ------- */
#site-title {
  margin-top: 20px;
  padding: 0;
  text-align: center;
}
#site-title a {
  color: #fff;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:active {
  text-shadow: 0 0.03em 0.05em #000;
}
#site-title a:visited {
  color: #fff;
}
#tagline {
  color: #fff;
  font-size: 1em;
  font-style: normal;
  text-shadow: 0.01em 0.01em 0 #000;
  text-align: center;
  padding-bottom: 8px;
}
/* ELEMENTS --------- */
.points {
  font-family: 'KomikaTitleRegular', Gill Sans, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 #ded57f;
}
/* SITE ------------- */
#site-header {
  width: 100%;
  background: url("/static/img/textures/sky-dark-tex.png");
  -webkit-box-shadow: 0.05em 0.05em 0.5em #000000;
  -moz-box-shadow: 0.05em 0.05em 0.5em #000000;
  box-shadow: 0.05em 0.05em 0.5em #000000;
  border-bottom: 1px solid #e1e1e1;
  height: 85px;
  position: fixed;
  top: 0;
  z-index: 999;
}
#site-header .third {
  width: 33%;
  float: left;
}
#site-header #user {
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e1e1e1;
  font-style: italic;
  margin: 1.3em 1em 0 0;
  text-align: right;
  text-shadow: 0.02em, 0.02em, 0em, #fff;
}
#site-header #user a {
  color: #ded57f;
}
#site-header #user a:hover {
  color: #a9c6e8;
}
#site-content {
  -webkit-box-shadow: 0 0 0.1em #888888;
  -moz-box-shadow: 0 0 0.1em #888888;
  box-shadow: 0 0 0.1em #888888;
  background: url("/static/img/textures/white-tex.png");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  margin: 120px auto;
  width: 650px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 3%;
  position: relative;
}
#site-content:before,
#site-content:after {
  content: "";
  display: table;
}
#site-content:after {
  clear: both;
}
#site-content.admin,
#site-content#home {
  padding-top: 2%;
}
#site-content.admin {
  margin-bottom: 200px;
}
#site-content#home {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
#site-footer {
  width: 100%;
  position: relative;
  top: 10px;
  right: 10px;
}
/* CONTENT ----------- */
.content-header {
  margin-bottom: 1em;
}
.content-header .tip {
  margin: 0;
}
/* FORMS & INPUTS --------------- */
form {
  margin-top: 2em;
  *zoom: 1;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
form .tip a {
  color: #4b7699;
}
label {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 1%;
  vertical-align: bottom;
}
textarea {
  height: 6em;
}
::-webkit-input-placeholder {
  color: #AAAAAA;
}
:-moz-placeholder {
  color: #AAAAAA;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px #cccccc solid;
  -webkit-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  -moz-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  box-shadow: 0.05em 0.05em 0.1em #ffffff;
  font-size: 1em;
  width: 93%;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
button,
input[type="submit"],
.next,
.back {
  border: none;
  background: #2c525d;
  color: #fff !important;
  -webkit-box-shadow: 0.07em 0.07em 0.1em #888888;
  -moz-box-shadow: 0.07em 0.07em 0.1em #888888;
  box-shadow: 0.07em 0.07em 0.1em #888888;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover,
.next:hover,
.back:hover {
  background-color: #1b333a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b333a), to(#2c525d));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #1b333a, #2c525d);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #1b333a, #2c525d);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #1b333a, #2c525d);
  /* IE10 */

  background-image: -o-linear-gradient(top, #1b333a, #2c525d);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #1b333a, #2c525d);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
button:active,
input[type="submit"]:active,
.next:active,
.back:active {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 1px;
  left: 1px;
}
select {
  width: 98%;
  float: right;
}
option {
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
}
input[type="checkbox"] {
  float: left;
  float: left;
  width: 6.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.6em 0.5em 0;
}
.field-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}
.field-container:before,
.field-container:after {
  content: "";
  display: table;
}
.field-container:after {
  clear: both;
}
.field-container.last,
.field-container.inner {
  border: none;
}
.field-container.first {
  padding-top: 0 !important;
}
.field-container.inner {
  padding: 0;
}
.field-label {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.field-label label {
  color: #2C525D;
  text-shadow: 0.07em 0.07em 0 #ffffff;
  text-transform: uppercase;
}
.field {
  float: right;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox-label {
  margin-bottom: 0.1em;
  text-transform: none;
  text-align: left;
}
#parking fieldset {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.check-container {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.check-container label {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-input input {
  width: 79% !important;
  float: left;
}
#confirm-pass {
  margin-top: 10px;
}
.tip,
.error {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
  display: block;
  margin-left: 2%;
}
.tip.desc,
.error.desc {
  margin-top: 2%;
}
.error {
  color: #C34327;
  float: left;
}
.errorlist {
  margin-bottom: 1em;
}
/* SIGNUP ------ */
/*#hours {
	.hours-set {
		.column(11);
	}
	.container {
		.column(5.5);

		&.last {
			margin-left: 5%;
		}
	}
}*/
/* NAVIGATION ---------- */
.home-nav ul a li {
  border-bottom: 1px solid #ccc;
  *zoom: 1;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 4% 2%;
}
.home-nav ul a li:hover {
  background: #f1f1f1;
}
.home-nav ul a li:active {
  background: #d1d1d1;
}
.home-nav ul a li:before,
.home-nav ul a li:after {
  content: "";
  display: table;
}
.home-nav ul a li:after {
  clear: both;
}
.home-nav ul a li.bottom {
  border-bottom: none;
}
.home-nav ul a li .menu-icon {
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  text-align: center;
}
.home-nav ul a li .menu-description {
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0 0 0.5em;
}
.home-nav ul a li img {
  display: block;
  margin: 1em auto;
}
.home-nav ul a li.disabled {
  /*.no-b-shadow();
		background: fade(#fff, 50%);*/

}
.home-nav ul a li.disabled:hover {
  background: none;
}
#page-nav {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  border-bottom: 2px #4b7699 solid;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav ul li a {
  float: left;
  background: #a9c6e8;
  padding: 0.5em;
  margin: 0 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
}
#page-nav ul li a.current-page {
  color: #fff;
  background-color: #70a3be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70a3be), to(#4b7699));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #70a3be, #4b7699);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #70a3be, #4b7699);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #70a3be, #4b7699);
  /* IE10 */

  background-image: -o-linear-gradient(top, #70a3be, #4b7699);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #70a3be, #4b7699);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0 0 0.3em #777777;
  -moz-box-shadow: 0 0 0.3em #777777;
  box-shadow: 0 0 0.3em #777777;
}
#page-nav ul li a.current-page:hover {
  background-color: #70a3be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70a3be), to(#4b7699));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #70a3be, #4b7699);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #70a3be, #4b7699);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #70a3be, #4b7699);
  /* IE10 */

  background-image: -o-linear-gradient(top, #70a3be, #4b7699);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #70a3be, #4b7699);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0 0 0.3em #777777;
  -moz-box-shadow: 0 0 0.3em #777777;
  box-shadow: 0 0 0.3em #777777;
}
#page-nav ul li a:hover {
  background: #70a3be;
}
#page-nav ul li a:active {
  background: #4b7699;
}
.prev-next {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  margin-top: 1em;
}
.prev-next:before,
.prev-next:after {
  content: "";
  display: table;
}
.prev-next:after {
  clear: both;
}
.next,
.submit-item {
  float: right;
}
.back {
  float: left;
}
/* 2 FEED/ITEMS ---------- */
/* 11 FEED/ITEMS ---------- */
.feed-header {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  border-bottom: 1px solid #999;
  padding: 1% 2%;
  position: relative;
}
.feed-header:before,
.feed-header:after {
  content: "";
  display: table;
}
.feed-header:after {
  clear: both;
}
.feed-header input[type="text"] {
  float: right;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-title {
  float: left;
}
.feed {
  clear: both;
  margin: 2% 2% 0;
}
.item {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  margin: 1%;
  padding: 2% 1%;
}
.item-title {
  margin: 0;
}
.item-title a {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  text-shadow: 0 0 0.01em #fff;
}
.item-title a:hover {
  color: #777 !important;
}
.item-title a:visited {
  color: #333;
}
.item-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.item-actions img {
  cursor: pointer;
}
.item-thumb {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 1% 1%;
  text-align: center;
}
.item-thumb .thumbnail {
  border: 2px #fff solid;
  display: block;
  margin: 0 1%;
  width: 100%;
  height: auto;
  min-height: 70px;
  max-height: 130px;
}
.item-content {
  float: left;
  width: 72.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
  padding-left: 2%;
  position: relative;
}
.item-details {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.9em;
}
.item-details:before,
.item-details:after {
  content: "";
  display: table;
}
.item-details:after {
  clear: both;
}
/* 11 TAGS ---------- */
.tag-list {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.8em;
  margin: 1% 0 0;
}
.tag-list:before,
.tag-list:after {
  content: "";
  display: table;
}
.tag-list:after {
  clear: both;
}
.tag-list li {
  color: #888;
  float: left;
  margin: 0.1em 0.4em;
  padding: 0.1em 0.2em;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tag-list li:active {
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#aaaaaa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #999999, #aaaaaa);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #999999, #aaaaaa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #999999, #aaaaaa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #999999, #aaaaaa);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #999999, #aaaaaa);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  position: relative;
  top: 1px;
  left: 1px;
}
.item {
  border-bottom: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.6);
}
.item-actions {
  top: -15px;
  right: -15px;
}
.tag-list li a {
  color: #999;
}
/* IMAGES ------------ */
/*.thumbnail {
	max-width: 300px;
}*/
/*
.uploaded-image {
	display: block;
	max-width: 50%;
	max-height: 400px;
}
*/
/* ACTIONS --------- */
.add-item {
  font-style: italic;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 2.5em;
  right: 3em;
}
.add-item:hover {
  color: #a9c6e8;
}
.edit-item,
.delete-item {
  padding: 0.2em;
}
.edit-item:hover,
.delete-item:hover {
  background: #ded57f;
}
/* JQUERY TIMEPICKER ------ */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  font-size: 0.7em;
}
.ui-datepicker-current,
.ui-datepicker-close {
  color: #000 !important;
}
