@import "helpers";
@import "normalize";
//@import 'icons';

/* Will move this to template when that happens */
/*@import url(/static/css/fonts/arvo-fontfacekit/stylesheet.css);
@import url(/static/css/fonts/nunito-fontfacekit/stylesheet.css);*/
@import url(/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css);

/* ROOT --------- */

body {
	margin: 0 auto;
	.clearfix;
	background: url("/static/img_using/custom/sky-head-tex.png");
	//background: url("/static/img/illus/blue-scratch.png") fixed no-repeat top left;
	//background: @skyblue;

	font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
	height: 100%;
	margin: 0;
	padding-bottom: 3em;
	overflow-x: hidden;
	/*padding: 3em 0 0;*/
	width:100%;
}

#mask {
	width:500%;
	height:100%;
	overflow-x: hidden;
}

section, article {
	.clearfix;
}

img {
	height: auto;
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}


/* 2 TYPOGRAPHY ---------- */

@import 'type.css';


/* SITE ------------- */

#site-header {
	width: 100%;
	//.gradient(#fff, #e1e1e1);
	background: url("/static/img_using/custom/sky-dark-tex.png");
	//box-shadow: 0 12px 5px -12px black;
	.b-shadow(0.05em, 0.05em, 0.5em, #000);
	height: 70px;
	position: fixed;
	top: 0;
	//padding-left: 40%;
	z-index: 999;
}

#userbar {
	position: absolute;
	top: 20px;
	right: 60px;
	font-style: italic;
	color: #e1e1e1;
	text-shadow: 0.02em, 0.02em, 0em, #fff;

	&:hover {
		color: @skyblue;
	}
}

#site-content {
	width: 100%;
	margin-top: 100px;
	padding-top: 10px;
	.border-box;
	&.admin, &.home {
		position: relative;
	}

	&.signup {
		position: absolute;
		left: 0;
		overflow-x: hidden;	
	}
}

.panel {
	float: left;
	width: 20%;
}

#footer-image {
	width: 100%;
	margin: 0;

	/* Can click thru div */
	pointer-events: none;
	
	// Add queries for larger sign - this is for 1024
	background-image: url(/static/img_using/pgh-250h.png);
	background-attachment: fixed, fixed;
	background-repeat: no-repeat, repeat-x;
	background-position: bottom left, bottom left; 
	/*background: url("/static/img/illus/sign-forcloud.png"), url("/static/img/illus/cloud-1730w.png");
	background-attachment: fixed, fixed;
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left, bottom left;*/
	height: 250px;
	position: fixed;
	bottom: 0;
	left: 0;
}

#site-footer {
	.column(12);
	/*position: fixed;
	bottom: 0;
	right: 0;*/
}

/* CONTENT ----------- */

.content-header {
	margin-bottom: 1em;
	.tip {
		margin: 0;
	}
}

.content-container {
	//height: 100%;
	.b-shadow(1px, 1px, 6px, #fff);
	background: fade(#fff, 70%);
	.clearfix;	
	margin: 10px auto;
	.border-box;
	.rounded(0.5em);
	padding: 3% 2% 3% 2%;
	width: 80%;
	max-width: 650px;	
	
	&.signup {
	
	}

	&.admin, &#home {
		padding-top: 2%;	
	}

	&.admin {
		margin-bottom: 200px;
	}

	&#home {
		.no-b-shadow();
		background: none;
	}
}


/* FORMS & INPUTS --------------- */

@import 'forms.css';

/* SIGNUP ------ */


#hours {
	.hours-set {
		.column(11);
	}
	.container {
		.column(5.5);

		&.last {
			margin-left: 5%;
		}
	}
}

/*.progress-container {
	.column(12);

	.progress {
		width: 70px;
		margin: auto;
		div {
			background: url('/static/img_using/inactive-progress.png') center;
			margin: 0 3px;
			height: 10px;
			width: 10px;
			float: left;

			&.selected {
				background: url('/static/img_using/active-progress.png') center;
			}
		}
	}
}*/

/* HOME ---------- */

.home-nav {
	margin: auto 0;

	ul {
		.clearfix;
		padding-left: 0;
	}
	
	li {
		list-style-type: none;

		
			//.b-shadow(0.1em, 0.1em, 0.1em, #333);
			.column(3);
			//.gradient(#e1e1e1, #fff);
			font-size: 1.1em;
			margin: 1% 3% 2%;
			padding: 2%;
			//.rounded(1.5em);
			text-align: center;

			p {
				margin-bottom: 1em;
			}

			img {
				display: block;
				margin: 20% auto 10% auto;
			}

			&:hover {
				background: #e1e1e1;
			}

			&:active {
				background: #e1e1e1;
				.b-shadow(0.05em, 0.05em, 0.05em, #333);
			}

			/*&.top {
				margin-top: 0;
			}

			&.bottom {
				margin-bottom: 0;
			}*/

			&.disabled {
				/*.no-b-shadow();
				background: fade(#fff, 50%);*/

				&:hover {
					background: none;					
				}
			}
		
	}
}

/* ADMIN ---------- */

.admin {
	.item {
		border: none;
		background: fade(#fff, 60%);
	}
}

/* AUTOCOMPLETE ------ */

/* SCHEDULED --------- */

.scheduled-items {
	ul {
		.clearfix;
		padding: 0;
	}
}

/* 2 FEED/ITEMS ---------- */

@import 'feed.css';

@import 'single.css';


/* IMAGES ------------ */

.thumbnail {
	max-width: 300px;
}

.uploaded-image {
	display: block;
	max-width: 50%;
	max-height: 400px;
}

/* NAVIGATION ------------ */

.prev-next {
	.column(12);
	.clearfix;
	margin-top: 1em;
}

.next, .back, .submit-item {
	padding: 0.5em;
	.rounded(0.5em);
	border: none;
	.b-shadow(0.07em, 0.07em, 0.1em, #888);
	background: #2C525D;
	color: #fff !important;
	text-decoration: none;

	&:hover {
		.gradient(#1B333A, #2C525D);
	}

	&:active {
		position: relative;
		top: 1px;
		left: 1px;
		background: #1B333A;
		.b-shadow(0, 0, 0, #222);
	}
}

.next {
	float: right;
}

.back {
	float: left;
}

.submit-item {
	float: right;
}


/* PROFILE --------- */

.details {
	float: left;
}

.thumbnail {
	float: right;
}

.profile-section {
	.column(12);
	padding-bottom: 1em;
}

.details {
	margin-top: 0;
	li {
		padding-top: 0.5em;
	}
}

.description {
	
}

.social-icon {
	clear: both;
	.column(12);
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #ccc;

	img {
		float: left;
	}
	
	.social-link {
		float: left;
		margin: 0.5em 0.5em 0 1em;
	}
}

.item-content {
	//display: none;
}


/* FORMS ------- */

.admin {

	.edit-link {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		//.icon('pencil');
		display: none;

		img {
			float: right;
		}
	}

	fieldset {
		padding: 1em 0;
		position: relative;
		.rounded(0.2em);
		-webkit-transition:background 0.1s ease-in;  
	   	-moz-transition:background 0.1s ease-in;  
	    -o-transition:background 0.1s ease-in;  
	    transition:background 0.1s ease-in;  
		
		&:hover {
			-webkit-transition:background 0.4s ease-out;  
		   	-moz-transition:background 0.4s ease-out;  
		    -o-transition:background 0.4s ease-out;  
		    transition:background 0.4s ease-out;  
			background: #fff;	
			cursor: pointer;
		}
	}	

}

/* ACTIONS --------- */

.add-item-link {
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
	margin-top: 1em;
	position: absolute;
    right: 0;
    top: 0;
    color: #B83939;
    
}

/* 11 TAGS ---------- */

.tag-list {
  .column_nm(12);
  font-size: 0.9em;
  margin: 1% 0 0;
  
    li a {
      color: #888;
      float: left;
      margin: 0 1% 1% 0;
      padding: 1%;
      text-decoration: none;
      text-shadow: 1px 1px 1px #fff;
      .border-box;

   
  }
}

/* UTILITY ----------- */

.last {
	border: none !important;
}

.first {
	padding-top: 0 !important;
}

.selected {
	background-color: green;
}

img.edit-item {
	margin-right: 10px;
}

.delete-item {

}

