@import url(/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css);

@import 'type.css';

@import 'forms.css';

@import 'feed.css';

@import 'single.css';
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled], input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* Will move this to template when that happens */
/*@import url(/static/css/fonts/arvo-fontfacekit/stylesheet.css);
@import url(/static/css/fonts/nunito-fontfacekit/stylesheet.css);*/
/* ROOT --------- */
body {
  margin: 0 auto;
  *zoom: 1;
  background: #a9c6e8;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding-bottom: 3em;
  overflow-x: hidden;
  /*padding: 3em 0 0;*/

  width: 100%;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
#mask {
  width: 500%;
  height: 100%;
  overflow-x: hidden;
}
section, article {
  *zoom: 1;
}
section:before,
article:before,
section:after,
article:after {
  content: "";
  display: table;
}
section:after, article:after {
  clear: both;
}
img {
  height: auto;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
/* 2 TYPOGRAPHY ---------- */
/* SITE ------------- */
#site-header {
  width: 100%;
  background: url("/static/img_using/custom/sky-dark-tex.png");
  -webkit-box-shadow: 0.05em 0.05em 0.5em #000000;
  -moz-box-shadow: 0.05em 0.05em 0.5em #000000;
  box-shadow: 0.05em 0.05em 0.5em #000000;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
}
#site-content {
  width: 100%;
  margin-top: 100px;
  padding-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#site-content.admin, #site-content.home {
  position: relative;
}
#site-content.signup {
  position: absolute;
  left: 0;
  overflow-x: hidden;
}
.panel {
  float: left;
  width: 20%;
}
#footer-image {
  width: 100%;
  margin: 0;
  /* Can click thru div */

  pointer-events: none;
  /*background-image: url(/static/img_using/pgh-250h.png);
	background-attachment: fixed, fixed;
	background-repeat: no-repeat, repeat-x;
	background-position: bottom left, bottom left; */

  background: url("/static/img/illus/sign-forcloud.png"), url("/static/img/illus/cloud-1730w.png");
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom left;
  height: 250px;
  position: fixed;
  bottom: 0;
  left: 0;
}
#site-footer {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  /*position: fixed;
	bottom: 0;
	right: 0;*/

}
/* CONTENT ----------- */
.content-header {
  margin-bottom: 1em;
}
.content-header .tip {
  margin: 0;
}
.content-container {
  -webkit-box-shadow: 1px 1px 6px #ffffff;
  -moz-box-shadow: 1px 1px 6px #ffffff;
  box-shadow: 1px 1px 6px #ffffff;
  background: rgba(255, 255, 255, 0.7);
  *zoom: 1;
  margin: 10px auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5% 2% 3% 2%;
  width: 80%;
  max-width: 650px;
}
.content-container:before, .content-container:after {
  content: "";
  display: table;
}
.content-container:after {
  clear: both;
}
.content-container.admin, .content-container#home {
  padding-top: 2%;
}
.content-container.admin {
  margin-bottom: 200px;
}
.content-container#home {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
/* FORMS & INPUTS --------------- */
/* SIGNUP ------ */
#hours .hours-set {
  display: inline;
  float: left;
  width: 89.58333333333334%;
  margin: 0 1.0416666666666665%;
}
#hours .container {
  display: inline;
  float: left;
  width: 43.75%;
  margin: 0 1.0416666666666665%;
}
#hours .container.last {
  margin-left: 5%;
}
/*.progress-container {
	.column(12);

	.progress {
		width: 70px;
		margin: auto;
		div {
			background: url('/static/img_using/inactive-progress.png') center;
			margin: 0 3px;
			height: 10px;
			width: 10px;
			float: left;

			&.selected {
				background: url('/static/img_using/active-progress.png') center;
			}
		}
	}
}*/
/* HOME ---------- */
.home-nav {
  margin: auto 0;
}
.home-nav ul {
  *zoom: 1;
  padding-left: 0;
}
.home-nav ul:before, .home-nav ul:after {
  content: "";
  display: table;
}
.home-nav ul:after {
  clear: both;
}
.home-nav li {
  list-style-type: none;
}
.home-nav li a {
  -webkit-box-shadow: 0.1em 0.1em 0.1em #333333;
  -moz-box-shadow: 0.1em 0.1em 0.1em #333333;
  box-shadow: 0.1em 0.1em 0.1em #333333;
  display: inline;
  float: left;
  width: 18.75%;
  margin: 0 1.0416666666666665%;
  background-color: #e1e1e1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ffffff));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #e1e1e1, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #e1e1e1, #ffffff);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #e1e1e1, #ffffff);
  /* IE10 */

  background-image: -o-linear-gradient(top, #e1e1e1, #ffffff);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #e1e1e1, #ffffff);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  font-size: 1.3em;
  margin: 3%;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  /*&.top {
				margin-top: 0;
			}

			&.bottom {
				margin-bottom: 0;
			}*/

}
.home-nav li a p {
  margin-bottom: 1em;
}
.home-nav li a img {
  display: block;
  margin: 20% auto 10% auto;
}
.home-nav li a:hover {
  background: #e1e1e1;
}
.home-nav li a:active {
  background: #e1e1e1;
  -webkit-box-shadow: 0.05em 0.05em 0.05em #333333;
  -moz-box-shadow: 0.05em 0.05em 0.05em #333333;
  box-shadow: 0.05em 0.05em 0.05em #333333;
}
.home-nav li a.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.5);
}
.home-nav li a.disabled:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* ADMIN ---------- */
.admin .item {
  border: none;
  background: rgba(255, 255, 255, 0.6);
}
/* AUTOCOMPLETE ------ */
/* SCHEDULED --------- */
.scheduled-items ul {
  *zoom: 1;
  padding: 0;
}
.scheduled-items ul:before, .scheduled-items ul:after {
  content: "";
  display: table;
}
.scheduled-items ul:after {
  clear: both;
}
/* 2 FEED/ITEMS ---------- */
/* IMAGES ------------ */
.thumbnail {
  max-width: 300px;
}
.uploaded-image {
  display: block;
  max-width: 50%;
  max-height: 400px;
}
/* NAVIGATION ------------ */
.prev-next {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *zoom: 1;
  margin-top: 1em;
}
.prev-next:before, .prev-next:after {
  content: "";
  display: table;
}
.prev-next:after {
  clear: both;
}
.next, .back, .submit-item {
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  -webkit-box-shadow: 0.07em 0.07em 0.1em #888888;
  -moz-box-shadow: 0.07em 0.07em 0.1em #888888;
  box-shadow: 0.07em 0.07em 0.1em #888888;
  background: #2C525D;
  color: #fff !important;
  text-decoration: none;
}
.next:hover, .back:hover, .submit-item:hover {
  background-color: #1b333a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b333a), to(#2c525d));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #1b333a, #2c525d);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #1b333a, #2c525d);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #1b333a, #2c525d);
  /* IE10 */

  background-image: -o-linear-gradient(top, #1b333a, #2c525d);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #1b333a, #2c525d);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
.next:active, .back:active, .submit-item:active {
  position: relative;
  top: 1px;
  left: 1px;
  background: #1B333A;
  -webkit-box-shadow: 0 0 0 #222222;
  -moz-box-shadow: 0 0 0 #222222;
  box-shadow: 0 0 0 #222222;
}
.next {
  float: right;
}
.back {
  float: left;
}
.submit-item {
  float: right;
}
/* PROFILE --------- */
.details {
  float: left;
}
.thumbnail {
  float: right;
}
.profile-section {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 1em;
}
.details {
  margin-top: 0;
}
.details li {
  padding-top: 0.5em;
}
.social-icon {
  clear: both;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}
.social-icon img {
  float: left;
}
.social-icon .social-link {
  float: left;
  margin: 0.5em 0.5em 0 1em;
}
/* FORMS ------- */
.admin .edit-link {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: none;
}
.admin .edit-link img {
  float: right;
}
.admin fieldset {
  padding: 1em 0;
  position: relative;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
.admin fieldset:hover {
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
  background: #fff;
  cursor: pointer;
}
/* ACTIONS --------- */
.add-item-link {
  font-size: 1em;
  font-style: italic;
  cursor: pointer;
  margin-top: 0.5em;
}
/* 11 TAGS ---------- */
.tag-list {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0;
  font-size: 0.9em;
  margin: 1% 0 0;
}
.tag-list li a {
  color: #888;
  float: left;
  margin: 0 1% 1% 0;
  padding: 1%;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* UTILITY ----------- */
.last {
  border: none !important;
}
.first {
  padding-top: 0 !important;
}
.selected {
  background-color: green;
}
img.edit-item {
  margin-right: 10px;
}
