@import '../LESS/helpers';
@import '../LESS/normalize';
@import '../LESS/icons';

/* ROOT --------- */

html {
	height: 101%;
}

body {
	background: url("@{static_url}img/textures/sky-head-tex.png");
	.clearfix;
	font-weight: normal;
	height: 100%; 
	margin: 0 auto 1em auto;
	.lucida();
	overflow-x: hidden;
	width:100%;
}

/* 2 TYPOGRAPHY ---------- */

h1 {
	font-family: 'BloklettersBalpen';
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
}

h2, .ui-dialog-title {
	color: @teal;
	/*font-family: 'DroidSerifRegular';*/
	font-size: 1.3em;
	font-style: italic;
	font-weight: normal;
	margin: 0 1em;
	padding-bottom: 0.1em;	
	text-shadow: 0.07em 0.07em 0 #ffffff;
}

a {
	color: @red;

	&:hover {
		color: @mblue;
	}

	&:active {
		color: @teal;
	}

	&:visited {
		color: @red;
	}
}

p {
	color: #222;
	font-size: 0.95em;
	margin: 0.1em 0;
	text-shadow: 0.05em 0.05em 0.05em #fff;
}

/* TYPE ELEMENTS --------- */

.meta {
  font-size: 0.9em;
}

.description {
	margin-top: 0.3em;
	font-color: #888;
	font-style: italic;
	font-size: 0.9em;
}

.address {
	font-weight: normal;
	margin: 0;
}

#colophon {
	text-align: right;
	a {
		color: @teal;
		font-weight: bold;
	
		&:hover {
			color: @red;
		}
	}
}

/* HEADINGS ------- */

#site-title {
	margin-top: 20px;
	padding: 0;
	text-align: center;
	
	a {
		color: #fff;
		text-shadow: 0.05em 0.05em 0 #222;
		
		&:hover {
			color: #fff;
			text-shadow: 0.02em 0.02em 0 #222;
		}

		&:active {
			text-shadow: none;
		}

		&:visited {
			color: #fff;
			text-shadow: none;
		}
	}
}

#tagline {
	color: #fff;
	font-size: 1em;
	.lucida();
	font-style: normal;
	text-shadow: 0.01em 0.01em 0 #000;
	text-align: center;
	padding-bottom: 8px;
}


/* ELEMENTS --------- */

.points {
	font-family: 'KomikaTitleRegular', Gill Sans, sans-serif;
	font-size: 3em;
	margin-top: -0.05em;
	text-shadow: 0.05em 0.05em 0 @yellow;
}

/* SITE ------------- */

.wrap {
	.row();
	min-width: 720px;
}

#site-header {
	width: 100%;
	background: url("@{static_url}img/textures/sky-dark-tex.png");
	.b-shadow(0.05em, 0.05em, 0.5em, #000);
	border-bottom: 1px solid #e1e1e1;
	height: 85px;
	.clearfix();
	position: fixed;
	top: 0;
	z-index: 999;

	/*.third {
		width: 33%;
		float: left;
	}*/

	#user {
		//.column(4);
		position: absolute;
		top: 0;
		right: 0;
		color: #e1e1e1;
		font-style: italic;
		margin: 1.3em 1em 0 0;
		text-align: right;
		text-shadow: 0.02em, 0.02em, 0em, #fff;

		a {
			color: @yellow;

			&:hover {
				color: @lblue;
			}
		}
	}

}

#site-content {
	.b-shadow(0, 0, 0.1em, #888);
	background: url("@{static_url}img/textures/white-tex.png");
	.border-box;
	.clearfix;	
	margin: 120px auto auto;
	width: 650px;	
	.rounded(0.5em);
	padding: 3%;
	position: relative;
	
	&.signup {
	
	}

	&.admin, &#home {
		padding-top: 2%;	
	}

	&.admin {
		margin-bottom: 200px;
	}

	&#home {
		background: none;
	}
}

#site-footer {
	.row();
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* CONTENT ----------- */

.content-header {
	margin-bottom: 1em;
	.tip {
		margin: 0;
	}
}

/* FORMS & INPUTS --------------- */

form {
	margin-top: 2em;
	.clearfix();
	.tip a {
		color: @dblue;
	}
}

label {
	color: #2C525D;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-left: 1%;
	vertical-align: bottom;
	text-shadow: 0.07em 0.07em 0 #ffffff;
	text-transform: uppercase;
}

textarea {
	height: 6em;
}

::-webkit-input-placeholder {
   color: #AAAAAA;
}

:-moz-placeholder {
   color: #AAAAAA;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea {
	border: 1px #cccccc solid;
	.b-shadow(0.05em, 0.05em, 0.1em, #fff);
	font-size: 1em;
	margin: 0 5% 0 2%;
	outline: none;
	padding: 0.5em;
	.rounded(0.5em);
	.row();

	&:focus {
		.b-shadow(0, 0, 0.2em, #2C525D);
	}
}

button, input[type="submit"], .next, .back {
	border: none;
	background: @teal;
	color: #fff !important;
	.b-shadow(0.07em, 0.07em, 0.1em, #888);
	.lucida();
	padding: 0.5em;
	.rounded(0.5em);
	text-decoration: none;

	&:hover {
		.gradient(#1B333A, #2C525D);
	}

	&:active {
		position: relative;
		.no-b-shadow;
		top: 1px;
		left: 1px;
	}
}

select{
	width: 98%;
	float: right;
}

option {
	.lucida();
}

input[type="checkbox"] {
	float: left;
	.column_nm(1);
	margin: 0.4em 0.5em 0;
}

.field-container {
	.row();
	.clearfix();
	padding: 2em 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
	position: relative;
	&.last, &.inner {
		border: none;
	}

	&.first {
		padding-top: 0 !important;
	}

	&.inner {
		padding: 0;
	}
}

.field-label {
	.column(3);
	text-align: right;
}

.field, .double {
	.column_r(9);
}

.double .field {
	width: 46.5%;
	float: left;

	&.last {
		float: right;
	}
}

.social-input {
	
	input {
		width: 79% !important;
		float: left;
	}
}

#confirm-pass {
	margin-top: 10px;
}

.tip, .error {
	color: #555;
	font-size: 0.8em;
	display: block;

	&.desc {
		margin-top: 2%;
		font-style: italic;
	}

	margin-left: 2%;
}

.error {
	color: #C34327;
	font-style: italic;
	float: left;
}

.errorlist {
	margin-bottom: 1em;
}

/* SIGNUP ------ */

/*#hours {
	.hours-set {
		.column(11);
	}
	.container {
		.column(5.5);

		&.last {
			margin-left: 5%;
		}
	}
}*/

/* NAVIGATION ---------- */

.home-nav ul li {

	&:hover {
		background: #f1f1f1;
	}
	&:active {
		background: #e8e8e8;
	}

	.clearfix();
	.row();
	//.column(4);
	margin: 0 1%;
	padding: 2%;

	.menu-icon {
		font-size: 1.1em;
		text-align: center;
		.column(4);
	}

	.menu-description {
		font-size: 0.9em;
		.column(8);
		margin-top: 1em;

	}

	img {
		display: block;
		margin: 0.5em auto 1em auto ;
	}

}

.link-block {
	color: #111 !important;

	&:hover {
		color: #111;
	}
}

#page-nav {
	.row();
	.clearfix();
	border-bottom: 2px @dblue solid;

	ul li {
		float: left;
		background: @lblue;
		padding: 0.5em;
		margin: 0 0.5em;
		.tabs(0.5em);

		a {
			color: #fff;	
		}

		&.current-page {
			color: #fff;
			.gradient(@mblue, @dblue);
			.b-shadow(0, 0, 0.3em, #777);

			&:hover {
				.gradient(@mblue, @dblue);
				.b-shadow(0, 0, 0.3em, #777);				
			}
		}

		&:hover {
			background: @mblue;
		}

		&:active {
			background: @dblue;
		}
	}
}

.prev-next {
	.row();
	.clearfix;
	margin-top: 1em;
}

.next, .submit-item {
	float: right;
}

.back {
	float: left;
}


/* 2 FEED/ITEMS ---------- */

.item, .ac-item {
  .column(12);
  list-style-type: none;
  //margin: 1%;
  padding: 3% 1%;
  position: relative;
}

.item {
	border-bottom: 1px solid #ccc;
}

.item-title {
  margin: 0;

  a {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    text-shadow: 0 0 0.01em #fff;

    &:hover {
      //text-shadow: 0 0 0.02em #000;
      color: @red !important;
    }

    &:visited {
      color: #333;
    }
  }
}

.item-actions {
  position: absolute;
  //display: none;
  top: 0;
  right: 0;
  
  img {
    cursor: pointer;
  }
}

.item-thumb {
  .column(3);
  overflow: hidden;
  padding: 0 1% 1%;
  text-align: center;

  .thumbnail {
    border: 2px #fff solid;
    display: block;
    margin: 0 1%;
    width: 100%;
    height: auto;
    min-height: 70px;
    max-height: 130px;
  }

}

.item-content {
  .column_nm(9);
  margin-right: 2%;
  padding-left: 2%;
  position: relative;
}

.item-details {
  .row();
  .clearfix;
  font-size: 0.9em;
}

/* 11 TAGS ---------- */

.tag-list {
  .row();
  .clearfix;
  font-size: 0.8em;
  margin: 1% 0 0;
  
    li {
      color: #888;
      float: left;
      margin: 0.1em 0.4em;
      padding: 0.1em 0.2em;
      text-decoration: none;
      .border-box;   
  	}
}

/* IMAGES ------------ */

/*.thumbnail {
	max-width: 300px;
}*/
/*
.uploaded-image {
	display: block;
	max-width: 50%;
	max-height: 400px;
}
*/

/* ACTIONS --------- */

.add-item {
	font-style: italic;
	font-weight: bold;
    float: right;
    //margin-top: 2em;
    position: absolute;
    top: 2.5em;
    right: 3em;

    &:hover {
    	color: @lblue;
    }
}

.edit-item, .delete-item {
	padding: 0.2em;
	&:hover {
		background: @yellow;
	}
}

.add-hour-row-btn {
	position: absolute;
	font-size: 1.5em;
	font-weight: bold;
	right: -15px;
	top: 0em;
}

/* AUTOCOMPLETE -------- */

#confirm-box {

	p {
		margin: 1.5em 0 1.5em 1.5em;
	}

	.item {
		border: 1px solid #f1f1f1;
		background: #fff;
		margin-bottom: 2em;
		.rounded(0.5em);
		
	}
}

.ui-autocomplete {
	&.ui-menu.ui-widget.ui-widget-content {
		font-size: 0.9em;
		position: absolute;
		width: 300px;
	}

	.ui-menu-item {
		.clearfix;
	}

	.item-thumb {
		.column(2);
	}

	.item-content {
		.column(10);
	}

	.ac-item {
		cursor: pointer;
		-webkit-transition:background 0.25s ease-in;  
		-moz-transition:background 0.25s ease-in;  
		-o-transition:background 0.25s ease-in;  
		transition: background 0.25s ease-in;  

		.item-title {
			color: #000;
		}
	}
}

#ui-active-menuitem .ac-item {
	.clearfix();
	background: @vlblue;
	-webkit-transition:background 0.25s ease-in;  
		-moz-transition:background 0.25s ease-in;  
			-o-transition:background 0.25s ease-in;  
	transition: background 0.25s ease-in;  
}

#id_place-text {
	.row();
	margin: 0;
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content, .ui-autocomplete-input {
	background: #fff;
	border: 1px #cccccc solid;
	outline: none;
	padding: 0.5em;
	.rounded(0.5em);
	.clearfix();
}

/* DIALOG ---------- */

.ui-dialog {
	background: url('@{static_url}img/textures/white-tex.png');
	border: 5px #cccccc solid;
	.rounded(0.6em);
	padding: 2%;
	top: -200px;
}

.ui-widget-overlay { 
	background: #aaaaaa url('@{static_url}img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x; 
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	opacity: .30;
	filter:Alpha(Opacity=30); 
}

.ui-dialog-title {
	border-bottom: 1px @teal solid;
	margin: 0;
	display: block;
}

.ui-icon.ui-icon-closethick {
	//.icon();
	display: none;
}

.ui-dialog-titlebar {
	color: @teal;
}

#newplace-form {
	label {

	}
	input {
		margin-bottom: 1em;
	}
}


/* JQUERY TIMEPICKER ------ */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
	font-size: 0.7em;
}

.ui-datepicker-current, .ui-datepicker-close {
	color: #000 !important;
}