/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* Responsive Images + alt text style */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  color: #999;
  font-size: 0.9em;
  font-style: italic;
  height: auto;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* 	Stylesheet to define le icons 
*/
/* 	TODO: 
		Sprite sheet
		Background positioning will be added 
*/
/* To be made into sprite sheet */
a {
  /* Single place nav */

  /*	&#placeAtAGlance {
		.icon(photo-magnify);
	}

	&#placeEvents {
		.icon(calendar-alt);
	}

	&#placeSpecials {
		.icon(tag-special);
	}
*/

  /* #scene-nav */

  /*&#siteJobs {
		.icon(suitcase);
	}*/

}
a#siteHot {
  background: #ffffff url('/static/img/menu_icons/city.png') no-repeat center 9px;
}
a#sitePlaces {
  background: #ffffff url('/static/img/menu_icons/store-front.png') no-repeat center 9px;
}
a#siteEvents {
  background: #ffffff url('/static/img/menu_icons/calendar-alt.png') no-repeat center 9px;
}
a#siteSpecials {
  background: #ffffff url('/static/img/menu_icons/tag-special.png') no-repeat center 9px;
}
a#siteChatter {
  background: #ffffff url('/static/img/menu_icons/speech-bubble.png') no-repeat center 9px;
}
a#siteNews {
  background: #ffffff url('/static/img/menu_icons/newspaper.png') no-repeat center 9px;
}
/* Actions */
/* ROOT --------- */
html {
  height: 101%;
}
body {
  background: url("/static/img/textures/sky-head-tex.png");
  *zoom: 1;
  font-weight: normal;
  height: 100%;
  margin: 0 auto 1em auto;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* 2 TYPOGRAPHY ---------- */
h1 {
  font-family: 'BloklettersBalpen';
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
.ui-dialog-title {
  color: #2c525d;
  /*font-family: 'DroidSerifRegular';*/

  font-weight: normal;
  margin: 0 1em;
  padding-bottom: 0.1em;
  text-shadow: 0.07em 0.07em 0 #ffffff;
}
h2 {
  font-size: 1.3em;
  font-style: italic;
}
h3 {
  font-size: 1em;
}
a {
  color: #b83939;
}
a:hover {
  color: #70a3be;
}
a:active {
  color: #2c525d;
}
a:visited {
  color: #b83939;
}
p {
  color: #222;
  font-size: 0.95em;
  margin: 0.1em 0;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
/* TYPE ELEMENTS --------- */
.meta {
  font-size: 0.9em;
}
.description {
  margin-top: 0.3em;
  font-color: #888;
  font-style: italic;
  font-size: 0.9em;
}
.address {
  font-weight: normal;
  margin: 0;
}
#colophon {
  text-align: right;
}
#colophon a {
  color: #2c525d;
  font-weight: bold;
}
#colophon a:hover {
  color: #b83939;
}
/* HEADINGS ------- */
#site-title {
  margin-top: 20px;
  padding: 0;
  text-align: center;
}
#site-title a {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.02em 0.02em 0 #222;
}
#site-title a:active {
  text-shadow: none;
}
#site-title a:visited {
  color: #fff;
  text-shadow: none;
}
#tagline {
  color: #fff;
  font-size: 1em;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  text-shadow: 0.01em 0.01em 0 #000;
  text-align: center;
  padding-bottom: 8px;
}
.welcome-text {
  margin-top: 2em;
  text-align: center;
}
/* ELEMENTS --------- */
.points {
  font-family: 'KomikaTitleRegular', Gill Sans, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 #ded57f;
}
/* SITE ------------- */
.wrap {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 720px;
}
#site-header {
  width: 100%;
  background: url("/static/img/textures/sky-dark-tex.png");
  -webkit-box-shadow: 0.05em 0.05em 0.5em #000000;
  -moz-box-shadow: 0.05em 0.05em 0.5em #000000;
  box-shadow: 0.05em 0.05em 0.5em #000000;
  border-bottom: 1px solid #e1e1e1;
  height: 85px;
  *zoom: 1;
  position: fixed;
  top: 0;
  z-index: 999;
  /*.third {
		width: 33%;
		float: left;
	}*/

}
#site-header:before,
#site-header:after {
  content: "";
  display: table;
}
#site-header:after {
  clear: both;
}
#site-header #user {
  position: absolute;
  top: 0;
  right: 0;
  color: #e1e1e1;
  font-style: italic;
  margin: 1.3em 1em 0 0;
  text-align: right;
  text-shadow: 0.02em, 0.02em, 0em, #fff;
}
#site-header #user a {
  color: #ded57f;
}
#site-header #user a:hover {
  color: #a9c6e8;
}
#site-content {
  -webkit-box-shadow: 0 0 0.1em #888888;
  -moz-box-shadow: 0 0 0.1em #888888;
  box-shadow: 0 0 0.1em #888888;
  background: url("/static/img/textures/white-tex.png");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  margin: 120px auto auto;
  width: 650px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2%;
  position: relative;
}
#site-content:before,
#site-content:after {
  content: "";
  display: table;
}
#site-content:after {
  clear: both;
}
#site-content.admin,
#site-content#home {
  padding-top: 2%;
}
#site-content.admin {
  margin-bottom: 200px;
}
#site-content#home {
  background: none;
}
#site-footer {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* CONTENT ----------- */
.content-header {
  margin-bottom: 1em;
}
.content-header .tip {
  margin: 0;
}
/* FORMS & INPUTS --------------- */
form {
  margin-top: 2em;
  *zoom: 1;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
form .tip a {
  color: #4b7699;
}
label {
  color: #2C525D;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 1%;
  vertical-align: bottom;
  text-shadow: 0.07em 0.07em 0 #ffffff;
  text-transform: uppercase;
}
#parking label {
  text-transform: none;
  color: #333;
}
textarea {
  height: 6em;
}
::-webkit-input-placeholder {
  color: #AAAAAA;
}
:-moz-placeholder {
  color: #AAAAAA;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px #cccccc solid;
  -webkit-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  -moz-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  box-shadow: 0.05em 0.05em 0.1em #ffffff;
  font-size: 1em;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
button,
input[type="submit"],
.next,
.back {
  border: none;
  background: #2c525d;
  color: #fff !important;
  -webkit-box-shadow: 0.07em 0.07em 0.1em #888888;
  -moz-box-shadow: 0.07em 0.07em 0.1em #888888;
  box-shadow: 0.07em 0.07em 0.1em #888888;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover,
.next:hover,
.back:hover {
  background-color: #1b333a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b333a), to(#2c525d));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #1b333a, #2c525d);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #1b333a, #2c525d);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #1b333a, #2c525d);
  /* IE10 */

  background-image: -o-linear-gradient(top, #1b333a, #2c525d);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #1b333a, #2c525d);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
button:active,
input[type="submit"]:active,
.next:active,
.back:active {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 1px;
  left: 1px;
}
select {
  width: 98%;
  float: right;
}
option {
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
}
input[type="checkbox"] {
  float: left;
  float: left;
  width: 6.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.4em 0.5em 0;
}
.field-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding-right: 2em;
  margin-bottom: 2em;
  position: relative;
}
.field-container:before,
.field-container:after {
  content: "";
  display: table;
}
.field-container:after {
  clear: both;
}
.field-container.last {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}
.field-label {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.field,
.double {
  float: right;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*	&.login {
		.column(7);
		//margin-right: 30%;
	}*/

}
.double .field {
  width: 46.5%;
  float: left;
}
.double .field.last {
  float: right;
}
.social-input img {
  margin-top: 0.5em;
  float: right;
}
.social-input input {
  width: 90% !important;
  float: left;
}
#confirm-pass {
  margin-top: 10px;
}
.tip,
.error,
.errorlist {
  color: #555;
  font-size: 0.75em;
  display: block;
  margin-left: 2%;
}
.tip.desc,
.error.desc,
.errorlist.desc {
  margin-top: 2%;
  font-style: italic;
}
.error,
.errorlist {
  color: #C34327;
  font-style: italic;
  float: left;
}
.errorlist {
  *zoom: 1;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em;
}
.errorlist:before,
.errorlist:after {
  content: "";
  display: table;
}
.errorlist:after {
  clear: both;
}
.hour-day-container .tip {
  margin-bottom: 1em;
}
/* SIGNUP ------ */
/*#hours {
	.hours-set {
		.column(11);
	}
	.container {
		.column(5.5);

		&.last {
			margin-left: 5%;
		}
	}
}*/
/* NAVIGATION ---------- */
.home-nav ul li {
  *zoom: 1;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 2%;
}
.home-nav ul li:hover {
  background: #f1f1f1;
}
.home-nav ul li:active {
  background: #e8e8e8;
}
.home-nav ul li:before,
.home-nav ul li:after {
  content: "";
  display: table;
}
.home-nav ul li:after {
  clear: both;
}
.home-nav ul li .menu-icon {
  font-size: 1.1em;
  text-align: center;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.home-nav ul li .menu-description {
  font-size: 0.9em;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1em;
}
.home-nav ul li img {
  display: block;
  margin: 0.5em auto 1em auto ;
}
.link-block {
  color: #111 !important;
}
.link-block:hover {
  color: #111;
}
#page-nav {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  border-bottom: 2px #4b7699 solid;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav ul li {
  float: left;
  background: #a9c6e8;
  padding: 0.3em 0.5em;
  margin: 0 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#page-nav ul li a {
  color: #fff;
}
#page-nav ul li.current-page {
  color: #fff;
  background-color: #70a3be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70a3be), to(#4b7699));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #70a3be, #4b7699);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #70a3be, #4b7699);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #70a3be, #4b7699);
  /* IE10 */

  background-image: -o-linear-gradient(top, #70a3be, #4b7699);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #70a3be, #4b7699);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0 0 0.3em #777777;
  -moz-box-shadow: 0 0 0.3em #777777;
  box-shadow: 0 0 0.3em #777777;
}
#page-nav ul li.current-page:hover {
  background-color: #70a3be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70a3be), to(#4b7699));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #70a3be, #4b7699);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #70a3be, #4b7699);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #70a3be, #4b7699);
  /* IE10 */

  background-image: -o-linear-gradient(top, #70a3be, #4b7699);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #70a3be, #4b7699);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-box-shadow: 0 0 0.3em #777777;
  -moz-box-shadow: 0 0 0.3em #777777;
  box-shadow: 0 0 0.3em #777777;
}
#page-nav ul li:hover {
  background: #70a3be;
}
#page-nav ul li:active {
  background: #4b7699;
}
.prev-next {
  width: 90%;
  *zoom: 1;
  margin: 1em 5% 0;
}
.prev-next:before,
.prev-next:after {
  content: "";
  display: table;
}
.prev-next:after {
  clear: both;
}
.next {
  float: right;
}
.back {
  float: left;
}
/* 2 FEED/ITEMS ---------- */
.item,
.ac-item {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  padding: 3% 1%;
  position: relative;
}
.item {
  border-bottom: 1px solid #ccc;
}
.item-title {
  margin: 0 30px 0 0;
}
.item-title a {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  text-shadow: 0 0 0.01em #fff;
}
.item-title a:hover {
  color: #b83939 !important;
}
.item-title a:visited {
  color: #333;
}
.item-actions {
  position: absolute;
  top: 15px;
  right: 0;
}
.item-actions img {
  cursor: pointer;
}
.item-thumb {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 1% 1%;
  text-align: center;
}
.item-thumb .thumbnail {
  border: 2px #e1e1e1 solid;
  display: block;
  margin: 0 1%;
  width: 100%;
  height: auto;
  min-height: 70px;
  max-height: 130px;
}
.item-content {
  float: left;
  width: 72.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
  padding-left: 2%;
  position: relative;
}
.item-details {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.9em;
}
.item-details:before,
.item-details:after {
  content: "";
  display: table;
}
.item-details:after {
  clear: both;
}
/* 11 TAGS ---------- */
.tag-list {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.8em;
  margin: 1% 0 0;
}
.tag-list:before,
.tag-list:after {
  content: "";
  display: table;
}
.tag-list:after {
  clear: both;
}
.tag-list li {
  color: #888;
  float: left;
  margin: 0.1em 0.4em;
  padding: 0.1em 0.2em;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* IMAGES ------------ */
/*.thumbnail {
	max-width: 300px;
}*/
/*
.uploaded-image {
	display: block;
	max-width: 50%;
	max-height: 400px;
}
*/
/* ACTIONS --------- */
.add-item {
  font-style: italic;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 1.5em;
  right: 3em;
}
.add-item:hover {
  color: #a9c6e8;
}
.item-action {
  padding: 0.2em;
}
.item-action:hover {
  background: #ded57f;
}
.add-hour-row-btn {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  right: 0px;
  top: 45px;
}
/* AUTOCOMPLETE -------- */
#confirm-box p {
  margin: 1.5em 0 1.5em 1.5em;
}
#confirm-box .item {
  border: 1px solid #f1f1f1;
  background: #fff;
  margin-bottom: 2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-menu-item a {
  display: block;
  cursor: pointer;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
  font-size: 0.9em;
  position: absolute;
  width: 300px;
}
.ui-autocomplete .ui-menu-item {
  *zoom: 1;
}
.ui-autocomplete .ui-menu-item:before,
.ui-autocomplete .ui-menu-item:after {
  content: "";
  display: table;
}
.ui-autocomplete .ui-menu-item:after {
  clear: both;
}
.ui-autocomplete .item-thumb {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-autocomplete .item-content {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-autocomplete .ac-item {
  cursor: pointer;
  /*		-webkit-transition:background 0.25s ease-in;  
		-moz-transition:background 0.25s ease-in;  
		-o-transition:background 0.25s ease-in;  
		transition: background 0.25s ease-in;  
*/

}
.ui-autocomplete .ac-item .item-title {
  color: #000;
}
#ui-active-menuitem .ac-item {
  *zoom: 1;
  background: #e1f3fa;
  /*	-webkit-transition:background 0.25s ease-in;  
		-moz-transition:background 0.25s ease-in;  
			-o-transition:background 0.25s ease-in;  
	transition: background 0.25s ease-in;*/

}
#ui-active-menuitem .ac-item:before,
#ui-active-menuitem .ac-item:after {
  content: "";
  display: table;
}
#ui-active-menuitem .ac-item:after {
  clear: both;
}
#ui-active-menuitem {
  color: #b83939;
  background: none;
  border: none;
}
#id_place-text {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content,
.ui-autocomplete-input {
  background: #fff;
  border: 1px #cccccc solid;
  outline: none;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  *zoom: 1;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content:before,
.ui-autocomplete-input:before,
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content:after,
.ui-autocomplete-input:after {
  content: "";
  display: table;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content:after,
.ui-autocomplete-input:after {
  clear: both;
}
/* DIALOG ---------- */
.ui-dialog-titlebar-close {
  background: green;
}
.ui-dialog {
  background: url('/static/img/textures/white-tex.png');
  border: 5px #cccccc solid;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2%;
  top: -700px !important;
}
.ui-dialog label {
  font-size: 0.8em;
  text-transform: none;
  margin-bottom: 0.5em;
}
.ui-dialog input[type="text"] {
  padding: 0.1em;
}
.ui-dialog .field-container {
  padding-right: 0;
}
.ui-dialog .ui-widget-header {
  background: none;
  border: none;
}
.ui-dialog .ui-widget-content {
  border: none;
  background: none;
}
.ui-dialog .ui-dialog-buttonset {
  *zoom: 1;
}
.ui-dialog .ui-dialog-buttonset:before,
.ui-dialog .ui-dialog-buttonset:after {
  content: "";
  display: table;
}
.ui-dialog .ui-dialog-buttonset:after {
  clear: both;
}
.ui-widget-overlay {
  background: #aaaaaa url('/static/img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .30;
  filter: alpha(opacity=30);
}
.ui-dialog-title {
  border-bottom: 1px #2c525d solid;
  margin: 0;
  font-size: 1.3em;
  font-style: italic;
  display: block;
  color: #2c525d;
}
.ui-icon.ui-icon-closethick {
  float: right;
  position: relative;
  bottom: 2em;
}
.ui-dialog-buttonset button {
  margin: 0 3%;
}
/* JQUERY DATETIMEPICKER ------ */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  font-size: 0.7em;
}
.ui-datepicker-current,
.ui-datepicker-close {
  color: #000 !important;
}
