
@import 'helpers';

/* 11 FEED/ITEMS ---------- */

.feed-header, .content-header {
  /*background: @green;*/
  .border-box;
  border-bottom: 1px solid #999;
  /*.b-shadow(0, 0.5em, 0.1em, #555);*/
  /*height: 3.5em;  */
  padding: 1% 2%;
  position: relative;
}

.feed {
  .clearfix;
  //background: fade(#fff, 60%);
  .b-shadow(0, 0, 1em, #e1e1e1);
  margin: 2% 2% 0;
}

.item {
  .column(12);
  list-style-type: none;
  border-bottom: 1px #999 dashed;
  margin: 1%;
  padding: 2% 1%;

  a {
    color: #000;
    text-shadow: 0 0 0.05em #fff;
    text-decoration: none;
  }
}

.item-title {
  margin: 0.2em 0 0.5em;
  float: left;
  a {
    font-size: 1.2em;
    
    font-weight: bold;
    color: #333;
    text-shadow: 0 0 0.01em #fff;

    &:hover {
      //text-shadow: 0 0 0.02em #000;
      color: #777 !important;
    }

    &:visited {
      color: #333;
    }
  }
}

.item-actions {
  float: right;
  img {
    display: inline;
    cursor: pointer;
  }
}

.item-thumb-container {
  .column(2.7);
  overflow: hidden;
  padding: 0 1% 1%;
  text-align: center;

  img {
    //.b-shadow(1px, 1px, 5px, #000);
    border: 2px #fff solid;
    display: block;
    margin: 0 1%;
    width: 100%;
    height: auto;
    min-height: 50px;
    max-height: 100px;
  }

  .points {
    font-size: 2.3em;
    font-style: italic;
    text-shadow: 0.1em 0.1em 0 #fff;
  }
}


.item-content {
  .column_nm(9);
  margin: 0 1.3% 0 1.0416666666666665%;
}

.item-details {
  .column(12);

  header, ul {
    .column(12);
  }

}

.item-description {
  .column(12);
}

.admin .item-description {
  line-height: 1.4em;
  margin: 20px 0;
  .clearfix;
  float: left;
}

.edit .item-thumb-container {

}

/*.item-list li {   
  background: #fff;
  border: 1px #ccc solid;
  float: left;
  font-size: 0.8em;
  margin-right: @total-width*((@gutter-width*1.5)/@_gridsystem-width);
  padding: 0.3em;
  .rounded(0.5em);
  text-align: center;
}*/

