fieldset {
  *zoom: 1;
}
fieldset:before,
fieldset:after {
  content: "";
  display: table;
}
fieldset:after {
  clear: both;
}
label {
  color: #2C525D;
  display: inline;
  float: left;
  width: 21.25%;
  margin: 0 1.0416666666666665%;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 0.07em 0.07em 0 #fff;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  top: 0.5em;
}
textarea {
  height: 6em;
}
input[type="text"],
textarea {
  border: 1px #ccc solid;
  -webkit-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  -moz-box-shadow: 0.05em 0.05em 0.1em #ffffff;
  box-shadow: 0.05em 0.05em 0.1em #ffffff;
  display: inline;
  float: left;
  width: 93.75%;
  margin: 0 1.0416666666666665%;
  font-size: 1em;
  margin-bottom: 0.5em;
  outline: none;
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus,
textarea:focus {
  /*border-color: #2C525D;*/

  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
.inputs {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  float: right;
}
input[type="checkbox"] {
  float: left;
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0;
  margin: 0.6em 0.5em 0;
}
.checkbox-label {
  margin-bottom: 0.1em;
  text-transform: none;
  text-align: left;
}
#parking fieldset {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
.check-container {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
.check-container label {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
}
.field-container {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 2em 0;
  border-bottom: 2px solid #ccc;
}
.social-input {
  width: 75% !important;
}
.signup-social-icon {
  margin-top: 0.25em;
  width: 15%;
  float: left;
}
.admin .edit-link {
  position: absolute;
  top: 0;
  right: 0;
}
.admin fieldset {
  padding: 1em 0;
  position: relative;
}
.admin fieldset:hover {
  background: #fff;
}
