@import 'helpers';

form {
	.clearfix;
}

fieldset {
	.clearfix;
	position: relative;
}

label {
	color: #2C525D;
	.column(2.8);
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0.5em;
	text-shadow: 0.07em 0.07em 0 #ffffff;
	text-transform: uppercase;
	text-align: right;
	position: relative;
	top: 0.5em;
}

textarea {
	height: 6em;
}

::-webkit-input-placeholder {
   color: #AAAAAA;
}

:-moz-placeholder {
   color: #AAAAAA;
}

input[type="text"], input[type="password"], textarea {
	border: 1px #cccccc solid;
	.b-shadow(0.05em, 0.05em, 0.1em, #fff);
	.column(11.5);
	font-size: 1em;
	margin-bottom: 0.5em;
	outline: none;
	padding: 0.5em;
	.rounded(0.5em);
	
	&:focus {
		/*border-color: #2C525D;*/
		.b-shadow(0, 0, 0.2em, #2C525D);
	}
}

.inputs {
	.column(9);
	float: right;
}

input[type="checkbox"] {
	float: left;
	.column_nm(1);
	margin: 0.6em 0.5em 0;
}

.checkbox-label {
	margin-bottom: 0.1em;
	text-transform: none;
	text-align: left;
}

#parking {
	fieldset {
		.column(12);
	}
}

.check-container {
	.column(6);

	label {
		.column(10);
	}
}

.field-container {
	.column(12);
	padding: 2em 0;
	border-bottom: 1px solid #ccc;
}

.social-input {
	width: 75% !important;
}

.signup-social-icon {
	margin-top: 0.25em;
	width: 15%;
	float: left;
}

#confirm-pass {
	margin-top: 10px;
}



