@import "../LESS/helpers";
@import "../LESS/normalize";

/* 1 ROOT ---------- */

body {
  /*background-image: url(/static/img_store/Oakland/RGB/Oakland_Vertical_RGB_Green.png), url(/static/img_store/paper/eggshell.jpg);
  background-attachment: fixed, fixed;
  background-position: bottom right, center;
  background-repeat: no-repeat, repeat;*/
  background: url("/static/img_store/paper/eggshell.jpg") fixed;
  font-family: Helvetica, sans-serif;

  /*font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
}

@import "../LESS/root.less";

/* TYPOGRAPHY -------- */

@import "../LESS/type";


.section-title {
  border-top: 2px solid #286653;
  color: #fff;
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  .gradient(#052951, #1A5496);
  margin: 0;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.04em #000;
}

/* 4 SITE ---------- */

.wrap {
  .clearfix;
  margin: 0 auto;
  width: 1140px;
  
}

#site-search {
  .column_r(3.5);
}

#site-header {
  .row();
  .fixed;
  padding: 0.5em 0;
  /*.b-shadow-bot(1em, 1em, 0.1em, #000);*/
  background: url("/static/img_store/paper/eggshell.jpg") fixed;

  .wrap {
    background: url("/static/img/obid_logo.png") no-repeat top left;
    height: 80px;
    /*position: absolute;
    left: -1%;
    bottom: 30%;*/
  }
}

#site-content {
  background: @mgreen;
  .column(7);
  margin-top: 0.5em;
  position: relative;
  left: 200px;
}

#logo {
  position: fixed;
  width: auto;
}

.absolute {
  position: absolute;
}

#site-nav {
  width: 200px;
  position: relative;
  margin-top: 1em; 
  clear: both;

  ul {
    position: fixed;
    top: 120px;
    margin-left: 130px;
    //right: 0;

    li { 
      a {
        display: block;
        /*.b-shadow(0, -0.12em, 0.1em, #000); */
        -webkit-border-radius: 5px 0 0 5px;
           -moz-border-radius: 5px 0 0 5px;
                border-radius: 5px 0 0 5px;

        -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
        .b-shadow(0, 0, 2px, #000);
        color: #000;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
        width: 50px;
        margin-top: 1em;
        padding: 40px 0 0;
        text-align: center;
        text-decoration: none;
          
        &:hover {
          background-color: #ccc;
        }
  
        &:active {
          background-color: #E6B717;
        }
      }
    }
  } 
}

#site-sidebar {
  .column_r(2.5);
  position: relative;
  background: green;
}

#site-footer {
 position: absolute;
 bottom: 0;
 right: 0;
}

/* HEADER COMPONENTS -------- */

#debug-user {
  .column_r(3);
  float: right;
  margin: 0.5em 0;
}

/* SIDEBAR ---------- */

.widget {
  p, ul li {
    font-size: 0.8em;
  }

  ul {
    margin-left: 0.5em;
    li {
      list-style-type: disc;
      padding: 0.4em;
    }
  }
}


/* FEED/ITEMS ---------- */

@import "../LESS/feed";

.item {
  background: url("/static/img/textures/white_tex.png");
  .b-shadow(0.3em, 0.3em, 0, @lblue);
}

.item-title {

}

.item-thumb {
  border: ;
}

/* 4 INPUTS ---------- */

.grabbit {
    border: 2px #fff #000;
    color: #fff;
    cursor: pointer;
    .gradient(@mblue, #000);
    font-weight: bold;
    margin: 0.5em auto;
    padding: 1em;
    text-align: center;
    .rounded(0.3em);
    width: 50%;

    a {
      color: #fff;
      text-decoration: none;
    }

    &:active {
      .gradient(#000, @mblue);
    }
}

/* 7 FORMS/INPUTS ---------- */

.btn-primary {
  border: none;
  .b-shadow(0.02em, 0.02em, 0.02em, #999);
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  .gradient(#00B945, #238B49);
  margin-top: 0.5em;
  padding: 0.5em;
  position: relative;
  .rounded(0.5em);
  text-shadow: 0 0 0.05em #000;

  &:hover {
    background: #238B49;
  }

  &:active {
    background: #00782D;
    top: 1px;
    left: 1px;
    .b-shadow(0, 0, 0, #fff);
  }

  &.disabled {
    background: #AAAAAA;
    color: #fff;
    border: 1px #999 solid;
    //text-shadow: none;
  }

  &#redeemButton {
    .gradient(#00B945, #238B49);
    .column(12);
    font-size: 2em;
    padding: 5%;
    .b-shadow(0.1em, 0.1em, 0.1em, #999);

    &:active {
        top: 1px;
        left: 1px;
       .b-shadow(0, 0, 0, #fff);
    }
  }
}

/* 10 NAVIGATION ---------- */

.current-page {
  background-color: @lgreen !important;
}

/*#date-nav-left, #date-nav-right {
  background: url("../img_store/date-nav.png");
  height: 19px;
  width: 19px;
}

#date-nav-left {
  float: left;
}

#date-nav-right {
  background-position: -17px -17px;
  float: right;
}*/

@import "../LESS/single";

/* 11 TAGS ---------- */

.tag-list {

  li {

    a {
      color: #888; 
    
      &:hover, &:active {
        color: #fff;
        text-shadow: 0 0 0.1em #333;
      }      
    }

    &:hover {
      .gradient(#aaa, #999);
      .rounded(0.5em);  

      a {
        color: #fff;
        text-shadow: 0 0 0.1em #333;
      }
    }

    &:active {
      .gradient(#999, #aaa);
      .rounded(0.5em);
      position: relative;
      top: 1px;
      left: 1px;
    }
  }
}

/* SPECIALS --------- */

.specials.feed {
  .item-title {
    margin-top: 0.6em;
  }
}

/* 11 ACTIONS ---------- */


.utility-nav {
  .row();
  margin-top: 1em;
}

.utility-nav li a {
  font-weight: bold;
  .column(4);
  height: 40px;
  overflow: hidden;
  .rounded(0.5em);
}

/* 12 UTILITY ---------- */

.has-special {
  float: right;
  color: red;
  font-style: italic;
  .rounded(5px);
}

.error {
  color: red;
  position: relative;
  top: 10px;
}

/* 13 FOOTER ---------- */

#colophon {
  .column(11.8);
  font-size: 0.9em;
  padding: 1%;
}

/* 14 GLOBAL OBJECTS ---------- */
/* 15 VENDOR-SPECIFIC ---------- */
/* 16 MODERNIZR ---------- */


/* ICONS ----------- */

@import "../LESS/icons";


