@import "icons";
@import "helpers";
@import "normalize";

/* 1 ROOT ---------- */

body {
  /*background-image: url(/static/img/Oakland/RGB/Oakland_Vertical_RGB_Green.png), url(/static/img/paper/eggshell.jpg);
  background-attachment: fixed, fixed;
  background-position: bottom right, center;
  background-repeat: no-repeat, repeat;*/
  background: url("/static/img/Oakland/abbey_road_bw.jpg") no-repeat fixed center;
  font-family: Helvetica, sans-serif;

  /*font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
}

.wrap {
  max-width: 920px;
  margin: 0 auto;
  .border-box;
  .clearfix;
  position: relative;
}

/* Responsive images */
img {
  height: auto;
  width: 100%;
}

textarea, input[type="search"], input[type="email"], input[type="text"] {
  border: 1px @white solid;
  padding: 0.5em;
  .rounded(0.2em);
  &:focus, &:hover {
    border-color: #91D87D;
  }
}


/* TYPOGRAPHY -------- */

@import 'type';

/* 3 HEADINGS ---------- */

.global-heading {
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0.5em 0 0 0.8em;
  text-shadow: 0 0.09em 0.04em #fff;
}

#site-title {
  color: #111;
  font-family: 'Gill Sans', Arial, sans-serif;
  font-size: 1.5em;
  margin: 0;
}

#site-tagline {
  font-size: 1em; 
  margin: 0;
}

.section-title {
  border-top: 2px solid #286653;
  color: #fff;
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  .gradient(#052951, #1A5496);
  /*background: url(/static/img/paper/stormy_sky.jpg);*/
  margin: 0;
  padding: 0.5em;
  /*text-align: center;*/
  text-shadow: 0.1em 0.1em 0.04em #000;
}

.page-title {
  display: inline;
  font-size: 1.5em;
}


/* 4 SITE ---------- */

#site-search {
  .column_nm(3.5);
}

#site-header {
  .column_nm(12);
  .gradient(#fff, #aaa);
  .fixed;
  
  padding: 0.5em 0;
  /*.b-shadow-bot(1em, 1em, 0.1em, #000);*/
  hgroup {
    .column(2);
    /*background-color: #DAF7B1;*/
    /*.b-shadow(0, 0, 3px, #fff);*/
    /*position: absolute;
    left: -1%;
    bottom: 30%;*/
  }
}

#site-nav {
  position: fixed;
  left: auto;
  margin-left: -40px;
  top: 50px;
  /*border-bottom: 0.3em #fff solid;*/
  ul {
    li { 
      a {
        display: block;
        /*.b-shadow(0, -0.12em, 0.1em, #000); */
        -webkit-border-radius: 5px 0 0 5px;
           -moz-border-radius: 5px 0 0 5px;
                border-radius: 5px 0 0 5px;

        -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
        .b-shadow(0, 0, 2px, #000);
        color: #000;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
        width: 50px;
        margin-top: 1em;
        padding: 40px 0 0;
        text-align: center;
        text-decoration: none;
          
        &:hover {
          background-color: #ccc;
        }
  
        &:active {
          background-color: #E6B717;
        }
      }
    }
  } 
}

.current-page {
  background-color: @green !important;
}

#site-content {
  background: fade(#fff, 60%);
  .column(8.5);
  position: relative;
  /*padding: 1%;*/
  top: 73px;
}

#site-sidebar {
  .column(3.5);
  max-width: 200px;
  clear: both;
  .fixed;
  right: auto;
  top: 73px;
  padding: 0.5%;
}

#site-footer {
  .clearfix;
  margin-top: 2em;
}


/* HEADER COMPONENTS -------- */

#debug-user {
  .column(12);
  margin: 0.5em 0;
}

/* SIDEBAR ---------- */

#broadcast {

  li {
    background: fade(#fff, 60%);
    .gradient(fade(#fff, 60%), fade(#ccc, 60%));
    .b-shadow(0, 0, 0.1em, #999);
    margin: 0.5em 0;
    padding: 10%;
    .rounded(0.3em);
  }
  overflow: hidden;
  height: 70%;
  &:hover {
    overflow: auto;
  }

  display: none;
}


/* FEED/ITEMS ---------- */

@import 'feed';

/* PAGE ---------- */

.page-header {
  background: @green;
  padding: 1% 2%;
}

.add-filter {
  .gradient(#fff, #999);
  float: right;
  padding: 1%;
  .rounded(0.5em);  
}

.filter-form {
  display: none;
}

/* 4 INPUTS ---------- */

.grabbit {
    border: 2px #fff #000;
    color: #fff;
    cursor: pointer;
    .gradient(@mblue, #000);
    font-weight: bold;
    margin: 0.5em auto;
    padding: 1em;
    text-align: center;
    .rounded(0.3em);
    width: 50%;

    a {
      color: #fff;
      text-decoration: none;
    }

    &:active {
      .gradient(#000, @mblue);
    }
}

/* 7 FORMS ---------- */

#post-form { 
    .column(11.7);
    margin-bottom: 1em;
}

#redeemSpecial {
  padding: 0 1em;
  .meta {
    margin: 1em 0;
  }
  footer {
    margin-top: 1em;  
  }
}

.redeem-form {
  .clearfix;

  span {
    height: 22pt;
    font-weight: bold;
    margin: 4% 1% 0;
    padding: 2%;
    width: 14%;
    .gradient(@mblue, #000);
    .rounded(0.5em);

    &:active {
      .gradient(#000, @mblue);
    }
  }

  input {
    .column(11);
    margin: 2%;
  }
}

/* 10 NAVIGATION ---------- */

#date-nav-left, #date-nav-right {
  background: url("../img/date-nav.png");
  height: 19px;
  width: 19px;
}

#date-nav-left {
  float: left;
}

#date-nav-right {
  background-position: -17px -17px;
  float: right;
}

@import 'single';

/* 11 TAGS ---------- */

.tag-list {
  .column_nm(12);
  font-size: 0.9em;
  margin: 1% 0 0;
  ul {
    li a {
      color: #888;
      float: left;
      margin: 0 1% 1% 0;
      padding: 1%;
      text-decoration: none;
      text-shadow: 1px 1px 1px #fff;
      .border-box;

      &:hover {
        color: #fff;
        text-shadow: 0 0 0.1em #333;
        .gradient(#aaa, #999);
        .rounded(0.5em);  
      }

      &:active {
        color: #fff;
        text-shadow: 0 0 0.1em #333;
        .gradient(#999, #aaa);
        .rounded(0.5em);
        position: relative;
        top: 1px;
        left: 1px;
      }

    }
  }
}

/* 11 ACTIONS ---------- */


.utility-nav {
  .column(12);
  margin-top: 1em;
}

.utility-nav li a {
  font-weight: bold;
  .column(4);
  height: 40px;
  overflow: hidden;
  .rounded(0.5em);
}

/* 12 UTILITY ---------- */

.has-special {
  float: right;
  color: red;
  font-style: italic;
  .rounded(5px);
}

.error {
  color: red;
  position: relative;
  top: 10px;
}

/* 13 FOOTER ---------- */

#colophon {
  .column(11.8);
  font-size: 0.9em;
  padding: 1%;
}

/* 14 GLOBAL OBJECTS ---------- */
/* 15 VENDOR-SPECIFIC ---------- */
/* 16 MODERNIZR ---------- */

/* 16 EVENTS SPECIFIC ---------- */

#eventsPage {
  .subnav {
    .gradient(#BCB2AC, #ECE4D8);
    padding: 0.5em;
    text-align: center;

    time {
      font-weight: bold;
    }
  }
}

#eventsSingle .single-item-desc {
  padding: 0.5em;
  .rounded(10px);
}

/* 16 PLACES SPECIFIC ---------- */

.places {
  
}

/* 16 SPECIALS SPECIFIC ---------- */

.offers {
  
}

#offersSingle .item-point-value {
  font-size: 2.4em;
  margin: 0;
}

/* 16 CHATTER SPECIFIC ---------- */

#chatterPage {
  .clearfix;
  margin: 0.5em 0;

  .sub-nav ul li {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    .gradient(#ECE4D8, #BCB2AC);
    float: left;
    margin: 0 1%;
    padding: 1%;
    .rounded(0.2em);
    text-align: center;
    width: 18.25%;

    &#expandPostForm {
      width: 7%;
    }

    a {
      color: #222;
      font-weight: bold;
      text-decoration: none;
    }    
  }
}

#chatterFeed {
  .item-meta {
    .column(11);
  }
}

#chatterSingle {
  .item-content-container {
    float: left;
    margin: 0 1.3em 0 1.0416666666666665%;
    width: 62.91666666666666%;
  }
}

.voting {
  float: right;
  width: 10%;
}

.post-form {
  margin: 2em 0;
  display: none;

  input {
    .column(11);
    margin: 1em;
  }

  textarea {
    .column(11);
    margin: 0 1em 1em;
  }
}

.voting {
  float: left;
  .column(1);
  div {
    cursor: pointer;
    width: 18px;
    height: 15px;
  }
}

.upvote {
  background: url('../img/votingarrows.png') no-repeat left top;
  &:hover {
    background-position: right top;
  }
}

.downvote {
  background: url('../img/votingarrows.png') no-repeat left bottom;

  &:hover {
    background-position: right bottom;
  }
}

.username {
  font-weight: bold;

  &:visited {
    color: #333;  
    text-decoration: none;
  }
}

.user-avatar {
  float: left;
  height: 20px;
  margin-right: 0.3em;
  width: 20px;
}

.comments {
  margin-top: 1.5em;
  li {
    color: #000;
    text-shadow: none;
    background: #ccc;
    margin: 0.5em 0;
    padding: 0.5em;
  }
}

.comment-content {
  header {
    border-bottom: 1px #999 solid;
  }
}

/* 16 NEWS SPECIFIC ---------- */

.news {
  
}

#singleNewsSource {
  margin: 0 0 0.3em 0;
}

/* 16 JOBS SPECIFIC ---------- */

.jobs {
  
}

/* 17 TEMPLATE SPECIFICS ---------- */

.hot-feed {
  
}


/* 18 MEDIA QUERIES ---------- */

/*
 * Media queries for responsive design https://github.com/shichuan/mobile-html5-../wiki/The-Style
 */

/* Styles for mobile ----------- */

/*@media screen and (min-width: 720px) {
  .item {
    .column(6);
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 520px){

  
}

@media screen and (max-width: 350px) {

}*/

/* Styles for desktop and large screen ----------- */

@media only screen and (min-width: 720px) {



}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- 
---- >> causing a bug - figure this out later 
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  
  Styles 

}*/



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: boilerplate; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


