@import "../LESS/helpers";
@import "../LESS/normalize";

/* 1 ROOT ---------- */

body {
  //background: url("/static/img_store/Oakland/Rick_Random/IMG_5354_1440.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  //background: url("/static/img_store/paper/sand.jpg") fixed;
  //font-family: Helvetica, sans-serif;

  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

@import "../LESS/root.less";


.wrap {
  .clearfix;
  margin: 0 auto;
  //width: 960px;
  position: relative;
}

/* TYPOGRAPHY -------- */

@import "../LESS/type";


.section-title {
  border-top: 2px solid #286653;
  color: #fff;
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  .gradient(#052951, #1A5496);
  margin: 0;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.04em #000;
}

/* FORMS & INPUTS --------------- */

@import '../LESS/forms';

form {
  margin: 2em auto auto;
  max-width: 600px;
}

.field-container {
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  &.last, &.inner {
    border: none;
  }

  &.first {
    padding-top: 0 !important;
  }

  &.inner {
    padding: 0;
  }
}

.field-label {
  .column(3);
  margin-top: 0.1em;
  text-align: right;
}

.field {
  .column_r(9);
}

.checkbox-label {
  margin-bottom: 0.1em;
  text-transform: none;
  text-align: left;
}

#parking {
  fieldset {
    .column(12);
  }
}

.check-container {
  .column(6);

  label {
    .column(10);
  }
}

.social-input {
  
  input {
    width: 79% !important;
    float: left;
  }
}


#confirm-pass {
  margin-top: 10px;
}

/* 4 INPUTS ---------- */

.grabbit {
    border: 2px #fff #000;
    color: #fff;
    cursor: pointer;
    .gradient(@mblue, #000);
    font-weight: bold;
    margin: 0.5em auto;
    padding: 1em;
    text-align: center;
    .rounded(0.3em);
    width: 50%;

    a {
      color: #fff;
      text-decoration: none;
    }

    &:active {
      .gradient(#000, @mblue);
    }
}

/* 7 FORMS/INPUTS ---------- */

.btn-primary {
  border: none;
  .b-shadow(0.02em, 0.02em, 0.02em, #999);
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  .gradient(#00B945, #238B49);
  margin-top: 0.5em;
  padding: 0.5em;
  position: relative;
  .rounded(0.5em);
  text-shadow: 0 0 0.05em #000;

  &:hover {
    background: #238B49;
  }

  &:active {
    background: #00782D;
    top: 1px;
    left: 1px;
    .b-shadow(0, 0, 0, #fff);
  }

  &.disabled {
    background: #AAAAAA;
    color: #fff;
    border: 1px #999 solid;
    //text-shadow: none;
  }

  &#redeemButton {
    .gradient(#00B945, #238B49);
    .column(12);
    font-size: 2em;
    padding: 5%;
    .b-shadow(0.1em, 0.1em, 0.1em, #999);

    &:active {
        top: 1px;
        left: 1px;
       .b-shadow(0, 0, 0, #fff);
    }
  }
}


/* HEADER ------------- */

#debug-user {
  float: right;
}

#top-bar {
  .row();
  .gradient(@lgreen, @dgreen);
  height: 30px;
  padding: 0 1em;
  z-index: 999;
}

#scene-nav {
  //.row();
  background: @dgreen;
  height: 105px;
  top: 30px;
  position: relative;
  z-index: 999;
  .fixed();
  border-bottom: 10px #555 solid;

  .main-menu {  
    .clearfix;
    .column(6);


    li { 
      a {
        .column(3);
        .b-shadow(0, 0, 2px, #000);
        color: #000;
        cursor: pointer;
        font-size: 0.8em;
        font-weight: bold;
        height: 80px;
        margin-top: 1em;
        padding: 1em 0 0;
        .tabs(0.5em);
        text-align: center;
        text-decoration: none;
          
        img {
          display: block;
          height: 40px;
          margin: auto auto 0.3em;
        }

        &:hover {
          background-color: #ccc;
        }
  
        &:active {
          background-color: #E6B717;
        }
      }
    }
  } 
}

.site-search {
  .column_r(3);
}

.menu ul li {
  background: #fff;
}

#logo {
  .column(3);
}

/* 4 CONTENT ---------- */

#site-content {
  background: url("/static/img/textures/mgreen-tex.png") fixed;
  //background: fade(@lgreen, 70%);
  .b-shadow(0, 0, 0.1em, #fff);
  .column(9);
  margin-top: 130px;
  position: relative;
  z-index: 0;
}

#site-content.single {
  margin-top: 30px;
}

#site-sidebar {
  position: fixed;
  right: 0;
  top: 130px;
  width: 100%;
  z-index: -3; 

  .content {
    background: @mgreen;
    .column_r(3);
    position: relative;
  }
}

/* SIDEBAR ---------- */

.widget {
  p, ul li {
    font-size: 0.8em;
  }

  ul {
    margin-left: 1em;
    li {
      list-style-type: disc;
      padding: 0.4em;
    }
  }
}


/* FEED/ITEMS ---------- */

@import "../LESS/feed";

.item {
  background: url("/static/img/textures/white-tex.png");
  .b-shadow(0.3em, 0.3em, 0, @lblue);
}

.item-title {

}

.item-thumb {
  border: ;
}

/* 10 NAVIGATION ---------- */

#profile-nav {
  width: 15%;
  float: left;
  .border-box;
  
  li a {
    display: block;
    -webkit-border-radius: 0.5em 0 0 0.5em; 
     -moz-border-radius: 0.5em 0 0 0.5em; 
          border-radius: 0.5em 0 0 0.5em; 

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    .gradient(@lgreen, @mgreen);
    margin: 0.3em 0;
    padding: 0.3em;
    .border-box;
  }
}

.profile-content {
  float: left;
  .border-box;
  width: 85%;
  background: @dgreen;  
}

/*#date-nav-left, #date-nav-right {
  background: url("../img_store/date-nav.png");
  height: 19px;
  width: 19px;
}

#date-nav-left {
  float: left;
}

#date-nav-right {
  background-position: -17px -17px;
  float: right;
}*/

@import "../LESS/single";

/* 11 TAGS ---------- */

.tag-list {

  li {

    a {
      color: #888; 
    
      &:hover, &:active {
        color: #fff;
        text-shadow: 0 0 0.1em #333;
      }      
    }

    &:hover {
      .gradient(#aaa, #999);
      .rounded(0.5em);  

      a {
        color: #fff;
        text-shadow: 0 0 0.1em #333;
      }
    }

    &:active {
      .gradient(#999, #aaa);
      .rounded(0.5em);
      position: relative;
      top: 1px;
      left: 1px;
    }
  }
}

/* SPECIALS --------- */

.specials.feed {
  .item-title {
    margin-top: 0.6em;
  }
}

/* 11 ACTIONS ---------- */

.utility-nav {
  .row();
  margin-top: 1em;
}

.utility-nav li a {
  font-weight: bold;
  .column(4);
  height: 40px;
  overflow: hidden;
  .rounded(0.5em);
}

/* 12 UTILITY ---------- */

.fixed {
  position: fixed;
  width: 100%;  
  z-index: 3;
}

.current-page {
  background-color: @lgreen !important;
}

.has-special {
  float: right;
  color: red;
  font-style: italic;
  .rounded(5px);
}

.error {
  color: red;
  position: relative;
  top: 10px;
}

.right {
  clear: right;
  float: right;
}

.left {
  clear: left;
  float: left;
}

/* 13 FOOTER ---------- */

#colophon {
  .column(11.8);
  font-size: 0.9em;
  padding: 1%;
}

/* 14 GLOBAL OBJECTS ---------- */
/* 15 VENDOR-SPECIFIC ---------- */
/* 16 MODERNIZR ---------- */


/* ICONS ----------- */

@import "../LESS/icons";


/* 18 MEDIA QUERIES ---------- */

/*
 * Media queries for responsive design https://github.com/shichuan/mobile-html5-../wiki/The-Style
 */

/* Styles for mobile ----------- */

@media screen and (max-width: 920px) {
  .item {
    .row();
    float: left !important;
    margin: 0.5em 0;
  }

  .single-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 680px){
  
  #site-content {
    .column(12);
  }

  #site-sidebar {
    position: relative;
    top: 0;
    .content {
      background: @mgreen;
      .column(12);
    //  position: relative;
    }
  }

  .item-details {
    font-size: 0.9em;
  }


}

@media screen and (max-width: 350px) {

}

/* Styles for desktop and large screen ----------- */

@media only screen and (min-width: 720px) {

}/*/mediaquery*/

