/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* Responsive Images + alt text style */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  color: #999;
  font-style: italic;
  height: auto;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* 1 ROOT ---------- */
body {
  background: url("/static/img_store/Oakland/background_pics/jpegs/DSC_1408.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.wrap {
  *zoom: 1;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}
.wrap:before,
.wrap:after {
  content: "";
  display: table;
}
.wrap:after {
  clear: both;
}
/* TYPOGRAPHY -------- */
h1 {
  font-family: 'BloklettersBalpen';
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 1em;
  padding-bottom: 0.1em;
}
a {
  color: #b83939;
}
a:hover {
  color: #ded57f;
}
a:active {
  color: #2c525d;
}
a:visited {
  color: #b83939;
}
p {
  color: #222;
  margin: 0.1em 0;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
.meta {
  font-size: 0.9em;
}
.description {
  margin-top: 0.3em;
  font-color: #888;
  font-style: italic;
  font-size: 0.9em;
}
.tip,
.error {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
  display: block;
  margin-left: 2%;
}
.tip.desc,
.error.desc {
  margin-top: 2%;
}
.error {
  color: #C34327;
  float: left;
}
#colophon {
  text-align: right;
}
#colophon a {
  color: #2c525d;
  font-weight: bold;
}
#colophon a:hover {
  color: #b83939;
}
/* HEADINGS ------- */
#site-title {
  margin-top: 20px;
  padding: 0 0 15px 15px;
  text-align: center;
}
#site-title a {
  color: #fff;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:active {
  text-shadow: 0 0.03em 0.05em #000;
}
#site-title a:visited {
  color: #fff;
}
#tagline {
  font-size: 1em;
  text-align: center;
}
/* ELEMENTS --------- */
.points {
  font-family: 'KomikaTitleRegular', Gill Sans, sans-serif;
  font-size: 3em;
  margin-top: -0.05em;
  text-shadow: 0.05em 0.05em 0 #ded57f;
}
a {
  color: #4b7699;
}
a:hover {
  color: #303f14;
}
a:active {
  color: #2c525d;
}
a:visited {
  color: #4b7699;
}
.section-title {
  border-bottom: 2px solid #999;
  border-top: 4px solid #6baa55;
  color: #000;
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  margin: 0;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.04em #fff;
}
.address {
  font-weight: normal;
}
.host {
  color: #b83939 !important;
  font-weight: bold;
}
/* FORMS & INPUTS --------------- */
::-webkit-input-placeholder {
  color: #AAAAAA;
}
:-moz-placeholder {
  color: #AAAAAA;
}
form {
  margin: 1em auto;
  max-width: 600px;
  *zoom: 1;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px solid #999;
  background: #f9f9f9;
  font-size: 1em;
  width: 93%;
  margin: 0 5% 0 2%;
  outline: none;
  padding: 0.35em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2em #2c525d;
  -moz-box-shadow: 0 0 0.2em #2c525d;
  box-shadow: 0 0 0.2em #2c525d;
}
button,
input[type="submit"],
.next,
.back {
  border: 0.1em #e1e1e1 solid;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#e1e1e1));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* IE10 */

  background-image: -o-linear-gradient(top, #aaaaaa, #e1e1e1);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #aaaaaa, #e1e1e1);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  border: 1px #999;
  padding: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
}
button:active,
input[type="submit"]:active,
.next:active,
.back:active {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 1px;
  left: 1px;
}
.field-container {
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}
.field-container.last,
.field-container.inner {
  border: none;
}
.field-container.first {
  padding-top: 0 !important;
}
.field-container.inner {
  padding: 0;
}
.field-label {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.1em;
  text-align: right;
}
.field {
  float: right;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox-label {
  margin-bottom: 0.1em;
  text-transform: none;
  text-align: left;
}
#parking fieldset {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.check-container {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.check-container label {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-input input {
  width: 79% !important;
  float: left;
}
#confirm-pass {
  margin-top: 10px;
}
/* 4 INPUTS ---------- */
/* 7 FORMS/INPUTS ---------- */
.btn-primary {
  border: none;
  -webkit-box-shadow: 0.02em 0.02em 0.02em #999999;
  -moz-box-shadow: 0.02em 0.02em 0.02em #999999;
  box-shadow: 0.02em 0.02em 0.02em #999999;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #00b945;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b945), to(#238b49));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #00b945, #238b49);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #00b945, #238b49);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #00b945, #238b49);
  /* IE10 */

  background-image: -o-linear-gradient(top, #00b945, #238b49);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #00b945, #238b49);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  margin-top: 0.5em;
  padding: 0.5em;
  position: relative;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 0 0.05em #000;
}
.btn-primary:hover {
  background: #238B49;
}
.btn-primary:active {
  background: #00782D;
  top: 1px;
  left: 1px;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.btn-primary.disabled {
  background: #AAAAAA;
  color: #fff;
  border: 1px #999 solid;
}
.btn-primary#redeemButton {
  background-color: #00b945;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b945), to(#238b49));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #00b945, #238b49);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #00b945, #238b49);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #00b945, #238b49);
  /* IE10 */

  background-image: -o-linear-gradient(top, #00b945, #238b49);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #00b945, #238b49);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  padding: 5%;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #999999;
  -moz-box-shadow: 0.1em 0.1em 0.1em #999999;
  box-shadow: 0.1em 0.1em 0.1em #999999;
}
.btn-primary#redeemButton:active {
  top: 1px;
  left: 1px;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
/* HEADER ------------- */
/*#top-bar {
  .row();
  //.gradient(@lgreen, @dgreen);
  background: #fff;
  .b-shadow(0.1em, 0, 0.2em, #000); 
  height: 2em;
  padding: 0.3em 0 0;
  z-index: 999;
}*/
.utility {
  float: right;
  width: 27.083333333333332%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0;
}
.utility #debug-user {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1em;
  text-align: right;
}
.utility input {
  float: left;
  width: 97.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3em;
  margin: 0.5em 0 0;
}
#scene-nav {
  height: 5em;
  position: relative;
  z-index: 999;
  width: 100%;
  position: fixed;
  z-index: 999;
  position: fixed;
  width: 100%;
  z-index: 3;
  max-width: 1140px;
  background: #e1e1e1;
  -webkit-box-shadow: 0 0 0.3em #000000;
  -moz-box-shadow: 0 0 0.3em #000000;
  box-shadow: 0 0 0.3em #000000;
}
#scene-nav select {
  display: none;
}
#scene-nav .main-menu {
  *zoom: 1;
  float: left;
  width: 52.083333333333336%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#scene-nav .main-menu:before,
#scene-nav .main-menu:after {
  content: "";
  display: table;
}
#scene-nav .main-menu:after {
  clear: both;
}
#scene-nav .main-menu li a {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 0.75em;
  height: 5em;
  margin-top: 1em;
  position: relative;
}
#scene-nav .main-menu li a.current-page {
  background-color: #6baa55;
}
#scene-nav .main-menu li a .container {
  position: absolute;
  left: 50%;
  bottom: 0.3em;
}
#scene-nav .main-menu li a .container .menu-item {
  position: relative;
  left: -50%;
}
#scene-nav .main-menu li a:hover {
  background-color: #ccc;
}
#scene-nav .main-menu li a:active {
  background-color: #E6B717;
}
#logo {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 5em;
  padding-top: 0.5em;
}
/* 4 CONTENT ---------- */
#site-content {
  background: rgba(255, 255, 255, 0.5);
  float: left;
  width: 68.75%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  top: 3em;
  z-index: 0;
}
#site-content.single {
  margin-top: 30px;
}
#site-sidebar {
  background: #6baa55;
  float: left;
  width: 27.083333333333332%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 5em;
  padding-left: 2em;
}
/* SIDEBAR ---------- */
.widget p,
.widget ul li {
  font-size: 0.8em;
}
.widget ul {
  margin-left: 1em;
}
.widget ul li {
  list-style-type: disc;
  padding: 0.4em;
}
/* FEED/ITEMS ---------- */
/* 11 FEED/ITEMS ---------- */
.feed-header {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  border-bottom: 1px solid #999;
  padding: 1% 2%;
  position: relative;
}
.feed-header:before,
.feed-header:after {
  content: "";
  display: table;
}
.feed-header:after {
  clear: both;
}
.feed-header input[type="text"] {
  float: right;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-title {
  float: left;
}
.feed {
  clear: both;
  margin: 2% 2% 0;
}
.item {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  margin: 1%;
  padding: 2% 1%;
}
.item-title {
  margin: 0;
}
.item-title a {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  text-shadow: 0 0 0.01em #fff;
}
.item-title a:hover {
  color: #777 !important;
}
.item-title a:visited {
  color: #333;
}
.item-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.item-actions img {
  cursor: pointer;
}
.item-thumb {
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 1% 1%;
  text-align: center;
}
.item-thumb .thumbnail {
  border: 2px #fff solid;
  display: block;
  margin: 0 1%;
  width: 100%;
  height: auto;
  min-height: 70px;
  max-height: 130px;
}
.item-content {
  float: left;
  width: 72.91666666666666%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
  padding-left: 2%;
  position: relative;
}
.item-details {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.9em;
}
.item-details:before,
.item-details:after {
  content: "";
  display: table;
}
.item-details:after {
  clear: both;
}
/* 11 TAGS ---------- */
.tag-list {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  font-size: 0.8em;
  margin: 1% 0 0;
}
.tag-list:before,
.tag-list:after {
  content: "";
  display: table;
}
.tag-list:after {
  clear: both;
}
.tag-list li {
  color: #888;
  float: left;
  margin: 0.1em 0.4em;
  padding: 0.1em 0.2em;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tag-list li:active {
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#aaaaaa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #999999, #aaaaaa);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #999999, #aaaaaa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #999999, #aaaaaa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #999999, #aaaaaa);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #999999, #aaaaaa);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  position: relative;
  top: 1px;
  left: 1px;
}
.filter {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filter input[type="search"] {
  float: left;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filter input[type="submit"] {
  float: right;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-header {
  background: #fff;
}
.feed-header .hot {
  margin-bottom: 1em;
}
.feed-title {
  font-size: 1.8em;
  font-family: 'BitterRegular';
  color: #000;
  text-shadow: 0 0 0.05em #999;
  margin: 0;
}
.map-container.feed-page {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0;
  height: 300px;
  overflow: hidden;
}
.item,
.single-container {
  background: url("/static/img/textures/white-tex.png");
  -webkit-box-shadow: 0.1em 0.1em 0.1em #000000;
  -moz-box-shadow: 0.1em 0.1em 0.1em #000000;
  box-shadow: 0.1em 0.1em 0.1em #000000;
  border: 0.3em solid #6baa55;
}
.item a {
  color: #000;
}
.item:hover {
  border: 0.3em solid #a9c6e8;
  background: #fff;
}
.item-title {
  margin-bottom: 0.3em;
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;
  text-shadow: 0.05em 0.05em 0.05em #999;
}
.thumbnail {
  -webkit-box-shadow: 0.05em 0.05em 0.05em #555555;
  -moz-box-shadow: 0.05em 0.05em 0.05em #555555;
  box-shadow: 0.05em 0.05em 0.05em #555555;
}
.feed.news .item-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* 10 NAVIGATION ---------- */
.related-nav {
  width: 12%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.related-nav li a {
  display: block;
  -webkit-border-radius: 0.5em 0 0 0.5em;
  -moz-border-radius: 0.5em 0 0 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #444;
  color: #fff;
  margin: 0.3em 0;
  padding: 0.3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.related-nav li a.current-page {
  background-color: #ded57f;
}
/*#date-nav-left, #date-nav-right {
  background: url("../img_store/date-nav.png");
  height: 19px;
  width: 19px;
}

#date-nav-left {
  float: left;
}

#date-nav-right {
  background-position: -17px -17px;
  float: right;
}*/
/* SINGLE ---------- */
.single-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
  *zoom: 1;
}
.single-container:before,
.single-container:after {
  content: "";
  display: table;
}
.single-container:after {
  clear: both;
}
.single-header {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #e1e1e1 solid;
  padding-bottom: 3%;
}
.single-header .thumbnail {
  max-height: 100%;
}
.single-header ul {
  padding-left: 0.5em;
}
.single-title {
  border-bottom: 1px #999 solid;
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 2%;
  padding: 0 0.3em 0.1em;
  text-shadow: 0.05em 0.05em 0.05em #999;
}
.single-content {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 3% 0;
  padding: 0 2%;
  /*width: 90%;
  .clearfix;
  .border-box;*/

}
.single-content.places {
  padding: 0;
}
.single-content .description {
  font-style: normal;
}
.single-nav {
  float: left;
  width: 6.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
}
.single-nav ul li a {
  -webkit-border-radius: 0.5em 0 0.5em 0;
  -moz-border-radius: 0.5em 0 0 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  -moz-device-pixel-ratiooz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ffffff, #999999);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ffffff, #999999);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #ffffff, #999999);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ffffff, #999999);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #ffffff, #999999);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  height: 3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.2em 0;
  padding: 1.5em 0.5em 0.5em;
}
.map-container {
  float: right;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.related-section {
  display: none;
  width: 88%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #e1e1e1;
  padding: 4%;
}
.related-section#placeInfo,
.related-section.profile {
  display: block;
}
.related-section .section-header {
  *zoom: 1;
}
.related-section .section-header:before,
.related-section .section-header:after {
  content: "";
  display: table;
}
.related-section .section-header:after {
  clear: both;
}
.related-section .section-title {
  border-bottom: 1px #999 solid;
  padding: 0 0 0.2em;
  margin: 0 0 1em;
}
.related-section#placeInfo .item-details {
  float: left;
  width: 47.91666666666667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.3em;
}
.related-section#placeInfo .item-details li {
  margin-bottom: 0.5em;
}
.related-section .map-container {
  float: right;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 1em;
}
.single-content .map-container {
  margin-left: 0.7em;
  margin-bottom: 0.7em;
}
/* 11 TAGS ---------- */
.tag-list {
  clear: both;
}
.tag-list li a {
  color: #888;
}
.tag-list li a:hover,
.tag-list li a:active {
  color: #fff;
}
.tag-list li:hover {
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#999999));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #aaaaaa, #999999);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #aaaaaa, #999999);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #aaaaaa, #999999);
  /* IE10 */

  background-image: -o-linear-gradient(top, #aaaaaa, #999999);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #aaaaaa, #999999);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tag-list li:hover a {
  color: #fff;
}
/* HOT --------- */
.hot {
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot .feed {
  margin-left: 0;
  margin-right: 0;
}
.hot.news {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot.events,
.hot.chatter {
  margin: 0;
  float: right;
}
.hot.map-container {
  margin-right: 0;
  margin-top: 1em;
  height: 450px;
}
.hot.chatter {
  padding: 0 0.5em;
}
.hot.chatter input[type="text"] {
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot.chatter input[type="submit"] {
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #6baa55;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0.1em 0.1em 0.3em #000000;
  -moz-box-shadow: 0.1em 0.1em 0.3em #000000;
  box-shadow: 0.1em 0.1em 0.3em #000000;
}
.hot.chatter .feed li {
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #303f14 solid;
  padding: 0.7em;
  margin-top: 0.5em;
  font-size: 0.9em;
  background: url(/static/img/textures/white-tex.png);
  -webkit-box-shadow: 0.1em 0.1em 0.1em #000000;
  -moz-box-shadow: 0.1em 0.1em 0.1em #000000;
  box-shadow: 0.1em 0.1em 0.1em #000000;
}
.hot.chatter .feed li img {
  float: left;
  margin-right: 1em;
}
.hot.chatter .feed li .meta {
  color: #999;
  font-size: 0.8em;
  padding-top: 0.3em;
}
/* SPECIALS --------- */
.specials.feed .item-title {
  margin-top: 0.4em;
}
/* 11 ACTIONS ---------- */
.favbutton {
  display: block;
  height: 30px;
  font-size: 0.7em;
  /*

  img {
    .column(3); 
  }*/

}
/* 12 UTILITY ---------- */
.map-container {
  background: url("http://www.scottadito.com/images/googleMap.jpg");
  height: 200px;
  border: 1px solid #888;
}
.row-container {
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
.row-container:before,
.row-container:after {
  content: "";
  display: table;
}
.row-container:after {
  clear: both;
}
.fixed {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.has-special {
  float: right;
  color: red;
  font-style: italic;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.error {
  color: red;
  position: relative;
  top: 10px;
}
.right {
  clear: right;
  float: right;
}
.left {
  clear: left;
  float: left;
}
/* 13 FOOTER ---------- */
#colophon {
  float: left;
  width: 96.25%;
  margin: 0 1.0416666666666665%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 1%;
}
/* 14 GLOBAL OBJECTS ---------- */
/* 15 VENDOR-SPECIFIC ---------- */
/* 16 MODERNIZR ---------- */
/* ICONS ----------- */
/* 	Stylesheet to define le icons 
*/
/* 	TODO: 
		Sprite sheet
		Background positioning will be added 
*/
/* To be made into sprite sheet */
a {
  /* Single place nav */

  /*	&#placeAtAGlance {
		.icon(photo-magnify);
	}

	&#placeEvents {
		.icon(calendar-alt);
	}

	&#placeSpecials {
		.icon(tag-special);
	}
*/

  /* #scene-nav */

}
a#siteHot {
  background: #ffffff url('/static/img_store/icons/black/city.png') no-repeat center 9px;
}
a#sitePlaces {
  background: #ffffff url('/static/img_store/icons/black/store-front.png') no-repeat center 9px;
}
a#siteEvents {
  background: #ffffff url('/static/img_store/icons/black/calendar-alt.png') no-repeat center 9px;
}
a#siteSpecials {
  background: #ffffff url('/static/img_store/icons/black/tag-special.png') no-repeat center 9px;
}
a#siteChatter {
  background: #ffffff url('/static/img_store/icons/black/speech-bubble.png') no-repeat center 9px;
}
a#siteNews {
  background: #ffffff url('/static/img_store/icons/black/newspaper.png') no-repeat center 9px;
}
a#siteJobs {
  background: #ffffff url('/static/img_store/icons/black/suitcase.png') no-repeat center;
}
/* Actions */
/*******************************//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
/* 18 MEDIA QUERIES ---------- *//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
/*******************************//*******************************/
@media screen and (max-width: 992px) {
  #logo {
    margin-top: 1em;
  }
  #site-content {
    float: left;
    width: 64.58333333333334%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #scene-nav .main-menu {
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo {
    float: left;
    width: 14.583333333333334%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo img {
    width: 100%;
  }
  .related-nav {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px #888 solid;
  }
  .related-nav ul {
    *zoom: 1;
  }
  .related-nav ul:before,
  .related-nav ul:after {
    content: "";
    display: table;
  }
  .related-nav ul:after {
    clear: both;
  }
  .related-nav ul li a {
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.5em 0.5em 0 0;
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #000;
    text-shadow: 0.05em 0.05em 0em #fff;
    background: #6baa55;
    text-align: center;
    font-weight: bold;
    float: left;
  }
  .related-nav#profile-nav ul li a {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .related-section {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .utility {
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #site-sidebar {
    float: left;
    width: 31.25%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .single-title {
    font-size: 1.5em;
  }
  .hot {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hot.map-container {
    height: 200px;
  }
  .map-container.feed-page,
  .map-container.hot {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .logout,
  .bar {
    display: none;
  }
  #site-content.single {
    margin-top: 0;
  }
  .map-container.feed-page,
  .map-container.hot {
    margin: 0;
  }
  .utility {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .utility a {
    color: #ded57f;
  }
  #site-content {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    top: 7em;
  }
  .feed {
    margin: 0 0;
    clear: both;
  }
  .feed-header {
    padding-top: 0.7em;
  }
  #site-sidebar {
    display: none;
  }
  #scene-nav {
    top: 2em;
  }
  #scene-nav .main-menu {
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo {
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #logo img {
    height: 100%;
  }
  .item-details {
    font-size: 0.9em;
  }
  .utility {
    position: absolute;
    bottom: 4.6em;
    background: #444;
    padding: 0.5em;
    border-bottom: 1px solid #888;
    color: #fff;
  }
  .utility #site-search {
    float: right;
    width: 39.58333333333333%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .utility #site-search input {
    padding: 0.1em;
    margin: 0;
  }
  .utility #debug-user {
    float: left;
    width: 56.25%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
  }
  .item {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: none;
  }
  .item:hover {
    border-bottom: none;
    background: #e1e1e1;
  }
}
@media screen and (max-width: 500px) {
  .single-container {
    padding: 0;
    border: none;
    background: url("/static/img/textures/white-tex.png");
  }
  .single-header {
    padding: 1em 1em 0 1em;
    border: none;
  }
  .single-title {
    line-height: 1;
    font-size: 1.3em;
  }
  .feed-header {
    display: none;
  }
  .utility {
    bottom: 4.1em;
  }
  .btn-primary {
    padding: 0.3em;
  }
  .single-content .map-container {
    height: 100px;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1em;
  }
  .single-content.places {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-menu {
    display: none;
  }
  .related-section {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.3em;
  }
  .related-section .map-container {
    margin: 1em 0;
  }
  .related-section .section-title {
    display: none;
  }
  .related-section#placeInfo {
    padding: 0 1em 1em;
  }
  .related-section#placeInfo .item-details {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .related-section#placeInfo .item-details ul li {
    margin: 0;
  }
  .related-section .map-container {
    height: 100px;
  }
  #scene-nav {
    border: none;
  }
  #scene-nav select {
    display: inline-block;
    float: left;
    width: 52.083333333333336%;
    margin: 0 1.0416666666666665%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1.5em;
  }
  .item-title {
    font-size: 1em;
  }
  #logo {
    margin-top: 0;
    float: left;
    width: 39.58333333333333%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.5em;
  }
  #logo img {
    width: auto;
    height: auto;
  }
  .filter {
    display: none;
  }
  #site-content {
    background: none;
    top: 6.5em;
    padding: 0;
  }
  .map-container.hot {
    height: 150px;
    overflow: hidden;
  }
  #scene-nav {
    height: 4.5em;
  }
}
@media only screen and (max-width: 320px) {
  
}
/* Styles for desktop and large screen ----------- */
@media only screen and (min-width: 1280px) {
  
}
/*/mediaquery*/
