/* TYPOGRAPHY ------------ */
h1 {
  font-family: 'BloklettersBalpen';
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0 1em;
  text-shadow: 0.1em 0.1em 0 #222;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  padding-bottom: 0.1em;
  color: #2C525D;
  text-shadow: 0.07em 0.07em 0 #ffffff;
  font-style: italic;
  margin: 0;
}
p {
  color: #222;
  margin: 0.1em 0;
  text-shadow: 0.05em 0.05em 0.05em #fff;
}
.meta {
  font-size: 0.9em;
  margin-top: 0.5em;
}
.address {
  font-weight: bold;
}
.tip, .errorlist li {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
  display: block;
  margin-left: 2%;
}
.tip.desc, .errorlist li.desc {
  margin-top: 2%;
}
.errorlist li {
  color: maroon;
}
#confirm-pass {
  margin-top: 10px;
}
.description {
  text-indent: 2em;
}
#colophon {
  text-align: right;
}
#colophon a {
  color: #333;
  font-style: italic;
}
#colophon a:hover {
  color: #666;
}
/* HEADINGS ------- */
#site-title {
  border-bottom: 1px #e1e1e1 solid;
  margin-top: 20px;
  padding: 0 0 15px 15px;
  text-align: center;
}
#site-title a {
  color: #fff;
}
#site-title a:hover {
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #222;
}
#site-title a:active {
  text-shadow: 0 0.03em 0.05em #000;
}
#site-title a:visited {
  color: #fff;
}
