{% comment %}
Header template, simple debug version now. To be filled with
HTML5 Boilerplate before release.
{% endcomment %}

<!doctype html>
<head>
	<title>Scenable</title>

	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/splash_style.css?v=1">
	<link rel="stylesheet" href="{{STATIC_URL}}css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/fonts/Droid-Serif-fontfacekit/stylesheet.css">

	<script>
	</script>

</head>
<body>

<div class="notification">
	<h2>Are you a Beta Tester?</h2> 
	<a href="{% url beta-home %}">Click here to enter the Oakland Scene.</a>
</div>

<div class="wrap" id="desktop">

	<header id="site-header">

		<img id="sign-logo" src="{{STATIC_URL}}img/logos/scenable-cloud-pgh-1075.png" alt="Scenable Logo" />		
		<h1>an <span class="highlight">app</span> for local communities</h1>
	</header>

	<section id="oakland">
		<h2 class="oakland-heading">Live, work or play in Oakland? <a href="http://onlyinpgh.com/beta">Request an invite</a> to the Oakland Scene!</h2>
		<img class="screenshot" src="{{STATIC_URL}}img/logos/oakland-coming-soon-dark.png" alt="Oakland Scene logo" />
		<div class="caption">
			<p>Coming soon to iPhone and Android</p>
			<div class="icon-container">
				<img class="icon" src="{{STATIC_URL}}img/icons/android.png" alt="Android icon" />
				<img class="icon" src="{{STATIC_URL}}img/icons/iphone.png" alt="iPhone icon" />	
			</div>
		</div>
	</section>

	<section id="company">

		<h2>Wish it were easier to find out what's going on in local communties?</h2>

		<p class="about">Scenable is a mobile and online home for local communities (which we call Scenes), and over the next few months, Scenable will build a <a href="http://scenable.com/blog/scenables-vision-the-community-network/">Community Network</a> of local Scenes here in Pittsburgh.</p>

		<p>Do you or your organization represent a local Scene? Find out how Scenable can help turn your Scene into a <a href="http://scenable.com/blog/digital-placemaking-how-the-online-world-can-benefit-the-offline-world/">Digital Destination</a>.</p>

		<p class="about">The first Scenable community is Oakland, which is in private beta right now but will be public soon. What other Scenes do you want on Scenable? Drop us a line at <a href="mailto:contact@scenable.com?Subject=Contact%20from%20Business%20Admin">contact@scenable.com</a>.</p>

<!-- 		<article class="suggest-scene"> -->

		<!-- <h2 class="section-title">Suggest a scene...</h2>
			<form>
				
				<div class="field-container">
					<div class="field-label">
						<label>Email</label>
					</div>
					<div class="field">
						<input type="email" placeholder="coolest@best.com"/>
					</div>
				</div>

				<div class="field-container">
					<div class="field-label">
						<label>Scene</label>
					</div>
					<div class="field">
						<input type="text" placeholder="like 'music' or 'southside'"/>
					</div>
				</div>

				<div class="field-container">
					<div class="field-label">
						<label>Why?</label>
					</div>
					<div class="field">
						<textarea placeholder="this scene should be on scenable because..."></textarea>
					</div>
				</div>

			</form>
 -->
			<p>Do you or your organization represent a local Scene? Find out how Scenable can help turn your Scene into a <a href="http://scenable.com/blog/digital-placemaking-how-the-online-world-can-benefit-the-offline-world/">Digital Destination</a>.</p>

			<p class="keep-up">Learn more on our <a href="http://scenable.com/blog">Development Blog</a>.</p>
		</article>

	</section>
</div>


<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>

window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.2.min.js"><\/script>')

$(document).ready(function () {
	$('.notification').delay(500).fadeIn(300);
});

</script>
<script src="{{STATIC_URL}}js/libs/modernizr-2.5.3-respond-1.1.1.min.js"></script>

</body>

</html>