<!doctype html>
<head>
	<title>Oakland Scene</title>

	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/obidscan_style.css?v=1">
	<link rel="stylesheet" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Komika-Title-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Droid-Serif-fontfacekit/stylesheet.css">

</head>
<body>

<div class="wrap">
	<img src="/static/img/logos/oakland-scene-light.png" />
	<h1>A Pittsburgh neighborhood in the palm of your hand.</h1>
	<br />
	<a href="https://play.google.com/store/apps/details?id=com.scenable.oaklandscene" title="Oakland Scene on Google Play" target="_blank">
		<img src="{{STATIC_URL}}img/icons/on-google-play-grey.png" alt="available on Google Play" />
	</a>
	<h1>Coming soon to iPhone! In the mean time, view the <a href="http://m.scenable.com">mobile website.</a></h1>
</div>
</body>
</html>