<div class="item-thumb">
	<a href="{{item.fulltext_url}}" title="Full article">
	{% if item.image_url %}
	<img class="thumbnail" src="{{item.image_url}}" alt="News" />
	{% else %}
	<img class="thumbnail" src="{{STATIC_URL}}img/default-place.png" alt="News" />
	{% endif %}
	</a>
</div>
<section class="item-content">
	<h4 class="item-title"><a href="{{item.fulltext_url}}" title="Full article">{{item.title}}</a></h4>
	<ul class="item-details">
		<li>{{item.publication_date}}</li>
		<li>Source: <a href="{{item.source_site}}">{{item.source_name}}</a></li>
		<li class="blurb">{{item.blurb|truncatewords:30}}</li>
	</ul>
</section>