{% extends "base.html" %}

{% block main_body %}
<div id="wrapper" class="single">
	
	{% include "single_header.html" %}
	
	<article id="newsSingle" class="single-item">

    	<input type="search" id="site-search" placeholder="Search Scenable" />
    	
		<header class="single-item-header">
			<div class="item-thumb-container">
				<img class="item-thumb" height="50" width="50" alt="{{ a.title }}" src="
				{% if a.image_url %}
					{{ a.image_url }}
				{% else %}
					http://www.nasm.si.edu/images/collections/media/thumbnails/DefaultThumbnail.gif
				{% endif %}
			" />
			</div>

			<div class="item-content-container">
				<h2 class="item-title">
				  	<em>Article:</em> {{ a.title }}
				</h2>
				<a class="meta" href="{{ a.source_url }}">{{ a.source_name }}</a>
				<p class="meta">{{ a.dt_published }}</p>
				{% include "tags.html" %}
			</div>

		</header>

		<section class="single-item-content-container">
			<p class="single-item-desc">{{ a.short_description }}</p>
			<a href="">Go to full article &rarr;</a>
		</section>
	
	</article>

	<footer id="site-footer">
	  {% include "global_footer.html" %}
	</footer>

</div><!-- #wrapper -->

{% endblock %}