{% extends "page.html" %}
{% comment %}
- items: list of news Article model instances
{% endcomment %}

{% block main-content %}
<article class="page-main no-map" id="news-page">
	<header class="page-header">
		<div class="page-title-container">
			<h1 class="page-title">News</h1>
		</div>
		<!-- <div class="page-header-content">
			<p>Oakland news.</p>
		</div> -->
	</header>
	<ul class="feed news">
	{% for item in items %}
	    <li class="item">
	    {% include "news/feed_item.html" %}
	    </li>
	{% endfor %}
	</ul>
</article>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_news.html" %}
{% endblock %}