{% comment %}
Template to render items related to a place

Context variables:
    place: PlaceData instance
    related_feeds:
        events_feed:
            [EventFeedItem VMs]
        specials_feed:  
            [SpecialFeedItem VMs]

{% endcomment %}
{% load external_url from commontags %}
<nav class="detail-nav">
    <ul>
        <li><a id="placeDetail" class="current-page">About</a></li>
        {% if related_feeds.events_feed %}
            <li><a id="placeEvents">Events</a></li>
        {% endif %}
        {% if related_feeds.specials_feed %}
            <li><a id="placeSpecials">Specials</a></li>
        {% endif %}
    </ul>
</nav>

<section class="detail-section" id="placeDetail">

    <h2 class="detail-section-title">About - <em>{{place.name}}</em></h2>

    <div class="map-container">
    {% if place.location.is_geocoded %}
        <div class="map" id="mainPlaceMap"></div>
        
        {% if place.location.directions_link %}
        <div class="directions">
            <a href="{{place.location.directions_link}}" target="blank" title="Directions to {{place.name}}">Get Directions</a>
        </div>
        {% endif %}
    {% else %}
        <div class="map" id="map-unavailable"></div>
    {% endif %}    
    </div>
    
    <ul class="item-details">
        {% if place.hours %}
            <li><p class="item-item-detail-title">Hours:</p>
                <ul>
                {# This is ugly and unintuitive. But works for now. #}
                {% for tuples in place.hours %}
                    <li>{{tuples.0}}: {{tuples.1}}</li>
                {% endfor %}        
                </ul>
            </li>
        {% endif %}

        {# parking is disabled temporarily #}
        {% if place.parking %}
            {# This is ugly and unintuitive. But works for now. #}
            <li><p class="item-detail-title">Parking: </p> 
                <ul>
            {% for option in place.parking %}
                    <li>{{option}}</li>
            {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if place.phone %}
            <li><p class="item-detail-title">Phone: </p>{{place.phone}}</li>
        {% endif %}

        {% if place.url %}
            <li><a href="{{ place.url|external_url}}" title="{{place.name}}'s Website" target="blank">Website</a></li>
        {% endif %}

    </ul>

    {% if place.description %}
    <p class="description">{{place.description|urlizetrunc:20|linebreaksbr}}</p>
    {% endif %}

    <div class="notification new-feature">
        <h3>New Feature!</h3>
        <div>
            <p>Is this place missing information? Is something incorrect? Click this button to add information or to alert us of any problems.</p>
        </div>
        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFJhdy1PUnRIcWVDdFBmcElMY0dGQ2c6MQ" target="blank" class="btn">Add Info</a>
    </div>
</section>

<section class="detail-section" id="placeEvents">
    <h2 class="detail-section-title">Events - <em>{{place.name}}</em></h2>
    <ul class="feed">
    {% for item in related_feeds.events_feed %}
        <li class="item">
            {% include 'events/feed_item.html' with event=item %}
        </li>
    {% endfor %}
    </ul>
</section>

<section class="detail-section specials" id="placeSpecials">
    <h2 class="detail-section-title">Specials - <em>{{place.name}}</em></h2>
    <ul class="feed">
    {% for item in related_feeds.specials_feed %}
        <li class="item">
            {% include 'specials/feed_item.html' with special=item %}
        </li>
    {% endfor %}
    </ul>
</section>
