{% extends "page.html" %}

{% comment %}
Page-based template for the Places feed

Context variables:
    page: a Django Paginator Page with PlaceData instances as objects
    items_json: JSON string of serialized PlaceData instances corresponding to the items in page.object_list
    query: filter query text
    form: filter form
{% endcomment %}

{% block main-content %}
{% load feed_urlencode from commontags %}
<article class="page-main" id="places-page">
    
    <div class="map-container">
        <div class="ribbon-title-container">
            <h1 class="ribbon-title">Places</h1>
        </div>
        <div class="map" id="mainPlaceFeedMap"></div>
    </div>
    
    <div class="page-nav-container">
        <form class="simple-form" method="get" action="{% url places-feed %}">
            <div class="feed-search-container">
                <span>Show</span> {{form.category}}
            
                {% if not query %}
                    <input type="search" class="input-search" placeholder="Keywords" name="{{form.q.html_name}}" style="display:none"/>
                    <a class="keyword-activate" href="#">Add keyword to search</a>
                {% else %}
                    <input type="search" class="input-search" placeholder="Keywords" name="{{form.q.html_name}}" value="{{query}}"/>
                {% endif %}
            </div>
            <div class="submit-container">
                <input type="submit" value="Go" />
            </div>
        </form>
        <nav class="prev-next" id="places-feed-nav">
            <div class="previous">
            {% if page.has_previous %}
                <a href="{% feed_urlencode 'places-feed' page_num=page.previous_page_number q=query %}">&larr;</a>
            {% else %}
                &nbsp;
            {% endif %}
            </div>
            <div class="page-num">
                <p>Page</p>
                {{page.number}} of {{page.paginator.num_pages}}</div>
            <div class="next">
            {% if page.has_next %}
                <a href="{% feed_urlencode 'places-feed' page_num=page.next_page_number q=query %}">&rarr;</a>
            {% else %}
                &nbsp;
            {% endif %}
            </div>
        </nav>
    </div> <!-- .page-nav-container -->

    {% if not page.object_list %}
        <div class="none-found">No results found.</div>
    {% else %}

    <ul class="feed places" id="mainPlaceFeed">
        {# will be inserted via Backbone bootstrapping below #}
        {% comment %}
        Old code where server writes feed. Being replaced with bootstrapped-Backbone below
        # {% for place in page.object_list %}
        #    <li class="item {%if item.place.location.is_geocoded%}hasMarker{%endif%}">
        #    {% include "places/feed_item.html" %}
        #    </li>
        # {% endfor %}
        {% endcomment %}
    </ul> <!-- .feed#mainPlaceFeed -->
    {% endif %}
    <div class="page-nav-container">
        <nav class="prev-next" id="places-feed-nav">
            <div class="previous">
            {% if page.has_previous %}
                <a href="{% feed_urlencode 'places-feed' page_num=page.previous_page_number q=query %}">&larr;</a>
            {% else %}
                &nbsp;
            {% endif %}
            </div>
            <div class="page-num">
                <p>Page</p>
                {{page.number}} of {{page.paginator.num_pages}}</div>
            <div class="next">
            {% if page.has_next %}
                <a href="{% feed_urlencode 'places-feed' page_num=page.next_page_number q=query %}">&rarr;</a>
            {% else %}
                &nbsp;
            {% endif %}
            </div>
        </nav>
    </div> <!-- .page-nav-container -->
    
</article> <!-- .page-main -->
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_place_feed.html" %}
{% endblock %}

{% block foot-inlines %}
<script type="text/javascript">
$(function(){
    // enable showing of search query
    {% if not query %}
        $('.keyword-activate').click(function(e){
            $('.input-search').show().focus();
            $('.keyword-activate').hide();
            e.preventDefault();
        });
    {% endif %}

    // Highlight the search field text when clicked
    $('.input-search').focus(function(){
        $(this).select();
    });

    // model extensions not strictly necessary: defaults will do for Places
    var PlaceItem = scenable.mapFeed.Item.extend();
    var PlaceItems = scenable.mapFeed.ItemFeed.extend({model:PlaceItem});

    var PlaceView = scenable.mapFeed.ItemView.extend({
        className: 'item',
        template: window.TPL.placeItem,
        iwTemplate: window.TPL.placeInfoWindow,
        markerOptions: {
            icon: '/static/img/markers/place-marker.png',
            shadow: '/static/img/markers/marker-shadow.png'
        }
    });
    var PlaceFeed = scenable.mapFeed.FeedView.extend({SubViewClass:PlaceView});

    var Items = new PlaceItems;
    var Feed = new PlaceFeed({
        model: Items,
        el: document.getElementById('mainPlaceFeed'),
        mapDOMElement: document.getElementById('mainPlaceFeedMap'),
        // scenable.map.mapFactory handles most defaults
        mapOptions: {   
            center: new google.maps.LatLng(40.44417, -79.94583)
        }
    });

    var bootstrapData = {{items_json|default:"[]"}};
    Items.reset(bootstrapData);
    window._Items = Items;
});
</script>
{% endblock %}