<!doctype html>

<head>
    <meta charset="utf-8">
    <title>403</title>
 
    <meta name="viewport" content="width=device-width">

    <!-- Webfonts -->
    <link rel="stylesheet" type="text/css" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css?v=1">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/errors.css">
</head>

<body>
	<div class="wrap">
		<h1>DENIED</h1>
		<img class="funny" src="http://i.imgur.com/pLvN6.gif" />
		<p>Click <a href="http://scenable.com">here</a> to go back to the home page.</p>
		<img src="/static/img/logos/oakland-site-grey.png" />
	</div>
</body>
</html>