<form class="post-form simple-form">
    <input type="text" />
    <input type="submit" value="Post" />
</form>
<ul class="feed chatter">
    <li>
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/274923_28102664_6203703_q.jpg" />
        <div class="post">
            Check out Uncle Sam's delicious subs!
            <p class="meta">posted 2 hrs ago by <a href="">jealousmuch</a></p>
        </div>
    </li>

    <li>
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/50140_307500455_1243983230_q.jpg" />
        <div class="post">
            Cool cool show at Pather Hollow Inn's acoustic fiesta this evening.
            <p class="meta">posted 1 day ago by <a href="">chief412</a></p>
        </div>
    </li>
    <li>
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/173785_1149303829_199674474_q.jpg" />
        <div class="post">
            Goddamnn huge pothole on Craig just busted my wheel.
            <p class="meta">posted 6 hrs ago by <a href="">sommerTime</a></p>
        </div>
    </li>
    <li>
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/173785_1149303829_199674474_q.jpg" />
        <div class="post">
            Cool pic of catehedral at night - http://imgur.com/L3vo1 - Oakland is a seriously beautiful place if you know where to look :)
            <p class="meta">posted 6 hrs ago by <a href="">sommerTime</a></p>
        </div>
    </li>
</ul>
