{% extends "base.html" %}

{% block main_body %}

 <div class="wrapper">

   	{% include "single_header.html" %}

    <input type="search" id="site-search" placeholder="Search Scenable" />
	<h3 class="section-title">Redeem special...</h3>
    <article class="site-content clearfix" id="redeemSpecial">
    	<header>  
			<p class="meta">Paypal info please:</p>
		</header>
		<form class="redeem-form">
			<input type="text" placeholder="Username"/>
			<input type="text" placeholder="Password"/>
		</form>
		<footer>
			<button>Register</button>
			<button>Forgot password</button>
		</footer>
	
	</article>

</div>
{% endblock %}