{% comment %}
Header template, simple debug version now. To be filled with
HTML5 Boilerplate before release.
{% endcomment %}

<!doctype html>
<head>
	<title>Scenable Web app</title>

	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/style.css?v=1">
	<link rel="stylesheet" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Komika-Title-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Droid-Serif-fontfacekit/stylesheet.css">

	<script src="/static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>

</head>
<body>