{% comment %}
Template for hot section

Context variables:
    - hot_feeds (HotFeedCollection VM)
    (... more to come ...)
{% endcomment %}

{% load vmrender from vmtags %}


<section class="hot map-container">
    <img src="http://1.bp.blogspot.com/-nRsXX6nLwTI/TwzZ0ckRG_I/AAAAAAAADJw/xIZCHR-JM2Y/s1600/road-map-of-pittsburgh.jpg" />
</section>


<section class="hot places">
    <h3 class="section-title">Hot Spots</h3>
    <ul class="feed hot-feed places">
    {% for item in hot_feeds.places|slice:"3" %}
        <li class="item">
        {% vmrender item "places/feed_item.html" %}
        </li>
    {% endfor %}
    </ul>
</section>

<section class="hot specials">
    <h3 class="section-title">Top Specials</h2>
    <ul class="feed hot-feed specials">
    {% for item in hot_feeds.specials|slice:"3" %}
        <li class="item">
        {% vmrender item "specials/feed_item.html" %}
        </li>
    {% endfor %}
    </ul>
</section>

<section class="hot events">
    <h3 class="section-title">Upcoming Events</h3>
    <ul class="feed hot-feed events">
    {% for item in hot_feeds.events|slice:"3" %}
        <li class="item">
        {% vmrender item "events/feed_item.html" %}
        </li>
    {% endfor %}
    </ul>
</section>
