{% comment %}
Template for hot section

Context variables:
    - hot_feeds (HotFeedCollection VM)
    (... more to come ...)
{% endcomment %}

{% load vmrender from commontags %}

<header class="feed-header">
    <h1 class="feed-title">NOW in Oakland</h1>
    <form class="filter">
        <input type="search" placeholder="Filter Hot" />
        <input type="submit" value="filter" />
    </form>
</header>

<div class="row-container">
    <div class="hot map-container">
    </div>

    <section class="hot events">
        <h3 class="section-title">Upcoming Events</h3>
        <ul class="feed events">
        {% for item in hot_feeds.events|slice:"2" %}
            <li class="item">
            {% vmrender item "events/related_item.html" %}
            </li>
        {% endfor %}
        </ul>
    </section>
</div>
<div class="row-container">

    <section class="hot specials">
        <h3 class="section-title">Top Specials</h3>
        <ul class="feed specials">
        {% for item in hot_feeds.specials|slice:"3" %}
            <li class="item">
            {% vmrender item "specials/related_item.html" %}
            </li>
        {% endfor %}
        </ul>
    </section>

    <section class="hot chatter">
        <h3 class="section-title">Chatterbox</h3>
        {% include "chatter_example.html" %}
    </section>
</div>
<div class="row-container last">
    <section class="hot news">
        <h3 class="section-title">News</h3>
        {% include "news_example.html" %}
    </section>
</div>



