<ul class="feed news">
    <li class="item">
        <section class="item-content">
            <h4 class="item-title">Oakland Named one of Pennsylvania’s Best Neighborhoods!</h4>
                <ul class="item-details">   
                    <li class="address"><a href="#"><strong>Pittsburgh Post Gazette</strong></a></li>
                    <li class="datetime meta">April 1, 2012</li>
                    <li class="description">Oakland, defined by its university’s, cultural institutions, medical centers and nightlife, has been...</li>
                </ul>
        </section>
    </li>
    <li class="item">
        <section class="item-content">
            <h4 class="item-title">Local Entrepreneurship on the Rise</h4>
                <ul class="item-details">   
                    <li class="address"><a href="#"><strong>Pittsburgh Technology Council</strong></a></li>
                    <li class="datetime meta">March 27, 2012</li>
                    <li class="description">A strong Entrepreneurship community is emerging in Pittsburgh. Based mainly our of Pitt and CMU, the new...</li>
                </ul>
        </section>
    </li>
    <li class="item">
        <section class="item-content">
            <h4 class="item-title">Pitt wins National Championship!</h4>
                <ul class="item-details">   
                    <li class="address"><a href="#"><strong>University of Pittsburgh Herald</strong></a></li>
                    <li class="datetime meta">March 26, 2012</li>
                    <li class="description">The Pitt Panthers just won their first national championship in several decades!</li>
                </ul>
        </section>
    </li>
</ul>