{% extends "base.html" %}

{% comment %}
Template for any Scenable webpage. 

Context variables:
	- main_content: HTML string

Purposefully an trivial wrapper around base.html. base.html should handle
all the browser-based plumbing boilerplate in the header/footer, leaving 
page.html to handle the basic skeleton for page content. Right now that
skeleton is almost empty, but it may not always be.

This will encourage to sticking to a particular page layout for all
standard Scenable pages. If there are special cases that should follow
their own rules, these special cases can become new base.html child 
themes that won't have to worry about browser-level boilerplate code.

Take home messsage: No views should render to base.html, but any
whole page response should render to this.
{% endcomment %}

{% block content %}

<header id="site-header">
	<div class="wrap">

		<div id="top-bar">
			<span id="other-scenes">
				Related scenes: <span class="disabled">stay tuned!</span>
			</span>
			<span id="debug-user">
				{% if user %}
					Hey there, <a class="username" href="/admin/auth/user/">{{user.username}}</a> | <a class="logout" href="/logout">Logout</a>
				{% else %}
					<a href="/login">Login</a>
				{% endif %}
			</span>
		</div>

		<nav id="site-nav">
			<a href="#"><img id="logo" src="/static/img/obid_logo.png" alt="Oakland Logo" /></a>
		    <ul>
		    	<li><a href="/specials/" id="siteSpecials">
		    		<img src="/static/img_store/icons/black/tag-special.png" alt="Specials" />
		    		Specials</a></li>
		    	<li><a href="/events/" id="siteEvents">
		    		<img src="/static/img_store/icons/black/calendar-alt.png" alt="Events" />
		    		Events</a></li>
		    	<li><a href="/places/" id="sitePlaces">
					<img src="/static/img_store/icons/black/store-front.png" alt="Places" />
		    		Places</a></li>
				<li><a href="/" id="siteHot">
		    		<img src="/static/img_store/icons/black/campfire.png" alt="Hot" />
		    		Hot</a></li>
				<!-- <li><a href="/chatter/" id="siteChatter">Chatter</a></li>
				<li><a href="/news/" id="siteNews">News</a></li> -->
			</ul>
		</nav> <!-- #site-nav -->

	</div> <!-- .wrap -->
</header> <!-- #site-header -->


<div class="wrap">

	<div id="site-content" role="main">
		<div class="feed-header">
			<h1 class="page-title">Places</h1> <!-- Need a var for feed name here -->
			<span class="add-filter">Filter Places</span>
			<div class="filter-form">
			</div>
		</div>	
	    {{main_content}}
	</div> <!-- #site-content -->
</div>

<aside id="site-sidebar" role="complementary">
	<div class="wrap">
		<div class="content">
			<h3>Scenecast</h3>
			<section class="widget">
				<h3>Coming soon!</h3>
				<p>We have a ton of new features on their way including:</p>
					<ul>
						<li>Ability to post Scenable activity to Facebook and Twitter</li>
						<li>A Swag Bag were you can spend your Scene Cred on awesome offers.</li>
						<li>Chatter integration with the #oaklandscene hashtag on Twitter.</li>
						<li>And more! Click here to see more of our plans</li>
					</ul>
			</section>
			<section class="widget">
			</section>
			<section class="widget">
			</section>
			<section class="widget">
			</section>
		</div>
	</div>
</aside>
 

<footer id="site-footer">
	<p id="colophon">Brought to you by Onlyinpgh, made possible by OBID &amp; PPND</p>
</footer>

{% endblock %}
