{% extends "page.html" %}

{% comment %}
Template for hot section

Context variables:
    C:
        hot_feeds: HotFeedCollection context instance
    (... more to come ...)
{% endcomment %}

{% block main-content %}
{% with hot_feeds=C.hot_feeds %}
<header class="feed-header">
    <h1 class="feed-title"><span id="now">NOW</span> in Oakland</h1>
    <form class="filter">
        <input type="search" placeholder="Filter Hot" />
        <input type="submit" value="Filter" />
    </form>
</header>

<div class="row-container">
    <div class="hot map-container">
    </div>

    <section class="hot events">
        <h3 class="hot-section-title">Upcoming Events</h3>
        <ul class="feed events">
        {% for item in hot_feeds.events|slice:"2" %}
            <li class="item">
            {% include "events/short_feed_item.html" with C=item %}
            </li>
        {% endfor %}
        </ul>
    </section>
</div>
<div class="row-container">

    <section class="hot specials">
        <h3 class="hot-section-title">Top Specials</h3>
        <ul class="feed specials">
        {% for item in hot_feeds.specials|slice:"3" %}
            <li class="item">
            {% include "specials/short_feed_item.html" with C=item %}
            </li>
        {% endfor %}
        </ul>
    </section>

    <section class="hot chatter">
        <h3 class="hot-section-title">Chatterbox</h3>
        {% include "chatter_example.html" %}
    </section>
</div>
<div class="row-container last">
    <section class="hot news">
        <h3 class="hot-section-title">News</h3>
        {% include "news_example.html" %}
    </section>
</div>
{% endwith %}
{% endblock %}