{% extends "base.html" %}

{% comment %}
Template for any Scenable webpage. 

Context variables:
    - topbar: rendered content in top_bar.html
    - scenenav: rendered content in scene_nav.html
    - main: rendered main page content
    - sidebar: rendered content in sidebar.html
    - footer: rendered content in footer.html

Purposefully a simple extension of base.html. base.html should handle
all the browser-based plumbing boilerplate in the header/footer, leaving 
page.html to handle the basic skeleton for page content.
{% endcomment %}

{% block content %}

<nav id="top-bar" class="fixed">
	<div class="wrap">
		{{ topbar }}
        {{ scenenav }}
	</div>
</nav>
<div class="wrap">
    {{ main }}
    <aside id="site-sidebar" role="complementary">
		{{ sidebar }}
	</aside>
</div>
<footer id="site-footer">{{ footer }}</footer>

{% endblock %}
