{% extends "base.html" %}

{% block main_body %}

  <div id="wrapper">

    <header id="site-header">
      <h1 id="site-title">Oakland Scene</h1>
      <nav class="quick-nav">
        <ul>
          <li class="map-mode"></li>
          <li class="expand-search"></li>
        </ul>
      </nav>
    </header>

      <nav id="site-nav">
        <ul>
          <li><a href="/" rel="external">Hot</a></li>
          <li><a href="/events" rel="externåal" data-iconpos="top">Events</a></li>
          <li><a href="/specials" rel="external">Specials</a></li>
          <li><a href="/places" rel="external" data-iconpos="top">Places</a></li>
          <li><a href="/chatter" rel="external">Chatter</a></li>
          <li><a href="/news" rel="external">News</a></li>
          <li><a href="/jobs" rel="external">Jobs</a></li>
        </ul>
      </nav>

    <input type="search" id="site-search" placeholder="Search Scenable" />

    <article class="site-content clearfix" id="{% block content_id %}{% endblock %}">
    
      {% block content %}{% endblock %}

    </article>

    <footer id="site-footer">
      {% include "global_footer.html" %}
    </footer>

  </div><!-- #wrapper -->

{% endblock %}