<div class="main-menu">

    <a href="#"><img id="logo" src="/static/img/obid_logo.png" alt="Oakland Logo" /></a>
    <ul>
        <li><a href="{% url onlyinpgh.specials.views.page_feed %}" id="siteSpecials">
            <img src="/static/img_store/icons/black/tag-special.png" alt="Specials" />
            Specials</a></li>
        <li><a href="{% url onlyinpgh.events.views.page_feed %}" id="siteEvents">
            <img src="/static/img_store/icons/black/calendar-alt.png" alt="Events" />
            Events</a></li>
        <li><a href="{% url onlyinpgh.places.views.page_feed %}" id="sitePlaces">
            <img src="/static/img_store/icons/black/store-front.png" alt="Places" />
            Places</a></li>
        <li><a href="{% url onlyinpgh.common.views.page_home %}" id="siteHot">
            <img src="/static/img_store/icons/black/campfire.png" alt="Hot" />
            Hot</a></li>
        <!-- <li><a href="/chatter/" id="siteChatter">Chatter</a></li>
        <li><a href="/news/" id="siteNews">News</a></li> -->
    </ul>

</div>

<div class="site-search">
    <input type="text" />
</div>