<img id="logo" src="/static/img/logos/oakland-site-white.png" alt="Oakland Scene logo"/>

<ul class="main-menu">

    <li>
        <a href="{% url hot %}" id="siteHot">
            <div class="container">
                <div class="menu-item">Now</div>
            </div>
        </a>
    </li>

    <li>
        <a href="{% url places-feed %}" id="sitePlaces">
            <div class="container">
                <div class="menu-item">Places</div>
            </div>    
        </a>
    </li>

    <li>
        <a href="{% url events-feed %}" id="siteEvents">
            <div class="container">
                <div class="menu-item">Events</div>
            </div>
        </a>
    </li>
    
    <li>
        <a href="{% url specials-feed %}" id="siteSpecials">
            <div class="container">
                <div class="menu-item">Specials</div>
            </div>    
        </a>
    </li>

    <li>
        <a href="chatter_example" id="siteChatter">
            <div class="container">
                <div class="menu-item">Chatter</div>
            </div>    
        </a>
    </li>

    <li>
        <a href="news_example" id="siteNews">
            <div class="container">
                <div class="menu-item">News</div>
            </div>    
        </a>
    </li>

</ul>

<select id="select-nav">
    <option value="{% url hot %}">Now</option>
    <option value="{% url places-feed %}">Places</option>
    <option value="{% url events-feed %}">Events</option>
    <option value="{% url specials-feed %}">Specials</option>
    <option value="chatter_example">Chatter</option>
    <option value="news_example">News</option>
</select>