<div id="logo">
    <img src="/static/img/obid_logo.png" alt="Oakland Logo" />
</div>

<ul class="main-menu">

    <li>
        <a href="{% url hot %}" id="siteHot">
            <div class="container">
                <div class="menu-item">Now</div>
            </div>
        </a>
    </li>


    <li>
        <a href="{% url places-feed %}" id="sitePlaces">
            <div class="container">
                <div class="menu-item">Places</div>
            </div>    
        </a>
    </li>

    <li>
        <a href="{% url events-feed %}" id="siteEvents">
            <div class="container">
                <div class="menu-item">Events</div>
            </div>
        </a>
    </li>
    
    <li>
        <a href="{% url specials-feed %}" id="siteSpecials">
            <div class="container">
                <div class="menu-item">Specials</div>
            </div>    
        </a>
    </li>

</ul>
