<h3>Scenable</h3>
<section class="widget">
    <h3>Coming soon!</h3>
    <p>We have a ton of new features on their way including:</p>
        <ul>
            <li>Ability to post Scenable activity to Facebook and Twitter</li>
            <li>A Swag Bag were you can spend your Scene Cred on awesome offers.</li>
            <li>Chatter integration with the #oaklandscene hashtag on Twitter.</li>
            <li>And more! Click here to see more of our plans</li>
        </ul>
</section>
<section class="widget">
</section>
<section class="widget">
</section>
<section class="widget">
</section>

