<h2 class="sidebar-title">Welcome to the Oakland Scene.</h2>
<section class="widget">
    <h3 class="widget-title">Bringing Local Online</h3>
    <p>Part of our mission is to give local businesses and organizations a clean and quality online presence. The information on this page is administered by business owners themselves - it's not blindly collected from sites Facebook or Yelp which is common in many other event and place searching sites.</p>
</section>

<section class="widget">
    <h3 class="widget-title">Trivia</h3>
    <p>Did you know that Oakland is Pennsylvania's third largest 'downtown'? Only Center City Philidelphia and Downtown Pittsburgh can claim more economic and social activity than Oakland.</p>
</section>

<section class="widget">
	<h3 class="widget-title">Coming Soon</h3>
	<ol>
		<li>Swag bag</li>
		<li>Jobs</li>
		<li>More scenes</li>
		<li>Facebook and Twitter integration</li>
	</ol>
</section>

<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<p>What do you think? We want to hear your feedback on this page and on the site in general!</p>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>What do you like about this page?</label>
		</div>
		<div class="field">
			<textarea placeholder="Morgan Freeman"></textarea>
		</div>
		<div class="field-label">
			<label>What don't you like?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<div class="field-label">
			<label>Other thoughts?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>