
<!-- Existing Scenable Features Feedback -->

	<p>How thorough is our Events feed?</p>
	<div class="choice-container">
		<input type="radio" /><label>Pretty bad.</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Not bad.</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Good</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Excellent</label>
	</div>

<!-- Coming Features -->

	<p>Would you like to publish your activity on Scenable to Facebook and Twitter?</p>
	<div class="choice-container">
		<input type="radio" /><label>Definitely!</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>No thanks</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Don't care</label>
	</div>


<!-- Demographics/User behavior -->

	<p>How do you find out what's going on in Oakland?</p>
	<div class="choice-container">
		<input type="checkbox" /><label>Scenable, of course!</label>
	</div>
	<div class="choice-container">
		<input type="checkbox" /><label>Through school</label>
	</div>
	<div class="choice-container">
		<input type="checkbox" /><label>Word of mouth</label>
	</div>
	<div class="choice-container">
		<input type="checkbox" /><label>Twitter or Facebook</label>
	</div>
	<div class="choice-container other">
		<label>Something else:</label>
		<input type="text" />
	</div>


<!-- Random/Funny but potentially useful -->
	
	<p>Which sounds the most appealing for this weekend:</p
	<div class="choice-container">
		<input type="radio" /><label>Chill at home with a movie</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Coffee shop with your laptop</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>A dubstep show</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Go to the ballet</label>
	</div>


	<p>If you are 21+, which of these beers do you prefer?</p>
	<div class="choice-container">
		<input type="radio" /><label>Miller Lite or equivalent</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Wheat beers like Magic Hat No.9</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>IPA</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>Lager</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>The hoppiest I can find.</label>
	</div>
	<div class="choice-container">
		<input type="radio" /><label>None, beer is gross.</label>
	</div>



