<h2 class="sidebar-title">Welcome to the Oakland Scene.</h2>
<section class="widget">

    <h3 class="widget-title">About Single Places</h3>
    <p>Right now you're looking at a Single Place Page, which gives you more information about a particular location in Oakland.</p>

	<p>As usual, you'll see a map showing where the place is located. For more info, look in the 'Details' section below the map.</p>

	<p>Want to see if the place has any events or specials? Click on the menu items below the map to pull them up. If you see something you like, click on it to get all the info.</p>

</section>

<section class="widget">
    <h3 class="widget-title">About Scene Cred</h3>
    <p>Like this place? Add it to your favorites by clicking the icon under the map.</p>
    <p><b>BONUS:</b> Get Scene Cred for favoriting a place!</p>
    <p>To see how much Scene Cred you have, look at the top right corner next to your user name. The more Scene Cred you have, the more active you are in your Scene.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Don't Forget...</h3>
	<p>Want to search the entire Oakland Scene for something? Use the search box in the top right corner of the page.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<p>What do you think? We want to hear your feedback on this page and on the site in general!</p>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>What do you like about this page?</label>
		</div>
		<div class="field">
			<textarea placeholder="Morgan Freeman"></textarea>
		</div>
		<div class="field-label">
			<label>What don't you like?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<div class="field-label">
			<label>Other thoughts?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>