<h2 class="sidebar-title">Oakland Scenecast</h2>

<section class="widget">
	<h3 class="widget-title">On this page...</h3>
	{% block sidebar-main %}
	{% endblock %}
</section>

<section class="widget" id="sidebar-feedback">
	<h3 class="widget-title">Feedback plz!</h3>
	{% block sidebar-survey %}
	{% endblock %}
</section>

<section class="widget" id="get-in-touch">
	<h3 class="widget-title">Contact Scenable</h3>
	<p>Interested in starting a Scene for your community? Get in touch and we'd love to discuss: <a href="mailto:contact@scenable.com?Subject=Contact%20from%20Oakland%20Scene">contact@scenable.com</a>.</p>
	<a href="https://www.facebook.com/Scenable" title="Scenable on Facebook" target="blank"><img src="{{STATIC_URL}}img/icons/facebook.png" alt="Facebook icon"/></a>
	<a href="http://twitter.com/ScenableApp" title="Scenable on Twitter" target="blank"><img src="{{STATIC_URL}}img/icons/twitter.png" alt="Twitter icon" /></a>
</section>
