<section class="widget">

    <h3 class="widget-title">About NOW</h3>
    <p>Right now you're on the NOW page, which gives you an at-a-glance view of the most recent and popular things going on in Oakland.</p>

	<p>At the top you'll see a map showing where all the NOW items are located. Next to and below it are the most recent items from all of the other pages in the Oakland Scene:</p>
	<ul>
		<li>Upcoming Events shows you what events are coming up.</li>
		<li>Top Specials shows you the most popular specials being offered by Oakland businesses.</li>
		<li>Chatterbox shows you the most recent interactions in the Chatter section.</li>
		<li>News shows you the most recent articles about Oakland from local media sources.</li>
	</ul>

	<p>Click on any of the items to get more details and click on the header of each section to see a full listing of events, specials, chatter or news.</p>

</section>

<section class="widget">
    
</section>
<section class="widget">
	<h3 class="widget-title">Don't Forget...</h3>
	<p>you can always filter the results on the NOW page by using the filter box above Upcoming Events.</p>
</section>
<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<p>What do you think? We want to hear your feedback on this page and on the site in general!</p>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>What do you like about this page?</label>
		</div>
		<div class="field">
			<textarea placeholder="Morgan Freeman"></textarea>
		</div>
		<div class="field-label">
			<label>What don't you like?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<div class="field-label">
			<label>Other thoughts?</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>

