<h2 class="sidebar-title">Welcome to the Oakland Scene.</h2>
<section class="widget">
    <h3 class="widget-title">Wait..the Oakland what?</h3>
    <p>We have a ton of new features on their way including:</p>
</section>
<section class="widget">
	<h3 class="widget-title">But we're not done..</h3>
	<p>The scene is pretty cool as it right? Well, right but we've got a bunch more coming such as:</p>
	<ul>
		<li>A fully feautered awesome thing.</li>
		<li>A rainy day for a date.</li>
		<li>Success in all shapes and forms!</li>
	</ul> 
</section>
<section class="widget">
	<h3 class="widget-title">Feedback plz!</h3>
	<form id="sidebar-feedback">
		<div class="field-label">
			<label>Name</label>
		</div>
		<div class="field">
			<input type="text" placeholder="Morgan Freeman"/>
		</div>
		<div class="field-label">
			<label>Thoughts</label>
		</div>
		<div class="field">
			<textarea placeholder="The Oakland Scene is the coolest thing I've ever seen in my entire life."></textarea>
		</div>
		<input type="submit" value="Send it!" />
	</form>
</section>
<section class="widget">
</section>

