<h2>Welcome to the Oakland Scene.</h2>
<section class="widget">
    <h3 class="widget-title">Wait..the Oakland what?</h3>
    <p>We have a ton of new features on their way including:</p>
</section>
<section class="widget">
	<h3 class="widget-title">But we're not done..</h3>
	<p>The scene is pretty cool as it right? Well, right but we've got a bunch more coming such as:</p>
	<ul>
		<li>A fully feautered awesome thing.</li>
		<li>A rainy day for a date.</li>
		<li>Success in all shapes and forms!</li>
	</ul> 
</section>
<section class="widget">
</section>
<section class="widget">
</section>

