{% extends "base.html" %}

{% block main_body %}
<div id="wrapper" class="single">

	{% include "single_header.html" %}
	
	<article id="{% block single_id %}{% endblock %}" class="single-item">

		<header class="single-item-header">
			<div class="item-thumb-container">
				<img class="item-thumb" height="50" width="50" alt="{% block single_item_image_alt %}{% endblock %}" src="{% block single_item_image_url %}{% endblock %}" />
			</div>

			<div class="item-content-container">
				<h2 class="item-title">
				  	{% block single_item_title %}
					{% endblock %}
				</h2>
				{% block single_item_header_content %}
				{% endblock %}				
	    		{% include "tags.html" %}
			</div>
			
			<nav class="sub-nav">
				<ul>
					<a href="/places/2716/"><li>I'm here!</li></a>
					<a href="/specials/"><li>Special</li></a>
					<li class="disabled">Get Directions</li>
					<li class="disabled">Add to Faves</a></li>
					<a href="/chatter"><li>Post to Chatter</li></a>
				</ul>
			</nav>
			
		</header>
		
		<section class="single-item-content-container">
	    	{% block single_item_content %}
	    	{% endblock %}
		</section>			
		
		{% block single_item_related %}{% endblock %}	

	</article>

	<footer id="site-footer">
	  {% include "global_footer.html" %}
	</footer>

</div><!-- #wrapper -->

{% endblock %}