{% comment %}
Header template, simple debug version now. To be filled with
HTML5 Boilerplate before release.
{% endcomment %}

<!doctype html>
<head>
	<title>Scenable</title>

	<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Require gives us module-like functionality for JS -->
	<script data-main="/static/js/main" src="/static/js/require-jquery.js"></script>

	<!-- Scripts -->
	<script src="/static/js/script.js"></script>
	<script src="/static/js/mylibs/helper.js"></script>
	<script src="/static/js/libs/modernizr-custom.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/splash_style.css?v=1">
	<link rel="stylesheet" href="/static/css/fonts/Blokletters-Potlood-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/arvo-fontfacekit/stylesheet.css">
	<link rel="stylesheet" href="/static/css/fonts/Komika-Title-fontfacekit/stylesheet.css">

</head>
<body>

{% block content %}
<div class="wrap" id="splash">

	<hgroup>
		<h1 id="site-title">scenable</h1>	
		<h2 id="tagline">an app for local communities</h2>
	</hgroup>

	<article id="oakland">
		<button id="obidapp"><img src="/static/img/obid_logo.png" alt="Oakland Scene Logo" /></button>
	</article>

	<article id="company" role="main">

		<p class="about">For individual communities, the network provides an online home that pulls together the pieces of information about the community spread all over the internet, allowing the community to take ownership of its online presence and become a digital destination.</p>

		<section class="suggest-scene">
			<h2 class="section-title">Suggest a scene...</h2>
			<form>
				
				<div class="field-container">
					<div class="field-label">
						<label>Email</label>
					</div>
					<div class="field">
						<input type="email" placeholder="coolest@best.com"/>
					</div>
				</div>

				<div class="field-container">
					<div class="field-label">
						<label>Scene</label>
					</div>
					<div class="field">
						<input type="text" placeholder="like 'music' or 'southside'"/>
					</div>
				</div>

				<div class="field-container">
					<div class="field-label">
						<label>Why?</label>
					</div>
					<div class="field">
						<textarea placeholder="this scene should be on scenable because..."></textarea>
					</div>
				</div>

			</form>

		</section>

	</article>

</div>
{% endblock %}