<div id="utility">
	<div id="debug-user" class="meta">
	    {% if user.is_authenticated %}
	        <a class="username" href="{% url account-manage uname=user.username %}">{{user.username}}</a> <span id="bar">|</span> 
			{% if user.organization_set.all.count > 0 %}
				<a href="{% url orgadmin-home %}" id="bus-mgmt-link">Business Mgmt</a> | 
			{% endif %}
	        <a class="logout" href="{% url logout %}">Logout</a>
	    {% else %}
	        <a href="{% url login %}">Login</a> | <a href="{% url signup %}">Sign Up</a>
	    {% endif %}
	</div>
	<div class="site-search-container">
	 	<form method="get" action="{% url site-search %}" class="simple-form">
			<input type="search" placeholder="Search Oakland" name="{{site_search_form.q.html_name}}"/>
			<input type="submit" value="Go" />
		</form>
	</div>
</div>