<nav id="about-nav">
    <ul>
    	<li><a href="{% url about-oakland %}">Scenable</a><span class="sep">&#8226;</span></li>
    	<li><a href="{% url team %}">Team</a><span class="sep">&#8226;</span></li>
    	<li><a href="http://scenable.com/blog" target="blank">Blog</a></li>
    </ul>
</nav>
<div id="colophon">
    <p>Interested in starting a Scene for your community? We'd love to discuss: <a href="mailto:contact@scenable.com?Subject=Contact%20from%20Oakland%20Scene">contact@scenable.com</a></p>
</div>
