{% comment %}
Main scene navigation panel

Context variables:
    current_section: string describing the current section of the site
{% endcomment %}
{% with s=current_section %}

<a href="{% url about-oakland %}" title="About Oakland" ><img id="logo" src="/static/img/logos/oakland-white-betatag-100w.png" alt="Oakland Scene logo"/></a>

<ul class="main-menu">
    <li>
        <a href="{% url now %}" id="siteHot" {% if s == 'now'%}class="current-page"{% endif %}>
            <div class="container">
                <div class="menu-item">Home</div>
            </div>
        </a>
    </li>

    <li>
        <a href="{% url places-feed %}" id="sitePlaces" {% if s == 'places'%}class="current-page"{% endif %}>
            <div class="container">
                <div class="menu-item">Places</div>
            </div>    
        </a>
    </li>

    <li>
        <a href="{% url events-feed %}" id="siteEvents" {% if s == 'events'%}class="current-page"{% endif %}>
            <div class="container">
                <div class="menu-item">Events</div>
            </div>
        </a>
    </li>
    
    <li>
        <a href="{% url specials-feed %}" id="siteSpecials" {% if s == 'specials'%}class="current-page"{% endif %}>
            <div class="container">
                <div class="menu-item">Specials</div>
            </div>    
        </a>
    </li>

    <li>
        <a href="{% url news-feed %}" id="siteNews" {% if s == 'news'%}class="current-page"{% endif %}>
            <div class="container">
                <div class="menu-item">News</div>
            </div>    
        </a>
    </li>

</ul>

<select id="select-nav">
    <option value="{% url now %}" {% if s == 'now'%}selected='selected'{% endif %}>Now</option>
    <option value="{% url places-feed %}" {% if s == 'places'%}selected='selected'{% endif %}>Places</option>
    <option value="{% url events-feed %}" {% if s == 'events'%}selected='selected'{% endif %}>Events</option>
    <option value="{% url specials-feed %}" {% if s == 'specials'%}selected='selected'{% endif %}>Specials</option>
    <option value="{% url news-feed %}" {% if s == 'news'%}selected='selected'{% endif %}>News</option>
</select>
{% endwith %} {# end of s alias #}