<section class="widget">
	<h3 class="widget-title">On this page...</h3>
	{% block sidebar-main %}
	{% endblock %}
</section>

<section class="widget" id="get-in-touch">
	<h3 class="widget-title">More from Oakland...</h3>
	<a href="https://www.facebook.com/pages/Only-in-Oakland/351740933073" title="OBID on Facebook" target="blank"><img src="{{STATIC_URL}}img/icons/facebook.png" alt="Facebook icon"/></a>
	<a href="https://twitter.com/only_in_oakland" title="OBID on Twitter" target="blank"><img src="{{STATIC_URL}}img/icons/twitter.png" alt="Twitter icon" /></a>
	<a href="mailto:contact@scenable.com?Subject=Contact%20from%20Oakland%20Scene" title="Email" target="blank"><img src="{{STATIC_URL}}img/icons/email.png" alt="Email icon" /></a>
	<a><img src="{{STATIC_URL}}img/icons/android.png" alt="android" /></a>
	<img src="{{STATIC_URL}}img/icons/iphone.png" alt="iphone" />
	<p>Available for iPhone &amp; Android</p>
</section>


<section class="widget" id="sponsors">
	<h3 class="widget-title">Brought to you by...</h3>
	<a href="http://oaklandbid.org" target="_blank"><img src="{{STATIC_URL}}img/logos/obid.jpg" alt="OBID logo"/></a>
	<a href="http://scenable.com" target="_blank" class="sixcol"><img src="{{STATIC_URL}}img/logos/scenable.png" alt="Scenable logo"/></a>
	<a href="http://ppnd.org" target="_blank" class="sixcol"><img src="{{STATIC_URL}}img/logos/ppnd.jpg" alt="PPND logo" /></a>
</section>


{% comment %}
<section class="widget" id="sidebar-feedback">
	<h3 class="widget-title">Feedback plz!</h3>
	{% block sidebar-survey %}	
	{% endblock %}
	{% include "sidebar/sidebar_modal.html" %}
</section> {% endcomment %}