{% extends "sidebar_base.html" %}

{% block sidebar_main %}
<section class="widget">
	<h3 class="widget-title">From Our Mission</h3>
	<p>Pittsburgh is a word-of-mouth town, there's no denying it. By giving businesses and users a direct line of communication, the niches and nuances of Pittsburgh's communities become more available to everyone.</p>
</section>

<section class="widget">
	<h3 class="widget-title">Did you know?</h3>
	<p>Oakland is Pennsylvania's third largest 'downtown'. Only Center City Philidelphia and Downtown Pittsburgh can claim more economic and social activity than Oakland.</p>
	<img src="{{STATIC_URL}}img_store/Oakland/Oakland_Restaurants/IMG_1076.jpg" />
</section>

{% endblock %}

{% block sidebar_survey %}
<form>
	
	{% include "survey_questions.html" %}

</form>
{% endblock %}


