{% extends "page.html" %}

{% comment %}
Template for main now section

Context variables:
    [items]: list of NowFeedItem instances
        model: string representing model type for this item (e.g. 'Place')
        instance: a PlaceData, EventData, or SpecialData instance
    [news_articles]: list of Article instances
    [chatter_posts]: list of Post instances
{% endfor %}

{% endcomment %}


{% block main-content %}
<article class="page-content no-map" id="now-page">
    <div class="page-title-container">
        <h1 class="ribbon-title">NOW in Oakland</h1>
    </div>

    <div class="row-container">
        <ul class="feed random">
        {% for i in items|slice:"0:3" %}
            {% if i.model == 'Special' %}
            <li class="item short">
                {% include "specials/short_feed_item.html" with special=i.instance %}
            </li>
            {% endif %}
            {% if i.model == 'Place' %}
            <li class="item short">
                {% include "places/short_feed_item.html" with place=i.instance %}
            </li>
            {% endif %}
            {% if i.model == 'Event' %}
            <li class="item short">
                {% include "events/short_feed_item.html" with event=i.instance %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        <ul class="feed random">
        {% for i in items|slice:"3:6" %}
            {% if i.model == 'Special' %}
            <li class="item short">
                {% include "specials/short_feed_item.html" with special=i.instance %}
            </li>
            {% endif %}
            {% if i.model == 'Place' %}
            <li class="item short">
                {% include "places/short_feed_item.html" with place=i.instance %}
            </li>
            {% endif %}
            {% if i.model == 'Event' %}
            <li class="item short">
                {% include "events/short_feed_item.html" with event=i.instance %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        <ul class="feed random">
        {% for i in items|slice:"6:9" %}
            {% if i.model == 'Special' %}
            <li class="item short">
                {% include "specials/short_feed_item.html" with special=i.instance %}
            </li>
            {% endif %}
            {% if i.model == 'Place' %}
            <li class="item short">
                {% include "places/short_feed_item.html" with place=i.instance %}
            </li>
            {% endif %}
            {% if i.model == 'Event' %}
            <li class="item short">
                {% include "events/short_feed_item.html" with event=i.instance %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div> <!-- .row-container -->
    <hr />
    <div class="row-container">
        <ul class="feed news">
        {% for item in news_articles|slice:"0:1" %}
            <li class="item">
                {% include "news/feed_item.html" with article=i.instance %}
            </li>
        {% endfor %}
        </ul>
        <ul class="feed">
        {% for item in chatter_posts|slice:"1:3" %}
            <li class="post">
                {% include "chatter/feed_item.html" with chatter=i.instance %}
            </li>
        {% endfor %}
        </ul>
        <ul class="feed news">
        {% for item in news_articles|slice:"2:3" %}
            <li class="item">
                {% include "news/feed_item.html" with article=i.instance %}
            </li>
        {% endfor %}
        </ul>
        <ul>
        {% for item in chatter_posts|slice:"3:7" %}
            <li class="post">
                {% include "chatter/feed_item.html" with chatter=i.instance %}
            </li>
        {% endfor %}
        </ul>
    </div> <!-- .row-container -->

</article>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_now.html" %}
{% endblock %}
