<div class="field-container first">
	<fieldset>
		<label class="input-label">Username</label>
		<div class="inputs">
			<input type="text" placeholder="interesting username" />
		</div>
	</fieldset>
	<fieldset>
		<label class="input-label">Email</label>
		<div class="inputs">
			<input type="text" placeholder="awesome@sweet.com" />
		</div>
	</fieldset>
</div> <!-- .field-container -->

<div class="field-container last">
	<fieldset>
		<label class="input-label">Password</label>
		<div class="inputs">
			<input type="text" placeholder="Excellent password" />
		</div>
	</fieldset>
	<fieldset>
		<label class="input-label">Confirm Password</label>
		<div class="inputs">
			<input type="text" placeholder="Excellent password confirmed" />
		</div>
	</fieldset>
</div> <!-- .field-container -->

<div class="prev-next">
	<a href="#panelTwo" name="panel-two" class="next shift-panel">Next &rarr;</a>
</div>

