{% comment %}
Login form inner template.

Context variables:
    form: login form
    form_action: where form should be posted to
    next: where user should be taken after successful login
{% endcomment %}
<div class="field-container">
    <div class="field-label">
        <label for="{{ form.username.html_name }}">Email or Username</label>
    </div>
    <div class="field login">
        {{ form.username }}
    </div>
</div> 

<div class="field-container">
    <div class="field-label">
        {{ form.password.label_tag }}
    </div>
    <div class="field login">
        {{ form.password }}
        <p class="tip"><a href="{% url accounts-password_reset %}">Forgot your password?</a></p>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    </div>
</div>
