{% extends "page.html" %}

{% block main-content %}
<br>
<div class="notification">
	<h2>Scenable is currently in private beta mode.</h2>
    <p>You'll need to log in to access the site. If you're a beta tester who hasn't claimed an account yet, head over to the <a href="{%url signup%}">sign up page</a>.</p> <br /><br />
    <p>Not a Beta tester? Send us a message at <a href="mailto:contact@scenable.com">contact@sceneble.com</a> and we'll see if we can squeeze you onto the list.</p>
</div>
<h1 class="page-title">Login to your Account</h1>
<p><em>Are you looking to manage your business account? Log in to the <a href="{% url orgadmin-login %}">Management Panel</a>.</em></p>
<article class="page-content" id="login-page">
	{% include "registration/login_form.html" %}
	{% endblock %}
</article>
{% block sidebar %}
{% include "sidebar/sidebar_login.html" %}
{% endblock %}