{% extends "page.html" %}

{% block head-title %}
    <title>Scenable | Password Reset</title>
{% endblock %}

{% block sidebar %}
    {% include "sidebar/sidebar_login.html" %}
{% endblock %}

{% block main-content %}
<article class="page-main newpass-page">
{% if validlink %}
    <h2>Please enter a new password:</h2>
    <form method="POST" action="">
    {% csrf_token %}
    <div class="field-container">
        <div class="field-label">
            <label for="id_{{form.new_password1.html_name}}">New password:</label>
        </div>
        <div class="field">
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
    </div>
    <div class="field-container">
        <div class="field-label">
            <label for="id_{{form.new_password2.html_name}}">Confirm new password:</label>
        </div>
        <div class="field">
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
    </div>
    <input type="submit" value="Submit" class="next"/>
    </form>
{% else %}
    <p>This link is either invalid or has expired. <a href="{% url accounts-password_reset %}">Click here</a> to request another password reset.</p>
{% endif %}

</article>
{% endblock %}