{% extends "page.html" %}

{% block head-title %}
    <title>Scenable | Password Reset</title>
{% endblock %}

{% block sidebar %}
    {% include "sidebar/sidebar_login.html" %}
{% endblock %}

{% block main-content %}
{% if validlink %}
    <p>Please enter a new password:</p>
    <form method="POST" action="">
    {% csrf_token %}
    <label for="id_{{form.new_password1.html_name}}">New password:</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
    <label for="id_{{form.new_password2.html_name}}">Confirm new password:</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    <input type="submit" value="Submit"/>
    </form>
{% else %}
    <p>This link is either invalid or has expired. <a href="{% url accounts-password_reset %}">Click here</a> to request another password reset.</p>
{% endif %}
{% endblock %}