{% extends "page.html" %}

{% block main-content %}
<article class="page-content" id="signup-page">
	<h1 class="page-title">Sign up for a Scenable account</h1>
	<div class="notification">
		<h3>Hey there, beta tester!</h3>
		<p>Can finally post on fb again. Topless girls with a bit of paint on their nipples and making fun of autistic kids = OK. People in wheelchairs on fire = YOU'RE BANNED, ASSHOLE! #movingtogoogle+</p>
	</div>
	<form action="{{ form_action }}" method="POST">
	{% include "registration/signup_form.html" %}
	</form>
</article>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_signup.html" %}
{% endblock %}
