{% extends "page.html" %}

{% block head-title %}
    <title>Scenable | Password Reset</title>
{% endblock %}

{% block sidebar %}
    {% include "sidebar/sidebar_login.html" %}
{% endblock %}

{% block main-content %}
<article class="page-main newpass-page">
<h3>Password reset successful!</h3>
<br />
<ul>
    <li>Beta testers: <a href="{% url login %}">Click here</a> to return to the login page.</p>
    <li>Business users: <a href="{% url orgadmin-login %}">Click here</a> to enter the business management panel.</p>
</ul>
{% endblock %}