{% extends "page.html" %}

{% block head-title %}
    <title>Scenable | Password Reset</title>
{% endblock %}

{% block sidebar %}
    {% include "sidebar/sidebar_login.html" %}
{% endblock %}

{% block main-content %}
<div class="notification">
    <h1>Attention Beta Testers!</h1>
    <br />
    <p>If this is your first time signing in, you don't have an account yet!</p>
    <br />
    <p><a href="{% url signup %}">Click here to set up your beta account.</a></p>
</div>
<h2>Forgot your password? No problem.</h2>
<p>Just enter the email address registered with your Scenable account, and we'll send you instructions on how to reset your password</p>
<form method="POST" action="{% url accounts-password_reset %}">
{% csrf_token %}
<label for="{{ form.email.html_name }}">Email Address</label>
{{form.email}}
{{form.email.errors}}
<input type="submit" value="Submit Request"/>
</form>
{% endblock %}