{% extends "page.html" %}

{% block main-content %}
<article class="page-content" id="signup-page">
    <br/>
    <div class="notification">
        <h3>Welcome to Scenable, Beta Tester!</h3>
        <p>Thanks for helping us out during our first days out in the wild. We're still actively under development, so big changes will be happening every day. Site slowness, outages, and other issues might come up, so please excuse the mess.</p><br><br>
        <p>We're happy you're here to help test things out. Thanks again!</p> 
    </div>
	<h1 class="page-title">Sign up for a Scenable account</h1>
	<form action="{{ form_action }}" method="POST">
	{% include "registration/signup_form.html" %}
	</form>
</article>
{% endblock %}

{% block sidebar %}
{% include "sidebar/sidebar_signup.html" %}
{% endblock %}
