{% extends "page.html" %}

{% block head-title %}
    <title>Scenable | Password Reset</title>
{% endblock %}

{% block sidebar %}
    {% include "sidebar/sidebar_login.html" %}
{% endblock %}

{% block main-content %}
<article class="page-main">
	<div class="notification">
	    <h2><em>Hold up!</em></h2>
	    <p>If this is your first time signing in, you don't have an account yet! 
	    <p><strong><a href="{% url signup %}">Click here to set up your beta account.</a></strong></p>
	</div>
	<div class="registration-form-container">
		<h2>Forgot your password? No problem.</h2>
		<p>Just enter the email address registered with your Scenable account, and we'll send you instructions on how to reset it.</p>
		<form method="POST" action="{% url accounts-password_reset %}">
			{% csrf_token %}
			<div class="field-container">
				<div class="field-label">
					<label for="{{ form.email.html_name }}">Email Address</label>
				</div>
				<div class="field">
					{{form.email}}
					{{form.email.errors}}
				</div>
			</div>
			<input type="submit" class="next" value="Submit"/>
		</form>
	</div>
</article>
{% endblock %}