{% extends "page.html" %}

{% block main-content %}
<br>
<div class="notification">
	<h2>Beta Testers: First time here? <a href="{% url signup %}" title="Create an account">Create an account</a>.</h2>
	
    <p>The Scenable Preview is currently a private beta. Not a Beta Tester? Send us a message at <a href="mailto:contact@scenable.com">contact@sceneble.com</a> and we'll see if we can squeeze you onto the list.</p>
</div>

<h1 class="page-title">Login to your Account</h1>
<article class="page-content" id="login-page">
	{% include "registration/login_form.html" %}
	{% endblock %}
</article>
{% block sidebar %}
{% include "sidebar/sidebar_login.html" %}
{% endblock %}