{% extends "page.html" %}

{% block head-title %}
    <title>Scenable | Password Reset</title>
{% endblock %}

{% block sidebar %}
    {% include "sidebar/sidebar_login.html" %}
{% endblock %}

{% block main-content %}
<p>An email has been sent to give you further instructions on resetting your Scenable account password.</p>
<p>You should be receiving the email shortly. Be sure to check your spam filter if it takes more than a few minutes (and add us to your safe-senders list while you're at it!).</p>
{% endblock %}